.cluster-tile {

  .gallery-card-title {
    text-transform: uppercase;
  }

  .dl-horizontal {

    dd.cluster-tile-endpoint {
      text-transform: lowercase;
    }

    dd.cluster-tile-account {
      text-transform: capitalize;
    }
  }

}
