mat-dialog-actions {
  justify-content: flex-end;
}

.logout-dialog {
  &__content {
    padding: 20px;
  }
  &__progress {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__outer {
    margin: -24px;
    padding: 24px 50px;
    position: relative;
  }
  &__actions {
    justify-content: center;
  }
}

mat-dialog-container {
  position: relative;
}
