@import 'organization-tile/organization-tile',
        'actions/create-space.scss';

.cluster-detail {

  .cluster-users-table {
    > div {
      padding-top: 54px;
    }

    .change-roles-buttons {
      display: flex;
      button {
        margin: 0 $hpe-unit-space / 2 $hpe-unit-space / 2 0;
      }
    }


    .select-all-checkbox {
      .checkbox-input {
        margin-bottom: -5px;
      }
    }

    .actions-menu-item {
      white-space: nowrap;
    }

    th {
      text-transform: none;
    }

    .user-name {
      white-space: nowrap;
      min-width: 200px;
    }

    .roles-list {
      .role-pill {
        &.progress-cursor {
          cursor: progress;
          i.helion-icon.close-icon {
            cursor: progress;
          }
        }
        cursor: default;
        float: left;
        margin: 0 8px 8px 0;
        padding: 1px 4px 4px 4px;
        border: solid 2px $gray-light;
        border-radius: 5px;
      }

      i.helion-icon.close-icon {
        font-size: 12px;
        font-weight: bolder;
        color: #aaa;
        margin-left: 10px;
        cursor: pointer;
      }
    }

  }
}
