<div class="cluster-detail" ng-class="{'col-md-9 col-sm-11 col-xs-11':clusterController.hasActions !== false}">
  <h3>{{ clusterController.userServiceInstanceModel.serviceInstances[clusterController.guid].name }}</h3>

  <div class="card panel panel-default">
    <div class="panel-heading action-header">
      <span translate>Summary</span>
      <!--TODO: TEAMFOUR-936: Endpoints Dashboard: Add 'edit' cluster slide out-->
      <!--<a class="btn btn-link">-->
        <!--<i class="helion-icon helion-icon-Right_Arrow"></i>-->
        <!--<span translate>Edit</span>-->
      <!--</a>-->
    </div>

    <div class="panel-body cluster-summary-panel row">
      <div class="col-md-5">
        <dl class="dl-horizontal">
          <dt translate>Total Applications</dt>
          <dd>
            {{ clusterDetailController.totalApps }}
          </dd>
          <dt translate>Total Memory</dt>
          <dd>
            {{ clusterDetailController.totalMemoryUsed }}
          </dd>
          <dt translate>Total Organizations</dt>
          <dd>
            {{ clusterDetailController.orgCount }}
          </dd>
          <dt translate>Total Users</dt>
          <dd>
            {{ clusterDetailController.userCount }}
          </dd>
        </dl>
        </div>
      <div class="col-md-7">
        <dl class="dl-horizontal">
          <dt ng-if="clusterDetailController.initialized" translate>INSTANCE ADDRESS</dt>
          <dd ng-if="clusterDetailController.initialized">
            {{ clusterController.getEndpoint() }}
          </dd>
          <dt translate>CF Interactions</dt>
          <dd>
            <a ng-click="clusterDetailController.cliCommands.show(clusterController.getEndpoint(), clusterDetailController.userName)" class="btn btn-link" translate>CLI Commands</a>
          </dd>
          <dt ng-if="clusterDetailController.initialized" translate>Account Username</dt>
          <dd ng-if="clusterDetailController.initialized">
            {{ clusterDetailController.userName }}
          </dd>
          <dt ng-if="clusterDetailController.initialized" translate>Account Status</dt>
          <dd ng-if="clusterDetailController.initialized" translate>
            {{ clusterDetailController.isAdmin ? 'administrator' : 'user' }}
          </dd>
        </dl>
      </div>
    </div>
  </div>

  <ul class="application-nav nav nav-tabs col-sm-12">
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="clusters.router.cluster.detail.organizations" translate>
        Organizations
      </a>
    </li>
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="clusters.cluster.detail.users" translate>
        Users
      </a>
    </li>
  </ul>
  <ui-view></ui-view>
</div>
<cluster-actions ng-show="clusterController.hasActions"
                 has-actions="clusterController.hasActions"
                 class="col-md-3 col-sm-1 col-xs-1"></cluster-actions>
