@import 'organization-tile/organization-tile';

.cluster-detail {

  .cluster-summary-panel {
    .dl-horizontal > dd {
      text-transform: none;
      font-weight: 500;
      .btn {
        padding: 0;
        font-size: inherit;
        text-transform: none;
      }
    }
  }

  .application-nav {
    margin-bottom: 15px;
  }

  .organizations-card-container {

    $organizations-card-max-width: 420px;
    $organizations-card-layout-steps: 5;

    width: 100%;
    display: flex;
    flex-flow: row wrap;

    .organization-card {
      padding-right: 10px;
      padding-left: 10px;

      position: relative;
      float: left;
      min-height: 1px;

      // Set flex-base in percentages for all layout steps
      flex: 1 1 100%;

      // Many columns
      @for $i from 2 through $organizations-card-layout-steps {
        @media (min-width: $i * $organizations-card-max-width) {
          flex: 1 1 percentage(1/$i)
        }
      }

      // Inside the cards, give more room to the value than the label
      @media (min-width: 2 * $organizations-card-max-width) {
        gallery-card {
          .card .dl-horizontal dd {
            margin-left: 100px;
            text-align: right;
          }
          .dl-horizontal dt {
            width: 140px;
          }
        }
      }

      // Pull the percent-gauge up
      .percent-gauge {
        padding-top: 0;
        .percent-gauge-quota-bar {
          margin-top: 0;
        }
      }

    }

    // Ensure the last card in every row doesn't have right-padding
    @for $i from $organizations-card-layout-steps - 1 through 1 {
      @media (min-width: $i * $organizations-card-max-width) and (max-width: $organizations-card-max-width + $i * $organizations-card-max-width - 1) {
        >:nth-child(#{$i}n) {
          padding-right: 0;
        }
        >:nth-child(#{$i}n+1) {
          padding-left: 0;
        }
      }
    }

    @media (min-width: $organizations-card-layout-steps * $organizations-card-max-width) {
      >:nth-child(#{$organizations-card-layout-steps}n) {
        padding-right: 0;
      }
      >:nth-child(#{$organizations-card-layout-steps}n+1) {
        padding-left: 0;
      }
    }

    >:last-child {
      padding-right: 0;
    }

  }

  .cluster-users-table {
    > div {
      padding-top: 60px;
    }

    .select-all-checkbox {
      .checkbox-input {
        margin-bottom: -5px;
      }
    }

    th {
      text-transform: none;
    }

    .user-name {
      white-space: nowrap;
      min-width: 200px;
    }

    .roles-list {

      .role-pill {
        cursor: default;
        float: left;
        margin: 0 8px 8px 0;
        padding: 0 4px 4px 4px;
        border: solid 2px #ccc;
        border-radius: 5px;
      }

      i.helion-icon.close-icon {
        font-size: 12px;
        font-weight: bolder;
        color: #aaa;
        margin-left: 10px;
      }
    }

  }

}
