<div class="cluster-detail col-md-9 col-sm-12">
  <h1 style="height: 40px">{{ clusterController.cluster.name }}</h1>

  <div class="panel panel-default">
    <div class="panel-heading action-header">
      <span translate>Summary</span>
      <a class="btn btn-link">
        <i class="helion-icon helion-icon-Right_Arrow"></i>
        <span translate>Edit</span>
      </a>
    </div>

    <div class="panel-body card cluster-summary-panel row">
      <div class="col-md-5">
        <dl class="dl-horizontal">
          <dt translate>Total Applications</dt>
          <dd>
            {{ clusterController.totalApps }}
          </dd>
          <dt translate>Total Memory</dt>
          <dd>
            {{ clusterController.totalMemoryUsed }}
          </dd>
        </dl>
        </div>
      <div class="col-md-7">
        <dl class="dl-horizontal">
          <dt translate>CF Endpoint URL</dt>
          <dd>
            {{ clusterController.cluster.api_endpoint.Scheme }}://{{ clusterController.cluster.api_endpoint.Host }}
          </dd>
          <dt translate>CF Interactions</dt>
          <dd>
            <a class="btn btn-link">
              <span translate>CLI Commands</span>
            </a>
          </dd>
        </dl>
      </div>
    </div>
  </div>

  <ul class="application-nav nav nav-tabs col-sm-12">
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="endpoint.clusters.cluster.detail.organizations" translate>
        Organizations
      </a>
    </li>
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="endpoint.clusters.cluster.detail.users" translate>
        Users
      </a>
    </li>
  </ul>
  <ui-view></ui-view>

</div>

<ul class="col-md-3 hidden-sm hidden-xs list-unstyled application-action-col">
  <li ng-repeat="clusterAction in clusterController.clusterActions">
    <button class="btn btn-link btn-border-less"
            ng-disabled="clusterAction.disabled"
            ng-hide="clusterAction.hidden"
            ng-click="clusterAction.execute()">
      <i ng-class="clusterAction.icon"></i> {{ clusterAction.name }}
    </button>
  </li>
</ul>


