<div ng-if="clusterUsersController.users === null" class="message-box message-box-no-bg">
  <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
</div>
<div ng-if="clusterUsersController.users === false" class="message-box message-box-no-bg">
  <div translate>An error occurred retrieving organizations</div>
</div>
<div ng-if="clusterUsersController.organizations">
  <div class="clusters-card col-md-4 col-sm-1" ng-repeat="user in clusterUsersController.users">
    <organization-tile organization="organization"></organization-tile>
  </div>
</div>


