@import 'organization-tile/organization-tile',
        'actions/cluster-actions',
        'actions/create-space',
        'firehose/cluster-detail.firehose';

.cluster-detail {

  .application-nav {
    margin-bottom: 15px;
  }

  .cluster-users-table {

    .change-roles-buttons {
      display: inline;
      button {
        margin: 0 $hpe-unit-space / 2 $hpe-unit-space / 2 0;
      }
    }


    .select-all-checkbox {
      .checkbox-input {
        margin-bottom: -5px;
      }
    }

    .actions-menu-item {
      white-space: nowrap;
    }

    th {
      text-transform: none;
    }

    th.sortable {
      cursor: pointer;
    }

  .user-name {
      white-space: nowrap;
      min-width: 200px;
    }

    .roles-list {
      color: $dove-gray2;

      .role-pill {
        &.progress-cursor {
          cursor: progress;
          i.helion-icon.close-icon {
            cursor: progress;
          }
        }
        font-weight: 500;
        cursor: default;
        float: left;
        margin: 0 12px 12px 0;
        padding: 2px 4px 2px 4px;
        border: solid 2px #ccc;
        border-radius: 7px;
      }

      .closable-pill:hover {
        border-color: $hpe-primary;
      }

      i.helion-icon.close-icon {
        font-size: 14px;
        font-weight: bolder;
        margin-left: 10px;
        cursor: pointer;
      }
    }

  }

   .cluster-summary-tile, organization-summary-tile, space-summary-tile  {
     .card.panel-default {
       margin-bottom: $hpe-unit-space / 4;
     }
  }
}
