---
platform: linux
inputs:
- name: stratos
- name: helm-chart-tarball
image_resource:
  type: docker-image
  source:
   repository: splatform/ci-stratos-github-release
   tag: "latest"

run:
  path: sh
  args:
    - -xc
    - |
      # Create Github release
      ROOT_DIR=${PWD}
      STRATOS=${ROOT_DIR}/stratos
      cd ${STRATOS}
      mkdir -p /root/.ssh/
      TAG=$(cat ${STRATOS}/deploy/ci/tasks/dev-releases/nightly-tag)
      github-release info -t $TAG
      if [ $? -eq 0 ]; then
        echo 'Release ${TAG} exists, deleting...'
        github-release delete -t $TAG
      fi
      NAME=$(cat ${STRATOS}/deploy/ci/tasks/dev-releases/nightly-release-name)
      DESC=$(cat ${STRATOS}/deploy/ci/tasks/dev-releases/nightly-release-description)
      github-release release -t ${TAG} --pre-release --name "${NAME}" --description "${DESC}" 
      cd ${ROOT_DIR}/helm-chart-tarball
      CHART_PACKAGE=$(ls *.tgz)
      github-release upload -t ${TAG} --file ${CHART_PACKAGE} --name "console-helm-chart-v2.0.0-${TAG}.tgz"