.connection-dialog {
  $dialog-padding: 24px;
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    &-wrapper {
      position: relative;
      margin: 0 -24px;
      transform: translateY(-24px);
    }
  }
}

app-connect-endpoint-dialog {
  position: relative;
}
