<md-dialog-content class="logout-dialog--content">
  <div>
    Connect your endpoint.
  </div>
  {{(this.busy$ | async) ? 'Busy' : 'NOT' }} {{(this.error$ | async) ? 'ERROR' : 'NOT' }}
  <form [formGroup]="endpointForm" (ngSubmit)="submit($event)">
    <md-form-field class="md-form-field__spinner">
      <input mdInput placeholder="Endpoint guid" formControlName="guid">
    </md-form-field>
    <md-form-field class="md-form-field__spinner">
      <input mdInput placeholder="Endpoint username" formControlName="username">
    </md-form-field>
    <md-form-field class="md-form-field__spinner">
      <input mdInput placeholder="Endpoint password" type="password" formControlName="password">
    </md-form-field>
    <button type="submit" md-button color="primary">connect</button>
  </form>
</md-dialog-content>
<md-dialog-actions class="logout-dialog--actions">
</md-dialog-actions>
