$hpe-popover-top                  : $hpe-unit-space * 4.5 !default;
$hpe-popover-right                : 4px !default;
$hpe-popover-border-color         : rgba(0, 0, 0, 0.1) !default;
$hpe-popover-arrow-border-color   : rgba(0, 0, 0, 0.2) !default;
$popover-border-color             : $gray-light;
$popover-border-width             : 1px;

.popover {
  @include hpe-box-shadow-small();
  border-color: $popover-border-color;
  border-radius: 0;
  border-width: $popover-border-width;
  z-index: 1;

  &.top.top-left {
    margin-left:-12px;
    > .arrow {
      margin-left:11px;
    }
  }

  .popover-content {
    color: $gray-darker;
    padding: 8px 20px;
    font-size: 14px;
    line-height: $hpe-unit-space;
  }
}


.popover.hpe-popover {
  @include hpe-box-shadow-small();

  box-sizing: border-box;
  border-color: $hpe-popover-border-color;
  left: auto;
  top: $hpe-popover-top;
  right: $hpe-popover-right;
  display: block;
  max-width: none;

  &.bottom > .arrow {
    border-bottom-color: $hpe-popover-arrow-border-color;
    left: auto;
    top: -$hpe-unit-space * 3;
    right: $hpe-unit-space;
    border-width: $hpe-unit-space;
    border-bottom-width: $hpe-unit-space * 2;

    &:after {
      left: 0;
      margin-left: -$hpe-unit-space;
      border-width: $hpe-unit-space;
      border-top-width: 0;
      border-bottom-width: $hpe-unit-space * 2;
    }
  }

  .popover-content {
    padding: $hpe-unit-space;
    font-size: $font-size-base;
    line-height: $hpe-unit-space;
  }
}
