//
// Progress bars
// --------------------------------------------------

// HPE Progress bar Stacked Variants
// --------------------------------------------------
.progress {
  @include hpe-progress-bar($hpe-progress-bar-height-stacked, 1);
}

// Bar itself
// -------------------------

// Outer container
.progress {
  @include box-shadow(none);
  background-color: transparent;

  &:after {
    content: '';
    background-color: $progress-bg;
    width: 100%;
    margin-top: ($hpe-progress-bar-height-stacked - $hpe-progress-bar-height) / 2;
    height: $hpe-progress-bar-height;
    display: block;
  }

  .progress-bar:only-child {
    height: $hpe-progress-bar-height;
    margin-top: ($hpe-progress-bar-height-stacked - $hpe-progress-bar-height) / 2;
  }
}

// Bar of progress
.progress-bar {
  @include box-shadow(none);
}
