// *****
// NOTE
// *****
// Having this "theme" file bad practice. We need to work out if we can do without this.
// Having this file completely sidesteps our theming and angular's component styles, potentially resulting
// in inconsistent and unexpected styling.
// This should only be used as a last resort - NJ.

// Style overrides
// SUSE Brand primary colour
$suse-primary-color: #00c081;
// Secondary blue colour
$suse-secondary: #00243e;
$suse-text: #fff;
$suse-text-gray: #ccc;
$suse-dark-blue: #06253A;
$suse-blue: #073155;
$suse-side-nav: $suse-secondary;
$suse-side-nav-active: #003358;

.stratos .page-content > .page-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.stratos img.stratos-title__logo {
  width: 160px;
}

.stratos h1.stratos-title__header {
  display: initial;
}

.stratos .page-header .mat-toolbar.mat-primary {
  background-color: #fff;
  color: #333;
}

.stratos app-page-subheader {
  .page-subheader {
    background-color: #fff;
    color: #333;
  }

  .mat-tab-nav-bar.mat-background-primary {
    .mat-tab-links {
      background-color: #fff;
      color: #333;
    }

    .mat-tab-link {
      color: #333;
    }

    .mat-ink-bar {
      background-color: $suse-primary-color;
    }
  }
}

// Use SUSE Blue Side Navigation
.stratos {

  .side-nav__inner,
  .side-nav__top,
  .side-nav__item--active:hover {
    background-color: $suse-side-nav;
  }

  .side-nav__item--active,
  .side-nav__item:hover {
    background-color: $suse-side-nav-active;
  }

  .side-nav__bottom {
    color: $suse-text-gray;
  }

  // Remove green page underflow run on about page
  app-about-page .page-header__underflow {
    background-color: transparent;
  }
}

// Remove background image from setup screen (e.g. upgrade screen)
.stratos app-intro-screen > .intro {
  background-color: $suse-blue;
  background-image: none;
}

.stratos .page-header__divider {
  color: #333;
}

.stratos .page-header__menu-button-icon {
  background-color: $suse-primary-color;
  color: $suse-text;
}
