.steppers {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  &__inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 24px;
  }
  &__headers {
    display: flex;
    height: 72px;
  }
  &__header {
    align-items: center;
    display: flex;
    flex: 1;
    &-inner {
      align-items: center;
      display: flex;
      flex: 1;
      padding: 0 10px;
    }
    &::after {
      background-color: #808080;
      content: '';
      height: 1px;
      width: 100%;
    }
    &:first-child {
      &::before {
        content: none;
      }
    }
    &:last-child {
      flex: none;
      &::after {
        content: none;
      }
    }
    &--active .steppers__header-text {
      font-weight: 600;
    }
    &-complete {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
    &-icon {
      align-items: center;
      border-radius: 50%;
      display: flex;
      font-size: 14px;
      height: 24px;
      justify-content: center;
      line-height: 24px;
      padding: 0;
      width: 24px;
    }
    &-text {
      line-height: 24px;
      padding-left: 8px;
      white-space: nowrap;
    }
  }
  &__contents {
    flex: 1;
    height: 100%;
    margin: 30px 80px;
  }
  &__wrapper {
    display: flex;
    min-height: 100%;
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__navigation-right {
    flex: 1;
    text-align: right;
  }
  .stepper-form {
    // Use a specific style instead of form element selected. This prevents these generic styles bleading into child components of a stepper
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 60%;
    mat-form-field {
      padding-top: 10px;
      width: 100%;
    }
  }
}
