<div class="steppers__wrapper">
  <div class="steppers" *ngIf="this.steps && this.steps.length">
    <div class="steppers__inner">
      <div class="steppers__headers">
        <div *ngFor="let step of steps; let i = index" (click)="setActive(i)" [ngClass]="{'steppers__header--active': step.active || step.complete}" class="steppers__header">
          <div class="steppers__header-inner" *ngIf="steps.length !== 1">
            <div class="steppers__header-icon">
              <mat-icon class="steppers__header-complete" *ngIf="step.complete">{{ this.getIconLigature() }}</mat-icon>
              <div *ngIf="!step.complete">{{ i + 1 }}</div>
            </div>
            <span class="steppers__header-text">{{ step.title }}</span>
          </div>
        </div>
      </div>
      <div class="steppers__contents">
        <span *ngTemplateOutlet="steps[currentIndex].content"></span>
      </div>
      <div class="steppers__navigation">
        <button *ngIf="steps.length !== 1" color="accent" mat-button mat-raised-button (click)="setActive(currentIndex - 1)" [disabled]="!canGoto(currentIndex - 1)">Previous</button>
        <div class="steppers__navigation-right">
          <button color="warn" mat-button [routerLink]="cancel$ | async" [queryParams]="cancelQueryParams$ | async" *ngIf="cancel">{{ this.getCancelButtonText(currentIndex) }}</button>
          <button color="primary" type="submit" mat-button mat-raised-button (click)="goNext(currentIndex)" [disabled]="!canGoNext(currentIndex)">{{ this.getNextButtonText(currentIndex) }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
