<div class="select-plan">
  <form class="stepper-form" [formGroup]="stepperForm">
    <mat-form-field>
      <mat-select class="form-control" formControlName="servicePlans">
        <mat-option *ngFor="let servicePlan of servicePlans$ | async" [value]="servicePlan.id">{{ servicePlan.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-card *ngIf="getSelectedPlan() | async as selPlan">
    <app-metadata-item label="Name"> {{ getDisplayName(selPlan)}} </app-metadata-item>
    <app-metadata-item label="Description"> {{selPlan.entity.entity.description}} </app-metadata-item>
    <app-metadata-item label="Public"> {{selPlan.entity.entity.public}} </app-metadata-item>
    <app-metadata-item label="Free"> {{selPlan.entity.entity.free}} </app-metadata-item>
    <app-metadata-item label="Additional Information" *ngIf="hasAdditionalInfo(selPlan)">
      <ul>
        <li *ngFor="let bulletPoint of selPlan.extra.bullets">{{bulletPoint}}</li>
      </ul>
    </app-metadata-item>
  </mat-card>
</div>
