<div class="roles-table"
     st-table="rolesTableCtrl.ctrl.displayedGroups"
     st-safe-src="rolesTableCtrl.groups">
  <table class="table table-outlined table-selectable">
    <thead>
    <tr>
      <th st-sort="name" st-sort-default="true" translate>{{rolesTableCtrl.groupType}}</th>
      <th ng-repeat="(key, role) in rolesTableCtrl.roles" translate>{{role}}</th>
      <th ng-if="rolesTableCtrl.groupAction"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="rolesTableCtrl.groups.length > 0"
        ng-repeat="group in rolesTableCtrl.ctrl.displayedGroups">
      <td>{{ group.label }}</td>
      <th ng-repeat="(roleKey, role) in rolesTableCtrl.roles"><checkbox-input ng-model="selection[group.key][roleKey]"></checkbox-input></th>
      <th ng-if="rolesTableCtrl.groupAction"><a ng-if="rolesTableCtrl.groupAction.label" ng-click="rolesTableCtrl.groupAction.execute()">{{groupAction.label}}</a></th>
    </tr>
    <tr ng-if="rolesTableCtrl.groups.length === 0">
      <td colspan="999">
        <span>{{noGroupsMessage}}</span>
      </td>
    </tr>
    </tbody>
    <tfoot ng-init="rolesTableCtrl.ctrl.pagedRoleCount = rolesTableCtrl.groupsVisible"
           ng-show="rolesTableCtrl.ctrl.pagedRoleCount < rolesTableCtrl.groups.length">
    <tr>
      <td colspan="5" class="text-center">
        <a ng-click="rolesTableCtrl.ctrl.pagedRoleCount = rolesTableCtrl.groups.length">
          <span translate>Show All</span> ({{rolesTableCtrl.groups.length}})
        </a>
        <div ng-show="false" st-pagination="" st-items-by-page="rolesTableCtrl.ctrl.pagedRoleCount"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
