<div class="endpoints-view">
  <div class="header">
    <div class="applications-header font-semi-bold pull-left" translate>
      {{endpointsViewCtrl.isHcf() ? 'Cloud Foundry Clusters':'Code Engine Endpoints'}}
    </div>
    <button class="btn btn-primary"
            ng-click="endpointsViewCtrl.showClusterAddForm()"
            ng-show="endpointsViewCtrl.isUserAdmin()">Register Endpoint
    </button>

  </div>

  <div id="welcome-message" class="welcome-message">
    <div class="panel panel-default">
      <div class="action-header">
        <span class="helion-icon helion-icon-Information"></span>
        <span>In order to set up a delivery pipeline, you must connect to an endpoint.</span>
      </div>
    </div>
  </div>

  <table class="table table-actionable">
    <thead>
    <tr>
      <th translate=""><span>Name</span></th>
      <th translate=""><span>Endpoint url</span></th>
      <th translate=""><span>Connection</span></th>
      <th translate=""><span></span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="endpoint in endpointsViewCtrl.currentEndpoints"
        show-table-inline-message="{{ !endpoint.connected ? endpointsViewCtrl.tokenExpiryMessage : ''}}">
      <td>{{endpoint.name}}</td>
      <td>{{endpoint.url}}</td>
      <td translate>{{endpoint.connected ? 'Connected' : 'Disconnected'}}</td>
      <td>
        <div class="actions-menu dropdown" ng-class="{'open': endpointsViewCtrl.showDropdown[$index]}"
             ng-click="endpointsViewCtrl.setShowDropdown($index)" tabindex="1">
          <i class="actions-menu-icon dropdown-toggle helion-icon helion-icon-lg helion-icon-More"
             style="cursor: pointer;"></i>
          <ul class="actions-menu-list dropdown-menu">
            <li class="actions-menu-item" ng-if="!endpoint.connected"
                ng-click="endpointsViewCtrl.connect(endpoint.model)">Connect
            </li>
            <li class="actions-menu-item" ng-if="endpoint.connected"
                ng-click="endpointsViewCtrl.disconnect(endpoint.model)">Disconnect
            </li>
            <li class="actions-menu-item"
                ng-click="endpointsViewCtrl.unregister(endpoint)"
                ng-show="endpointsViewCtrl.isUserAdmin()">Unregister
            </li>
          </ul>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<flyout flyout-active="endpointsViewCtrl.credentialsFormOpen"
        flyout-close-icon="'helion-icon helion-icon-Close'">
  <credentials-form cnsi="endpointsViewCtrl.activeServiceInstance"
                    on-cancel="endpointsViewCtrl.onConnectCancel()"
                    on-submit="endpointsViewCtrl.onConnectSuccess(serviceInstance)">
  </credentials-form>
</flyout>
<flyout flyout-active="endpointsViewCtrl.clusterAddFlyoutActive"
        flyout-close-icon="'helion-icon helion-icon-Close'">
  <add-cluster-form on-cancel="endpointsViewCtrl.hideClusterAddForm()"
                    on-submit="endpointsViewCtrl.hideClusterAddForm()">
  </add-cluster-form>
</flyout>
