<div class="endpoints-view">
  <div class="header">
    <div class="font-semi-bold pull-left" translate>
      {{endpointsViewCtrl.isHcf() ? 'Cloud Foundry Clusters':'Code Engine Endpoints'}}
    </div>
    <button class="btn btn-primary"
            ng-click="endpointsViewCtrl.showClusterAddForm()"
            ng-show="endpointsViewCtrl.isUserAdmin()">Register Endpoint
    </button>

  </div>

  <div id="welcome-message" class="welcome-message panel panel-default">
    <span class="helion-icon helion-icon-Information"></span>
    <span translate>In order to set up a delivery pipeline, you must connect to an endpoint.</span>
  </div>

  <table class="table table-actionable">
    <thead>
    <tr>
      <th translate=""><span>Name</span></th>
      <th translate=""><span>Endpoint url</span></th>
      <th translate=""><span>Connection</span></th>
      <th translate=""><span></span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="endpoint in endpointsViewCtrl.currentEndpoints"
        show-table-inline-message=" {{!endpoint.connected ? endpointsViewCtrl.tokenExpiryMessage : ''}}">
      <td>{{endpoint.name}}</td>
      <td>{{endpoint.url}}</td>
      <td translate>{{endpoint.connected ? 'Connected' : 'Disconnected'}}</td>
      <td>
        <actions-menu actions="endpoint.connected ? endpointsViewCtrl.connectedActionMenu :
                      endpointsViewCtrl.disconnectedActionMenu"
                      action-target="endpoint" menu-icon="helion-icon helion-icon-More"
                      menu-position="actions-menu-right"></actions-menu>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<flyout flyout-active="endpointsViewCtrl.credentialsFormOpen"
        flyout-close-icon="'helion-icon helion-icon-Close'">
  <credentials-form cnsi="endpointsViewCtrl.activeServiceInstance"
                    on-cancel="endpointsViewCtrl.onConnectCancel()"
                    on-submit="endpointsViewCtrl.onConnectSuccess(serviceInstance)">
  </credentials-form>
</flyout>
