<div class="endpoints endpoints-view">
  <div class="header">
    <div ng-show="endpointsViewCtrl.showListView()" class="applications-header font-semi-bold pull-left" translate>
      Helion {{endpointsViewCtrl.isHcf() ? 'Cloud Foundry':'Code Engine'}} Endpoints
    </div>
    <button class="btn btn-primary"
            ng-click="endpointsViewCtrl.showClusterAddForm()"
            ng-show="endpointsViewCtrl.isUserAdmin() && endpointsViewCtrl.showListView()">Register Endpoint
    </button>

  </div>

  <div class="empty-view-message" ng-show="endpointsViewCtrl.showEmptyView()">
    <div class="helion-icon helion-icon-3x helion-icon-3x helion-icon-Continuous_integration"></div>
    <div class="view-msg" translate>You have no registered Helion Code Engine endpoints.</div>
    <div class="view-cta" ng-show="endpointsViewCtrl.isUserAdmin()">
      <a class="btn btn-link" ng-click="endpointsViewCtrl.showClusterAddForm()"><span
        translate>Register an Endpoint</span></a><span translate>to make it available to developers.</span>
    </div>
    <div class="view-cta" ng-show="!endpointsViewCtrl.isUserAdmin()">
      <span translate>Please contact your administrator.</span>
    </div>
  </div>

  <div ng-show="endpointsViewCtrl.showListView()">
    <div id="welcome-message" class="welcome-message panel panel-default">
      <span class="helion-icon helion-icon-Information"></span>
      <span translate>In order to set up a delivery pipeline, you must connect to an endpoint.</span>
    </div>

    <table class="table table-actionable">
      <thead>
      <tr>
        <th translate=""><span>Name</span></th>
        <th translate=""><span>Endpoint url</span></th>
        <th translate=""><span>Connection</span></th>
        <th translate=""><span></span></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="endpoint in endpointsViewCtrl.currentEndpoints"
          show-table-inline-message="{{endpoint.expired ? endpointsViewCtrl.tokenExpiryMessage : ''}}"
          table-inline-status="error">
        <td>{{endpoint.name}}</td>
        <td>{{endpoint.url}}</td>
        <td ng-if="!endpoint.expired" translate>{{endpoint.connected ? 'Connected' : 'Disconnected'}}</td>
        <td ng-if="endpoint.expired" translate>Expired</td>
        <td>
          <actions-menu actions="endpointsViewCtrl.getActions(endpoint)"
                        action-target="endpoint" menu-icon="helion-icon helion-icon-More"
                        menu-position="actions-menu-right"></actions-menu>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

</div>
<flyout flyout-active="endpointsViewCtrl.credentialsFormOpen"
        flyout-close-icon="'helion-icon helion-icon-Close'"
        class="flyout-content-thin">
  <credentials-form cnsi="endpointsViewCtrl.activeServiceInstance"
                    on-cancel="endpointsViewCtrl.onConnectCancel()"
                    on-submit="endpointsViewCtrl.onConnectSuccess(serviceInstance)">
  </credentials-form>
</flyout>
