@import '~@angular/material/theming';
@mixin side-nav-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $side-nav-colors: map-get($app-theme, side-nav);
  $side-nav-bottom-color: map-get($app-theme, subdued-color);
  $side-nav-hover-color: mat-color($side-nav-colors, hover);
  $header-span: map-get($app-theme, header-background-span);

  $side-nav-top-background: map-get($side-nav-colors, background);
  $side-nav-top-foreground: map-get($side-nav-colors, text);

  // Does the header background color span across the top, or is the sidenav background color used for the top-left portion
  @if $header-span == true {
    $side-nav-top-background: map-get($app-theme, header-background-color);
    $side-nav-top-foreground: map-get($app-theme, header-foreground-color);
  }

  .side-nav {
    &__nav-toggle {
      color: $side-nav-top-foreground;
    }
    &__inner {
      background-color: mat-color($side-nav-colors, background);
    }
    &__top {
      background-color: $side-nav-top-background;
      color: $side-nav-top-foreground;
    }
    &__item {
      color: mat-color($side-nav-colors, text);
      transition: none;
      &:hover {
        background-color: $side-nav-hover-color;
        color: mat-color($side-nav-colors, hover-text);
      }
      &--active,
      &--active:hover {
        background-color: mat-color($side-nav-colors, active);
        color: mat-color($side-nav-colors, active-text);
      }
    }
    &__items {
      color: mat-color($side-nav-colors, text);
    }
    &__logo-text {
      color: mat-contrast($primary, 500);
    }
    &__bottom {
      color: $side-nav-bottom-color;
    }
  }
}
