$side-nav-padding-h: 12px;
$side-nav-mat-icon-height: 18px;
$side-nav-mat-icon-height-large: 24px;
$side-nav-mat-icon-padding-right: 10px;
$nav-width: 200px;
$icon-nav-width: 50px;
.side-nav {
  height: 100%;
  &__nav-toggle {
    margin: 0 5px;
    &-icon {
      font-size: 20px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: $nav-width;
  }
  &__top {
    display: flex;
    flex: 0 0 56px;
    flex-direction: column;
    height: 56px;
    width: $nav-width;
    &-inner {
      display: flex;
      flex: 1;
      padding: 0 3px 0 10px;
    }
  }
  &__items {
    flex: 1;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
  }
  &__item {
    align-items: center;
    border-color: transparent;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    letter-spacing: .01em;
    line-height: $side-nav-mat-icon-height;
    outline: 0;
    padding: 12px $side-nav-padding-h;
    text-decoration: none;
    white-space: nowrap;
    &-icon {
      flex: none;
      font-size: $side-nav-mat-icon-height-large;
      height: $side-nav-mat-icon-height-large;
      margin-right: 10px;
      text-align: center;
      width: $side-nav-mat-icon-height-large;
    }
  }
  &__logo {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    &-text {
      flex: 1;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
    }
    &-img {
      background-image: url('/core/assets/nav-logo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      width: 100%;
    }
  }
  &__top-inner {
    overflow: hidden;
  }
  &__bottom {
    display: flex;
    flex: 0 0 auto;
    font-size: 14px;
    font-weight: 300;
    padding: 12px;
    pointer-events: none;
  }
  &__logo-img,
  &__item-label {
    opacity: 1;
  }
  &__copyright-icon,
  &__logo-icon-img {
    opacity: 0;
  }
  &__copyright {
    opacity: 1;
    white-space: nowrap;
  }
  &__copyright-icon {
    width: 0;
  }
}
$transition-time: .2s;
$transition-delay: .5s;
.side-nav__icon-mode {
  overflow: hidden;
  width: $icon-nav-width;
  &__top,
  &__item-icon,
  &__item-label,
  &__copyright,
  &__logo-img,
  &__copyright-icon,
  &__logo-icon-img {
    transition: 0s opacity, 0s width;
  }
  .side-nav {
    &__inner {
      transition: $transition-time width;
      width: $icon-nav-width;
    }
    &__items,
    &__top,
    &__bottom,
    &__top-inner {
      overflow-x: hidden;
    }
    &__top-inner {
      padding: 0;
    }
    &__top {
      width: $icon-nav-width;
    }
    &__nav-toggle {
      margin: 0;
    }
    &__item-icon {
      font-size: $side-nav-mat-icon-height-large;
      height: $side-nav-mat-icon-height-large;
      margin-right: 0;
      width: $side-nav-mat-icon-height-large;
    }
    &__item-label,
    &__copyright  {
      opacity: 0;
    }
    &__logo-img {
      width: 0;
    }
    &__copyright-icon,
    &__logo-icon-img {
      opacity: 1;
    }
    &__copyright-icon {
      width: auto;
    }
    &__logo-text {
      display: none;
    }
  }
  // This will allow hover nav
  // &:hover {
  //   overflow: visible;
  //   .side-nav {
  //     &__inner {
  //       position: fixed;
  //       transition-delay: $transition-delay;
  //       width: $nav-width;
  //     }
  //     &,
  //     &__top,
  //     &__item-icon,
  //     &__item-label,
  //     &__copyright,
  //     &__logo-img,
  //     &__copyright-icon,
  //     &__logo-icon-img {
  //       transition-delay: $transition-delay;
  //     }
  //     &__copyright-icon {
  //       width: 0;
  //     }
  //   }
  // }
  // &:not(:hover) {
  //   .side-nav {
  //     &__top {
  //       width: $icon-nav-width;
  //     }
  //     &__item-icon {
  //       font-size: $side-nav-mat-icon-height-large;
  //       height: $side-nav-mat-icon-height-large;
  //       margin-right: 0;
  //       width: $side-nav-mat-icon-height-large;
  //     }
  //     &__item-label,
  //     &__copyright  {
  //       opacity: 0;
  //     }
  //     &__logo-img {
  //       width: 0;
  //     }
  //     &__copyright-icon,
  //     &__logo-icon-img {
  //       opacity: 1;
  //     }
  //   }
  // }
}
