@import '~@angular/material/theming';
@mixin side-nav-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $side-nav-colors: map-get($app-theme, side-nav);
  $side-nav-bottom-color: map-get($app-theme, subdued-color);
  $side-nav-hover-color: mat-color($side-nav-colors, hover);
  .side-nav {
    &__nav-toggle {
      color: mat-color($side-nav-colors, text);
    }
    &__inner {
      background-color: mat-color($side-nav-colors, background);
    }
    &__top {
      background-color: mat-color($side-nav-colors, background-top);
    }
    &__item {
      color: mat-color($side-nav-colors, text);
      transition: color ease .3s;
      &:hover {
        background-color: $side-nav-hover-color;
        color: mat-color($side-nav-colors, hover-text);
      }
      &--active,
      &--active:hover {
        background-color: mat-color($side-nav-colors, active);
        color: mat-color($side-nav-colors, active-text);
      }
    }
    &__items {
      color: map-get($app-theme, app-background-text-color);
    }
    &__logo-text {
      color: mat-contrast($primary, 500);
    }
    &__bottom {
      color: $side-nav-bottom-color;
    }
  }
}
