$side-nav-padding-h: 12px;
$side-nav-mat-icon-height: 18px;
$side-nav-mat-icon-padding-right: 10px;
.side-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 175px;
  &__top {
    display: flex;
    flex: 0 0 56px;
    flex-direction: column;
    height: 56px;
    &-inner {
      display: flex;
      flex: 1;
      padding: 5px;
    }
  }
  &__items {
    flex: 1;
    list-style-type: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
  }
  &__itemContainer {
    height: 54px;
    overflow: hidden;
    transition: height .3s ease-in-out;
    &-hidden {
      height: 0;
    }
  }
  &__item {
    align-items: center;
    border-color: transparent;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    letter-spacing: .01em;
    line-height: $side-nav-mat-icon-height;
    outline: 0;
    padding: 15px $side-nav-padding-h;
    text-decoration: none;
    mat-icon {
      margin-right: $side-nav-mat-icon-padding-right;
      text-align: center;
    }
    &-icon {
      font-size: $side-nav-mat-icon-height;
      height: $side-nav-mat-icon-height;
      width: $side-nav-mat-icon-height;
    }
  }
  &__logo {
    align-items: center;
    display: flex;
    width: 100%;
    &-text {
      display: none;
      flex: 1;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
    }
    &-img {
      width: 100%;
    }
    &-icon-img {
      display: none;
    }
  }
  &__bottom {
    flex: 0 0 auto;
    font-size: 14px;
    font-weight: 300;
    padding: 12px;
    pointer-events: none;
  }
}
