<p ng-if="!step.data.folderSupport" class="deploy-app-choose-source" translate>deploy-app-dialog.step-source.source.file</p>
<p ng-if="step.data.folderSupport" class="deploy-app-choose-source" translate>deploy-app-dialog.step-source.source.folder</p>
<div class="deploy-app-source-area" file-drop item-drop="step.data.dropItemHandler">
  <div class="deploy-app-source">
    <div class="deploy-app-source-github">
      <radio-input ng-model="step.wizard.sourceType" input-value="'github'" input-label="deploy-app-dialog.step-source.github.label"></radio-input>
      <app-deploy-source-git
        source-type="step.wizard.sourceType"
        user-input="step.userInput"
        valid="step.data.git.valid"
        drop-info="step.data.dropInfo"
      >
      </app-deploy-source-git>
    </div>

    <div class="deploy-app-source-local">
      <radio-input ng-if="!step.data.folderSupport" ng-model="step.wizard.sourceType" input-value="'local'" input-label="deploy-app-dialog.step-source.local.file.label"></radio-input>
      <radio-input ng-if="step.data.folderSupport" ng-model="step.wizard.sourceType" input-value="'local'" input-label="deploy-app-dialog.step-source.local.folder.label"></radio-input>
      <app-deploy-source-local
        source-type="step.wizard.sourceType"
        user-input="step.userInput"
        valid="step.data.source.valid"
        drop-info="step.data.dropInfo"
        folder-support="step.data.folderSupport"
        show-busy="step.showBusy"
      >
      </app-deploy-source-local>
    </div>
  </div>
</div>
