.modal.detail-view.detail-view-dialog.create-service-instance-dialog {
  >.modal-dialog {
    .async-dialog {
      display: flex;
      flex-direction: column;
      height: 100%;

      .detail-view-content {
        flex: 1;
        width: 100%;

        > ng-include {
          flex: 1 1 0;
        }
      }
   }
 }
}

.async-dialog-param-editor {
  display: none;
  top: $async-dialog-header-height;
  bottom: $async-dialog-footer-height;
  left: $console-unit-space;
  right: $console-unit-space;

  &.param-editor-open {
    position: absolute;
    display: block;
  }

  .param-editor-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.async-dialog-param-editor {
  .param-editor-container {
    flex-direction: column;
    background-color: $white;

    p {
      flex: 0 0 $console-unit-space;
      margin: 0px;
    }

    textarea {
      flex: 1 1 0;
      resize: none;
    }

    .param-editor-buttons {
      flex: 0 0 auto;
      align-self: center;
      margin: $console-half-space 0;
    }
  }
}

form .form-group {

  &.tags-input-field {
    width: 100%;
  }

  &.form-json-editor-input {
    padding-right: $console-unit-space * 3;
    width: 100%;

    a.input-box-edit {
      position: absolute;
      right: 0;
      border: 1px solid $input-border;
      padding: 2px 6px;
      margin-right: $console-half-space;
      bottom: $padding-base-vertical;
    }

    input.json-edit-box {
      pointer-events: none;
    }

    div.json-edit-box {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }
}

.edit-service-instance .async-dialog {
  min-height: 400px;
  min-width: 600px;
}

.modal.detail-view.detail-view-dialog.create-service-instance-dialog.edit-service-instance>.modal-dialog .async-dialog .detail-view-content>ng-include {
  flex: 0;
}