<form name="form.createNewForm">
  <div class="form-group" focusable-input
    ng-class="{'has-error': form.createNewForm.name.$invalid && form.createNewForm.name.$dirty}">
    <label class="control-label" required translate>
      app.app-info.app-tabs.services.create.name-label
    </label>
    <span class="control-message" translate-namespace="app.app-info.app-tabs.services.create" >
      <span translate ng-if="form.createNewForm.name.$error.required">.name-error-required</span>
      <span translate ng-if="form.createNewForm.name.$error.stratosUnique">.name-error-unique</span>
      <span translate ng-if="form.createNewForm.name.$error.pattern">.name-error-pattern</span>
    </span>
    <input type="text" name="name" class="form-control" tabindex="0"
      ng-model="asyncTaskDialogCtrl.context.options.userInput.name" ng-trim="false"
      stratos-unique items="asyncTaskDialogCtrl.context.options.instanceNames"
      ng-pattern="/^[a-zA-Z\d\-\_]+$/" required autofocus>
  </div>

  <div class="form-group">
    <label class="control-label" translate>app.app-info.app-tabs.services.create.plan-label</label>
    <select-input name="plan"
      ng-model="asyncTaskDialogCtrl.context.options.userInput.plan"
      input-options="asyncTaskDialogCtrl.context.options.servicePlans"
      placeholder="app.app-info.app-tabs.services.create.plan-placeholder"
      tabindex="0" required>
    </select-input>
  </div>

  <div class="form-group tags-input-field" focusable-input>
    <label class="control-label" translate>app.app-info.app-tabs.services.create.tags-label</label>
    <tags-input
      min-length="1"
      ng-model="asyncTaskDialogCtrl.context.options.userInput.tags"
    ></tags-input>
  </div>
      
  <div class="form-group form-json-editor-input"
    ng-class="{'has-error': addInstanceForm.createNewForm.name.$invalid && addInstanceForm.createNewForm.name.$dirty}">
    <label class="control-label" required translate>
      app.app-info.app-tabs.services.create.params-label
    </label>
    <a href="#" class="input-box-edit" ng-click="asyncTaskDialogCtrl.editParams = true; asyncTaskDialogCtrl.hideFooter = true" translate>app.app-info.app-tabs.services.create.edit-params</a>
    <div class="json-edit-box">{{ asyncTaskDialogCtrl.context.options.userInput.params | jsonString }}</div>
  </div>
</form>

<!-- Parameter editor -->
<div class="async-dialog-param-editor" ng-class="{'param-editor-open' : asyncTaskDialogCtrl.editParams}">
  <div class="param-editor-container">
    <p translate>app.app-info.app-tabs.services.create.service-params</p>
    <textarea placeholder="{{ 'app.app-info.app-tabs.services.create.params-placeholder' | translate}}" json-text-input ng-model="asyncTaskDialogCtrl.context.options.userInput.params"></textarea>
    <div class="param-editor-buttons">
      <a translate class="done-button btn btn-commit" ng-click="asyncTaskDialogCtrl.editParams = false; asyncTaskDialogCtrl.hideFooter = false">app.app-info.app-tabs.services.create.done</a>
    </div>
  </div>
</div>