:host {
  border: 1px solid #ccc;
  display: flex;
  padding: 0 12px;
  &:not(:first-child) {
    border-top: 0;
  }
}

.compact-service-instance-card {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  min-height: 40px;
  width: 100%;
  &__name {
    flex: 1;
    padding-left: 12px;
  }
  &__tags {
    flex: 2;
  }
}
