<div class="helm-release-summary-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="helm-release-summary-card__content">
        <app-metadata-item icon="title" label="Name">{{ (chartName$ | async) }}</app-metadata-item>
        <app-metadata-item icon="title" label="Status">{{ (helmReleaseService.helmRelease$ | async)?.status }}</app-metadata-item>
        <app-metadata-item icon="memory" label="Version">{{ (helmReleaseService.helmRelease$ | async)?.version }}</app-metadata-item>
        <app-metadata-item icon="date_range" label="Created At">{{ (helmReleaseService.helmRelease$ | async)?.createdAt
          | date:'medium' }}</app-metadata-item>
      </div>
    </mat-card-content>
  </mat-card>
</div>