<div class="cluster-detail endpoints" class="col-md-12 col-sm-12 col-xs-12">

  <div class="application-header font-semi-bold">
    <h3 translate translate-value-name="{{clusterController.userServiceInstanceModel.serviceInstances[clusterController.guid].name}}">cf.summary.title</h3>
    <cluster-actions ng-show="clusterController.hasActions" has-actions="clusterController.hasActions"></cluster-actions>
  </div>

  <div class="cluster-summary-tile">
    <div class="card panel panel-default">
      <div class="panel-heading action-header">
        <span translate>cf.summary.panel.title</span>
      </div>

      <div class="panel-body cluster-summary-panel row">
        <div class="col-md-5">
          <dl class="dl-horizontal">
            <dt translate>cf.summary.panel.label.apps</dt>
            <dd>
              {{ clusterDetailController.totalApps }}
            </dd>
            <dt translate>cf.summary.panel.label.memory</dt>
            <dd>
              {{ clusterDetailController.totalMemoryUsed }}
            </dd>
          <dt ng-if="clusterDetailController.orgCount >= 0" translate>cf.summary.panel.label.orgs</dt>
            <dd ng-if="clusterDetailController.orgCount >= 0">
              {{ clusterDetailController.orgCount }}
            </dd>
          <dt ng-if="clusterDetailController.userCount >= 0" translate>cf.summary.panel.label.users</dt>
            <dd ng-if="clusterDetailController.userCount >= 0">
              {{ clusterDetailController.userCount }}
            </dd>
            <dt translate>cf.ssh.access</dt>
            <dd>
              <status-indicator status="clusterDetailController.sshAccess"
                on-icon="check_box" off-icon="check_box_outline_blank"
                on-label="cf.ssh.enabled" off-label="cf.ssh.disabled"
                off-class="console-status-normal" on-class="console-status-normal">
              </status-indicator>
            </dd>
          </dl>
        </div>
        <div class="col-md-7">
          <dl class="dl-horizontal">
            <dt ng-if="clusterDetailController.initialized" translate>cf.summary.panel.label.address</dt>
            <dd ng-if="clusterDetailController.initialized">
              {{ clusterController.getEndpoint() }}
            </dd>
            <dt translate>cf.summary.panel.label.cli</dt>
            <dd>
              <a ng-click="clusterDetailController.showCliCommands()" class="btn btn-link" translate>cf.cli-common.button-text</a>
            </dd>
            <dt ng-if="clusterDetailController.initialized" translate>cf.summary.panel.label.username</dt>
            <dd ng-if="clusterDetailController.initialized">
              {{ clusterDetailController.userName }}
            </dd>
            <dt ng-if="clusterDetailController.initialized" translate>cf.summary.panel.label.status</dt>
            <dd ng-if="clusterDetailController.initialized" translate>
              {{ clusterDetailController.isAdmin ? 'cf.roles.role-labels.cf-admin' : 'cf.roles.role-labels.cf-user' }}
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <cf-tabs tabs="clusterDetailController.cfTabs.clusterTabs"></cf-tabs>

  <ui-view></ui-view>
</div>
