:host {
  display: flex;
}

.app-multiline-title {
  // Have to use the * comment format otherwise it does not work
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  max-height: 2.4em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
  word-break: break-all;
}

// Firefox does not support multi-line text ellipsis
// So fade out the end of the last line in the div
// Firefox only
// Removed via https://github.com/cloudfoundry-incubator/stratos/issues/3544
// This is no longer fit for purpose. 
// @media screen and (min--moz-device-pixel-ratio:0) {
//   .app-multiline-title {
//     // Fade
//     &::after {
//       bottom: 0;
//       content: '';
//       height: 1.2em;
//       position: absolute;
//       right: 0;
//       text-align: right;
//       width: 24px;
//     }
//   }
// }
