@import '~@angular/material/theming';

@mixin app-multiline-title-theme($theme, $app-theme) {
  // Firefox only
  @media screen and (min--moz-device-pixel-ratio:0) {
    $backgrounds: map-get($theme, background);
    $background: mat-color($backgrounds, card);
    .app-multiline-title {
      // Fade
      &::after {
        background: linear-gradient(to right, rgba(255, 255, 255, 0), $background 50%);
      }
    }
  }
}
