:host {
  display: flex;
}

.app-multiline-title {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  max-height: 2.5em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
  word-break: break-all;
}
