.app-code-block {
  position: relative;
  min-height: 20px;
  padding: 20px;
  overflow-x: auto;
  pre {
    margin: 0;
  }
  &___copied-div,
  &___copy-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity 250ms linear;
  }
  &___copied-div {
    opacity: 0;
    display: flex;
    align-items: center;
    span {
      margin-right: 5px;
    }
  }
  &___success {
    .app-code-block {
      &___copied-div {
        opacity: 1;
      }
      &___copy-icon {
        opacity: 0;
      }
    }
  }
}
