.drill-down {
  $transition-function: cubic-bezier(.215, .61, .355, 1);
  overflow: hidden;
  &__outer {
    position: relative;
  }
  &__breadcrumbs {
    align-content: center;
    display: flex;
    justify-content: space-between;
    &-clear {
      cursor: pointer;
    }
    &-wrapper {
      display: flex;
    }
  }
  &__breadcrumb {
    cursor: pointer;
    &-inner {
      display: flex;
      flex-direction: row;
    }
    &-chevron {
      align-items: center;
      display: flex;
      padding: 0 5px;
    }
  }
  &__scroller {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    transition: margin-top .25s $transition-function;
  }
  &__loading {
    align-items: center;
    background-color: rgba(255, 255, 255, .6);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
  &__level {
    $space: 10px;
    display: grid;
    grid-column-gap: $space;
    grid-row-gap: $space;
    grid-template-columns: repeat(5, 1fr);
    min-height: 100px;
    overflow: auto;
    padding-bottom: $space;
    &-inner {
      position: relative;
    }
    &-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }    
    &-go-up {
      cursor: pointer;
    }
    &-wrapper {
      overflow: auto;
    }
  }
  &__item {
    cursor: pointer;
    padding: 5px;
    z-index: 1;
    &--hidden {
      display: none;
    }
  }
}
