<div class="drill-down">
  <div class="drill-down-level-wrapper" *ngFor="let level of levelData; index as levelIndex">
    <h2>{{ levelData[levelIndex].title }}</h2>
    <mat-progress-spinner *ngIf="levelData[levelIndex].isBusy$ | async" diameter="20" mode="indeterminate"></mat-progress-spinner>
    <div class="drill-down-level">
      <div [ngClass]="{'drill-down-item--selected': levelData[levelIndex].selected.index === itemIndex}" (click)="clickItem(data, itemIndex, levelIndex, $event)" class="drill-down-item" *ngFor="let data of level.data$ | async; index as itemIndex">{{ data }}</div>
    </div>
  </div>
</div>
