<div class="drill-down">
  <div class="drill-down__scroller" #drillDown>
    <div class="drill-down__level-wrapper" #drillDownLevel *ngFor="let level of levelData; index as levelIndex">
      <h2>{{ levelData[levelIndex].title }}</h2>
      <div class="drill-down__level-inner">
        <div class="drill-down__loading" *ngIf="levelData[levelIndex].isBusy$ | async">
          <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div class="drill-down__level">
          <div class="drill-down__item" [ngClass]="{
          'drill-down__item--selected': levelData[levelIndex].selected.index === itemIndex,
          'drill-down__item--hidden': levelData[levelIndex].selected.index !== null && levelData[levelIndex].selected.index !== itemIndex
        }" (click)="clickItem(data, itemIndex, levelIndex, $event)" *ngFor="let data of level.data$ | async; index as itemIndex">
            <app-table-cell *ngIf="levelData[levelIndex].component as component" [component]="component" [row]="data">
            </app-table-cell>
          </div>
        </div>
        <div *ngIf="levelData[levelIndex].pagination as pagination">
          <div *ngIf="pagination.state$ | async as state">
            <mat-paginator [hidden]="levelData[levelIndex].selected.index === null && state.pageCount > 1" [length]="state.totalResults"
              [pageSize]="state.pageSize" (page)="pagination.page($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>