<deploy-location
  service-instances="step.data.serviceInstances"
  service-instance="step.userInput.serviceInstance"
  organization="step.userInput.organization"
  space="step.userInput.space"
></deploy-location>
<!--<div class="" file-drop="step.userInput.file">-->
<!--<p class="control-title" translate>Application Bits</p>-->
<!--<p translate>-->
<!--You can upload a zip file containing your application by either selecting the file below or by dragging and dropping-->
<!--it onto this area. Alternatively provide a github URL in the box below.-->
<!--</p>-->
<!--<div>-->
<!--<input id="deploy-app-choose-bits" fileread="step.userInput.file" type="file"/>-->
<!--<label for="deploy-app-choose-bits" class="btn btn-default btn-sm">Select Deploy Bits</label>-->
<!--</div>-->
<!--<br>-->
<!--<div class="form-group form-group-large">-->
<!--<label class="control-label" translate>Application File</label>-->
<!--<input type="text" class="form-control" ng-value="step.userInput.file.name" readonly/>-->
<!--</div>-->
<!--<div class="form-group form-group-large" focusable-input>-->
<!--<label class="control-label" translate>Github url</label>-->
<!--<input type="text" class="form-control" ng-model="step.userInput.github" ng-change="step.userInput.file = null"/>-->
<!--</div>-->
<!--</div>-->
<div class="deploy-app-source-area" file-drop item-drop="step.dropItemHandler">
  <div class="deploy-app-source">
    <div class="deploy-app-source-github">
      <radio-input ng-model="step.userInput.sourceType" input-value="'github'" input-label="deploy-app-dialog.step-info.github.label"></radio-input>
      <div class="deploy-app-github">
        <div class="deploy-app-github-form">
          <div class="form-group form-group-large" focusable-input
              ng-class="{'has-error': step.userInput.githubProjectValid === false && wizardForm['deploy-info-form'].githubProject.$dirty}">
            <label class="control-label" translate>deploy-app-dialog.step-info.github.project-label</label>
            <span class="control-message" translate ng-if="step.userInput.githubProjectValid === false && wizardForm['deploy-info-form'].githubProject.$dirty">
                deploy-app-dialog.step-info.github.project-not-found
            </span>
            <input
              ng-disabled="step.userInput.sourceType !== 'github'"
              type="text" class="form-control" name="githubProject" ng-model="step.userInput.githubProject"
              placeholder="{{'deploy-app-dialog.step-info.github.project-placeholder' | translate}}"/>
          </div>

          <div class="form-group form-group-large deploy-app-github-branch" focusable-input>
            <label class="control-label" translate>deploy-app-dialog.step-info.github.branch-label</label>
            <search-box
              ng-model="step.userInput.githubBranch"
              input-options="step.data.githubBranches"
              placeholder="{{ 'deploy-app-dialog.step-info.github.branch-placeholder' | translate}}"
              disabled="!step.userInput.githubProjectValid || step.userInput.sourceType !== 'github'">
            </search-box>
          </div>
        </div>
      </div>
    </div>

    <div class="deploy-app-source-local">
      <radio-input ng-model="step.userInput.sourceType" input-value="'local'" input-label="Local file or folder"></radio-input>
      <div class="deploy-app-github">
        <div class="deploy-app-github-form">
          <div class="form-group form-group-large" focusable-input
              ng-class="{'has-error': step.userInput.githubProjectValid === false && wizardForm['deploy-info-form'].githubProject.$dirty}">
            <label class="control-label" translate>File / Folder</label>
            <span class="control-message" translate ng-if="step.userInput.githubProjectValid === false && wizardForm['deploy-info-form'].githubProject.$dirty">
                deploy-app-dialog.step-info.github.project-not-found
            </span>
            <input ng-disabled="step.userInput.sourceType !== 'local'" type="text" class="form-control" name="localPath" ng-model="step.userInput.localPath"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Information about the selected GitHub project -->
  <div class="deploy-app-source-details deploy-app-github-details" ng-if="step.userInput.sourceType === 'github' && step.userInput.githubProjectValid && step.data.githubProject" >
    <p class="control-title" translate>Project Details</p>
    <div class="deploy-app-github-info">
      <div class="project">
        <img ng-src="{{step.data.githubProject.owner.avatar_url}}"/>
        <div class="project-info">
          <div>
            <a href="https://www.github.com/{{step.userInput.githubProjectCached}}"
              rel="noopener noreferrer" target="_blank">{{step.userInput.githubProjectCached}}
            </a>
          </div>
          {{ step.data.githubProject.description | limitTo:50}} <span ng-if="step.data.githubProject.description.length > 50">...</span>
        </div>
      </div>

      <div ng-if="step.data.githubCommit" class="lastCommit">
        <div ng-show="step.data.githubCommit.author.avatar_url" class="committerAvatar">
          <img ng-src="{{step.data.githubCommit.author.avatar_url}}"/>
        </div>
        <div class="lastCommit-info">
          <div>
            <span translatE>deploy-app-dialog.step-info.github.branch-last-commit</span>
            <a href="https://www.github.com/{{step.userInput.githubProject}}/commit/{{step.data.githubCommit.sha}}"
              rel="noopener noreferrer" target="_blank">{{ step.data.githubCommit.sha | limitTo:6}} {{ step.data.githubCommit.commit.message | limitTo:50}}<span ng-if="step.data.githubCommit.commit.message.length > 50">...</span>
            </a>
          </div>
          <div>
            <span translate>deploy-app-dialog.step-info.github.branch-last-commit-date</span> {{ step.data.githubCommit.commit.author.date | momentDateFormat }}
          </div>
          <div class="lastCommitter">
            <span translate>deploy-app-dialog.step-info.github.branch-last-commit-committer</span>{{ step.data.githubCommit.author.login}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Information for a local file or folder selection or drop -->
  <div class="deploy-app-source-details deploy-app-github-details" ng-if="step.userInput.sourceType === 'local' && step.userInput.fileScanData" >
    <p class="control-title" translate>File/Folder Details</p>
    <p>{{step.userInput.fileScanData.files}} Files</p>
    <p>{{step.userInput.fileScanData.folders}} Folders</p>
    <p>{{step.userInput.fileScanData.total}} Size of data</p>
  </div>

  <!-- information when no selection has been made -->
  <div class="deploy-app-source-details deploy-app-source-help" ng-if="!(step.userInput.githubProjectValid && step.data.githubProject) && !(step.userInput.sourceType === 'local' && step.userInput.fileScanData)">
    <p>Select a GitHub project, select a local archive file or folder, or drag and drop an archive file or folder on this dialog.</p>
  </div>
</div>

<!--<p class="control-title" translate>deploy-app-dialog.step-info.manifest.label</p>-->
<!--<p class="" translate>deploy-app-dialog.step-info.manifest.description</p>-->
<!--<div class="form-group form-group-large" focusable-input>-->
<!--<label class="control-label" translate>deploy-app-dialog.step-info.manifest.path-label</label>-->
<!--<input type="text" class="form-control" ng-model="step.userInput.manifest.location"-->
<!--placeholder="{{'deploy-app-dialog.step-info.manifest.path-placeholder' | translate}}"-->
<!--required/>-->
<!--</div>-->
