
$github-avatar-height: 51px;
$github-avatar-width: 51px;
$github-info-commit-spacer: 3px;

$deploy-status-bounce-spacer: 6px;

// Select option height is text size + margin
$select-option-height: 39px;

.modal.detail-view.detail-view-dialog>.modal-dialog>.modal-content .detail-view-content.deploy-app wizard .wizard-step {
  padding: 0 $console-unit-space $console-unit-space $console-unit-space;
}

.deploy-app {
  deploy-location {
    .control-title {
      margin-top: 0;
    }
  }

  // Applies to buttons to choose a file or folder
  .form-group.deploy-app-file-controls {
    padding-right: 0;

    .form-control.file-chooser {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      
      + label {
        border: none;
        background-color: transparent;
        padding: 0;
        height: 19px;
        line-height: 19px;
        font-size: $font-size-medium;
        margin: 0;
        display: flex;

        .deploy-app-form-btn {
          height: $console-input-height;
          width: $console-unit-space * 2;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -25px;
          border-right: 1px solid $rule;

          &:hover {
            background-color: $component-active-bg;
            color: $component-active-color;
          }

          &:first-of-type {
            border-left: 1px solid $rule;
          }

          &:last-child {
            border-right: 0;
          }
        }

        &.clickable {
          cursor: pointer;
        }

        > i {
          font-size: $icon-font-size-base;
          margin-right: 6px;
        }

        > span {
          margin: 0;
          padding: 0;
          flex: 1;
        }

        > label {
          margin: 0;
          cursor: pointer;
        }
      }
    }
  }

  p.deploy-app-choose-source {
    margin: $console-unit-space * 0.5 0;
  }

  #deploy-app-choose-bits {
    display: none;
  }

  .deploy-app-source-area {
    display: flex;

    > .deploy-app-source {
      display: flex;
      flex: 1;

      > div {
        flex: 1;
      }
    }

    p.control-title {
      margin-top: 0;
    }

    radio-input {
      margin-bottom: $console-unit-space / 4;
    }

    &.file-drop-active {
      outline: 3px dashed $brand-primary;
      outline-offset: 4px;

      > * {
        opacity: 0.5;
      }
    }

    .deploy-app-source-details {

      &.deploy-app-invisible {
        visibility: hidden;
      }

      &.deploy-app-github-details {
        margin-top: $console-unit-space / 2;
        
        .deploy-app-github-info {
          border: 1px solid $rule;
          padding: $console-unit-space / 2;

          &.deploy-app-file-details {
            height: $console-input-height;
            display: flex;
            align-items: center;
            padding-left: 18px;

            > p {
              margin: 0;
            }

            > i {
              margin-right: 6px;
            }
          }

          img {
            height: $github-avatar-height;
            width: $github-avatar-width;
          }

          .project {
            display: flex;
            flex-direction: row;
            align-items: center;

            .project-info {
              padding-left: $console-unit-space / 2;
            }
          }

          .lastCommit {
            display: flex;
            flex-direction: row;
            align-items: center;

            padding-top: $github-info-commit-spacer;

            .lastCommit-info {
              padding-left: $console-unit-space / 2;
              flex: 1;
              display: flex;
              flex-direction: column;

              .lastCommit-date-committer {
                display: flex;

                > .lastCommitter {
                  flex: 1;
                }
              }
            }
          }
        }

      }

      .deploy-app-found-cfignore {
        padding: 6px 20px;
        border: 1px solid $rule;
        margin-top: -1px;
        > p {
          margin :0;
        }
      }
    }
  }

  .deploy-app-github {
    display: flex;

    .deploy-app-github-form {
      .deploy-app-github-branch {
        //margin-bottom: $select-option-height * 3 - $console-unit-space;
        .dropdown-menu {
          max-height: $select-option-height * 3;
        }
      }
    }
  }

  .rm-background{
    background-color: transparent;
  }

  .deploy-app-log-status {
    display: flex;
    align-items: center;
    padding-bottom: $console-unit-space;
    & > span {
      font-size: $font-size-large;
      padding-right: $console-unit-space;
    }
    bounce-spinner {
      margin-top: $deploy-status-bounce-spacer;
    }
  }

  cf-log-viewer {
    .panel-heading.action-header {
      background-color: $console-primary-bg;
    }
  }
}

.folder-drop-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

percent-gauge.deploy-app-file-progress {

  .percent-gauge .percent-gauge-bar:after {
    background-image: none;
  }

  .percent-gauge .percent-gauge-bar .percent-gauge-utilized-bar {
    background-color: $brand-primary;

    &.percent-gauge-at-max {
      background-color: $brand-primary;
    }
  }
}

.deploy-app-file-upload-title {
  margin-bottom: $console-unit-space;
  font-size: $font-size-large1;
  font-weight: $console-font-weight-semibold;
}