$github-avatar-height: 51px;
$github-avatar-width: 51px;
$github-info-commit-spacer: 3px;

$deploy-status-bounce-spacer: 6px;

.modal.detail-view.detail-view-dialog>.modal-dialog>.modal-content .detail-view-content.deploy-app wizard .wizard-step {
  padding-bottom: 0 $console-unit-space $console-unit-space $console-unit-space;
}

.deploy-app {
  deploy-location {
    .control-title {
      margin-top: 0;
    }
  }

  #deploy-app-choose-bits {
    display: none;
  }

  .deploy-app-github {
    display: flex;

    .deploy-app-github-form {
      .deploy-app-github-branch {
        margin-bottom: 100px;
        .dropdown-menu {
          max-height: 120px;
        }
      }
    }

    .deploy-app-github-info {
      padding-left: $console-unit-space;

      img {
        height: $github-avatar-height;
        width: $github-avatar-width;
      }

      .project {
        display: flex;
        flex-direction: row;
        align-items: center;

        .project-info {
          padding-left: $console-unit-space / 2;
        }
      }

      .lastCommit {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding-top: $github-info-commit-spacer;

        .lastCommit-info {
          padding-left: $console-unit-space / 2;
        }
      }
    }
  }

  .rm-background{
    background-color: transparent;
  }

  .deploy-app-log-status {
    display: flex;
    align-items: center;
    padding-bottom: $console-unit-space;
    & > span {
      font-size: $font-size-large;
      padding-right: $console-unit-space;
    }
    bounce-spinner {
      margin-top: $deploy-status-bounce-spacer;
    }
  }

  cf-log-viewer {
    .panel-heading.action-header {
      background-color: $console-primary-bg;
    }
  }
}
