<div class="usage-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Usage</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="app-metadata">
        <app-metadata-item icon="memory" label="Applications">N/A</app-metadata-item>
        <app-metadata-item icon="memory" label="Memory Usage">N/A</app-metadata-item>
        <app-metadata-item icon="memory" label="Organizations">N/A</app-metadata-item>
        <app-metadata-item icon="memory" label="Users">N/A</app-metadata-item>
        <app-metadata-item icon="memory" label="SSH Access">N/A</app-metadata-item>
      </div>
    </mat-card-content>
  </mat-card>
</div>
