<div class="events-tab">
  <app-table #appTable [dataSource]="eventSource" [columns]="columns" [text]="{ title: 'Events', filter: 'Filter Details'}"
    [enableFilter]="true">
  </app-table>

  <!-- <app-table #appTable [dataSource]="eventSource" [title]="'Events'" [enableFilter]="true">
    <div app-table-content>
      <md-table #table [hidden]="eventSource.mdPaginator.length === 0" [dataSource]="eventSource" mdSort (mdSortChange)="appTable.sort.emit($event)">
        <ng-container mdColumnDef="timestamp">
          <md-header-cell *mdHeaderCellDef md-sort-header> Timestamp </md-header-cell>
          <md-cell *mdCellDef="let row">{{row.entity.timestamp | date:'medium'}}</md-cell>
        </ng-container>
        <ng-container mdColumnDef="type">
          <md-header-cell *mdHeaderCellDef> Type </md-header-cell>
          <md-cell *mdCellDef="let row">
            <div *ngFor="let item of row.entity.type.split('.')">
              {{item}}
            </div>
          </md-cell>
        </ng-container>
        <ng-container mdColumnDef="actor_name">
          <md-header-cell *mdHeaderCellDef> Actor Name </md-header-cell>
          <md-cell *mdCellDef="let row">
            <md-icon>{{row.entity.actor_type | eventTabActorIcon}}</md-icon> {{row.entity.actor_name}}</md-cell>
        </ng-container>
        <ng-container mdColumnDef="detail">
          <md-header-cell *mdHeaderCellDef> Detail </md-header-cell>
          <md-cell *mdCellDef="let row">
            <table>
              <tr *ngFor="let metadata of (row.entity.metadata) | values">
                <td>{{metadata.key}}</td>
                <td>{{metadata.value | json}}</td>
              </tr>
            </table>
          </md-cell>
        </ng-container>
        <md-header-row *mdHeaderRowDef="['timestamp', 'type', 'actor_name', 'detail']" [hidden]="eventSource.mdPaginator.length === 0">
        </md-header-row>
        <md-row *mdRowDef="let row; columns: ['timestamp', 'type', 'actor_name', 'detail'];">
        </md-row>
      </md-table>
    </div>
  </app-table> -->
</div>
