[app-table-content] {
  mat-header-cell,
  mat-cell {
    flex-grow: 1;
  }
  .cdk-column-actor_name {
    flex-basis: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .cdk-column-type {
    flex-basis: 100px;
  }
  .cdk-column-detail {
    flex-grow: 3;
    td {
      padding-right: 5px;
    }
  }
}
