.recent-apps-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  app-stateful-icon {
    padding-left: 12px;
  }
  &__content {
    display: flex;
    overflow-y: auto;
  }
  &__header {
    flex: 0 0 auto;
  }
  &__scroller {
    height: 100%;
    overflow-y: auto;
    width: 100%;
  }
}
