<ng-container *ngIf="(cfEndpointService.hasAllApps$ | async) !== false">
  <mat-card class="recent-apps-card">
    <mat-card-header class="recent-apps-card__header">
      <mat-card-title>Recently updated applications</mat-card-title>
      <button mat-icon-button [disabled]="loading$ | async" (click)="refresh.emit()">
        <mat-icon class="refresh-icon" [ngClass]="{refreshing: (loading$ | async)}" aria-label="Refresh list data">refresh</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="recent-apps-card__content" *ngIf="apps$ | async as apps">
      <div *ngIf="apps.length === 0">
        There are no applications.
      </div>
      <div *ngIf="apps.length > 0" class="recent-apps-card__scroller">
        <app-compact-app-card *ngFor="let app of apps" [app]="app"></app-compact-app-card>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
