.app-icon-sm {
  font-size: $hpe-unit-space / 2;
}

.app-icon-lg {
  font-size: $hpe-unit-space;
}

.app-icon-2x {
  font-size: $hpe-unit-space * 2;
}

.app-icon-3x {
  font-size: $hpe-unit-space * 3;
}

.app-icon-4x {
  font-size: $hpe-unit-space * 4;
}

.app-icon-5x {
  font-size: $hpe-unit-space * 5;
}
