// SUSE Brand primary colour
$suse-primary: #02D35F;

// Colours for the header bar
$page-header-fg: #fff !default;
$page-header-bg: $suse-primary !default;
$page-header-active-fg: #000 !default;

// Set the primary brand colour
$brand-primary: $suse-primary;

// Hide welcome text panel on the login page
$login-page-text-panel-display: none;

