$login-padding: 24px;
$login-logo-size: 128px;
$login-panel-width: 420px;

.brand {
  .login-page .login-background .login-panel-hpe-logo > img {
    position: fixed;
    bottom: $login-padding;
    right: $login-padding;
    left: auto;
    z-index: 1;
    width: $login-logo-size;
  }

  .login-page .login-background {
    background-image: none;
    position: absolute;
    width: 0;
    height: 0;
  }

  .login-page {
    background-color: $suse-dark-blue;
    height: 100vw;

    .login-panel {
      justify-content: center;
      background-color: $suse-dark-blue;

      login-form {
        flex: 0;
        background-color: #fff;
        margin: 0;
        //box-shadow: 0 0 20px 10px #333;
        width: $login-panel-width;

        .login-form {
          max-width: $login-panel-width;
          padding: $login-padding;

          .login-form-spinner {
            text-align: center;
          }

          > h1 {
            margin-top: $login-padding;
          }

          .form-group {
            width: auto;
          }

          > button {
            float: none;
          }

          .login-form-spinner.ng-hide {
            display: block !important;

            > * {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}