.checkbox-input {
  display: flex;
  align-items: center;
  color: $checkbox-input-color;
  cursor: pointer;
  outline: none;

  &:not(.checked) {
    &:focus,
    &:hover {
      color: $checkbox-input-hover-color;
    }
  }

  &.checked {
    .checkbox-input-button {
      color: $checkbox-input-checked-color;

      &:before {
    content: 'check_box';
      }
    }

    .checkbox-input-label {
      color: $checkbox-input-hover-color;
    }
  }

  &.disabled {
    opacity: $checkbox-input-disabled-opacity;

    &:focus,
    &:hover {
      color: $checkbox-input-color;
    }

    .checkbox-input-button:before, .checkbox-input-label {
      cursor: not-allowed;
    }
  }

  .checkbox-input-button {
    height: $checkbox-input-size;
    &:before {
      @extend .material-icons;
      content: 'check_box_outline_blank';
      font-size: $checkbox-input-size;
    }

  }

  .checkbox-input-label {
    margin-left: 5px;
    line-height: 24px;
  }
}
