@mixin app-page-header-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $primmary-color: mat-color($primary);
  $status-colors: map-get($app-theme, status);
  $error: map-get($status-colors, danger);
  $warning: map-get($status-colors, warning);
  $info: lighten($primmary-color, 20%);
  $subdued: map-get($app-theme, subdued-color);
  $background: map-get($theme, background);
  $menu-background-color: mat-color($background, card);
  $is-dark: map-get($theme, is-dark);
  $username-background: $menu-background-color;
  $header-background: map-get($app-theme, header-background-color);
  $header-foreground: map-get($app-theme, header-foreground-color);
  $underflow-background: map-get($app-theme, underflow-background-color);
  $underflow-foreground: map-get($app-theme, underflow-foreground-color);

  @if $is-dark == true {
    $username-background: lighten($menu-background-color, 5%);
  } @else {
    $username-background: darken($menu-background-color, 5%);
  }
  $username-color: mat-color($foreground, text);

  .page-header {
    &__toolbar {
      background-color: $header-background;
      color: $header-foreground;
    }
    &__warning-count {
      background-color: mat-color($primary);
      color: mat-contrast($primary, 500);
    }
    &__warning-icon {
      color: $warning;
    }
    &__menu-separator {
      background-color: mat-color($foreground, divider);
    }
    &__history {
      color: mat-color($foreground, text);
    }
    &__underflow {
      background-color: $underflow-background;
      color: $underflow-foreground;
    }
    &__divider {
      color: mat-contrast($primary, 500);
    }
    &__menu-icon {
      background-color: mat-contrast($primary, 500);
    }
    &__username {
      background-color: $username-background;
      color: $username-color;
    }
    &__history-title {
      border-bottom: 1px solid mat-color($foreground, divider);
    }

    // Ensure any content in the header with H1 overflows nicely
    &__left {
      h1 {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
