.table-row-wrapper {
  &__blocked {
    .table-row {
      cursor: not-allowed;
      &__inner {
        * {
          opacity: .65;
        }
      }
    }
    .table-row__blocker {
      display: block;
    }
  }
  &__errored {
    .table-row__error {
      display: flex;
    }
  }
  &__highlighted {
    border-left-style: solid;
    border-left-width: 4px;
    .table-row__inner {
      padding-left: 20px; // Cancel out highlighted padding (border left in theme)
    }
  }
}

.table-row {
  align-items: center;
  border-style: solid;
  border-width: 0 0 1px;
  display: flex;
  transition: opacity .25s;
  &-wrapper {
    position: relative;
  }
  &__deletion-bar {
    &-inner {
      flex: .5;
      max-width: 200px;
    }
    &-text {
      padding-bottom: 5px;
      text-align: center;
    }
    &-wrapper {
      align-items: center;
      justify-content: center;
      bottom: 0;
      display: flex;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      z-index: 999;
    }
  }
  &__error {
    display: none;
    justify-content: middle;
    &-message {
      flex: 1;
      line-height: 20px;
      margin: 15px 20%;
      text-align: center;
    }
    &-icon {
      padding-left: 18px;
    }
  }
  &__blocker {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
  }
  &__inner {
    display: flex;
    flex: 1;
  }
}
