@mixin table-row-theme($theme, $app-theme) {
  $status-colors: map-get($app-theme, status);
  $error-color: map-get($status-colors, danger);
  $text-color: map-get($status-colors, text);
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);
  .table-row {
    &__error {
      background-color: $error-color;
      color: $text-color;
    }
    &__error-message {
      a {
        color: $text-color;
      }
    }
  }
  .table-row-wrapper {
    &__errored {
      .table-row {
        background-color: transparentize($error-color, .9);
      }
    }
    &__highlighted {
      background-color: transparentize($primary-color, .95);
      border-left-color: $primary-color;
    }
  }
}
