<div class="card panel panel-default" ng-init="applicationSummaryCtrl.appCtrl = appCtrl">

  <div class="panel-heading action-header">
    <span>{{secGroupDetailCtrl.model.entity.name}}</span>
  </div>

  <div class="row panel-body">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt translate>cf.cf-tabs.security-groups.labels.created</dt>
        <dd ng-if="secGroupDetailCtrl.model.metadata.created_at">
          {{ secGroupDetailCtrl.model.metadata.created_at | momentDateFormat }}
        </dd>
        <dd ng-if="!secGroupDetailCtrl.model.metadata.created_at">-</dd>

        <dt translate>cf.cf-tabs.security-groups.labels.updated</dt>
        <dd ng-if="secGroupDetailCtrl.model.metadata.updated_at">
          {{ secGroupDetailCtrl.model.metadata.updated_at | momentDateFormat }}
        </dd>
        <dd ng-if="!secGroupDetailCtrl.model.metadata.updated_at">-</dd>

        <dt translate>cf.cf-tabs.security-groups.labels.spaces</dt>
        <dd ng-if="secGroupDetailCtrl.model.entity.spaces.length > 0">
          <a ng-repeat="space in secGroupDetailCtrl.model.entity.spaces track by space.metadata.guid"
            class="btn btn-link"
            ui-sref="endpoint.clusters.cluster.organization.space.detail.applications({
                    guid: sgCtrl.guid,
                    organization: space.entity.organization_guid,
                    space: space.metadata.guid
            })">{{ space.entity.name }}</a>
        </dd>
        <dd ng-if="secGroupDetailCtrl.model.entity.spaces.length === 0">-</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt translate>cf.cf-tabs.security-groups.labels.staging-default</dt>
        <dd class="sec-group-status">
          <status-indicator status="secGroupDetailCtrl.model.entity.staging_default"
            on-icon="check_box" off-icon="check_box_outline_blank"
            on-label="cf.cf-tabs.security-groups.labels.yes" off-label="cf.cf-tabs.security-groups.labels.no" off-class="console-status-normal"></status-indicator>
        </dd>

        <dt translate>cf.cf-tabs.security-groups.labels.running-default</dt>
        <dd class="sec-group-status">
          <status-indicator status="secGroupDetailCtrl.model.entity.running_default"
            on-icon="check_box" off-icon="check_box_outline_blank"
            on-label="cf.cf-tabs.security-groups.labels.yes" off-label="cf.cf-tabs.security-groups.labels.no" off-class="console-status-normal"></status-indicator>
        </dd>

        <dt translate>cf.cf-tabs.security-groups.labels.rules</dt>
        <dd>
          <div class="security-group-rule" ng-repeat="rule in secGroupDetailCtrl.model.entity.rules">
            <div>{{ rule.protocol }}</div>
            <div>{{ rule.destination }}</div>
          </div>
        </dd>
      </dl>
    </div>
  </div>
</div>

