<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" [xPosition]="'before'" [yPosition]="'below'">
  <ng-container *ngFor="let action of listConfig.getSingleActions()">
    <button mat-menu-item *ngIf="action.visible(row)" (click)="execute(action, row)" [disabled]="!action.enabled(row)" matTooltip="{{action.description}}"
      matTooltipShowDelay="2000">
      <mat-icon>{{action.icon}}</mat-icon>
      <span>{{action.label}}</span>
    </button>
  </ng-container>
</mat-menu>
