<button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
<md-menu #menu="mdMenu" [xPosition]="'before'" [yPosition]="'below'">
  <ng-container *ngFor="let action of dataSource.actions.singleActions">
    <button md-menu-item *ngIf="action.visible(row)" (click)="execute(action, row)" [disabled]="!action.enabled(row)" mdTooltip="{{action.description}}"
      mdTooltipShowDelay="2000">
      <md-icon>{{action.icon}}</md-icon>
      <span>{{action.label}}</span>
    </button>
  </ng-container>
</md-menu>
