.sub-nav-section {
  display: inline-block;
  &__inner {
    align-items: center;
    display: flex;
  }
  &__divider {
    border-right: 1px solid rgba(100, 121, 143, .4);
    height: 20px;
    margin-right: 10px;
    padding-right: 10px;
  }
}
