<b>Select a Cloud Foundry instance, organization and space for the app.</b>
<form #cfForm="ngForm">
  <mat-select #cfSelect="ngModel" [ngModel]="selectedCF" required placeholder="Cloud Foundry" name="cf">
    <mat-option *ngFor="let cf of cfList$ | async" [value]="cf">
      <span>{{ cf.name }}</span>
    </mat-option>
  </mat-select>
  <mat-select [disabled]="!cfSelect.value" #orgSelect="ngModel" [ngModel]="selectedOrg" required placeholder="Organization"
    name="org">
    <mat-option *ngFor="let org of orgList$ | async" [value]="org">
      <span>{{ org.name }}</span>
    </mat-option>
    <app-stateful-icon *ngIf="(cfList$ | async) && !(orgList$ | async)" [state]="'busy'"></app-stateful-icon>
  </mat-select>
  <mat-select [disabled]="!orgSelect.value" #spaceSelect="ngModel" [ngModel]="selectedSpace" required placeholder="Space" name="space">
    <mat-option *ngFor="let space of spaceList$ | async" [value]="space">
      <span>{{ space.name }}</span>
    </mat-option>
  </mat-select>
</form>
