.github-tab {

  &__deployment {
    &__commit-warning {
      display: flex;
      flex-flow: row;
    }
    &__commit-warning__msg {
      padding-left: 24px;
    }
    &__deploy {
      display: flex;
      flex-flow: row-reverse;
    }
  }
  .github-tab__avatar {
    img {
      float: right;
      height: 100px;
      width: 100px;
    }
  }
}
