<app-tile-grid class="github-tab" *ngIf="stratosProject$ | async as stratosProject">
  <app-tile-group>
    <app-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Deployment Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="github-tab__deployment">
            <app-metadata-item label="Repository">
              <a href="{{(gitHubRepo$ | async)?.html_url}}" target="_blank">{{stratosProject.deploySource.project }}</a>
            </app-metadata-item>
            <app-metadata-item label="Branch">
              <a href="{{(gitHubRepo$ | async)?.html_url}}/tree/{{ stratosProject.deploySource.branch}}" target="_blank">
                {{ stratosProject.deploySource.branch}}
              </a>
            </app-metadata-item>
            <div class="github-tab__deployment__commit">
              <div>
                <app-metadata-item label="Commit">
                  <a href="{{(commit$ | async)?.html_url}}" target="_blank">{{ stratosProject.deploySource.commit | limitTo: 8}}</a>
                </app-metadata-item>
              </div>
              <div class="github-tab__deployment__commit-warning" *ngIf="!(isHead$ | async) && (initialised$ | async)">
                <div>
                  <mat-icon color="warn">warning</mat-icon>
                </div>
                <div class="github-tab__deployment__commit-warning__msg">The {{ stratosProject.deploySource.branch}} branch has been updated since this app was deployed. Redeploy to update</div>
              </div>
            </div>
            <app-metadata-item label="Deployed:">{{ stratosProject.deploySource.timestamp * 1000 | date:'medium' }}</app-metadata-item>
          </div>
        </mat-card-content>
      </mat-card>
    </app-tile>
    <app-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Repository Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div *ngIf="gitHubRepo$ | async as githubRepo">
            <div class="github-tab__avatar">
              <img src={{githubRepo.owner.avatar_url}}>
            </div>
            <div>
              <app-metadata-item label="Full Name">
                <a href="{{ githubRepo.html_url }}" target="_blank">{{ githubRepo.full_name }}</a>
              </app-metadata-item>
              <app-metadata-item label="Owner">{{ githubRepo.owner.login }}</app-metadata-item>
              <app-metadata-item label="Description">{{ githubRepo.description }}</app-metadata-item>
              <app-metadata-item label="Created:">{{ githubRepo.created_at | date:'medium' }}</app-metadata-item>
              <app-metadata-item label="Last Pushed:">{{ githubRepo.pushed_at | date:'medium' }}</app-metadata-item>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </app-tile>
    <app-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Commit Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="commit$ | async as commitInfo">
            <div class="github-tab__avatar">
              <img src={{commitInfo.author.avatar_url}}>
            </div>
            <div>
              <app-metadata-item label="Message">{{ commitInfo.commit.message }}</app-metadata-item>
              <app-metadata-item label="SHA">
                <a href={{commitInfo.html_url}} target="_blank">{{ commitInfo.sha | limitTo: 8}}</a>
              </app-metadata-item>
              <app-metadata-item label="Author">
                <app-github-commit-author [commit]="commitInfo" [showAvatar]="false"></app-github-commit-author>
              </app-metadata-item>
              <app-metadata-item label="Date:">{{ commitInfo.commit.author.date | date:'medium' }}</app-metadata-item>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </app-tile>
  </app-tile-group>
  <app-list *ngIf="gitHubRepo$ | async as githubRepo"></app-list>
</app-tile-grid>
