// Style overrides
// Acme Brand primary colour
$acme-primary-color: #035a97;

// Secondary blue colour
$acme-secondary: #035a97;
$acme-text: #fff;
$acme-text-gray: #ccc;
$acme-dark-blue: #06253a;
$acme-blue: #073155;
$acme-side-nav: $acme-secondary;
$acme-side-nav-active: #003358;

body.stratos {
  app-page-subheader {
    .page-subheader {
      background-color: #fff;
      color: #333;
    }
  }

  .page-header__divider {
    color: #333;
  }

  .page-header__menu-button-icon {
    background-color: $acme-primary-color;
    color: $acme-text;
  }

  .mat-tab-nav-bar.mat-primary.mat-background-primary {
    .mat-tab-links {
      background-color: #fff;
      color: #333;
    }
    .mat-tab-link {
      color: #333;
    }
    .mat-ink-bar {
      background-color: $acme-primary-color;
    }
  }

  .stratos-title__logo {
    width: 160px;
  }

  .page-header .mat-toolbar.mat-primary {
    background-color: #fff;
    color: #333;
  }

  // Use Acme Blue Side Navigation
  .side-nav,
  .side-nav__top,
  .side-nav__item--active:hover {
    background-color: $acme-side-nav;
  }
  .side-nav__item--active,
  .side-nav__item:hover {
    background-color: $acme-side-nav-active;
  }
  .side-nav__bottom {
    color: $acme-text-gray;
  }

  // Show the text Stratos beneath the Acme logo
  .stratos-title > .stratos-title__header {
    display: inline-block;
  }
}
