<div>
  <form [formGroup]="deployOptionsorm" validate class="stepper-form deploy-options">
    <div class="deploy-options__col">
    <mat-form-field>
      <input matInput placeholder="Application Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Host" formControlName="host">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Host" formControlName="host">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Domain" formControlName="domain">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Custom buildpack" formControlName="buildpack">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Number of Instances" formControlName="instances" type="number">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Disk Quota (MB)" formControlName="disk_quota" type="number">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Memory Quota (MB)" formControlName="memory" type="number">
    </mat-form-field>
  </div>
  <div class="deploy-options__col">
    <mat-slide-toggle class="edit-app__toggler" formControlName="no_route">Do not create a route</mat-slide-toggle>
    <mat-slide-toggle class="edit-app__toggler" formControlName="random_route">Create a random route</mat-slide-toggle>
    <mat-slide-toggle class="edit-app__toggler" formControlName="no_start">Do not start the application after pushing</mat-slide-toggle>
  </div>
</form>
</div>
