@import '../../../../../sass/mixins';

:host {
  width: 100%;
}

.deploy-options {
  display: flex;
  flex-direction: column;
  max-width: none;

  @include breakpoint(tablet) {
    flex-direction: row;
  }

  &__col {
    flex: 1;
    width: 100%;

    &:first-child {
      margin-right: 12px;
    }
    &:not(:first-child) {
      margin-left: 12px;
    }
  }
  &__buttons {
    text-align: right;
  }
  &__toggler {
    margin: 12px 0;
  }
  &__error {
    font-weight: 600;
    padding: 8px;
  }
}

