<app-page-header [endpointIds$]="cfIds$">
  <h1>Applications</h1>
  <div *ngIf="haveConnectedCf$ | async" class="page-header-right">
    <ng-container *appUserPermission="canCreateApplication">
      <button id="appwall-create-application" mat-icon-button [routerLink]="'/applications/new/'">
        <mat-icon>add</mat-icon>
      </button>
      <button id="appwall-deploy-application" mat-icon-button [routerLink]="'/applications/deploy/'">
        <mat-icon>file_upload</mat-icon>
      </button>
    </ng-container>
  </div>
</app-page-header>
<app-cf-endpoints-missing #appEndpointsMissing></app-cf-endpoints-missing>
<!-- <p *ngIf="error">We're sorry, we couldn't fetch all of your applications. Please try again later.</p> -->

<ng-template #noEntriesForCurrentFilter>
  <app-no-content-message [icon]="'apps'" [firstLine]="'There are no applications for the current filter'" [secondLine]="{
  text: ''
}"></app-no-content-message>
</ng-template>

<ng-template #noEntries>
  <app-no-content-message [icon]="'apps'" [firstLine]="'There are no applications'" [secondLine]="{
  text: ''
}"></app-no-content-message>
</ng-template>
<app-list class="app-wall" [noEntries]="noEntries" [noEntriesForCurrentFilter]="noEntriesForCurrentFilter" *ngIf="!!(cloudFoundryService.hasRegisteredCFEndpoints$ | async) && !!(cloudFoundryService.hasConnectedCFEndpoints$ | async)">
</app-list>