$cf-events-paginator-spacing: $console-unit-space * 0.5;
$cf-detail-spacing: 4px;
$cf-pagination-icon-size: 16px;

table.cf-events-table tr {

  &.cf-event-row {
    &:hover {
      cursor: pointer;
      background-color: $select-input-selected-bg;
      color: $select-input-selected-fg;
    }
  }

  th.cf-events-col-timestamp {
    min-width: 90px;
  }

  th.cf-events-col-actor-name {
    min-width: 110px;
  }

  .cf-event-detail-item {
    display: flex;
    flex-direction: row;
    margin-bottom: $cf-detail-spacing;

    .cf-event-field {
      display: inline-block;
      padding: $cf-detail-spacing;
      min-width: 120px;
      font-size: $font-size-small;
      font-weight: $console-font-weight-semibold;
    }

    .cf-event-value {
      padding: $cf-detail-spacing;
      font-size: $font-size-small;
      word-break: break-all;
    }
  }
  .cf-event-timestamp {
    white-space: nowrap;
  }

  .cf-event-type-part {
    margin-bottom: $cf-detail-spacing;
  }

  .cf-event-actor-type {
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: normal;
  }
}

.cf-events-paginator {
  display: flex;
  align-items: center;
  padding: $cf-detail-spacing;

  .cf-events-total {
    flex: 0;
    min-width: 120px;
    text-align: left;
    font-size: $font-size-large;
    font-weight: 600;
  }

  .cf-events-spacer {
    flex: 1 1 0;
  }

  nav > ul.pagination {
    margin: 0;
    vertical-align: middle;

    .cf-page-button-icon {
      padding: $cf-events-paginator-spacing * 0.5 $cf-events-paginator-spacing;

      > i {
        vertical-align: middle;
        margin-top: -1px;
        font-size: $cf-pagination-icon-size;
      }
    }
  }

  select-input {
    margin-left: $cf-events-paginator-spacing;
    flex: 0;
    display: flex;
    position: relative;
    border: 1px solid $rule;
    font-size: $font-size-base;
    height: 33px;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;

    .dropdown-menu {
      max-height: 500px;
    }
  }
}

div.cf-event-table-loading {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: $console-unit-space;
  z-index: 1;
}

table.cf-event-table-loading {
  opacity: 0.5;
}

.cf-events-detail-dialog {
  .modal-dialog {
    max-width: 50%;
  }

  .cf-event-detail-content {
    min-width: 480px;
    margin: 0 $console-unit-space;
    
    pre {
      white-space: pre-wrap;
    }
  }
}