.about-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 0;
  &__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 640px;
    text-align: left;
  }
  &__version {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
  }
  &__card {
    margin-bottom: 24px;
    z-index: 1;
  }
}
