.about-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 0;
  &__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 640px;
    text-align: left;
  }
  &__version {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
  }
  &__eula {
    align-items: center;
    display: flex;
    flex-direction: row;
    div {
      flex: 1;
      font-weight: 500;
    }
  }
  &__admin-card {
    border-left-style: solid;
    border-left-width: 4px;
  }
  &__admin {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  &__admin-text {
    flex: 1;
  }
  &__warning-icon {
    margin-right: 8px;
  }
}

// Cards on the about page should have spacing below each card
.mat-card {
  margin-bottom: 24px;
  z-index: 1;
}
