<app-page-header>About</app-page-header>
<div class="about-page__underflow">
</div>
<mat-card class="about-page__card">
  <app-stratos-title></app-stratos-title>
  <div class="about-page">
    <div class="about-page__version">{{ (versionNumber$ | async) }}</div>
    <div class="about-page__title">Stratos provides an easy-to-use web-based UI that allows developers and administrators to manage their applications and Cloud Foundry deployments</div>
  </div>
</mat-card>
<mat-card *ngIf="(sessionData$ | async) as session">
  <app-metadata-item icon="web_asset" label="Stratos Version">{{ session.version.proxy_version }}</app-metadata-item>
  <app-metadata-item icon="storage" label="Database Version">{{ session.version.database_version }}</app-metadata-item>
  <app-metadata-item icon="person" label="User">{{ session.user.name }}</app-metadata-item>
</mat-card>
