
// Default ansi color palette
$ansi-color-palette: (
  'default-foreground': (
    normal: #CCCCCC,
    intense: #F6F6F6
  ),
  'default-background': (
    normal: #333333,
  ),
  'black': (
    normal: #333333,
    intense: #767676
  ),
  'red': (
    normal: #AE202A,
    intense: #FF454F
  ),
  'green': (
    normal: #01A982,
    intense: #69CFB4
  ),
  'yellow': (
    normal: #BF9C32,
    intense: #FFD042
  ),
  'blue': (
    normal: #638FB0,
    intense: #50A6E6
  ),
  'magenta': (
    normal: #982FB3,
    intense: #9E51B3
  ),
  'cyan': (
    normal: #268F88,
    intense: #668F89
  ),
  'white': (
    normal: #CCCCCC,
    intense: #F6F6F6
  )
);
