$material-icons-font-path: 'assets/fonts/iconfont' !default;

// See: https://google.github.io/material-design-icons/#icon-font-for-the-web

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('#{$material-icons-font-path}/MaterialIcons-Regular.eot'); // For IE6-8
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('#{$material-icons-font-path}/MaterialIcons-Regular.woff2') format('woff2'),
    url('#{$material-icons-font-path}/MaterialIcons-Regular.woff') format('woff'),
    url('#{$material-icons-font-path}/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  // Support for all WebKit browsers.
  -webkit-font-smoothing: antialiased;
  // Support for Firefox.
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  direction: ltr;
  font-family: 'Material Icons';
  // Support for IE.
  font-feature-settings: 'liga';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  // Preferred icon size
  line-height: 1;
  letter-spacing: normal;
  // Support for Safari and Chrome.
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
}
