@mixin breakpoint($point) {
  @if $point==desktop {
    @media (min-width: 1800px) {
      @content ;
    }
  }
  @else if $point==laptop {
    @media (min-width: 1200px) {
      @content ;
    }
  }
  @else if $point==tablet {
    @media (min-width: 900px) {
      @content ;
    }
  }
  @else if $point==phablet {
    @media (min-width: 600px) {
      @content ;
    }
  }
  @else if $point==mobileonly {
    @media (max-width: 599px) {
      @content ;
    }
  }
}
