@import 'cluster-tile/cluster-tile';

.cluster-tiles {
  .clusters-card {
    min-height: 250px;
  }

  .flyout-content-thin {
    .flyout-content {
      width: 564px;
      min-width: 564px;
      max-width: 564px;
    }
  }
}

