@import '@angular/material/theming';
@mixin app-boolean-indicator-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $status: map-get($app-theme, status);
  $tentative: map-get($status, tentative);
  .boolean-indicator {
    &__container {
      &__icon-true {
        color: map-get($status, success);
        &.boolean-indicator__container__icon-subtle {
          color: mat-color($primary);
        }
      }
      &__icon-false {
        color: map-get($status, danger);
        &.boolean-indicator__container__icon-subtle {
          color: $tentative;
        }
      }
      &__icon-unknown {
        color: $tentative;
      }
    }
  }
}
