@mixin metrics-component-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $tree-background-color:  mat-color($background, background);

  // Last item uses background color to overwrisr the side bar to make it appear
  // like its the last item in th tree
  .tree li:last-child:before {
    background-color: $tree-background-color;
  }  

  .metrics-tree__root {
    background-color: mat-contrast($primary, 300);
  }
}
