@import '../../../../sass/mixins';

.metrics {
  &-url {
    font-size: 14px;
  }
  &-endpoint {
    padding-bottom: 24px;
  }
  &-info {
    display: flex;
    mat-icon {
      font-size: 48px;
      height: 48px;
      margin-right: 8px;
      width: 48px;
    }
  }
  &-metadata {
    width: 100%;
    div {
      padding: 4px 0;
    }
    .metrics-extra {
      padding: 0;
    }
  }
  &-provision {
    margin-top: 24px;
  }
  &-metadata__cols {
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
      flex-direction: row;
    }
  }
  &-metadata__two-cols {
    flex: 1;
    app-metadata-item:first-child {
      margin-top: 0;
    }
  }
}

