<mat-card class="metrics-range-parent-selector metrics-range-parent-selector_card">
  <div>
    <div class="metrics-range-parent-selector__dropdown-wrapper">
      <mat-form-field>
        <mat-select [(value)]="rangeSelectorManager.selectedTimeRange">
          <mat-option *ngFor="let time of rangeSelectorManager.times" [value]="time">
            {{time.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="metrics-range-parent-selector__selected-range" *ngIf="rangeSelectorManager.selectedTimeRange && rangeSelectorManager.selectedTimeRange.queryType === rangeTypes.RANGE_QUERY">
        <div class="metrics-range-parent-selector__selected-range-dates" *ngIf="rangeSelectorManager.committedStartEnd[0] && rangeSelectorManager.committedStartEnd[1] ; else noDatesSelected">
          <div class="metrics-range-parent-selector__selected-range-date">{{ rangeSelectorManager.committedStartEnd[0] |
            amDateFormat:'Do MMM YYYY,
            HH:mm' }}
          </div>
          <div class="metrics-range-parent-selector__selected-range-to">to</div>
          <div class="metrics-range-parent-selector__selected-range-date"> {{ rangeSelectorManager.committedStartEnd[1] |
            amDateFormat:'Do MMM YYYY,
            HH:mm' }}
          </div>
        </div>
        <ng-template #noDatesSelected class="metrics-range-parent-selector__selected-range-date">No date range set</ng-template>
      </div>
    </div>

    <div *ngIf="rangeSelectorManager.selectedTimeRange && rangeSelectorManager.selectedTimeRange.queryType === rangeTypes.RANGE_QUERY"
      class="metrics-range-parent-selector__date-range">
      <app-start-end-date (isValid)="rangeSelectorManager.dateValid = $event" [(start)]="rangeSelectorManager.start" [(end)]="rangeSelectorManager.end"></app-start-end-date>
      <div class="metrics-range-parent-selector__date-range-buttons">
        <button mat-raised-button color="primary" class="metrics-range-parent-selector__date-set" (click)="rangeSelectorManager.commit()"
          [disabled]="!rangeSelectorManager.dateValid || !rangeSelectorManager.commit">Set</button>
      </div>
    </div>
  </div>
</mat-card>

<div class="metrics-range-parent-selector__charts">
  <ng-content select="app-metrics-chart"></ng-content>
</div>