.connection-dialog {
  $dialog-padding: 24px;
  width: 400px;
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__loading {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    &-wrapper {
      margin: 0 -24px;
      position: relative;
      transform: translateY(-24px);
    }
  }
  &__actions {
    justify-content: flex-end;
  }
  &__auth {
    display: flex;
    flex-direction: column;
  }
  &__shared {
    padding-bottom: 24px;
  }
}

app-connect-endpoint-dialog {
  position: relative;
}
