.git-details {
  display: flex;
  flex-direction: column;

  &__line {
    align-items: center;
    display: flex;
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 8px;

    img {
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
  }
}
