$checkbox-margin: 30px;

:host {
  flex: 1;
}

app-checkbox {
  padding-top: $checkbox-margin;
}

form.stepper-form {
  max-width: unset;
  .custom-form-field,
  app-checkbox {
    max-width: 450px;
  }
  P {
    max-width: unset;
  }
}

.edit-endpoint {
  &__section {
    margin-top: $checkbox-margin;
  }
  &__sso {
    margin-top: $checkbox-margin;
  }
  &__advanced {
    display: flex;
    flex-direction: column;
    height: 0;
    margin-left: 24px;
    overflow: hidden;
  }
  &__cacert-title {
    margin: 10px 0;
    display: block;
  }
  &__cacert {
    line-break: anywhere;
    max-width: 580px;
    resize: vertical;

    &:focus {
      outline: none;
      border-color: var(--input-focus-border);
      box-shadow: 0 0 0 1px var(--input-focus-border);
    }
  }
  &__shown {
    height: auto;
  }
}
