.sub-nav-menu-button {
  border: 1px solid #777;
  border-radius: 5px;
  margin-left: 20px;
  width: 200px;

  &__btn {
    line-height: 28px;
    padding: 0 8px 0 12px;
    width: 100%;

    .mat-button-wrapper {
      display: flex;
      justify-content: flex-start;
    }
  }
  &__label {
    flex: 1;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__arrow {
    margin: 0;
    margin-Left: 10px;
  }
  &__not-allowed {
    opacity: 0.5
  }
}

.menu {
  max-height: 400px;
  width: 180px;
}
