<app-page-header [endpointIds$]="cfIds$">
  <h1>Services</h1>
  <div class="page-header-right">
    <ng-container *appUserPermission="canCreateServiceInstance">
     <button mat-icon-button [routerLink]="'/services/new/'">
      <mat-icon>add</mat-icon>
    </button>
    </ng-container>
  </div>
</app-page-header>

<ng-template #noEntriesForCurrentFilter>
  <app-no-content-message [icon]="'apps'" [firstLine]="'There are no services for the current filter'" [secondLine]="{
  text: ''
}"></app-no-content-message>
</ng-template>

<ng-template #noEntries>
  <app-no-content-message [icon]="'apps'" [firstLine]="'There are no services'" [secondLine]="{
  text: ''
}"></app-no-content-message>
</ng-template>

<app-list [noEntries]="noEntries" [noEntriesForCurrentFilter]="noEntriesForCurrentFilter" *ngIf="!!(cloudFoundryService.hasRegisteredCFEndpoints$ | async) && !!(cloudFoundryService.hasConnectedCFEndpoints$ | async)"></app-list>
