.stratos-initial-load-spinner-container {
  align-items: center;
  background-color: #0D2C40;
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.stratos-initial-load-spinner-logo {
  position: absolute;
  height: 60px;
}

.stratos-initial-load-spinner {
  animation: stratos-initial-load-animate 1s infinite linear;
  box-sizing: border-box;
  border: 5px solid rgba(86, 107, 121, 0.45);
  border-radius: 50%;
  border-top-color: #00B2E2;
  display: inline-block;
  height: 128px;
  margin: 0 auto;
  width: 128px;
}

@keyframes stratos-initial-load-animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
