.app-delete {
  &__step-table {
    width: 100%;
  }
  &__monitors {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__monitor {
    margin-bottom: 15px;
    max-width: 60%;
  }
}
