<a ng-if="pageFooterCtrl.mode !== 'footer' && !!pageFooterCtrl.OEM_CONFIG.ABOUT_PRODUCT_FAMILY_LOGO_HREF" rel="noopener noreferrer" ng-href="{{ pageFooterCtrl.OEM_CONFIG.PRODUCT_FAMILY_HREF | translate}}" target="_blank"><img class="helion-logo" ng-src="{{ pageFooterCtrl.OEM_CONFIG.ABOUT_PRODUCT_FAMILY_LOGO_HREF }}"/></a>
<a ng-if="pageFooterCtrl.mode !== 'footer'" rel="noopener noreferrer" ng-href="{{ pageFooterCtrl.OEM_CONFIG.COMPANY_HREF | translate}}" target="_blank"><img class="hpe-logo" ng-src="{{ pageFooterCtrl.OEM_CONFIG.ABOUT_COMPANY_LOGO_HREF }}"/></a>
<div class="copyright">
  <span ng-if="mode !== 'footer'" class="product-name font-semi-bold">
    {{ pageFooterCtrl.OEM_CONFIG.PRODUCT_NAME }} {{ pageFooterCtrl.OEM_CONFIG.PRODUCT_VERSION }}
  <span class="secondary">
    <span ng-if="mode !== 'footer'">&copy; 2016 {{ pageFooterCtrl.OEM_CONFIG.COMPANY_NAME }}
  </span>
</div>

<ul class="links">
  <li ng-if="pageFooterCtrl.OEM_CONFIG.TERMS_OF_USE_HREF"><a rel="noopener noreferrer" target="_blank" href="{{ pageFooterCtrl.OEM_CONFIG.TERMS_OF_USE_HREF | translate }}" translate>{{ pageFooterCtrl.OEM_CONFIG.TERMS_OF_USE }}</a></li>
  <li ng-if="pageFooterCtrl.OEM_CONFIG.PRIVACY_HREF" ><a rel="noopener noreferrer" target="_blank" href="{{ pageFooterCtrl.OEM_CONFIG.PRIVACY_HREF | translate }}" translate>{{ pageFooterCtrl.OEM_CONFIG.PRIVACY }}</a></li>
</ul>
