page-footer, [page-footer] {
  display: block;
  flex-shrink: 0;
  position: relative;
  height: $page-footer-height;
  color: $page-footer-color-fg;
  background: $page-footer-color-bg;
  font-size: 16px;

  &.login-footer {
    background-color: transparent;

    .copyright {
      left: 24px;
      width: auto;

      .secondary {
        color: $gray-darker;
      }
    }

    .links {
      left: 24px;
      bottom: 16px;
      padding: 0;

      li a {
        color: $gray-darker;
      }

      li:first-child {
        margin-left: 0;
      }
    }
  }

  .copyright {
    position: absolute;
    left: 40px;
    bottom: 40px;
    line-height: 1;
    width: 50%;

    .secondary {
      color: #ccc;
    }
  }

  .helion-logo {
    position: absolute;
    top: 34px;
    left: 40px;
  }

  .hpe-logo {
    position: absolute;
    top: 34px;
    right: 40px;
  }

  .links {
    position: absolute;
    right: 40px;
    bottom: 40px;
    margin: 0;
    line-height: 1;

    li {
      display: inline-block;
      margin-left: 12px;

    a {
        cursor: pointer;
        color: #ccc;
      }
    }
  }

  &.bleeding {
    margin-left: -15px;
    margin-right: -15px;

    .copyright {
      left: 15px + 40px;
    }

    .helion-logo {
      left: 15px + 40px;
    }

    .hpe-logo {
      right: 15px + 40px;
    }

    .links {
      right: 15px + 40px;
    }
  }
}

@media(max-width: 480px) {

  page-footer.bleeding {

    > a {
      img.helion-logo {
        left: 8px;
      } 
      img.hpe-logo {
        right: 8px;
      }
    }

    div.copyright {
      left: 8px;
      bottom: 48px;
      width: 80%;
      margin: 0;
      padding: 0;

      .secondary {
        display: none;
      }
    }

    ul.links {
      left: 8px;
      bottom: 20px;
      padding: 0;
      margin: 0;

      > li:first-child {
        margin: 0;
      }
    }
  }
}

@media(max-width: 360px) {

  page-footer.bleeding {

    > a {
      img.helion-logo {
        display: none;
      } 
      img.hpe-logo {
        left: 8px;
      }
    }
  }
}
