<a ng-if="mode !== 'footer'" rel="noopener noreferrer" ng-href="{{ 'http://www.hpe.com/us/en/solutions/cloud.html' | translate}}" target="_blank"><img class="helion-logo" src="/images/Helionlogo.png"/></a>
<a ng-if="mode !== 'footer'" rel="noopener noreferrer" ng-href="{{ 'https://www.hpe.com/us/en/home.html' | translate}}" target="_blank"><img class="hpe-logo" src="/images/HPElogo.png"/></a>
<div class="copyright">
  <span ng-if="mode !== 'footer'" class="font-semi-bold">
    {{ PRODUCT_STRINGS.HELION_STACKATO }} {{ PRODUCT_STRINGS.PRODUCT_VERSION }}
  <span class="secondary">
    <span ng-if="mode !== 'footer'"> | </span>&copy; 2016 {{ PRODUCT_STRINGS.COMPANY }}
  </span>
</div>

<ul class="links">
  <li><a rel="noopener noreferrer" target="_blank" href="{{ PRODUCT_STRINGS.TERMS_OF_USE_HREF | translate }}" translate>{{ PRODUCT_STRINGS.TERMS_OF_USE }}</a></li>
  <li><a rel="noopener noreferrer" target="_blank" href="{{ PRODUCT_STRINGS.PRIVACY_HREF | translate }}" translate>{{ PRODUCT_STRINGS.PRIVACY }}</a></li>
</ul>
