<a ng-if="pageFooterCtrl.mode !== 'footer'" rel="noopener noreferrer" translate-href="product.www-link" target="_blank"><img class="helion-logo" translate-img="product.logo"/></a>
<a ng-if="pageFooterCtrl.mode !== 'footer'" rel="noopener noreferrer" translate-href="company.www-link" target="_blank"><img class="hpe-logo" translate-img="company.about-logo"/></a>
<div class="copyright">
  <span ng-if="mode !== 'footer'" class="product-name font-semi-bold">
    <span translate>footer.title</span>
  <span class="secondary">
    <span ng-if="mode !== 'footer'" translate>footer.copyright</span>
  </span>
</div>

<ul class="links">
  <li><a rel="noopener noreferrer" target="_blank" translate-href="company.terms-href" translate>terms</a></li>
  <li><a rel="noopener noreferrer" target="_blank" translate-href="company.privacy-href" translate>privacy</a></li>
</ul>
