<app-meta-card [ngClass]="{'fav-meta-card__clickable': !!config.routerLink}" [routerLink]="config.routerLink" class="fav-meta-card"
  *ngIf="config" [status$]="status$" [entityConfig]="entityConfig">
  <app-meta-card-title>
    <div>
      <div class="fav-meta-card__type">{{ config.prettyType }}</div>
      <h2 *ngIf="!compact">{{ config.name }}</h2>
      <h3 *ngIf="compact">{{ config.name }}</h3>
    </div>
  </app-meta-card-title>
  <app-meta-card-item *ngFor="let line of config.lines">
    <app-meta-card-key>{{ line[0] }}</app-meta-card-key>
    <app-meta-card-value>{{ line[1] | async }} </app-meta-card-value>
  </app-meta-card-item>
</app-meta-card>

<div class="fav-meta-card__unfound fav-meta-card" *ngIf="!config">
  <div class="fav-meta-card__unfound-text">Favorite not found</div>
  <small class="fav-meta-card__unfound-small-text">No matching {{favorite.entityType}}</small>
  <button mat-flat-button color="primary" (click)="removeFavorite()">Remove favorite</button>
</div>