<app-meta-card class="app-service-card" *ngIf="config" class="app-service-card" [status$]="status$">
  <app-meta-card-title>
    <div class="app-service-card__title">
      <div class="fav-meta-card__type">{{ config.prettyType }}</div>
      <h2 *ngIf="!compact">{{ config.name }}</h2>
      <h3 *ngIf="compact">{{ config.name }}</h3>
    </div>
  </app-meta-card-title>
  <app-meta-card-item *ngFor="let line of config.lines">
    <app-meta-card-key>{{ line[0] }}</app-meta-card-key>
    <app-meta-card-value>{{ line[1] }} </app-meta-card-value>
  </app-meta-card-item>
</app-meta-card>