credentials-form, [credentials-form] {
  @include flex-centered();

  .credentials-form {
    max-width: 350px;

    h2 {
      margin-top: $console-unit-space * 2.5;
    }

    form {
      margin-top: $console-unit-space;

      .form-group {
        width: 100%;
      }
    }
  }

  .alert {
    margin-top: $console-unit-space;
  }

  .credentials-form-spinner {
    @include flex-align(flex-end, center);
    margin-top: 10px;

    .registration-notification {
      margin-right: 20px;
      text-transform: uppercase;
    }
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: $console-unit-space;

    button:not(:first-child) {
      margin-left: $console-unit-space / 4;
    }
  }
}
