@import '../../../../sass/mixins';

.metrics-range-selector {
  $animation-function: cubic-bezier(0, 0, .2, 1);
  $animation-time: 250ms;
  display: flex;

  &__overlay {
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: visibility 0s linear $animation-time, background-color $animation-time $animation-function;
    visibility: hidden;
    z-index: 1;

    &-buttons {
      margin-top: 10px;
    }

    &-click {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-show {
      transition-delay: 0s;
      visibility: visible;

      .metrics-range-selector__overlay-inner {
        transform: translateY(0);
      }
    }

    &-inner {
      padding: 50px;
      position: relative;
      transform: translateY(-100%);
      transition: transform $animation-time $animation-function;
      z-index: 2;
    }

    &-set {
      margin-right: 10px;
    }

    &-overflow {
      overflow: hidden;
    }
  }

  &__selected-range {
    align-items: center;
    display: flex;
    margin-left: 10px;
  }

  &__selected-range-dates {
    display: none;
    font-size: 14px;
    opacity: .6;
    padding-left: 10px;

    @include breakpoint(tablet) {
      display: flex;
    }
  }

  &__selected-range-date {
    font-weight: bold;
  }

  &__selected-range-to {
    padding: 0 10px;
  }

  &__selected-range-edit {
    cursor: pointer;
    margin-left: 10px;
  }
}
