<app-meta-card class="cf-org-usage">
  <app-meta-card-title>Usage</app-meta-card-title>
  <app-meta-card-item>
    <app-meta-card-key>Applications</app-meta-card-key>
    <app-meta-card-value>{{ (cfOrganizationService.apps$ | async)?.length }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Application Instances</app-meta-card-key>
    <app-meta-card-value>{{ (cfOrganizationService.appInstances$ | async) }} / {{ (cfOrganizationService.quotaDefinition$ | async)?.app_instance_limit | infinityPipe}}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Service Instances</app-meta-card-key>
    <app-meta-card-value>{{ (cfOrganizationService.serviceInstances$ | async)?.length }} / {{ (cfOrganizationService.quotaDefinition$ | async)?.total_services | infinityPipe }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Routes</app-meta-card-key>
    <app-meta-card-value>{{ (cfOrganizationService.routes$ | async)?.length }}/ {{ (cfOrganizationService.quotaDefinition$ | async)?.total_routes | infinityPipe }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Private Domains</app-meta-card-key>
    <app-meta-card-value>{{ (cfOrganizationService.privateDomains$ | async)?.length }} / {{ (cfOrganizationService.quotaDefinition$ | async)?.total_private_domains | infinityPipe}}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Memory Usage</app-meta-card-key>
    <app-meta-card-value>{{ (cfOrganizationService.totalMem$ | async) | MbToHumanSize}} / {{ (cfOrganizationService.quotaDefinition$ | async)?.memory_limit | MbToHumanSize }}</app-meta-card-value>
  </app-meta-card-item>
</app-meta-card>
