<ngx-graph
  class="chart-container"
  (zoomChange)="onZoomChanged($event)"
  [links]="links"
  [nodes]="nodes"
  [update$]="update$"
>
<ng-template #nodeTemplate let-node>
  <svg:g class="node">
    <svg:rect
      [attr.width]="node.dimension.width"
      [attr.height]="node.dimension.height"
      [attr.fill]="node.data.fill"
    />
    <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
      {{node.label}}
    </svg:text>
  </svg:g>
</ng-template>
</ngx-graph>
