
.service-catalogue-card {
  display: flex;
  flex-direction: row;
  &__meta {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 25px;
  }
  &__icon {
    flex: none;
  }
  &__bold-text {

  }
  &__meta-split {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
  &__meta-left {
    text-transform: uppercase;
    font-weight: bold;
  }
  &__meta-right {
    @media (min-width: 901px) {
      text-align: right;
      margin-left: 10px;
      margin-top: 0;
    }
    margin-top: 5px;
  }
  &__outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 5px;
  }
  &__env {
    padding-top: 10px;
  }
  &__tag {
    border: 1px solid $default-border;
    padding: 2px 6px;
    border-radius: 4px;
    margin-bottom: 2px;
    display: inline-block;
  }
}
.services-gallery-card {
  height: 100%;
  display: block;
  position: relative;
  padding-bottom: 20px;
  .panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
    &-body {
      flex: 1;
    }
  }
  &__container.cluster-gallery-card-container {
    width: auto;
    margin: 0 -10px;
  }
}
