service-card {
  .service-card {
    display: flex;
    width: 100%;
    min-height: $console-unit-space * 5;

    .service-icon {
      display: block;
      padding: 0;
      padding-right: $console-unit-space;

      img {
        max-height: $console-unit-space * 4;
        max-width: $console-unit-space * 4;
      }
    }

    .service-block {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      .service-title {
        display: flex;
        .service-text {
          display: flex;
          flex: 1 1 0px;

          h4 {
            margin-top: 0;
          }
        }

        .service-metadata {
          display: flex;
          padding: 0 $console-unit-space 0 $console-unit-space;
          flex: none;
          width: 35%;

          dl {
            margin: 0;
            dt {
              display: inline-block;
              text-transform: uppercase;
              margin-right: $console-unit-space;

              &:not(:first-of-type) {
                margin-top: $console-unit-space / 2;
              }
            }
            dd {
              display: inline-block;
            }
          }
        }

        @media (max-width: 640px) {
          .service-metadata {
            display: none;
          }
        }

        .service-actions-menu {
          text-align: right;
          width:  $console-unit-space * 2;
          flex: none;

          .actions-menu {
            &.open {
              .actions-menu-icon {
                color: $brand-primary;
              }

              .actions-menu-list {
                margin-top: -$console-unit-space / 2;
              }
            }

            .actions-menu-icon {
              font-weight: $console-font-weight-semibold;
              line-height: $console-unit-space;
              font-size: 1.75em;
            }
          }
        }

      }

      .service-description {
        flex-grow: 1;
        padding-right: $console-unit-space * 2;
      }

      .service-action-block {
        display: flex;

        .service-attached-msg {
          flex: 1 1 0px;
          margin: auto 0;
        }

        .service-attached:before {
          @extend .material-icons;
          content: 'attachment';
          margin-right: $console-unit-space / 4;
          vertical-align: bottom;
        }

        .service-added:after {
          @extend .material-icons;
          content: 'attachment';
          margin-left: $console-unit-space / 4;
        }
      }

      .service-actions {
        text-align: right;

        .btn-link {
          margin-top: auto;
          padding-right: 0;
          display: flex;
          align-items: center;

          &:hover,
          &:focus,
          &:active {
            text-decoration: none;
            outline: 0;

            .add-icon {
              border-color: $link-hover-color;
            }
          }

          .add-icon {
            font-size: 20px;
            margin-left: $console-unit-space / 4;
          }
        }
      }
    }
  }
}
