
.service-catalogue-card {
  display: flex;
  flex-direction: row;
  &__meta {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 25px;
  }
  &__icon {
    flex: none;
  }
  &__bold-text {

  }
  &__meta-split {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__meta-left {
    text-transform: uppercase;
  }
  &__meta-right {
  }
}
