<b>Select a Cloud Foundry instance, organization and space for the app.</b>
<form #cfForm="ngForm" class="stepper-form">
  <mat-form-field>
    <mat-select #cfSelect="ngModel" [ngModel]="cfOrgSpaceService.cf.select.getValue()" (change)="cfOrgSpaceService.cf.select.next($event.value)" required placeholder="Cloud Foundry" name="cf">
      <mat-option *ngFor="let cf of cfOrgSpaceService.cf.list$ | async" [value]="cf.guid">
        <span>{{ cf.name }}</span>
      </mat-option>
      <!-- Copied from original version of these widgets.. doesn't seem to work -->
      <app-stateful-icon *ngIf="(cfOrgSpaceService.cf.loading$ | async)" [state]="'busy'"></app-stateful-icon>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select #orgSelect="ngModel" [ngModel]="cfOrgSpaceService.org.select.getValue()" (change)="cfOrgSpaceService.org.select.next($event.value)" [disabled]="!cfOrgSpaceService.cf.select.getValue()" required placeholder="Organization" name="org">
      <mat-option *ngFor="let org of cfOrgSpaceService.org.list$ | async" [value]="org.guid">
        <span>{{ org.name }}</span>
      </mat-option>
      <!-- Copied from original version of these widgets.. doesn't seem to work -->
      <app-stateful-icon *ngIf="(cfOrgSpaceService.org.loading$ | async)" [state]="'busy'"></app-stateful-icon>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select #spaceSelect="ngModel" [ngModel]="cfOrgSpaceService.space.select.getValue()" (change)="cfOrgSpaceService.space.select.next($event.value)" [disabled]="!cfOrgSpaceService.org.select.getValue()" required placeholder="Space" name="space">
      <mat-option *ngFor="let space of cfOrgSpaceService.space.list$ | async" [value]="space.guid">
        <span>{{ space.name }}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
