  .summary {
    &__cards {
      display: flex;
      $summary-card-spacing: 20px;
      flex-wrap: wrap;
      margin: auto;
    }
    &__card {
      width: 100%;
    }

    &__large {
      font-size: 16px;
      font-weight: 500;
    }
  }
