app-toolbar {
  width: 100%;
  display: flex;
  align-items: center;

  > actions-menu {
    flex: 0;
    height: $app-toolbar-height;

    .actions-menu {
      > i.actions-menu-icon {
        font-size: $app-toolbar-menu-gripper-size;
      }

      &.open > i.actions-menu-icon {
        color: $app-toolbar-menu-hover-color;
      }
    }

    // Max of 16 toolbar items
    @for $i from 1 through 16 {
      &.app-toolbar-menu-hide-#{$i} {
        ul > li:nth-of-type(-1n+#{$i}) {
          display: none;
        }
      }
    }
  }

  .app-toolbar {
    align-items: center;
    overflow: hidden;
    flex: 1;
    height: $app-toolbar-height;
    text-align: right;

    > button.btn {
      outline: 0;
      padding: $app-toolbar-spacing $app-toolbar-spacing * 2;
      display: inline-block;

      &:hover {
        background-color: $app-toolbar-hover-bg;
      }

      &:focus {
        outline: 0;
      }

      > app-icon {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;

        > svg {
          width: $app-toolbar-icon-svg-size;
          height: $app-toolbar-icon-svg-size;
        }

        > i.material-icons {
          font-size: $app-toolbar-icon-icon-size;
        }
      }

      > span {
        font-size: $app-toolbar-icon-label-size;
        text-transform: none;
        margin-left: $app-toolbar-spacing;
        display: inline-block;
      }
    }
  }
}