<gallery-card class="cluster-gallery-card space-summary-tile"
              card-data="spaceSummaryTileCtrl.cardData"
              card-actions="spaceSummaryTileCtrl.actions"
              card-actions-position="actions-menu-right">
  <div class="col-md-5" ng-if="spaceSummaryTileCtrl.spaceDetail().details">
    <dl class="dl-horizontal">
      <dt translate>space-info.summary.label.apps</dt>
      <dd>{{ spaceSummaryTileCtrl.spaceDetail().details.totalApps }}</dd>
      <dt translate>space-info.summary.label.instances</dt>
      <dd>{{ spaceSummaryTileCtrl.spaceDetail().details.totalAppInstances }} / {{ spaceSummaryTileCtrl.spaceDetail().details.appInstancesQuota | infinityFilter }}</dd>
      <dt translate>space-info.summary.label.services</dt>
      <dd>{{ spaceSummaryTileCtrl.spaceDetail().details.totalServices }} / {{ spaceSummaryTileCtrl.spaceDetail().details.servicesQuota | infinityFilter }}</dd>
      <dt translate>space-info.summary.label.routes</dt>
      <dd>{{ spaceSummaryTileCtrl.spaceDetail().details.totalRoutes }} / {{ spaceSummaryTileCtrl.spaceDetail().details.routesQuota | infinityFilter }}</dd>
      <!--<dt ng-if="spaceSummaryTileCtrl.spaceDetail()" translate>DISK</dt>-->
      <!--<dd ng-if="spaceSummaryTileCtrl.spaceDetail()" >{{'1'}}</dd>-->
      <dt translate>space-info.summary.label.memory</dt>
      <dd>{{ spaceSummaryTileCtrl.memory }}</dd>
      <dt translate>space-info.summary.label.ssh</dt>
      <dd>{{ spaceSummaryTileCtrl.spaceDetail().details.space.entity.allow_ssh || 'false' }}</dd>

    </dl>
  </div>
  <div class="col-md-7" ng-if="spaceSummaryTileCtrl.spaceDetail().details && spaceSummaryTileCtrl.userServiceInstance.serviceInstances[spaceSummaryTileCtrl.clusterGuid].api_endpoint">
    <dl class="dl-horizontal">
      <dt translate>space-info.summary.label.orgRole</dt>
      <dd>{{ spaceSummaryTileCtrl.roles.join(', ') }}</dd>
      <dt translate>space-info.summary.label.address</dt>
      <dd>{{ spaceSummaryTileCtrl.getEndpoint() }}</dd>
      <dt translate>space-info.summary.label.cli</dt>
      <dd><a ng-click="spaceSummaryTileCtrl.showCliCommands()" class="btn btn-link" translate>cf.cli-common.button-text</a></dd>
      <dt translate>space-info.summary.label.username</dt>
      <dd>{{ spaceSummaryTileCtrl.userName }}</dd>
      <dt translate>space-info.summary.label.status</dt>
      <dd translate>{{ spaceSummaryTileCtrl.isAdmin ? 'roles.cf-admin' : 'roles.cf-user' }}</dd>
    </dl>
  </div>
</gallery-card>

