<gallery-card class="cluster-gallery-card space-summary-tile"
              card-data="spaceSummaryTileCtrl.cardData"
              card-actions="spaceSummaryTileCtrl.actions"
              card-actions-position="actions-menu-right">
  <div class="col-md-5" ng-if="spaceSummaryTileCtrl.spaceDetail().details">
    <dl class="dl-horizontal">
      <dt translate>cf.space-info.summary.label.apps</dt>
      <dd>{{ spaceSummaryTileCtrl.spaceDetail().details.totalApps }}</dd>
      <dt translate>cf.space-info.summary.label.instances</dt>
      <dd>{{ spaceSummaryTileCtrl.spaceDetail().details.totalAppInstances }} / {{ spaceSummaryTileCtrl.spaceDetail().details.appInstancesQuota | infinityFilter }}</dd>
      <dt translate>cf.space-info.summary.label.service-instances</dt>
      <dd>{{ spaceSummaryTileCtrl.spaceDetail().details.totalServiceInstances }} / {{ spaceSummaryTileCtrl.spaceDetail().details.servicesQuota | infinityFilter }}</dd>
      <dt translate>cf.space-info.summary.label.routes</dt>
      <dd>{{ spaceSummaryTileCtrl.spaceDetail().details.totalRoutes }} / {{ spaceSummaryTileCtrl.spaceDetail().details.routesQuota | infinityFilter }}</dd>
      <!--<dt ng-if="spaceSummaryTileCtrl.spaceDetail()" translate>DISK</dt>-->
      <!--<dd ng-if="spaceSummaryTileCtrl.spaceDetail()" >{{'1'}}</dd>-->
      <dt translate>cf.space-info.summary.label.memory</dt>
      <dd>{{ spaceSummaryTileCtrl.memory }}</dd>
      <dt translate>cf.ssh.access</dt>
      <dd ng-if="!spaceSummaryTileCtrl.hasSshAccess()">
        <status-indicator status="false"
          on-icon="check_box" off-icon="check_box_outline_blank"
          on-label="cf.ssh.available" off-label="cf.ssh.unavailable"
          off-class="console-status-normal" on-class="console-status-normal">
        </status-indicator>
      </dd>
      <dd ng-if="spaceSummaryTileCtrl.hasSshAccess()">
        <status-indicator status="spaceSummaryTileCtrl.spaceDetail().details.space.entity.allow_ssh"
          on-icon="check_box" off-icon="check_box_outline_blank"
          on-label="cf.ssh.allowed" off-label="cf.ssh.disallowed"
          off-class="console-status-normal" on-class="console-status-normal">
        </status-indicator>
      </dd>
    </dl>
  </div>
  <div class="col-md-7" ng-if="spaceSummaryTileCtrl.spaceDetail().details && spaceSummaryTileCtrl.userServiceInstance.serviceInstances[spaceSummaryTileCtrl.clusterGuid].api_endpoint">
    <dl class="dl-horizontal">
      <dt translate>cf.space-info.summary.label.orgRole</dt>
      <dd>{{ spaceSummaryTileCtrl.roles.join(', ') }}</dd>
      <dt translate>cf.space-info.summary.label.address</dt>
      <dd>{{ spaceSummaryTileCtrl.getEndpoint() }}</dd>
      <dt translate>cf.space-info.summary.label.cli</dt>
      <dd><a ng-click="spaceSummaryTileCtrl.showCliCommands()" class="btn btn-link" translate>cf.cli-common.button-text</a></dd>
      <dt translate>cf.space-info.summary.label.username</dt>
      <dd>{{ spaceSummaryTileCtrl.userName }}</dd>
      <dt translate>cf.space-info.summary.label.status</dt>
      <dd translate>{{ spaceSummaryTileCtrl.isAdmin ? 'cf.roles.role-labels.cf-admin' : 'cf.roles.role-labels.cf-user' }}</dd>
    </dl>
  </div>
</gallery-card>

