<div class="container-fluid">
  <div class="content clearfix">
    <div class="container-fluid">
      <div ng-if="errPageCtrl.error === 'notSetup'"
           class="endpoint-notification endpoint-notification-slim endpoint-notification-error panel panel-default alert">
          <svg-image class="endpoint-notification-icon" src="/svg/Info_Black.svg"></svg-image>
          <span translate>errors.needs-registration</span>
      </div>
      <div class="console-error-block console-error">
        <div ng-if="errPageCtrl.error === 'notSetup'">
          <app-icon icon="device_hub" icon-class="app-icon-3x app-icon-r90"></app-icon>
          <div class="applications-msg" translate>errors.nothing-registered</div>
          <div class="applications-cta" translate>errors.contact-admin</div>
        </div>
        <div ng-if="errPageCtrl.error === 'notConnected'">
          <app-icon icon="device_hub" icon-class="app-icon-3x app-icon-r90"></app-icon>
          <div class="applications-msg" translate>errors.nothing-connected</div>
          <div class="applications-cta" translate>errors.contact-admin</div>
        </div>
        <div ng-if="errPageCtrl.error === 'unknown'">
          <app-icon icon="cancel" icon-class="app-icon-3x app-icon-r90"></app-icon>
          <div class="applications-msg" translate>errors.unexpected</div>
          <div class="applications-cta" translate>errors.contact-admin</div>
        </div>
        <div ng-if="errPageCtrl.error === 'upgrading'">
          <app-icon icon="system_update_alt" icon-class="app-icon-3x"></app-icon>
          <div class="applications-msg" translate>errors.upgrading</div>
          <div class="applications-cta" translate>errors.upgrade-wait</div>
        </div>
      </div>
    </div>
  </div>
</div>
