@import '../app/features/dashboard/side-nav/side-nav.component.theme';
@import '../app/features/dashboard/dashboard-base/dashboard-base.component.theme';
@import '../app/features/login/login-page/login-page.component.theme';
@import '../app//shared/components/stepper/steppers/steppers.component.theme';
@mixin app-theme($theme) {
  $background-colors: map-get($theme, background);
  $foreground-colors: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);
  $app-background-color: white;
  $app-background-text-color: rgba(mat-color($foreground-colors, base), .65);
  @if $is-dark==true {
    $app-background-color: lighten(mat-color($background-colors, background), 10%);
  }
  @else {
    $app-background-color: darken(mat-color($background-colors, background), 10%);
  }
  html {
    background-color: $app-background-color;
  }
  $app-theme: ( app-background-color: $app-background-color, app-background-text-color: rgba(mat-color($foreground-colors, base), .65));
  @include login-page-theme($theme, $app-theme);
  @include side-nav-theme($theme, $app-theme);
  @include dashboard-page-theme($theme, $app-theme);
  @include steppers-theme($theme, $app-theme)
}
