// @import './suse-theme';
$dark-grey: rgb(95, 95, 95);
$middle-grey: rgb(167, 169, 172);
$light-grey: rgb(220, 221, 222);
// $blue: map-get($suse-blue, 500);

// See here for palette info: https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss