// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin suse-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent); // Use mat-color to extract individual colors from a palette as necessary.
  .steppers__header {
    .steppers__header-icon {
      background-color: mat-color($accent, 100);
    }
    &--active {
      .steppers__header-icon {
        background-color: mat-color($primary);
      }
    }
  }
}
