<div class="page-subheader" [ngClass]="{'page-subheader__tabs': !!tabs, 'page-subheader__tabs-overflowing': isOverflowing}">
  <div class="tab-nav__outer" #navOuter *ngIf="tabs">
    <button #leftButton [disabled]="disableLeft" mat-icon-button [disableRipple]="true" (mousedown)="startScroll('left', $event)" (touchstart)="startScroll('left', $event)" (mouseup)="stopScroll()" (touchend)="stopScroll()" class="tab-nav__scroll-button tab-nav__scroll-button-left">
      <mat-icon aria-label="Scroll tab navigation left">chevron_left</mat-icon>
    </button>
    <div class="tab-nav__inner" #navScroller [ngStyle]="{'margin-bottom.px': isOverflowing ? -(scrollBarWidth) : 0}">
      <nav *ngIf="tabs" #nav backgroundColor="primary" mat-tab-nav-bar class="tab-nav">
        <ng-container *ngFor="let tab of tabs">
          <a mat-tab-link *ngIf="tab.hidden ? !(tab.hidden | async) : true" class="mat-tab-fit" [routerLink]="[tab.link]" routerLinkActive="active-link" #rla="routerLinkActive" [active]="rla.isActive">
          {{tab.label}}
          </a>
        </ng-container>
      </nav>
    </div>

    <button #rightButton [disabled]="disableRight" [disableRipple]="true" (mousedown)="startScroll('right', $event)" (touchstart)="startScroll('right', $event)" (mouseup)="stopScroll()" (touchend)="stopScroll()" mat-icon-button class="tab-nav__scroll-button tab-nav__scroll-button-right">
      <mat-icon aria-label="Scroll tab navigation right">chevron_right</mat-icon>
    </button>
  </div>
  <ng-content *ngIf="!tabs"></ng-content>
</div>
