// Page sub-header
.page-subheader {
  display: flex;
  flex-direction: column;
  height: 56px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 56px;
  &__tabs {
    height: 48px;
  }
  &__tab-hidden {
    display: none;
  }
}
