// Page sub-header
.page-subheader {
  display: flex;
  flex-direction: column;
  height: 56px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 56px;
  &__tabs {
    height: 48px;
  }
  &__tab-hidden {
    display: none;
  }
}

.tab-nav {
  white-space: nowrap;
  display: inline-block;
  &__inner {
    flex: 1;
    overflow: hidden;
  }
  &__outer {
    align-items: center;
    display: flex;
  }
  &__scroll-button {
    display: none;
    flex: none;
  }
}

.page-subheader__tabs-overflowing {
  .tab-nav__scroll-button {
    display: inline-block
  }
}
