$filters-width: 175px;

.charts {
  @apply max-w-screen-xl;
  @apply mx-auto;

  &__header {
    &__title {
      @apply mt-0;
    }

    &__filters {
      @apply hidden text-xs;
    }
  }

  &__gallery {
    @apply w-full flex flex-row;

    app-list-filters {
      width: $filters-width;
      @apply flex overflow-hidden;
    }

    &__content {
      @apply flex-1 flex flex-col;
      border-left: 1px solid theme('colors.gray.300');

      app-chart-list {
        @apply flex-1 flex pt-6 pl-6;
      }

      &__topbar {
        @apply flex h-10 items-center pl-2.5;
        border-bottom: 1px solid theme('colors.gray.300');

        * {
          fill: #9ca3af;
        }

        input {
          @apply w-full h-full border-0 text-lg bg-transparent outline-none ml-1;
          @apply text-gray-800;

          &::placeholder {
            color: #9ca3af;
          }
        }
      }
    }
  }

  @media (max-width: 479px) {
    .charts__header__filters {
      @apply inline-block;
    }

    .charts__gallery {
      @apply flex-col;

      app-list-filters {
        @apply relative w-auto h-0;
        left: -100%;
        transition: left .2s ease-out;

        &.open {
          @apply h-auto left-0;
        }
      }

      &__content {
        @apply border-0;

        &__topbar {
          @apply pl-0;
        }

        app-chart-list {
          @apply pt-6 pl-0;
        }
      }
    }
  }
}
