# Maintain line endings to be LF on checkout in case system defaults convert them to CRLF
* text eol=lf

# Treat images, font and icon files as binary
*.png binary
*.woff binary
*.woff2 binary
*.tff binary
*.jpg binary
*.ico binary
