.DS_Store
.idea

deploy/ci/helion-creds.yml
deploy/ci/local-creds.yml

deploy/data/
deploy/output/
deploy/hsc-upgrade-volume/
deploy/development.rc
deploy/ci/secrets.yml
deploy/ci/images/
deploy/scf/.vagrant
