.idea
*.iml
npm-debug.log
phantomjsdriver.log
node_modules
dist
docs/src
lib
tools/test-backend/config/mock.config.json
src/index.scss
src/plugins/.plugins.scss
src/framework.scss
tools/.coverage-karma/
build/dev_config.json
tools/dev_config.json
translations/js
translations/**/*.mo
framework/examples/dist/
oem/scss
oem/tmp
tmp
out/
bower_components/
.vscode/*.rc
.nfs*
demo/*
dev-certs/*
portal-proxy
console-database.db
.vcs-migrated
vendor/
**/vendor
**/*.so
.glide
