http_client_timeout   = 10
skip_tls_verification = false
tls_address           = ":443"
tls_cert_file         = "certs/pproxy.crt"
tls_cert_key          = "certs/pproxy.key"
console_client        = "console"
console_client_secret        = ""
hcf_client            = "cf"
hcf_client_secret            = ""
uaa_endpoint          = "https://api.cnapdomain.com/oauth/token"
allowed_origins       = [ "https://localhost" ]
cookie_store_secret   = "cookiesecret"
dev                   = true

[dev_config]
skip_tls_verification = true
