@import '../../../../sass/mixins';
.event-page {
  @include breakpoint(tablet) {
    margin: 0 20%;
  }
  &__event-row-icon {
    margin-right: 15px;
  }
  &__event-row-link {
    margin-left: auto;
  }
  &__event-message {
    margin: 15px;
  }
  &__event-row-card {
    margin-bottom: 15px;
  }
}
