.kube-node-condition {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  padding-top: 20px;

  &__title {
    align-items: center;
    display: flex;
    justify-content: center;

    &__span {
      margin-left: 10px;
    }
  }
  &__indicator {
    min-width: 50px;
  }
}
