<div class="endpoints">
  <div class="action-bar app-actions-bar col-md-12 panel-less">
    <div class="applications-header font-semi-bold pull-left" translate>Endpoints</div>
  </div>

  <div id="welcome-message" class="welcome-message" ng-if="endpointsDashboardCtrl.showWelcomeMessage">
    <div class="panel panel-default">
      <div class="action-header">
        Welcome to Stackato
        <button type="button" class="close helion-icon helion-icon-Close"
                ng-click="endpointsDashboardCtrl.hideWelcomeMessage()">
        </button>
      </div>
      <div class=" panel-body">

      <span translate>
      To enable developers to use this Web console to interact with Stackato, please
      <span class="btn-link tile-btn"
            ng-click="endpointsDashboardCtrl.showClusterAddForm()">
        <span translate>register Cloud Foundry clusters</span>
      </span>
      and
      <span class="btn-link tile-btn"
            ng-click="endpointsDashboardCtrl.showClusterAddForm()">
        <span translate>Code Engine endpoints</span>
      </span>
      here. The process of registering these endpoints will make them discoverable for
      anyone who logs
      into this console. Once you register an endpoint, we recommend connecting it to your account so you can manage it.
        </span>
      </div>
    </div>
  </div>

  <service-tile service-type="hcf" class="endpoint-tile col-md-4 col-sm-1"></service-tile>
  <service-tile service-type="hce" class="endpoint-tile col-md-4 col-sm-1"></service-tile>

</div>
<flyout flyout-active="endpointsDashboardCtrl.clusterAddFlyoutActive"
        flyout-close-icon="'helion-icon helion-icon-Close'">
  <add-cluster-form on-cancel="endpointsDashboardCtrl.hideClusterAddForm()"
                    on-submit="endpointsDashboardCtrl.hideClusterAddForm()">
  </add-cluster-form>
</flyout>
