@import "dashboard/endpoints-dashboard";
@import "clusters/clusters";
@import "hce/endpoints-view";

.endpoints {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .header {
    padding: $hpe-unit-space 0px;
    position: relative;
    button {
      position: absolute;
      right: 0px;
    }
  }

  .welcome-message {
    padding: $hpe-unit-space * 0.5;
    margin-top: $hpe-unit-space * 0.5;

    > .helion-icon {
      font-size: $hpe-unit-space;
      margin-right: $hpe-unit-space * 0.5;
    }

    > span {
      vertical-align: middle;
    }
  }

  $msg-height: 50px;
  .empty-view-message {
    clear: both;
    text-align: center;
    padding: $hpe-unit-space*4 0;
    //width: 70%;
    margin: auto;

    .helion-icon{
      color: $dove-gray;
    }

    .view-msg {
      font-size: $font-size-h1;
      height: $msg-height;
      line-height: $font-size-h1;
      font-weight: $hpe-font-weight-semibold;
      color: $dove-gray;
      margin-top: $hpe-unit-space*2;

    }
    .view-cta {
      font-size: 24px;
      vertical-align: bottom;
    }

    .btn{
      padding: 0 1px;
      vertical-align: baseline;
    }
    .btn span {
      text-transform: none;
      font-size: $hpe-unit-space;
    }
  }
}

.form-group.skip-ssl-validation-checkbox {
  display: flex;

  > checkbox-input {
    display: flex;
  }
}