@import "credentials/credentials-form";
@import "dashboard/endpoints-dashboard";
@import "clusters/clusters";
@import "register/register-service";

.endpoints {

  padding: 0 $hpe-unit-space;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .header {
    padding-top: $hpe-unit-space;
    padding-bottom: $hpe-unit-space;
    position: relative;
    button {
      position: absolute;
      right: 0;
    }
  }

  .welcome-message {

    > .helion-icon {
      font-size: $hpe-unit-space;
      margin-right: $hpe-unit-space * 0.5;
    }

    > span {
      vertical-align: middle;
    }
  }

  .applications-empty {
    padding-top: 73px;
  }
  $msg-height: 50px;
}

.form-group.skip-ssl-validation-checkbox {
  display: flex;

  > checkbox-input {
    display: flex;
  }
}
