@import "credentials/credentials-form";
@import "dashboard/endpoints-dashboard";
@import "clusters/clusters";
@import "vcs/vcs";

.endpoints {

  padding: 0 $hpe-unit-space;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .header {
    padding-top: $hpe-unit-space;
    padding-bottom: $hpe-unit-space;
    position: relative;
    button {
      position: absolute;
      right: 0;
    }
  }

  .welcome-message {

    > .helion-icon {
      font-size: $hpe-unit-space;
      margin-right: $hpe-unit-space * 0.5;
    }

    > span {
      vertical-align: middle;
    }
  }

  $msg-height: 50px;
  .empty-view-message {
    clear: both;
    text-align: center;
    @include flex-align(center, center, column);
    margin: auto;
    padding-top: $hpe-unit-space*2;

    .helion-icon{
      color: $dove-gray;
    }

    .view-msg {
      font-size: $font-size-h1;
      height: $msg-height;
      line-height: $font-size-h1;
      font-weight: $hpe-font-weight-semibold;
      color: $dove-gray;
      margin-top: $hpe-unit-space*2;

    }
    .view-cta {
      font-size: 24px;
      vertical-align: bottom;
      font-weight: 600;
      color: $dove-gray;
    }

    .btn{
      padding: 0 1px;
      vertical-align: baseline;
    }
    .btn span {
      text-transform: none;
      font-size: $hpe-unit-space;
    }
    .btn-link {
      font-weight: 600;
    }
  }

}

.form-group.skip-ssl-validation-checkbox {
  display: flex;

  > checkbox-input {
    display: flex;
  }
}
