@import "dashboard/endpoints-dashboard";
@import "clusters/list/clusters";

.endpoints-view {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  th {
    font-weight: normal
  }

  .header {
    padding: $hpe-unit-space 0px;
    position: relative;
    button {
      position: absolute;
      right: 10px;
    }

  }

  .welcome-message {
    padding: $hpe-unit-space * 0.5;
    margin-top: $hpe-unit-space * 0.5;

    > .helion-icon {
      font-size: $hpe-unit-space;
      margin-right: $hpe-unit-space * 0.5;
    }

    > span {
      vertical-align: middle;
    }
  }


}
