<div class="manage-users">
  <div class="manage-users-loading message-box message-box-no-bg"
       ng-if="asyncTaskDialogCtrl.context.state.initialised === undefined">
    <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
  </div>
  <div class="manage-users-load-failed"
       ng-if="asyncTaskDialogCtrl.context.state.initialised === false">
    <span translate>Failed to update list of user/s roles</span>
  </div>
  <div class="manage-users-loaded"
       ng-if="asyncTaskDialogCtrl.context.state.initialised === true">
    <div class="manager-users-info"
      ng-if="asyncTaskDialogCtrl.context.tableConfig.users.length > 1">
      <div class="manager-users-info-message"
        translate>Change roles for the following users.
      </div>
      <div>
        <selected-users-list selected-users="asyncTaskDialogCtrl.context.tableConfig.users"></selected-users-list>
      </div>
      <div class="manager-users-alert-info alert alert-info alert-no-bg alert-bordered" translate>
        All previously assigned roles will be updated.
      </div>
    </div>
    <div class="manage-users-filter">
      <div class="filter-container manage-users-bordered">
        <div class="manage-users-input">
          <form>
            <div class="form-group search-field" focusable-input>
              <label class="control-label" for="users-search">
                <i class="helion-icon helion-icon-lg helion-icon-Search"></i>
              </label>
              <div class="control-input">
                <input ng-model="asyncTaskDialogCtrl.ctrl.filter" type="text" class="form-control" id="users-search" >
              </div>
            </div>
          </form>
        </div>
        <div class="manage-users-clear">
          <a
            ng-if="!asyncTaskDialogCtrl.context.tableConfig.disableClearAll"
            ng-click="asyncTaskDialogCtrl.context.clearSelections()">Clear All User's Roles</a>
        </div>
      </div>
    </div>

    <div class="manage-users-values">
      <div class="manage-users-org" ng-repeat="org in asyncTaskDialogCtrl.context.data.organizationsArray">
        <roles-tables
          config="asyncTaskDialogCtrl.context.tableConfig"
          organization="org"
          selection="asyncTaskDialogCtrl.context.selectedRoles[org.details.guid]"
          filter="asyncTaskDialogCtrl.ctrl.filter"
        ></roles-tables>
      </div>

    </div>
  </div>
</div>
