.app-card-status {
  background-color: transparent;
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.5s ease-in-out;

  &__ok {
    background-color: green;
  }
  &__warning {
    background-color: orange
  }
  &__error {
    background-color: red;
  }
}