.autoscaler-chart-bar-legend {
  ngx-charts-bar-vertical {
    ngx-charts-chart {
      .ngx-charts {
        display: none;
      }
      ngx-charts-legend {
        .legend-wrap {
          width: unset;
          .legend-labels {
            width: unset;
          }
        }
      }
    }
  }
}

.autoscaler-metric-page .cards__columns-3 app-card {
  width: 100%;
}

app-edit-autoscaler-policy {
  .steppers__contents {
    display: unset;
    height: unset;
  }
  .autoscaler-policy-edit-specific-left {
    .mat-form-field-infix {
      width: unset;
    }
  }
}
