.global-spinner {
  background-color: $global-spinner-bg-color;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: $global-spinner-z-index;

  spinner {
    height: $global-spinner-height;
    width: $global-spinner-width;
  }
}

.global-spinner-active {
  overflow-y: hidden;
}
