<div
  ng-init="context = context || detailViewCtrl.context">
  <p translate>cf.summary.panel.cli-dialog-cluster.intro</p>
  <div>
    <br>
    <h4 translate>cf.summary.panel.cli-dialog-cluster.get-started</h4>
    <p translate>cf.summary.panel.cli-dialog-cluster.get-started-intro</p>

    <span translate>cf.summary.panel.cli-dialog-cluster.step1</span>
    <a href="https://github.com/cloudfoundry/cli#downloads" rel="noopener noreferrer" target="_blank" translate>
      cf.summary.panel.cli-dialog-cluster.step1-link-text
    </a>

    <p translate>cf.summary.panel.cli-dialog-cluster.step2</p>
    <code-block>cf api {{context.apiEndpoint || '[Cloud Foundry API endpoint]'}}</code-block>

    <p translate>cf.summary.panel.cli-dialog-cluster.step3</p>
    <code-block hide-copy="true">$ cf login
      API endpoint: {{context.apiEndpoint || '[Cloud Foundry API endpoint]'}}

      Email> {{context.username || '[username]'}}

      Password> [password]
      Authenticating...
      OK
    </code-block>

    <p translate>cf.summary.panel.cli-dialog-cluster.step4</p>
    <code-block>cf target -o {{context.orgName || '[organization name]'}} -s {{context.spaceName || '[space name]'}}
    </code-block>
  </div>
  <div>
    <br><h4 translate>cf.summary.panel.cli-dialog-cluster.org-commands.title</h4>
    <dl>
      <dt translate>cf.summary.panel.cli-dialog-cluster.org-commands.list</dt>
      <dd>
        <span translate>cf.summary.panel.cli-dialog-cluster.org-commands.list-intro</span>
        <code-block>cf orgs</code-block><br>
      </dd>
      <dt ng-if="context.canUpdateOrg" translate>cf.summary.panel.cli-dialog-cluster.org-commands.rename</dt>
      <dd ng-if="context.canUpdateOrg" >
        <span translate>cf.summary.panel.cli-dialog-cluster.org-commands.rename-intro</span>
        <code-block>cf rename-org {{context.orgName || '[organization name]'}} [name]</code-block><br>
      </dd>
      <dt translate>cf.summary.panel.cli-dialog-cluster.org-commands.info</dt>
      <dd>
        <span translate>cf.summary.panel.cli-dialog-cluster.org-commands.info-intro</span>
        <code-block>cf org {{context.orgName || '[organization name]'}}</code-block><br>
      </dd>
      <dt translate>cf.summary.panel.cli-dialog-cluster.org-commands.users</dt>
      <dd>
        <span translate>cf.summary.panel.cli-dialog-cluster.org-commands.users-intro</span>
        <code-block>cf org-users {{context.orgName || '[organization name]'}}</code-block><br>
      </dd>
    </dl>
    <br><h4 translate>cf.summary.panel.cli-dialog-cluster.space-commands.title</h4>
    <dl>
      <dt translate>cf.summary.panel.cli-dialog-cluster.space-commands.list</dt>
      <dd >
        <span translate>cf.summary.panel.cli-dialog-cluster.space-commands.list-intro</span>
        <code-block>cf spaces</code-block><br>
      </dd>
      <dt ng-if="context.canUpdateSpace" translate>cf.summary.panel.cli-dialog-cluster.space-commands.rename</dt>
      <dd ng-if="context.canUpdateSpace" >
        <span translate>cf.summary.panel.cli-dialog-cluster.space-commands.rename-intro</span>
        <code-block>cf rename-space {{context.spaceName || '[space name]'}} [name]</code-block><br>
      </dd>
      <dt translate>cf.summary.panel.cli-dialog-cluster.space-commands.info</dt>
      <dd >
        <span translate>cf.summary.panel.cli-dialog-cluster.space-commands.info-intro</span>
        <code-block>cf space {{context.spaceName || '[space name]'}}</code-block><br>
      </dd>
      <dt translate>cf.summary.panel.cli-dialog-cluster.space-commands.users</dt>
      <dd >
        <span translate>cf.summary.panel.cli-dialog-cluster.space-commands.users-intro</span><br>
        <code-block>cf space-users {{context.orgName || '[organization name]'}} {{context.spaceName || '[space name]'}}</code-block><br>
      </dd>
    </dl>
  </div>
</div>
