:host {
  flex: 1
}

.select-service__select-wrapper {
  align-items: center;
  display: flex;
  &__fields {
    display: inherit;
    flex-direction: column;
    width: 500px;
  }
}

.service-busy-indicator {
  opacity: 0;
  &__show {
    opacity: 1;
  }
}
