<b>Select the service</b>
<div class="select-service">
  <form class="stepper-form" [formGroup]="stepperForm">
    <mat-form-field>
      <mat-select class="form-control" placeholder="Service" formControlName="service" [disabled]="isFetching$ | async">
        <mat-option *ngFor="let service of services$ | async" [value]="service.metadata.guid">{{ service.entity.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <app-cf-service-card disableCardClick="true" [row]="selectedService$ | async"></app-cf-service-card>
  </form>
</div>
