.summary {
  display: flex;

  &__nav {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &__form {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;

    div {
      display: flex;
      flex: 1;
      flex-direction: row;
    }
  }

  &__card {
    flex: 1;
  }

  mat-chip-list {

    mat-chip {
      margin-bottom: 5px;
      margin-left: 0;
      margin-right: 7px;
    }
  }
}
