.organization-tile {

  &.unlink {
    // Override some extreme oddness in gallery-card with undefined on-card-click
    .panel-heading.linked, .panel-body.linked {
      cursor: default;
    }
  }

  .gallery-card-title {
    text-transform: uppercase;
  }

  .dl-horizontal {
    dd {
      font-weight: 500;
      white-space: nowrap;
      text-transform: none;
      text-overflow: ellipsis;
      overflow: hidden;
    }

  }
}
