<b> {{ stepperText }}</b>
<form novalidate #sourceSelectionForm="ngForm" class="stepper-form">
  <div class="deploy-step2-form">
    <!-- This can be flipped when we add other deploy types -->
    <mat-form-field *ngIf="sourceTypes.length > 1">
      <mat-select class="reset-margin" [disabled]="isRedeploy" placeholder="Source Type" name="sourceType" [(ngModel)]="sourceType" (selectionChange)="setSourceType($event.value)" required>
        <mat-option *ngFor="let sourceType of sourceTypes" [value]="sourceType">
          {{ sourceType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="(sourceType$ | async) as sourceType">
      <app-deploy-application-fs #fsChooser *ngIf="sourceType.id === 'file' || sourceType.id === 'folder'" [sourceType]="sourceType.id" required name="fsLocalSource" [(ngModel)]="fsSourceData">
      </app-deploy-application-fs>
      <div *ngIf="sourceType.id.indexOf('git') === 0">
        <div *ngIf="sourceType.group === 'gitscm'">
          <div class="github-project-details">
            <div>
              <mat-form-field>
                <input matInput [disabled]="isRedeploy" [(ngModel)]="repository" placeholder="Project" name="projectName" [appGithubProjectExists]="sourceType.id" required>
                <mat-error *ngIf="sourceSelectionForm.controls.projectName?.errors?.githubProjectDoesNotExist && !sourceSelectionForm.controls.projectName?.errors?.githubProjectError">
                  Project does not exist
                </mat-error>
                <mat-error *ngIf="sourceSelectionForm.controls.projectName?.errors?.githubProjectError">
                  {{sourceSelectionForm.controls.projectName.errors.githubProjectError}}
                </mat-error>
              </mat-form-field>
            </div>
            <div *ngIf="projectInfo$ | async as projectInfo" class="deploy-step2-form__project-info-group">
              <div>
                <img src="{{projectInfo.owner.avatar_url}}">
              </div>
              <div src="description">
                <div>
                  <a href="{{projectInfo.html_url}}" target="_blank">{{projectInfo.full_name}}</a>
                </div>
                <div class="centered">
                  {{projectInfo.description}}
                </div>
              </div>
            </div>
          </div>
          <mat-form-field>
            <mat-select class="reset-margin" placeholder="Branch" [disabled]="isRedeploy || !repository || !sourceSelectionForm.controls.projectName.valid" [(ngModel)]="repositoryBranch" name="repositoryBranch" (selectionChange)="updateBranchName($event.value)" required>
              <mat-option *ngFor="let branch of repositoryBranches$ | async" [value]="branch">
                {{ branch.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="isRedeploy && commitInfo" class="deploy-step2-form__project-info-group">
            <div>
              <img src="{{commitInfo.author.avatar_url}}">
            </div>
            <div src="description">
              <div>
                <a href="{{commitInfo.html_url}}" target="_blank">{{commitInfo.sha | limitTo:8}}</a>
              </div>
              <div>
                {{commitInfo.commit.message}}
              </div>
              <div class="author-info">
                <div>
                  {{commitInfo.commit.author.name}}
                </div>
                <div>
                  {{commitInfo.commit.author.date | date: 'medium'}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="sourceType.id === 'giturl'">
          <mat-form-field>
            <input matInput [disabled]="isRedeploy" [(ngModel)]="gitUrl" placeholder="Git URL" name="gitUrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="gitUrlBranchName" placeholder="Branch or Tag" name="urlBranchName" required>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
