.modal.detail-view .register-service-wizard {
  .wizard {
    height: initial;

    .register-content-left {
      padding-bottom: $console-unit-space;
      padding-right: 1.5 * $console-unit-space;

      p:last-of-type {
        margin-bottom: 0;
      }
    }

    .register-content-right {
      display: flex;
      flex-direction: column;

      padding-bottom: $console-unit-space;

      h4 {
        margin-top: 0;
      }
    }

    .register-service-type {
      display: flex;
      flex-direction: column;

      .register-content-left {
        flex: 3 1 0px;
        padding-right: 0;
      }

      .register-content-right {
        flex: 5 1 0px;
        flex-basis: auto;

        .media-list .media {
          .media-object {
            width: 77px;
          }

          .media-right {
            .btn-link {
              padding-right: 0;

              &:hover,
              &:focus,
              &:active {
                text-decoration: none;
                outline: 0;

                .add-icon {
                  border-color: $link-hover-color;
                }
              }

              .add-icon {
                border: 2px solid $brand-primary;
                font-size: $console-unit-space / 2;
                border-radius: 50%;
                padding: $console-unit-space / 6;
                margin-left: $console-unit-space / 4;
              }
            }
          }
        }

        .btn-default {
          align-self: flex-end;
          margin: $console-unit-space 2px;
        }
      }
    }

    .register-service-details {
      display: flex;
      flex-direction: column;

      .register-content-left {
        flex-grow: 1;
        padding-right: 0;
      }

      .register-content-right {
        flex-grow: 1;
      }
    }
  }
}
