<div class="register-service-details" ng-init="endpoint=wizardCtrl.options.userInput.endpoint.register">

  <div class="register-content-left">
    <p translate>{{ endpoint.html.details.p1 }}</p>
    <p translate>{{ endpoint.html.details.p2 }}</p>
    <p translate>{{ endpoint.html.details.p3 }}</p>
  </div>

  <div class="register-content-right">
    <h4 translate>{{endpoint.html.details.title}}</h4>
    <div>
      <div class="form-group" focusable-input
           ng-class="{'has-error': wizardForm[step.formName][endpoint.nameOfUrlInput].$invalid && wizardForm[step.formName][endpoint.nameOfUrlInput].$dirty}">
        <label class="control-label" translate>register-dialog.address-label</label>
        <span class="control-message">
        <span translate
              ng-if="wizardForm[step.formName][endpoint.nameOfUrlInput].$error.required && wizardForm[step.formName][endpoint.nameOfUrlInput].$dirty">
          register-dialog.address-error-required
        </span>
        <span translate
              ng-if="wizardForm[step.formName][endpoint.nameOfUrlInput].$error.pattern && wizardForm[step.formName][endpoint.nameOfUrlInput].$dirty">
          register-dialog.address-error-invalid
        </span>
        <span translate
              ng-if="wizardForm[step.formName][endpoint.nameOfUrlInput].$error.stratosUnique && wizardForm[step.formName][endpoint.nameOfUrlInput].$dirty">
         register-dialog.address-error-unique
        </span>
      </span>
        <input type="text" name="{{endpoint.nameOfUrlInput}}" class="form-control"
               ng-model="wizardCtrl.options.userInput.url"
               required
               placeholder="{{ endpoint.html.details.urlHint | translate }}"
               ng-pattern="step.urlValidationExpr"
               stratos-unique items="step.instanceUrls"
               ignore-case
               auto-focus="300"/>
      </div>
      <div class="form-group" focusable-input
           ng-class="{'has-error': wizardForm[step.formName][endpoint.nameOfNameInput].$invalid && wizardForm[step.formName][endpoint.nameOfNameInput].$dirty}">
        <label class="control-label" translate>register-dialog.name-label</label>
      <span class="control-message">
        <span translate ng-if="wizardForm[step.formName][endpoint.nameOfNameInput].$error.required">register-dialog.name-error-required</span>
        <span translate ng-if="wizardForm[step.formName][endpoint.nameOfNameInput].$error.stratosUnique">register-dialog.name-error-unique</span>
      </span>
        <input type="text" name="{{endpoint.nameOfNameInput}}" class="form-control"
               ng-model="wizardCtrl.options.userInput.name"
               stratos-unique items="step.instanceNames"
               ignore-case
               required/>
      </div>
      <div class="form-group skip-ssl-validation-checkbox" focusable-input>
        <checkbox-input ng-model="wizardCtrl.options.userInput.skipSslValidation"
                        input-label="{{'register-dialog.skip-ssl-label' | translate}}">
        </checkbox-input>
      </div>
    </div>
  </div>
</div>
