<div class="register-service-type">
  <div class="register-content-left">
    <p translate>To enable developers to use this web console you must register endpoints. The process of registering an endpoint
    will make them discoverable for anyone who logs into the console. Once you register an endpoint we recommend
    connecting to it so you can manage it.</p>
  </div>
  <div class="register-content-right">
    <h4 translate>Select an Endpoint Type</h4>
    <ul class="media-list console-add-option-list">
      <li ng-repeat="endpoint in endpoints | orderBy : 'label'" class="media"
          ng-class="[endpoint.register.html.class]">
        <div class="media-left media-middle">
          <div class="media-object">
            <svg-image ng-if='endpoint.register.html.type.svg' src="{{endpoint.register.html.type.svg}}"></svg-image>
            <img ng-if='endpoint.register.html.type.img' class="media-object" ng-src="{{endpoint.register.html.type.img}}"></svg-image>
          </div>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{endpoint.label}}</h4>
          <p translate>{{endpoint.register.html.type.tagline}}</p>
          <div class="media-right pull-right">
            <button class="btn btn-sm btn-link" ng-click="wizardCtrl.options.userInput.endpoint=endpoint;wizardCtrl.next()">
              <span translate>Register</span>
              <i class="material-icons app-icon-sm add-icon">add</i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
