.favorite-list {
  &__group {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  &__endpoint-card {
    margin-bottom: 10px;
    min-height: 200px;
  }
  &__empty-text {
    margin-bottom: 20px;
  }
}