<div *ngIf="(favs$ | async) as favorites">
  <div class="favorites-list__empty-text" *ngIf="(!favorites.fetching && !favorites.error && !favorites.entityGroups)">
    It looks like you don't have any favorites, why don't you start by adding your favorite <a [routerLink]="['/endpoints']">endpoint</a>?
  </div>
  <div *ngIf="favorites.error && !favorites.fetching">Could not fetch favorites</div>
  <div class="favorite-list" *ngIf="favorites.entityGroups as entityGroups">
    <div *ngFor="let favGroup of entityGroups">
      <!-- <div *ngIf="favGroup && favGroup.endpoint"> -->
      <app-favorites-meta-card class="favorite-list__endpoint-card" [endpoint]="true" [endpointHasEntities]="favGroup.entities && favGroup.entities.length > 0"
        [favoriteEntity]="favGroup.endpoint"></app-favorites-meta-card>
      <app-favorites-entity-list class="favorite-list_entities" [endpointTypes]="favGroup.endpoint.favorite.endpointType"
        [entities]="favGroup.entities"></app-favorites-entity-list>
      <!-- </div> -->
    </div>
  </div>
</div>