<div *ngIf="(favs$ | async) as favorites">
  <div class="favorites-list__empty-text" *ngIf="(!favorites.fetching && !favorites.error && !favorites.entityGroups)">
    It looks like you don't have any favorites, why don't you start by adding your favorite <a [routerLink]="['/endpoints']">endpoint</a>?
  </div>
  <div *ngIf="favorites.error && !favorites.fetching">Could not fetch favorites</div>
  <div class="favorite-list" *ngIf="!favorites.error && !favorites.fetching && favorites.entityGroups">
    <div *ngIf="!favorites.error && !favorites.fetching">
      <div *ngFor="let favGroup of favorites.entityGroups">
        <div *ngIf="favGroup && favGroup.endpoint">
          <app-favorites-meta-card class="favorite-list__endpoint-card" [endpoint]="true" [endpointHasEntities]="!!favGroup.entities"
            [favoriteEntity]="favGroup.endpoint"></app-favorites-meta-card>
          <app-favorites-entity-list class="favorite-list_entities" [entities]="favGroup.entities"></app-favorites-entity-list>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="favorites.fetching">
    <div class="favorite-list favorite-list-placeholder">
      <app-favorites-meta-card class="favorite-list__endpoint-card" [placeholder]="true"></app-favorites-meta-card>
      <app-favorites-entity-list class="favorite-list_entities" [placeholder]="true" [endpointDisconnected]></app-favorites-entity-list>
    </div>
  </div>
</div>