<app-page-header>User Profile</app-page-header>
<div class="user-profile">
  <app-user-profile-banner *ngIf="userProfile$ | async as profile" name="{{ profile.name.givenName }} {{ profile.name.familyName }}" email="{{ primaryEmailAddress$ | async }}">
  </app-user-profile-banner>
  <div class="user-profile__info" *ngIf="userProfile$ | async as profile">
    <div class="user-profile__content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Summary</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="app-metadata">
            <div class="app-metadata__two-cols">
              <app-metadata-item icon="person" label="User id">{{ profile.userName }}</app-metadata-item>
              <app-metadata-item icon="title" label="Name">{{ profile.name.givenName }} {{ profile.name.familyName }}</app-metadata-item>
              <app-metadata-item icon="email" label="Email">{{ primaryEmailAddress$ | async }}</app-metadata-item>
            </div>
            <div class="app-metadata__two-cols">
              <app-metadata-item icon="date_range" label="Account Created">{{ profile.meta.created | date:'medium' }}</app-metadata-item>
              <app-metadata-item icon="date_range" label="Account Last Modified">{{ profile.meta.lastModified | date:'medium' }}</app-metadata-item>
              <app-metadata-item icon="lock_outline" label="Password Last Modified">{{ profile.passwordLastModified | date:'medium' }}</app-metadata-item>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Groups</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-chips [chips]="profile.groups" [stacked]="false" lowerLimit="20" displayProperty="display"></app-chips>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
