$login-label-color: #e0e0e0;

.brand {
  .landing-container {
    background-color: $suse-secondary-lighter;

    page-footer .copyright-and-links .copyright .product-name>span {
      color: $suse-text-gray;
      font-weight: normal;
    }
  }
  .login-page {
    .login-page-tagline {
      color: $suse-text-gray;
    }
  }

  login-form .login-form{
    > h1 {
      color: $suse-text-gray;
    }

    .form-group {
      background-color: $suse-secondary;
      // We override the border color in all cases, so we also need to ensure the focus z-index overrides the
      // error z-index (see focus below)
      border-color: lighten($suse-secondary, 10%);
      color: $suse-text;

      &.focus {
        border-color: $suse-primary;
      }

      .control-label {
        color: $login-label-color;
      }

      input {
        color: $suse-text;
        text-shadow: 0 0 0 $suse-text;
        -webkit-text-fill-color: $suse-text;
      }
    }

    .login-form-spinner {
      color: $suse-text;
      .bounce-spinner > div {
        background-color: $suse-text;
      }
    }
  }
}
