$login-label-color: #e0e0e0;
$login-form-border-color: lighten($brand-secondary, 10%);

.brand {
  .landing-container {
    background-color: $suse-secondary-lighter;

    page-footer .copyright-and-links .copyright .product-name>span {
      color: $suse-text-gray;
      font-weight: normal;
    }
  }
  .login-page {
    .login-page-tagline {
      color: $suse-text-gray;
    }
  }

  login-form .login-form{
    > h1 {
      color: $suse-text-gray;
    }

    @include dark-form();

    .login-form-spinner {
      color: $suse-text;
      .bounce-spinner > div {
        background-color: $suse-text;
      }
    }
  }
}
