<mat-card class="cell-summary__summary">
  <app-card-status [status$]="status$"></app-card-status>
  <mat-card-content>
    <div class="cell-summary__summary__app-metadata">
      <div class="cell-summary__summary__app-metadata--twoCols">
        <app-metadata-item icon="perm_identity" label="ID">{{ (cfCellService.cellMetric$ | async)?.bosh_job_id}}</app-metadata-item>
        <app-metadata-item icon="perm_identity" label="Name">{{ (cfCellService.cellMetric$ | async)?.bosh_job_name}}</app-metadata-item>
        <app-metadata-item *ngIf="(cfCellService.cellMetric$ | async)?.bosh_deployment as bosh_deployment" icon="perm_identity" label="Deployment">{{ bosh_deployment }}</app-metadata-item>
      </div>
      <div class="cell-summary__summary__app-metadata--twoCols">
        <app-metadata-item icon="wallpaper" label="Environment">{{ (cfCellService.cellMetric$ | async)?.environment}}</app-metadata-item>
        <app-metadata-item icon="local_hospital" label="Healthy" matTooltip="Has the cell passed the garden backend health check?">
          <app-boolean-indicator [isTrue]="(status$ | async) === 'ok'" type="yes-no" [subtle]="false" [showText]="true"></app-boolean-indicator>
        </app-metadata-item>
        <app-metadata-item *ngIf="cfCellService.cpus$ | async as cpus" icon="developer_board" label="Number of CPUs">{{ cpus }}</app-metadata-item>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<app-tile-grid [fit]="false" class="cell-summary__usage">
  <app-tile-group>
    <app-tile>
      <app-card-number-metric icon="memory" label="Memory" units="mb" value="{{ cfCellService.usageMemory$ | async}} " limit="{{ cfCellService.totalMemory$ | async}}"></app-card-number-metric>
    </app-tile>
    <app-tile>
      <app-card-number-metric icon="storage" label="Disk" units="mb" value="{{ cfCellService.usageDisk$ | async}} " limit="{{ cfCellService.totalDisk$ | async}}"></app-card-number-metric>
    </app-tile>
    <app-tile>
      <app-card-number-metric icon="settings_system_daydream" label="Containers" value="{{ cfCellService.usageContainers$ | async}} " limit="{{ cfCellService.totalContainers$ | async}}"></app-card-number-metric>
    </app-tile>
  </app-tile-group>
</app-tile-grid>

<div class="cell-summary__health">
  <app-list></app-list>
</div>
