.cell-summary {

  &__summary {
    margin-bottom: 20px;

    &__app-metadata {
      display: flex;
      flex-direction: row;

      &--twoCols {
        flex: 1;

        app-metadata-item:first-child {
          margin-top: 0;
        }
      }
    }
  }


}
