.domain {
  &__card {
    margin: 12px;
    padding: 24px 64px;
  }
  &__message {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    padding: 32px 48px 0;
    text-align: center;
    span {
      margin-left: 12px;
    }
  }
  &__detail {
    font-size: 16px;
    padding: 24px 0 32px;
    text-align: center;
  }
}
