<div
  ng-init="context = context || detailViewCtrl.context">

  <p translate>cli-dialog-deploy.intro</p>
  <span translate>cli-dialog-deploy.step1</span>
  <a href="https://github.com/cloudfoundry/cli#downloads" rel="noopener noreferrer" target="_blank" translate>cli-dialog-deploy.step1-link-text</a>

  <p translate>cli-dialog-deploy.step2</p>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <code-block>---
  applications:      
  - name: {{ context.appName }}<span ng-if="context.routes.length > 0">
    routes:
  <span ng-repeat="route in context.routes">  - route: {{ route.host }}.{{ route.domain.name }}</span></span><span ng-if="context.services.length > 0">
    services:<span ng-repeat="service in context.services">
    - {{ service.name }}</span></code-block>
    </div>
  </div>
  <br/>
  <p translate>cli-dialog-deploy.step3</p>

  <h5 translate>cli-dialog-deploy.step3-1</h5>
  <code-block>cf api {{context.apiEndpoint || '[Cloud Foundry API endpoint]'}}</code-block>
  <h5 translate>cli-dialog-deploy.step3-2</h5>
  <code-block hide-copy="true">$ cf login
    API endpoint: {{context.apiEndpoint || '[Cloud Foundry API endpoint]'}}

    Email> {{context.username || '[username]'}}

    Password> [password]
    Authenticating...
    OK
  </code-block>
  <h5 translate>cli-dialog-deploy.step3-3</h5>
  <code-block>cf target -o {{context.orgName || '[organization name]'}} -s {{context.spaceName || '[space name]'}}
  </code-block>
  <h5 translate>cli-dialog-deploy.step3-4</h5>
  <code-block>cf push {{context.appName || '[app name]'}}</code-block></p>
</div>
