$deploy-status-bounce-spacer: 6px;

.deploy-app {

  .deploy-app-log-status {
    display: flex;
    align-items: center;
    padding-bottom: $console-unit-space;
    & > span {
      font-size: $font-size-large;
      padding-right: $console-unit-space;
    }
    bounce-spinner {
      margin-top: $deploy-status-bounce-spacer;
    }
  }

  cf-log-viewer {
    .panel-heading.action-header {
      background-color: $console-primary-bg;
    }
  }

  .deploy-app-file-upload-status {
    .deploy-app-file-upload-title {
      margin-bottom: $console-unit-space;
      font-size: $font-size-large1;
      font-weight: $console-font-weight-semibold;
    }

    percent-gauge.deploy-app-file-progress {
      .percent-gauge .percent-gauge-bar:after {
        background-image: none;
      }

      .percent-gauge .percent-gauge-bar .percent-gauge-utilized-bar {
        background-color: $brand-primary;

        &.percent-gauge-at-max {
          background-color: $brand-primary;
        }
      }
    }
  }
}