.kubedash {
  &__header {
    margin: 0;
  }
  &__list {
    line-height: 1.5em;
  }
  &__card {
    margin-bottom: 20px;
  }
  &__card-link {
    color: inherit;
  }
  &__card-icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  &__ready {
    > div {
      flex: 1;
    }
    display: flex;
    margin: 20px 0;
  }
  &__access {
    display: flex;
    > :first-child {
      margin-right: 8px;
    }
  }
  &__loading {
    display: flex;
    margin: 10px 0;

    > mat-spinner {
      margin-right: 8px;
    }
  }
  &__option-block {
    margin-left: 20px;
  }
  &__option {
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
  }
  &__label {
    font-family: Source Code Pro;
    font-size: 12px;
  }
  &__metadata {
    margin-left: 20px;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  &__warn {
    align-items: center;
    display: flex;

    > mat-icon {
      margin-right: 8px;
    }

  }
}