.header-event {
  $event-top-line-width: 6px;
  align-items: center;
  border-radius: 0 0 2px 2px;
  display: flex;
  margin-top: -$event-top-line-width / 2;
  padding: 10px;
  &__message-wrapper {
    margin: 0 $event-top-line-width;
  }
  &__outer {
    border-top-style: solid;
    border-top-width: $event-top-line-width;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  &--minimized {
    .header-event {
      padding: 5px 20px;
      &__error-icon,
      &__message-wrapper {
        display: none;
      }
    }
  }
  &__minimize {
    cursor: pointer;
    $minimize-icon-size: 16px;
    font-size: $minimize-icon-size;
    height: $minimize-icon-size;
    line-height: $minimize-icon-size;
    width: $minimize-icon-size;
  }
}
