$user-profile-avatar-size: 48px;
.user-profile-banner {
  display: flex;
  flex-direction: row;
  padding: 24px;
  &__email {
    font-size: 16px;
  }
  &__avatar {
    flex: 0;
    margin-right: 24px;
    mat-icon {
      font-size: $user-profile-avatar-size;
      height: $user-profile-avatar-size;
      width: $user-profile-avatar-size;
    }
  }
  &__title {
    flex: 1;
    font-size: 28px;
  }
}
