@mixin app-user-profile-banner-component-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $foreground: mat-color($primary, default-contrast);
  .user-profile-banner {
    background-color: mat-color($primary);
    &__avatar {
      color: $foreground;
    }
    &__title {
      color: $foreground;
    }
  }
}
