@mixin app-user-profile-banner-component-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $foreground: mat-color($primary, default-contrast);

  .user-profile-banner {
    background-color: map-get($app-theme, underflow-background-color);
    color: map-get($app-theme, underflow-foreground-color);
    &__avatar {
      color: $foreground;
    }
    &__title {
      color: $foreground;
    }
  }
}
