<app-page-header>
  <h1>{{ (cfEndpointService.endpoint$ | async)?.entity.name }}</h1>
  <div class="page-header-right">
    <button mat-icon-button name="add-org" *ngIf="(this.cfEndpointService.connected$ | async)" routerLink="/cloud-foundry/{{this.cfEndpointService.cfGuid}}/add-org">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button name="user-management" *ngIf="isDevEnvironment && (this.cfEndpointService.connected$ | async)" routerLink="/cloud-foundry/{{this.cfEndpointService.cfGuid}}/manage-users">
      <mat-icon>people</mat-icon>
    </button>
  </div>
</app-page-header>
<app-page-subheader [tabs]="tabLinks">
</app-page-subheader>
<app-loading-page [isLoading]="isFetching$" [text]="'Retrieving Cloud Foundry details'">
  <router-outlet></router-outlet>
</app-loading-page>
