<app-page-header [tabs]="tabLinks">
  <h1>{{ (cfEndpointService.endpoint$ | async)?.entity.name }}</h1>
  <div class="page-header-right">
    <button mat-icon-button name="add-org" *ngIf="canAddOrg$ | async" routerLink="/cloud-foundry/{{this.cfEndpointService.cfGuid}}/add-org">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button name="cli" routerLink="/cloud-foundry/{{cfEndpointService.cfGuid}}/cli" matTooltip="CLI Info">
      <mat-icon>keyboard</mat-icon>
    </button>
  </div>
</app-page-header>
<app-loading-page [isLoading]="isFetching$" [text]="'Retrieving Cloud Foundry details'">
  <router-outlet></router-outlet>
</app-loading-page>
