.cluster-gallery-card-container .cluster-gallery-card-parent gallery-card.stack-tile .card {
  dd.stack-description {
    margin: 0;
    text-align: left;
    font-size: $font-size-base;
    margin-bottom: 4px;
  }
}
