@mixin app-page-subheader-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);
  .page-subheader {
    background-color: $primary-color;
    color: mat-contrast($primary, 500);
  }
  .tab-nav__end-left,
  .tab-nav__end-right {
    background: transparent;
  }
}
