.app-service-card {
  &__title {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &__env-link {
    cursor: pointer;
  }
}
