<h1 class="text-center" translate>HPE Helion Stratos</h1>
<form class="form-stacked login-form center-block" name="loginForm" role="form">
  <div class="form-group" ng-class="{focused: usernameFocused}">
    <label class="control-label required" for="login-form-username" translate>
      Username
    </label>
    <input class="form-control"
      id="login-form-username"
      type="text" name="username"
      ng-model="loginFormCtrl.username"
      ng-focus="usernameFocused = true" ng-blur="usernameFocused = false"
      required autofocus/>
  </div>
  <div class="form-group" ng-class="{focused: passwordFocused}">
    <label class="control-label required" for="login-form-password" translate>
      Password
    </label>
    <input class="form-control"
      id="login-form-password"
      type="text" name="password"
      ng-model="loginFormCtrl.password"
      ng-focus="passwordFocused = true" ng-blur="passwordFocused = false"
      required/>
  </div>

  <button type="button" class="btn btn-primary center-block"
          ng-disabled="loginForm.$invalid"
          ng-click="applicationCtrl.login('dev', 'dev')"
          translate>
    Login
  </button>
</form>
