<form name="loginForm" role="form" class="form-stacked login-form center-block"
  ng-class="applicationCtrl.failedLogin ? 'failed-login' : ''">
  <h1 class="text-center">{{ PRODUCT_STRINGS.PRODUCT_NAME }} {{ PRODUCT_STRINGS.PRODUCT_VERSION }}</h1>
  <div class="form-group" focusable-input ng-class="applicationCtrl.failedLogin ? 'has-error' : ''">
    <label class="control-label required" for="login-form-username" translate>
      Username
    </label>
    <input type="text" class="form-control"
      id="login-form-username" name="consoleUsername"
      ng-model="loginFormCtrl.username" required autofocus/>
  </div>
  <div class="form-group has-feedback" focusable-input ng-class="applicationCtrl.failedLogin ? 'has-error' : ''">
    <label class="control-label required" for="login-form-password" translate>
      Password
    </label>
    <input type="password" class="form-control" id="login-form-password" name="consolePassword"
      ng-model="loginFormCtrl.password" required
      password-reveal password-reveal-icon="'helion-icon helion-icon-View'"/>
  </div>

  <button type="submit" class="btn btn-commit center-block login-button"
    ng-disabled="loginForm.$invalid || loginFormCtrl.loggingIn"
    ng-click="loginFormCtrl.login() && applicationCtrl.login(loginFormCtrl.username,loginFormCtrl.password)" translate>
    Login
  </button>

  <div class="login-clear-both"></div>

  <div class="login-form-spinner" ng-show="loginFormCtrl.loggingIn">
    <span class="spinner-notification" translate>
      Authenticating Credentials
    </span>
    <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
  </div>
</form>
<div ng-if="applicationCtrl.failedLogin" class="alert alert-danger login-error">
  <p translate>The login and password combination you used are incorrect. Please try again.</p>
</div>
<div ng-if="applicationCtrl.serverErrorOnLogin" class="alert alert-danger login-error">
  <p translate>A server error occurred when attempting to log you in. Please try again. If this error persists, please contact the administrator.</p>
</div>
<div ng-if="applicationCtrl.serverFailedToRespond" class="alert alert-danger login-error">
  <p translate>The authentication server failed to respond. Please try again. If this error persists, please contact the administrator.</p>
</div>
