<form class="form-stacked login-form center-block" ng-class="applicationCtrl.failedLogin ? 'failed-login' : ''" name="loginForm" role="form"
  ng-submit="applicationCtrl.login(loginFormCtrl.username,loginFormCtrl.password)">
  <h1 class="text-center" translate>HPE Helion Stratos</h1>
  <div class="form-group" focusable-input ng-class="applicationCtrl.failedLogin ? 'has-error' : ''">
    <label class="control-label required" for="login-form-username" translate>
      Username
    </label>
    <input type="text" class="form-control"
      id="login-form-username" name="username"
      ng-model="loginFormCtrl.username" required autofocus/>
  </div>
  <div class="form-group has-feedback" focusable-input ng-class="applicationCtrl.failedLogin ? 'has-error' : ''">
    <label class="control-label required" for="login-form-password" translate>
      Password
    </label>
    <input type="{{loginFormCtrl.showPassword ? 'text' : 'password'}}" class="form-control"
      id="login-form-password" name="password"
      ng-model="loginFormCtrl.password" required/>
    <span class="helion-icon helion-icon-View form-control-feedback"
      ng-class="{'text-muted': !loginFormCtrl.showPassword}"
      ng-click="loginFormCtrl.showHidePassword()"></span>
  </div>

  <button type="submit" class="btn btn-primary center-block"
    ng-disabled="loginForm.$invalid" translate>
    Login
  </button>
  <div ng-if="applicationCtrl.failedLogin" class="failed-login-message">
    <span class="pull-left"><i class="helion-icon helion-icon-Critical_L"></i></span>
    <div translate>
      The login and password combination you used are incorrect. Please try again.
    </div>
  </div>
  <div ng-if="applicationCtrl.serverErrorOnLogin" class="failed-login-message">
    <span class="pull-left"><i class="helion-icon helion-icon-Critical_L"></i></span>
    <div translate>
      A server error occurred when attempting to log you in. Please try again. If this error persists, please contact the administrator.
    </div>
  </div>
  <div ng-if="applicationCtrl.serverFailedToRespond" class="failed-login-message">
    <span class="pull-left"><i class="helion-icon helion-icon-Critical_L"></i></span>
    <div translate>
      The authentication server failed to respond. Please try again. If this error persists, please contact the administrator.
    </div>
  </div>
</form>
<div ng-if="applicationCtrl.failedLogin" class="alert alert-danger login-error">
  <p translate>The login and password combination you used are incorrect. Please try again.</p>
</div>
