login-form {
  width: 100%;
  margin-bottom: 10px;
  z-index: 2;

  @media (min-height: 600px) {
    margin-top: 100px;
  }

  .login-error {
    margin-top: 40px;
  }

  .login-form {
    display: block;
    max-width: 350px;
    padding: 15px;

    button {
      margin-top: 40px;
      width: 200px;
    }

    .form-group:first-of-type {
      margin-top: 40px;
    }

    .helion-icon-View.form-control-feedback {
      cursor: pointer;
      pointer-events: auto;
    }
  }
}
