.login-form {
  display: block;
  max-width: 350px;
  padding-top: 40px;

  &.form-stacked .form-group {
    position: relative;
    margin-bottom: -1px;
  }

  button {
    margin-top: 40px;
    width: 200px;
  }
}
