h1 {
  font-size: 18px;
}

li {
  margin-bottom: 8px;
}

img {
  float: right;
}

br {
  margin-top: 48px;
}

.demo-helper-buttons {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
