.app-no-content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15vh;
  text-align: center;
  width: 100%;
  & > * {
    margin-bottom: 20px;
  }
  > mat-icon {
    font-size: 96px;
    height: 96px;
    width: 96px;
  }
  .first-line {
    font-size: 30px;
  }
  .second-line {
    font-size: 24px;
  }
  .first-line,
  .second-line {
    max-width: 700px;
  }
  &__link {
    display: flex;
    position: absolute;
    right: 74px;
    top: 54px;
    &-icon {
      font-size: 44px;
      height: 44px;
      transform: rotate(90deg);
      width: 44px;
    }
    &-text {
      font-size: 16px;
      margin-top: 26px;
    }
  }
}
