.start-end-date {
  align-items: flex-end;
  display: flex;
  max-width: 800px;
  &__selector {
    flex: auto;
    padding: 0 5px;
  }
  &__header {
    font-size: 14px;
    font-weight: bold;
    opacity: .6;
  }
  &__arrow {
    // Setting padding bottom to match the input fields
    padding: 0 20px 1.25em;
    color: rgba(0, 0, 0, 0.54);
  }
}
