.start-end-date {
  align-items: center;
  display: flex;
  max-width: 800px;
  &__selector {
    flex: auto;
    padding: 0 5px;
  }
  &__arrow {
    padding: 0 10px;
  }
}

.invalid-message {
  font-size: 12px;
  margin-top: -13px;
}
