.app-service-card {
  &__title {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    width: 100%;
  }
  &__env-link {
    cursor: pointer;
  }
}

app-tile-grid {
  width: 100%;
}

.autoscaler-metric-page {
  display: flex;
  position: relative;
  width: 100%;
  &__actions {
    bottom: 24px;
    padding-top: 0;
    position: absolute;
    right: 24px;
    text-align: right;
  }
}

.app-metadata {
  display: flex;
  flex-direction: row;
  &__two-cols {
    flex: 1;
    margin-right: 3em;
    app-metadata-item:first-child {
      margin-top: 0;
    }
  }
}

.autoscaler-chart-gauge {
  display: inline-block;
  height: 250px;
  margin-top: 1em;
  width: 20%;
}

.autoscaler-chart-bar {
  display: inline-block;
  height: 250px;
  margin-top: 1em;
  width: 80%;
}

.autoscaler-chart-bar-combo {
  display: inline-block;
  height: 250px;
  margin-top: 1em;
  width: 75%;
}

.autoscaler-chart-bar-legend {
  display: inline-block;
  margin-left: 1.75em;
  margin-top: 1em;
  position: absolute;
}

.autoscaler-metric-subtitle {
  color: rgba(0, 0, 0, .54);
  font-size: .9em;
  margin-top: .3em;
}
