:host {
  flex: 1;
}

.create-users {
  > * {
    padding-bottom: 10px;
  }

  &__roles {
    &__space {
      display: flex;
      flex-direction: column;

      mat-radio-button {
        padding-right: 10px;
        padding-top: 10px;
      }
    }
  }
}
