@mixin apply-smaller-list-input {

  @include breakpoint(phablet) {
    .list-component__header__right-filter {
      width: 140px;
    }
    .list-component__header__right-sort {
      width: 120px;
    }
  }

  @include breakpoint(laptop) {
    .list-component__header__right-filter {
      width: inherit;
    }
    .list-component__header__right-sort {
      width: inherit;
    }
  }
}
