<div class="kubernetes-node-metrics">
  <app-tile>
    <app-tile-group>
      <app-tile>
        <app-kubernetes-node-metric-stats-card title="Memory" [metric]="memoryMetric" [unit]="memoryUnit"></app-kubernetes-node-metric-stats-card>
      </app-tile>
      <app-tile>
        <app-kubernetes-node-metric-stats-card title="CPU" [metric]="cpuMetric" [unit]="cpuUnit"></app-kubernetes-node-metric-stats-card>
      </app-tile>
    </app-tile-group>
    <app-metrics-parent-range-selector class="kubernetes-node-metrics__charts">
      <app-metrics-chart *ngFor="let config of instanceMetricConfigs" [metricsConfig]="config[0]" [chartConfig]="config[1]">
      </app-metrics-chart>
    </app-metrics-parent-range-selector>
  </app-tile>
</div>