.cli-command {
  margin-top: 24px;
  app-code-block {
    display: block;
    margin-top: 10px;
  }
  &__name {
    display: inline;
    font-weight: bold;
  }
  &__msg {
    display: inline;
    &::before {
      content: ' - ';
    }
  }
}
