<div class="kubernetes-node-summary-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="kubernetes-node-summary-card__content">
        <app-metadata-item icon="title" label="Name">{{ (node$ | async)?.metadata.name }}</app-metadata-item>
        <app-metadata-item icon="title" label="Created">{{ (node$ | async)?.metadata.creationTimestamp | date:'medium' }}</app-metadata-item>
        <app-metadata-item icon="title" label="Labels">
          <app-chips [chips]="(labels$ | async)" [stacked]="true" [orientation]="'rtl'"></app-chips>
        </app-metadata-item>
        <app-metadata-item icon="title" label="Annotations">
          <app-chips [chips]="(annotations$ | async)" [stacked]="true" [orientation]="'rtl'"></app-chips>
        </app-metadata-item>
      </div>
    </mat-card-content>
  </mat-card>

</div>
