@import '../../../../../../core/sass/mixins';

:host {
  width: 100%;
}

.deploy-options {
  max-width: none;

  &__form-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    mat-checkbox {
      padding-top: 20px;
    }

    &__form-section {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: 450px;
      min-width: 450px;
      padding-bottom: 10px;
      padding-top: 15px;

      &:not(:last-of-type) {
        margin-right: 60px;
      }

      .hidden {
        display: none;
      }
    }
  }
}
