:host {
  flex: 1;
}

.deploy-step2-form {
  .reset-margin {
    margin-top: 0;
  }
  &__radio {
    display: flex;
    justify-content: left;
    mat-radio-button {
      padding-right: 20px;
    }
  }
  &__project-info-group {
    display: flex;
    flex-flow: row;
    > div {
      padding: 10px 10px 10px 0;
    }
    img {
      height: 51px;
      width: 51px;
    }
    .description {
      flex-flow: row;
      margin-left: 24px;
      position: absolute;
      .centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }
    }
  }
}

.mat-option .git-repo-suggestion {
  align-items: center;
  display: flex;
  &__label {
    flex: 1;
  }
  &__icon {
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    margin-right: 0;
    width: 18px;
  }
}
