.last-op {
  &--row1 {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5px;
  }
  &--item {
    padding-right: 5px;
  }
}

.align-right {
  .last-op--row1 {
    justify-content: flex-end;
  }
  .last-op--item {
    padding-left: 5px;
    padding-right: 0;
  }
}
