:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.firehose-filter-panel {
  align-items: center;
  display: flex;
  flex: 0 0 40px;
  height: 40px;
  padding: 0 12px;

  &__controls {
    font-size: 14px;
    padding-right: 24px;
  }

  &__link {
    cursor: pointer;
    padding: 0 12px;
  }
}

.app-logstream-viewer {
  display: flex;
  flex: 1;
}
