:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  min-height: 0;
  width: 100%;
  overflow: hidden;
}

.firehose-filter-panel {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 40px;
  padding: 0 12px;

  &__controls {
    font-size: 14px;
    padding-right: 24px;
  }

  &__link {
    cursor: pointer;
    padding: 0 12px;
  }
}
