@import '@angular/material/theming';
@mixin app-cloud-foundry-firehose-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $ansi-colors: map-get($app-theme, ansi-colors);
  .firehose-filter-panel {
    background-color: mat-color($primary);
    border-bottom: mat-contrast($primary, 500);
    color: mat-contrast($primary, 500);
    &__link,
    &__link:hover {
      color: mat-contrast($primary, 500);
    }
    &__filters {
      .mat-checkbox-frame {
        border-color: map-get(map-get($ansi-colors, default-foreground), normal);
      }
      .mat-checkbox-label {
        font-size: 14px;
        margin-right: 12px;
      }
      .mat-checkbox-inner-container {
        height: 16px;
        width: 16px;
      }
    }
    &__apps-filter {
      &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: map-get(map-get($ansi-colors, 'green'), normal);
      }
    }
    &__api-filter {
      &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: map-get(map-get($ansi-colors, 'magenta'), normal);
      }
    }
    &__metrics-filter {
      &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: map-get(map-get($ansi-colors, 'blue'), normal);
      }
    }
    &__counters-filter {
      &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: map-get(map-get($ansi-colors, 'yellow'), normal);
      }
    }
    &__container-metrics-filter {
      &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: map-get(map-get($ansi-colors, 'cyan'), normal);
      }
    }
    &__errors-filter {
      &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: map-get(map-get($ansi-colors, 'red'), normal);
      }
    }
  }
}
