@mixin login-page-theme($theme, $app-theme) {
  $color: mat.m2-get-color-config($theme);
  $primary: mat.m2-get-color-from-palette($color, primary);

  .login {
    background-color: map-get($app-theme, app-background-color);
    &__title {
      color: mat.m2-get-color-from-palette($primary, default);
    }
    &-message {
      color: mat.m2-get-contrast-color-from-palette($primary, 500);
    }
  }
}
