@mixin login-page-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);

  .login {
    background-color: map-get($app-theme, app-background-color);
    &__title {
      color: mat-color($primary);
    }
    &-message {
      color: mat-contrast($primary, 500);
    }
  }

}
