.login {
  &__card {
    padding: 0;
    width: 300px;
    mat-form-field {
      width: 100%;
    }
  }
  &__body {
    padding: 24px;
  }
  &__submit {
    width: 100%;
  }
  &-message {
    font-size: 18px;
    height: 20px;
    padding-top: 20px;
  }
  &__form-outer {
    $cubic: cubic-bezier(.215, .61, .355, 1);
    $time: 250ms;
    height: 180px;
    opacity: 1;
    transition: height $time $cubic 100ms, opacity $time * 2 $cubic $time + 50ms;
    &.login-sso {
      height: auto;
    }
  }
  &__loading {
    display: none;
  }
  &__busy {
    .login__form {
      display: none;
    }
    .login__form-outer {
      height: 0;
      opacity: 0;
    }
    .login__loading {
      display: block;
    }
  }
}
