$font-path:         "fonts/metric-font" !default;
$icon-font-path:    "fonts/iconfont" !default;
$scpro-font-path:   "fonts/sourcecodepro" !default;

@import 'material-icons';
@import 'lato/font';
@import 'sourcecodepro/font';