.table-row-wrapper {
  &__blocked {
    .table-row {
      cursor: not-allowed;
      opacity: 0.22;
    }
    .table-row__blocker {
      display: block;
    }
  }
  &__errored {
    .table-row {
      background-color: rgba(255, 0, 0, 0.1);
    }
    .table-row__error {
      display: flex;
    }
  }
}

.table-row {
  position: relative;
  &__error {
    background-color: red;
    border-color: red;
    color: white;
    display: none;
    justify-content: middle;
    &-message {
      flex: 1;
      line-height: 20px;
      margin: 15px 20%;
      text-align: center;
    }
    &-icon {
      padding-left: 13px;
    }
    a {
      color: white;
    }
  }
  &__blocker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: none;
  }
}
