<div class="specify-details">
  <form class="stepper-form" [formGroup]="stepperForm">
    <mat-form-field>
      <input matInput class="form-control" formControlName="name" placeholder="Name" required>
      <mat-error *ngIf="stepperForm.controls.name?.hasError('nameTaken')">
        A service instance with this name already exists. Please enter a different one.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="stepper-form__tags">
      <mat-chip-list #chipList formControlName="tags" class="stepper-form__tags__chip-list">
        <mat-chip *ngFor="let tag of tags" class="stepper-form__tags__chip-list__chip" [selectable]="tagsSelectable" [removable]="tagsRemovable" (remove)="removeTag(tag)">
          {{tag.label}}
          <mat-icon matChipRemove *ngIf="tagsRemovable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Tags" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="tagsAddOnBlur" (matChipInputTokenEnd)="addTag($event)" />
      </mat-chip-list>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="JSON parameters" formControlName="params"></textarea>
      <mat-error *ngIf="stepperForm.controls.params?.hasError('notValidJson')">
        Not valid JSON. Please specify a valid JSON Object
      </mat-error>
    </mat-form-field>
  </form>
</div>
