spinner {
  display: inline-block;
  height: $spinner-size;
  width: $spinner-size;

  .spinner-container {
    position: relative;
    height: 100%;
    width: 100%;

    .spinner {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%;

      @include animation('rotate 4s steps(4, end) infinite');

      circle.spinner-highlight {
        stroke: $spinner-on-color;
      }

      circle:not(.spinner-highlight) {
        stroke: $spinner-off-color;
      }
    }
  }
}
