<div class="postdeploy">
  <div class="desc-box">
    <div class="desc-header">
      <h4 translate>StormRunner Load Test</h4>
    </div>
    <div class="desc-text">
      <p translate>Simulate usage on your application to understand the resources consumed during scaling events.</p>
      <p translate>If you don't have an account already:</p>
      <p><ul>
        <li translate>Create a new <a rel="noopener noreferrer" target="_blank" href="https://www.saas.hpe.com/signup/try/stormrunner-load">Storm Runner Account</a></li>
        <li translate>Note Tenant ID, Project ID and credentials</li>
        <li translate>Create a load test and note your Test ID</li>
        <li translate>Come back and enter your details in this form</li>
      </ul></p>
      <p translate>After set-up, every deploy will trigger a load test to help you measure their effect on the scaling
        behavior of your app.</p>
    </div>
  </div>

  <form name="form.postDeployForm" class="postdeploy-form">
    <div class="form-group" focusable-input ng-class="{'has-error': form.postDeployForm.actionName.$invalid && form.postDeployForm.actionName.$dirty}">
      <div class="input-control">
        <label class="control-label" translate>Action Name</label>
        <span class="control-message"><span translate ng-if="form.postDeployForm.actionName.$error.required">Name is required</span></span>
        <input type="text" name="actionName" class="form-control" ng-model="asyncTaskDialogCtrl.context.data.actionName"
               required
        />
      </div>
    </div>

    <div class="form-separator">
      <span>Connect to StormRunner</span>
    </div>
    <div class="form-group" focusable-input ng-class="{'has-error': form.postDeployForm.actionUserName.$invalid && form.postDeployForm.actionUserName.$dirty}">
      <div class="input-control">
        <label class="control-label" translate>Username</label>
        <span class="control-message"><span translate ng-if="form.postDeployForm.actionUserName.$error.required">Username is required</span></span>
        <input type="text" name="actionUserName" class="form-control" ng-model="asyncTaskDialogCtrl.context.data.userName"
               required
        />
      </div>
    </div>
    <div class="form-group has-feedback" focusable-input ng-class="{'has-error': form.postDeployForm.actionPassword.$invalid && form.postDeployForm.actionPassword.$dirty}">
      <div class="input-control">
        <label class="control-label" translate>Password</label>
        <span class="control-message"><span translate ng-if="form.postDeployForm.actionPassword.$error.required">Password is required</span></span>
        <input type="password" name="actionPassword" class="form-control"
               ng-model="asyncTaskDialogCtrl.context.data.password"
               required password-reveal password-reveal-icon="'helion-icon helion-icon-View'"
        />
      </div>
    </div>
    <div class="form-group" focusable-input ng-class="{'has-error': form.postDeployForm.actionTenantId.$invalid && form.postDeployForm.actionTenantId.$dirty}">
      <div class="input-control">
        <label class="control-label" translate>Tenant ID</label>
        <span class="control-message"><span translate ng-if="form.postDeployForm.actionTenantId.$error.required">Tenant ID is required</span></span>
        <input type="text" name="actionTenantId" class="form-control" ng-model="asyncTaskDialogCtrl.context.data.tenantId"
               required
        />
      </div>
    </div>
    <div class="form-group" focusable-input ng-class="{'has-error': form.postDeployForm.actionProjectId.$invalid && form.postDeployForm.actionProjectId.$dirty}">
      <div class="input-control">
        <label class="control-label" translate>StormRunner Project ID</label>
        <span class="control-message"><span translate ng-if="form.postDeployForm.actionProjectId.$error.required">Project ID is required</span></span>
        <input type="text" name="actionProjectId" class="form-control" ng-model="asyncTaskDialogCtrl.context.data.projectId"
               required
        />
      </div>
    </div>
    <div class="form-group" focusable-input ng-class="{'has-error': form.postDeployForm.actionTestId.$invalid && form.postDeployForm.actionTestId.$dirty}">
      <div class="input-control">
        <label class="control-label" translate>Test ID</label>
        <span class="control-message"><span translate ng-if="form.postDeployForm.actionTestId.$error.required">Test ID is required</span></span>
        <input type="text" name="actionTestId" class="form-control" ng-model="asyncTaskDialogCtrl.context.data.testId"
               required
        />
      </div>
    </div>
  </form>

</div>

