<div ng-if="!bpCtrl.stateInitialised" class="message-box message-box-no-bg">
  <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
</div>
<div ng-if="bpCtrl.stateInitialised && bpCtrl.buildpacks.length === 0"
     class="panel panel-default cluster-empty-list">
  <div ng-if="!bpCtrl.error" class="panel-body" translate>cf.cf-tabs.buildpacks.empty</div>
  <div ng-if="bpCtrl.error" class="panel-body" translate>cf.cf-tabs.buildpacks.error</div>
</div>
<div class="cluster-gallery-card-container" ng-if="bpCtrl.buildpacks.length > 0">
  <div
    class="cluster-gallery-card-parent"
    ng-repeat="buildpack in bpCtrl.buildpacks track by buildpack.metadata.guid">
    <buildpack-tile buildpack="buildpack"></buildpack-tile>
  </div>
</div>

