$side-nav-padding-h: 20px;
$side-nav-mat-icon-width: 24px;
$side-nav-mat-icon-padding-right: 15px;
$side-nav-header-spacing: $side-nav-padding-h / 2 + $side-nav-mat-icon-width + $side-nav-mat-icon-padding-right;
.side-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  &__top {
    display: flex;
    flex: 0 0 56px;
    flex-direction: column;
    height: 56px;
    &-inner {
      display: flex;
      flex: 1;
      padding: 10px;
    }
  }
  &__items {
    list-style-type: none;
    flex: 1;
    margin: 0;
    overflow-y: auto;
    padding: 0;
  }
  &__itemContainer {
    height: 54px;
    overflow: hidden;
    transition: height .3s ease-in-out;
    &-hidden {
      height: 0;
    }
  }
  &__item {
    align-items: center;
    border-color: transparent;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    letter-spacing: .01em;
    outline: 0;
    padding: 15px $side-nav-padding-h;
    text-decoration: none;
    mat-icon {
      margin-right: $side-nav-mat-icon-padding-right;
      text-align: center;
    }
  }
  &__logo {
    align-items: center;
    display: flex;
    padding-left: $side-nav-header-spacing;
    &-text {
      padding: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &__bottom {
    flex: 0 0 auto;
    font-weight: 300;
    font-size: 14px;
    padding: 12px;
  }
}
