// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './sass/fonts';
@import './sass/icons';
@import './sass/colors';
@import './sass/theme';
@import './sass/mixins';
@import './sass/scroll-bar-measure';
@import './sass/components/card-wall';
@import './sass/components/mat-card';
@import './sass/components/mat-popup';
@import './sass/components/mat-tabs';
@import './sass/components/mat-table';
body {
  margin: 0;
  font-family: Lato, sans-serif; // font-size: 13px;
}

body,
html {
  height: 100%;
}

.inline-icon {
  display: inline-block;
  &__form {
    position: absolute;
    right: -20px;
    top: 0;
    margin-left: 8px;
  }
}

.dashboard .mat-drawer-content {
  overflow: visible;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button.mat-simple-snackbar-action {
  margin-left: 0;
}

// .router-component {
//   display: flex;
//   flex: 1;
//   flex-direction: column;
// }
