// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../sass/fonts';
@import '../sass/icons';
@import '../sass/theme';
@import '../sass/mixins';
@import '../sass/scroll-bar-measure';
@import '../sass/components/card-wall';
@import '../sass/components/mat-card';
@import '../sass/components/mat-popup';
@import '../sass/components/mat-tabs';
@import '../sass/components/mat-table';
@import '../sass/components/mat-button-toggle-group';

body {
  font-family: Lato, sans-serif; // font-size: 13px;
  margin: 0;
}

body,
html {
  height: 100%;
}

.inline-icon {
  display: inline-block;

  &__form {
    margin-left: 8px;
    position: absolute;
    right: -25px;
    top: 0;
  }
}

.dashboard {
  .mat-drawer-content {
    overflow: visible;
  }
  .mat-drawer-side {
    border: 0;
  }
  .mat-card-title {
    font-size: inherit;
    font-weight: inherit;
  }
}



html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button.mat-simple-snackbar-action {
  margin-left: 0;
}

// .router-component {
//   display: flex;
//   flex: 1;
//   flex-direction: column;
// }


// Add selector so that the UI can detect if a dark theme is available
@if $stratos-dark-theme-supported {
  .dark-theme-supported {
    margin: 0;
  }
}
