<table class="table"
        st-table="instanceCtrl.stTableInstanceParameters"
        st-safe-src="instanceCtrl.instance.parameters">
  <thead>
  <tr>
    <th translate st-sort="name" st-sort-default="true" st-skip-natural="true">Name</th>
    <th translate st-sort="value" st-skip-natural="true">Value</th>
  </tr>
  <tr>
    <th colspan="5" class="table-sort-filter">
      <form>
        <div class="form-group search-field" focusable-input>
          <i class="application-search-box-icon material-icons app-icon-lg">search</i>
          <input st-search=""
                type="text" class="form-control"
                placeholder="{{'Filter parameters' | translate}}"/>
        </div>
      </form>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="params in instanceCtrl.stTableInstanceParameters track by $index">
    <td>{{ params.name }}</td>
    <td>{{ params.value }}</td>
  </tr>
  </tbody>
</table>
