@import '../../../sass/custom/suse-colors';


.suse-login {
  align-items: center;
  background-color: $suse-blue;
  border-bottom: 10px solid $suse-primary-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__header, &__content, &__footer {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  &__header {
    background-color: $suse-secondary;
    color: $suse-text;
    flex: 0 0 60px;
    font-size: 24px;
    font-weight: 500;
    justify-content: center;
    width: 100%;
  }
  &__content {
    align-items: flex-start;
    color: $suse-text;
    flex: 1;
    margin-top: 100px;
    overflow-y: auto;
    width: 90%;
  }
  &__footer {
    flex: 0 0 auto;
    width: 90%;
    padding: 20px 0;
  }
  &__title {
    width: 90%;
  }
  &__copyright {
    color: $suse-text-gray;
    flex: 1;
  }
  &__logo {
    img {
      width: 79px;
    }
  }
  &__intro {
    flex: 1;
    margin-right: 24px;
  }
  &__form {
    flex: 1;
    margin-left: 24px;
  }
  &__headline {
    color: $suse-primary-color;
    font-size: 52px;
    font-weight: 300;
    margin: 0;
  }
  &__tagline {
    color: $suse-text-gray;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin: 24px 0;
  }
}
