@import "wizard/setup-wizard";

.app-setup {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .app-setup-left-space, .app-setup-right-space {
    flex: 1;
  }
  .app-setup-container {
    flex: 5;
    display: flex;
    flex-direction: column;
    max-width: 1200px;

    .app-setup-headline {
      color: $brand-primary;
      font-weight: 300;
      align-self: flex-start;
      padding: 12px 0;
    }

    .app-setup-wizard {
      align-self: stretch;


      .modal.detail-view.detail-view-dialog {
        position: static;

        .detail-view-content {
          width: 100%;
          margin: 0;
        }

        .wizard-body {

          color: $suse-text;

          .wizard-nav {
            border-bottom-color: $suse-secondary;

            &.nav-stacked>li.disabled {

              &.active {
                & > a, & > a:hover {
                  color: $suse-text;
                  border-color: transparent;
                }
              }
              & > a, & > a:hover {
                color: $suse-secondary;
                padding-left: 10px;
                padding-right: 10px;
                border-left: 1px solid $suse-secondary;
              }
            }

            .wizard-nav-item {
              opacity: 0.3;
              &.complete a:after {
                display: none;
              }

              &.active {
                opacity: 1;
              }
            }
          }

          .wizard-step {

            min-height: 460px;
            .message-box {
              min-width: inherit;
            }

            padding: 0;
            &.wizard-loading-indicator .bounce-spinner > div {
              background-color: $suse-text;
            }
          }

          .control-title {
            //TODO: RC branding
            color: $suse-text-gray;
            &:first-of-type {
              margin-top: 0;
            }
          }

          .open>.dropdown-menu {
            background: $suse-secondary;
          }
          //TODO: RC This is a c&p from branding
          .form-group {
            $landing-page-form-border-color: lighten($suse-secondary, 10%);

            background-color: $suse-secondary;
            // We override the border color in all cases, so we also need to ensure the focus z-index overrides the
            // error z-index (see focus below)
            border-color: $landing-page-form-border-color;
            color: $suse-text;

            &.focus {
              border-color: $suse-primary;
            }

            .control-label, .checkbox-input-label {
              color: $login-label-color;
            }

            input {
              color: $suse-text;
              text-shadow: 0 0 0 $suse-text;
              -webkit-text-fill-color: $suse-text;
            }

            search-box {
              .dropdown-menu {
                border-color: $landing-page-form-border-color;
              }
            }
          }
        }

        .wizard-foot {
          //TODO: RC branding
          background: transparent;
          //TODO: RC branding
          border-top: 0;

          display: block;
          text-align: right;

          .btn-default.cancel, .btn-default.back {
            float: left;
            background-color: $suse-text;
            color: $suse-secondary;
          }

          .btn-primary.next {
            background-color: $suse-primary;
            color: $suse-text;
          }
        }
      }
    }
  }
}



//.modal.detail-view.detail-view-dialog .detail-view-content.setup-wizard wizard {
//  ul.wizard-nav.nav {
//    //margin-bottom: 0;
//  }
//  .wizard-step {
//    //padding: 0 $console-unit-space $console-unit-space $console-unit-space;
//    //min-height: 460px;
//    .message-box {
//      //min-width: inherit;
//    }
//  }
//}

//.login-page .login-right.setup-login-right {
//  //display: flex;
//  //align-items: center;
//  //justify-content: center;
//  //min-height: 275px;
//
//  .modal.detail-view.detail-view-dialog {
//    position: static;
//
//
//    .control-title {
//      //TODO: RC branding
//      color: $suse-text-gray;
//    }
//
//    .wizard-foot {
//      //TODO: RC branding
//      background: transparent;
//      //TODO: RC branding
//      border-top: 0;
//
//      min-height: initial;
//      height: initial;
//      padding: 24px;
//      display: block;
//      text-align: right;
//
//
//      .btn-default.cancel, .btn-default.back {
//        float: left;
//        background-color: $suse-text-gray;
//      }
//
//      .btn-default.cancel {
//
//      }
//
//      .btn-primary.next {
//        background-color: $suse-primary;
//      }
//    }
//  }
//
//
//
//  //TODO: RC This is a c&p from branding
//  .form-group {
//    background-color: $suse-secondary;
//    // We override the border color in all cases, so we also need to ensure the focus z-index overrides the
//    // error z-index (see focus below)
//    border-color: lighten($suse-secondary, 10%);
//    color: $suse-text;
//
//    &.focus {
//      border-color: $suse-primary;
//    }
//
//    .control-label {
//      color: $login-label-color;
//    }
//
//    input {
//      color: $suse-text;
//      text-shadow: 0 0 0 $suse-text;
//      -webkit-text-fill-color: $suse-text;
//    }
//  }
//}

