@import "wizard/setup-wizard";

.app-setup {
  display: flex;
  flex-direction: column;

  .app-setup-headline {
    color: $brand-primary;
    font-weight: $console-font-weight-light;
    align-self: flex-start;
    padding: $console-unit-space / 2 0;
  }
}
