$wizard-step-indicator-size: 24px;
$wizard-step-indicator-margin: 6px;

// Styles to adjust the wizard presentation when inside a detail view dialog or with the 'detail-view-horizontal' class
.modal.detail-view.detail-view-dialog {

  >.modal-dialog>.modal-content, &.detail-view-horizontal {

    .detail-view-content wizard {

      div.wizard-body {
        flex-direction: column;
        margin: 0 0 $console-half-space 0;

        .wizard-step {
          width: initial;
          margin: 0 $console-unit-space;
        }
      }

      ul.wizard-nav.nav {
        width: 100%;
        border-top: 1px solid $rule;
        border-bottom: 1px solid $rule;
        background-color: transparent;
        margin-bottom: $console-unit-space;
        padding: $console-half-space $console-unit-space;
        display: flex;

        &:not(.wizard-nav-few-steps) {
          > li.wizard-nav-item-sep {
            flex: 1;
          }
        }

        &.wizard-nav-few-steps {
          > li.wizard-nav-item-sep {
            min-width: 15%;
          }
        }

        > li.wizard-nav-item-sep {
          display: inline-block;
          border-top: 1px solid $rule;
          margin-top: $console-half-space + 2px;
          margin-left: $wizard-step-indicator-margin;
          margin-right: $wizard-step-indicator-margin;

          &:last-of-type {
            display: none;
          }
        }

        > li.wizard-nav-item {
          display: inline-block;
          margin-top: 0;

          > a {
            display: flex;
            padding: 0;
            background-color: transparent;
            color: $text-color;
            letter-spacing: normal;
            font-size: $font-size-medium;
            align-items: center;

            .wizard-nav-step-number, .wizard-nav-step-number-complete {
              width: $wizard-step-indicator-size;
              height: $wizard-step-indicator-size;
              color: $nav-tabs-step-number-color;
              border-radius: $wizard-step-indicator-size;
              text-align: center;
              margin-right: $wizard-step-indicator-margin;
              background-color: $nav-tabs-step-number-inactive-bg-color;
            }

            .wizard-nav-step-number {
              display: inline-block;
            }
          }

          &.complete {

            > a {
              &:after {
                content: '';
              }

              .wizard-nav-step-number-complete {
                display: inline-block;
                background-color: $nav-tabs-step-number-active-bg-color;

                > i {
                  font-size: $font-size-large1;
                  padding-top: #{($wizard-step-indicator-size - $font-size-large) / 2};
                }
              }

              .wizard-nav-step-number {
                display: none;
              }
            }
          }

          &.active {
            > a {
              font-weight: $console-font-weight-semibold;

              .wizard-nav-step-number {
                background-color: $nav-tabs-step-number-active-bg-color;
              }
            }
          }
        }
      }
    }
  }
}
