@import 'detail/cluster-detail';
@import 'organization/space/detail/space-detail';
@import 'actions/actions';

.cluster {

  // Give the headers a uniform padding
  h3 {
    margin: $console-unit-space 0;
    height: $console-unit-space;
  }

  // Ensure that anchor 'buttons' that live in a list inherit the line height of the list (avoiding large height of btn)
  .dl-horizontal {
    a.btn {
      line-height: inherit;
    }
  }

  .cluster-loading {
    margin: 72px auto;
    text-align: center;
  }

  .cluster-actions-menu {
    position: absolute;
    right: $console-unit-space / 2; // ok with scroll bar on, no time find a way to satisfy both with and without the scrollbar
    top: $console-unit-space
  }

  .cluster-empty-list {
    width: 100%;
  }

  organization-summary-tile, space-summary-tile {
    .panel-body {
      // Match row class used in cluster pseudo gallery card
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .space-services-table {
    clear: both;
  }

}
