.app-ring-chart {
  display: flex;
  align-items: center;

  .legend {
    display: flex;
    align-items: center;
  }

  .advanced-pie-legend {
    display: flex;
    top:0;
    transform: none;
    flex-direction: column;
    margin-right: 36px;

    .item-percent {
      display: none;
    }

    .total-label {
      margin: -8px 0 0 0;
    }

    .legend-items-container .legend-items .legend-item {
      .item-value, .item-label {
        margin-top: 0;
      }
    }
  }
  
  ngx-charts-advanced-legend .advanced-pie-legend {
    .total-label, .total-value {
      display: none;
    }
  }
}