<div class="action-menu-wrapper" ng-show="actionsMenuCtrl.visibleActions">
  <div ng-show="actionsMenuCtrl.buttonMode"
       class="action-button">
    <a class="btn btn-link" ng-click="actionsMenuCtrl.executeAction($event, actionsMenuCtrl.actions[0])">
      <span translate>{{ actionsMenuCtrl.actions[0].name }}</span>
    </a>
  </div>
  <div ng-show="!actionsMenuCtrl.buttonMode"
       class="actions-menu dropdown"
       ng-class="{ 'open': actionsMenuCtrl.open }">
    <i class="actions-menu-icon dropdown-toggle material-icons" ng-class="actionsMenuCtrl.icon" tabindex="0">{{actionsMenuCtrl.menuIconName}}</i>
    <ul class="actions-menu-list dropdown-menu" ng-class="actionsMenuCtrl.position">
      <li class="actions-menu-label dropdown-header" ng-if="actionsMenuCtrl.menuLabel">
        <span translate>{{ actionsMenuCtrl.menuLabel }}</span>
      </li>
      <li class="actions-menu-item" ng-repeat="action in actionsMenuCtrl.actions"
          ng-click="actionsMenuCtrl.executeAction($event, action)"
          tabindex="0"
          ng-disabled="actionsMenuCtrl.executeOrReturn(action, 'disabled')"
          ng-hide="actionsMenuCtrl.executeOrReturn(action, 'hidden')">
        <i ng-class="action.icon" ng-if="action.icon"></i>
        <span translate>{{ action.name }}</span>
      </li>
    </ul>
  </div>
</div>

