<div [formGroup]="formGroup" class="kube-certs-auth">
  <div formGroupName="authValues" class="kube-certs-auth__form">
    <span>Specify Certificate file:</span>
    <app-file-input fileFormControlName="cert" placeholder="cert">
    </app-file-input>
    <span>Specify Certificate key file:</span>
    <app-file-input fileFormControlName="certKey" placeholder="certKey">
    </app-file-input>
    <input matInput formControlName="cert" hidden=true>
    <input matInput formControlName="certKey" hidden=true>
  </div>
</div>
