<div class="list-component" [ngClass]="{'list-component__table': (view$ | async) === 'table', 'list-component__cards': (view$ | async) === 'cards' }">
  <mat-progress-bar color="primary" *ngIf="!(hasControls$ | async)" [hidden]="!(showProgressBar$ | async)" [mode]="'query'"></mat-progress-bar>
  <div class="list-component__header" [hidden]="!(hasControls$ | async)">
    <mat-progress-bar color="primary" [hidden]="!(showProgressBar$ | async)" [mode]="'query'"></mat-progress-bar>
    <mat-card [ngClass]="{'list-component__header--selected': (dataSource.isSelecting$ | async), 'mat-header-row': (view$ | async) === 'table'}" class="list-component__header-card">
      <div class="list-component__header__left">
        <div class="list-component__header__left--text" *ngIf="!(isAddingOrSelecting$ | async) && config.text?.title">{{ config.text?.title }}</div>
        <div class="list-component__header__left--text" *ngIf="(dataSource.isSelecting$ | async)">{{dataSource.selectedRows.size}} Selected</div>
        <!-- Multi filters, such as filter app wall by cf/org/space -->
        <div class="list-component__header__left--multi-filters" [hidden]="(!(hasRows$ | async) && !filter) || (isAddingOrSelecting$ | async)">
          <mat-form-field *ngFor="let multiFilterConfig of multiFilterConfigs" [floatLabel]="'never'">
            <mat-select matInput [(value)]="multiFilters[multiFilterConfig.key]" [disabled]="(dataSource.isLoadingPage$ | async) || (multiFilterConfig.loading$ | async) || !(multiFilterConfig.list$ | async) || !(multiFilterConfig.list$ | async).length" (change)="multiFilterConfig.select.next($event.value)">
              <mat-option>All</mat-option>
              <mat-option *ngFor="let selectItem of multiFilterConfig.list$ | async" [value]="selectItem.value">
                {{selectItem.label}}
              </mat-option>
            </mat-select>
            <mat-placeholder>{{multiFilterConfig.label}}</mat-placeholder>
          </mat-form-field>
          <app-stateful-icon *ngIf="(multiFilterConfigsLoading$ | async)" [state]="'busy'"></app-stateful-icon>
        </div>
      </div>
      <div class="list-component__header__right">
        <!-- Filter by text input -->
        <div class="filter" [hidden]="!config.enableTextFilter || (!(hasRows$ | async) && !filter) || (isAddingOrSelecting$ | async)">
          <mat-form-field floatPlaceholder="never">
            <input matInput [ngModel]="filterString" #filter="ngModel" [disabled]="(dataSource.isLoadingPage$ | async)" name="filter" placeholder="{{config.text?.filter || 'Filter'}}">
          </mat-form-field>
        </div>
        <!-- Sort Button & Drop down -->
        <div class="sort" [hidden]="(view$ | async) === 'table' || sortColumns.length < 1 || (isAddingOrSelecting$ | async) || (!(dataSource.isLoadingPage$ | async) && !(hasRowsOrIsFiltering$ | async))">
          <mat-form-field>
            <mat-select matInput #headerSortField shouldPlaceholderFloat="false" [disabled]="(disableActions$ | async)" (change)="updateListSort($event.value, headerSortDirection)">
              <mat-option *ngFor="let column of sortColumns" [value]="column.columnId">
                {{column.headerCell()}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button (click)="updateListSort(headerSortField.value, 'desc')" [disabled]="(disableActions$ | async)" *ngIf="headerSortDirection==='asc'">
            <mat-icon>sort</mat-icon>
          </button>
          <button mat-icon-button (click)="updateListSort(headerSortField.value, 'asc')" [disabled]="(disableActions$ | async)" *ngIf="headerSortDirection==='desc'">
            <mat-icon style="transform: rotate(180deg);">sort</mat-icon>
          </button>
        </div>
        <!-- Multi actions (those applied to selection) -->
        <div *ngIf="(dataSource.isSelecting$ | async)">
          <ng-container *ngFor="let action of multiActions">
            <button mat-icon-button *ngIf="action.visible(row)" (click)="executeActionMultiple(action)" [disabled]="!action.enabled(row)" matTooltip="{{action.description}}" matTooltipShowDelay="2000">
              <mat-icon>{{action.icon}}</mat-icon>
            </button>
          </ng-container>
        </div>
        <!-- Global actions (those not applied to specific rows) -->
        <div *ngIf="!(isAddingOrSelecting$ | async) && globalActions?.length > 0">
          <ng-container *ngFor="let action of globalActions">
            <button mat-icon-button *ngIf="action.visible(row)" (click)="executeActionGlobal(action)" [disabled]="!action.enabled(row)" matTooltip="{{action.description}}" matTooltipShowDelay="2000">
              <mat-icon>{{action.icon}}</mat-icon>
            </button>
          </ng-container>
        </div>
        <!-- Add new row form -->
        <div *ngIf="addForm && (dataSource.isAdding$ | async) && !(dataSource.isSelecting$ | async)" class="add-container">
          <div class="spacer"></div>
          <ng-content select="[app-table-add]"></ng-content>
          <button mat-icon-button (click)="dataSource.saveAdd()" [disabled]="!safeAddForm().valid">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-icon-button (click)="dataSource.cancelAdd()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <!-- Add form button -->
        <div *ngIf="addForm && !(isAddingOrSelecting$ | async)">
          <button mat-icon-button [disabled]="(dataSource.isLoadingPage$ | async)" (click)="safeAddForm().reset();dataSource.startAdd();">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <!-- Select table or cards view button -->
        <div *ngIf="config.viewType === 'both' && !(isAddingOrSelecting$ | async) && ((dataSource.isLoadingPage$ | async) || (hasRowsOrIsFiltering$ | async))">
          <button mat-icon-button [disabled]="(dataSource.isLoadingPage$ | async)" (click)="updateListView('cards');" *ngIf="(view$ | async)==='table'">
            <mat-icon>grid_on</mat-icon>
          </button>
          <button mat-icon-button [disabled]="(dataSource.isLoadingPage$ | async)" (click)="updateListView('table');" *ngIf="(view$ | async)==='cards'">
          <mat-icon>list</mat-icon>
          </button>
        </div>
        <button mat-icon-button *ngIf="!(isAddingOrSelecting$ | async)" [disabled]="dataSource.isLoadingPage$ | async" (click)="refresh()">
          <mat-icon class="refresh-icon" [ngClass]="{refreshing: (isRefreshing$ | async)}" aria-label="Refresh list data">refresh</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
  <div class="refresh-button__no-header" *ngIf="!(hasControls$ | async)">
    <button mat-mini-fab *ngIf="!(isAddingOrSelecting$ | async)" [disabled]="dataSource.isLoadingPage$ | async" (click)="refresh()">
        <mat-icon class="refresh-icon" [ngClass]="{refreshing: (isRefreshing$ | async)}" aria-label="Refresh list data">refresh</mat-icon>
      </button>
  </div>
  <div class="list-component__body">
    <div class="list-component__body-inner" [hidden]="!(hasRows$ | async)" [@list]="(pageState$ | async)">
      <app-cards *ngIf="(view$ | async) === 'cards'" #cards [dataSource]="dataSource" [component]="config.cardComponent" [hidden]="!(hasRows$ | async)"></app-cards>
      <app-table *ngIf="(view$ | async) === 'table'" #table [listConfig]="config" [paginationController]="paginationController" [columns]="columns" [text]="config.text" [enableFilter]="config.enableTextFilter" [fixedRowHeight]="config.tableFixedRowHeight" [hidden]="!(hasRows$ | async)">
      </app-table>
    </div>
    <mat-card class="list-component__paginator" [hidden]="(hidePaginator$ | async)">
      <mat-paginator #paginator [pageSizeOptions]="paginator.pageSizeOptions" [pageSize]="paginator.pageSize" [pageIndex]="paginator.pageIndex" showFirstLastButtons="true" [hidden]="(dataSource.isSelecting$ | async)">
      </mat-paginator>
    </mat-card>
  </div>
  <ng-template #defaultNoEntries>
    <mat-card class="list-component__default-no-entries">
      <mat-card-content>
        <div class="no-rows">{{config.text?.noEntries || 'There are no entries.'}}</div>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <div [hidden]="(showProgressBar$ | async) || (hasRows$ | async)" class="list-component__no-entries">
    <ng-container *ngIf="(noRowsNotFiltering$ | async)">
      <ng-container *ngTemplateOutlet="noEntries ? noEntries : defaultNoEntries">
      </ng-container>
    </ng-container>
    <ng-container *ngIf="(noRowsHaveFilter$ | async)">
      <ng-container *ngTemplateOutlet="noEntriesForCurrentFilter ? noEntriesForCurrentFilter : defaultNoEntries">
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #refreshButton>
  <button mat-mini-fab *ngIf="!(isAddingOrSelecting$ | async)" [disabled]="dataSource.isLoadingPage$ | async" (click)="refresh()">
    <mat-icon aria-label="Refresh list data">refresh</mat-icon>
  </button>
</ng-template>
