<div class="listComponent">
  <div class="listComponent__header" [ngClass]="{'selected': (dataSource.isSelecting$ | async) }">
    <mat-card>
      <mat-card-header>
        <div class="listComponent__header__top">
          <div class="listComponent__header__left spacer">
            <div [hidden]="(dataSource.isSelecting$ | async) || (dataSource.isAdding$ | async)">{{ text?.title }}</div>
            <div [hidden]="!(dataSource.isSelecting$ | async)">{{dataSource.selectedRows.size}} Selected</div>
          </div>
          <div class="listComponent__header__right">
            <div *ngIf="(dataSource.isSelecting$ | async)">
              <ng-container *ngFor="let action of multiActions">
                <button mat-icon-button *ngIf="action.visible(row)" (click)="executeActionMultiple(action)" [disabled]="!action.enabled(row)" matTooltip="{{action.description}}" matTooltipShowDelay="2000">
                  <mat-icon>{{action.icon}}</mat-icon>
                </button>
              </ng-container>
            </div>
            <div *ngIf="!(dataSource.isSelecting$ | async)">
              <ng-container *ngFor="let action of globalActions">
                <button mat-icon-button *ngIf="action.visible(row)" (click)="executeActionGlobal(action)" [disabled]="!action.enabled(row)" matTooltip="{{action.description}}" matTooltipShowDelay="2000">
                  <mat-icon>{{action.icon}}</mat-icon>
                </button>
              </ng-container>
            </div>
            <div *ngIf="addForm && (dataSource.isAdding$ | async) && !(dataSource.isSelecting$ | async)" class="add-container">
              <div class="spacer"></div>
              <ng-content select="[app-table-add]"></ng-content>
              <button mat-icon-button (click)="dataSource.saveAdd()" [disabled]="!safeAddForm().valid">
                <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button (click)="dataSource.cancelAdd()">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
            <div *ngIf="addForm && !(dataSource.isAdding$ | async) && !(dataSource.isSelecting$ | async)">
              <button mat-icon-button [disabled]="(dataSource.isLoadingPage$ | async)" (click)="safeAddForm().reset();dataSource.startAdd();">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div *ngIf="listConfigService.viewType === 'both' && !(dataSource.isSelecting$ | async) && (dataSource.pagination$ | async)?.totalResults > 0">
              <button mat-icon-button [disabled]="(dataSource.isLoadingPage$ | async)" (click)="updateListView('cards');" *ngIf="(dataSource.view$ | async)==='table'">
                  <mat-icon>grid_on</mat-icon>
                </button>
              <button mat-icon-button [disabled]="(dataSource.isLoadingPage$ | async)" (click)="updateListView('table');" *ngIf="(dataSource.view$ | async)==='cards'">
                  <mat-icon>list</mat-icon>
                </button>
            </div>
          </div>
        </div>
        <div class="listComponent__header__bottom">
          <div class="listComponent__header__left spacer">
            <div class="multi-filters" [hidden]="(dataSource.isSelecting$ | async) || (!(dataSource.isLoadingPage$ | async) && (dataSource.pagination$ | async)?.totalResults === 0)">
              <mat-form-field *ngFor="let multiFilterConfig of multiFilterConfigs">
                <mat-select matInput shouldLabelFloat="false" [(value)]="multiFilters[multiFilterConfig.key]" placeholder="{{multiFilterConfig.label}}" [disabled]="(dataSource.isLoadingPage$ | async)" (change)="multiFilterConfig.select.next($event.value)">
                  <mat-option>All</mat-option>
                  <mat-option *ngFor="let selectItem of multiFilterConfig.list$ | async" [value]="selectItem.value">
                    {{selectItem.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="listComponent__header__right">
            <div class="sort" [hidden]="(dataSource.isSelecting$ | async) || (!(dataSource.isLoadingPage$ | async) && (dataSource.pagination$ | async)?.totalResults === 0)">
              <button mat-icon-button (click)="updateListSort(headerSortField.value, 'desc')" [disabled]="(dataSource.isLoadingPage$ | async)" *ngIf="headerSortDirection==='asc'">
                <mat-icon>sort</mat-icon>
              </button>
              <button mat-icon-button (click)="updateListSort(headerSortField.value, 'asc')" [disabled]="(dataSource.isLoadingPage$ | async)" *ngIf="headerSortDirection==='desc'">
                <mat-icon style="transform: rotate(180deg);">sort</mat-icon>
              </button>
              <mat-form-field>
                <mat-select matInput #headerSortField shouldPlaceholderFloat="false" [disabled]="(dataSource?.isLoadingPage$ | async)" (change)="updateListSort($event.value, headerSortDirection)">
                  <mat-option *ngFor="let column of sortColumns" [value]="column.columnId">
                    {{column.headerCell()}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter" [hidden]="!enableFilter || ((dataSource.pagination$ | async)?.totalResults === 0 && !filter) || (dataSource.isSelecting$ | async)">
              <mat-form-field floatPlaceholder="never">
                <input matInput [ngModel]="filterString" #filter="ngModel" [disabled]="(dataSource.isLoadingPage$ | async)" name="filter" placeholder="{{text?.filter || 'Filter'}}">
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
    <div style="height: 5px;">
      <div [hidden]="!(dataSource.isLoadingPage$ | async)">
        <mat-progress-bar color="primary" [mode]="'query'"></mat-progress-bar>
      </div>
    </div>
  </div>
  <div class="listComponent__body">
    <app-cards *ngIf="(dataSource.view$ | async) === 'cards'" #cards [dataSource]="dataSource" [component]="cardComponent" [hidden]="!(dataSource.isLoadingPage$ | async) && (dataSource.pagination$ | async)?.totalResults === 0"></app-cards>
    <app-table *ngIf="(dataSource.view$ | async) === 'table'" #table [dataSource]="dataSource" [paginationController]="paginationController" [columns]="columns" [text]="text" [enableFilter]="true" [fixedRowHeight]="tableFixedRowHeight" [hidden]="!(dataSource.isLoadingPage$ | async) && (dataSource.pagination$ | async)?.totalResults === 0">
    </app-table>
    <mat-card class="listComponent__paginator" [hidden]="(dataSource.pagination$ | async)?.totalResults === 0 || (dataSource.pagination$ | async)?.totalResults < (dataSource.pagination$ | async)?.pageSize">
      <mat-paginator #paginator [pageSizeOptions]="paginator.pageSizeOptions" [pageSize]="paginator.pageSizeOptions[0]">
      </mat-paginator>
    </mat-card>
    <mat-card [hidden]="(dataSource.isLoadingPage$ | async) || (dataSource.pagination$ | async)?.totalResults > 0">
      <mat-card-content>
        <div class="no-rows">There are no entries.</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
