@import '~@angular/material/theming';
@import '../../../../sass/mixins';
@mixin list-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $foreground-colors: map-get($theme, foreground);
  $background-colors: map-get($theme, background);
  .list-component {
    &__header {
      &.selected {
        .mat-card {
          background-color: mat-color($primary, 50);
        }
      }
      mat-card {
        flex-direction: column;
        @include breakpoint(desktop) {
          flex-direction: row;
        }
        @include breakpoint(tablet) {
          // background-color: yellow;
          // flex-direction: row;
        }
      }
      &__right {
        justify-content: flex-start;
        @include breakpoint(desktop) {
          justify-content: flex-end;
        }
      }
    }
  }
}
