.report-runner {
  align-items: center;
  display: flex;
  justify-content: center;

  &__run {
    padding-right: 0;
  }

  &__info {
    margin-left: -3px;
    padding: 0;
    width: 33px;
    height: 33px;
    line-height: 33px;
  }
}
