<div class="applications-header apps-header font-semi-bold">
  <span translate>app-wall</span>
  <bounce-spinner classes="bounce-spinner-sm" ng-if="applicationsListCtrl.loading"></bounce-spinner>
  <actions-toolbar ready="applicationsListCtrl.ready" items="applicationsListCtrl.appWallActions"></actions-toolbar>
</div>

<div ng-if="applicationsListCtrl.ready">
  <div class="application-control-bar" ng-if="applicationsListCtrl.model.clusterCount > 0">
    <div class="panel panel-default">
      <div class="panel-body application-main-controls">
        <div class="application-search-box">
          <form>
            <div class="form-group search-field" focusable-input>
              <i class="application-search-box-icon material-icons app-icon-lg">search</i>
              <input type="text" class="form-control" id="applications-text" name="applications-text"
                     ng-model="applicationsListCtrl.filter.text"
                     ng-model-options='{ debounce: 100 }'
                     ng-change="applicationsListCtrl.setText()"
                     ng-disabled="!applicationsListCtrl.filter.text && !applicationsListCtrl.model.hasApps"
                     placeholder="{{'app-wall.search-placeholder' | translate}}"/>
            </div>
          </form>
        </div>
        <div class="app-total-control">
          <form class="form-horizontal">
            <div class=" form-group">
              <label
                ng-if="applicationsListCtrl.model.filteredApplications.length === applicationsListCtrl.model.unfilteredApplicationCount"
                class="control-label" translate>app-wall.total-apps</label>
              <label
                ng-if="applicationsListCtrl.model.filteredApplications.length !== applicationsListCtrl.model.unfilteredApplicationCount"
                class="control-label" translate>app-wall.filtered-apps</label>
              <div class="app-count">
                <div class="app-count-number">
                  <span
                    ng-if="applicationsListCtrl.model.filteredApplications.length === applicationsListCtrl.model.unfilteredApplicationCount">
                    {{ applicationsListCtrl.model.unfilteredApplicationCount }}
                  </span>
                  <span
                    ng-if="applicationsListCtrl.model.filteredApplications.length !== applicationsListCtrl.model.unfilteredApplicationCount">
                    {{ applicationsListCtrl.model.filteredApplications.length }} / {{ applicationsListCtrl.model.unfilteredApplicationCount }}
                  </span>
                </div>
                <div class="app-count-reset">
                  <div class="reset-link">
                    <a class="btn-link"
                       ng-click="applicationsListCtrl.resetFilter()"
                       ng-show="applicationsListCtrl.filter.cnsiGuid !== 'all' || applicationsListCtrl.filter.text.length"
                       translate>app-wall.reset</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="view-buttons" ng-if="!applicationsListCtrl.forceCardLayout">
          <button class="btn btn-link btn-border-less"
                  ng-class="!applicationsListCtrl.model.showCardLayout ? 'btn-active': 'btn-disabled'"
                  type="button" ng-click="applicationsListCtrl.goToGalleryView(false)"
                  ng-disabled="!applicationsListCtrl.filter.text && !applicationsListCtrl.model.hasApps">
            <div class="material-icons app-icon-lg">view_list</div>
          </button>
          <button class="btn btn-link btn-border-less"
                  ng-class="applicationsListCtrl.model.showCardLayout ? 'btn-active': 'btn-disabled'"
                  type="button" ng-click="applicationsListCtrl.goToGalleryView(true)"
                  ng-disabled="!applicationsListCtrl.filter.text && !applicationsListCtrl.model.hasApps">
            <div class="material-icons">apps</div>
          </button>
        </div>
        <div class="application-options-control">
          <div class="reset-link">
            <a class="btn-link"
               ng-if="applicationsListCtrl.model.hideFilterPanel"
               ng-click="applicationsListCtrl.toggleFilterPanel()"
               translate>app-wall.options.show</a>
            <a class="btn-link"
               ng-if="!applicationsListCtrl.model.hideFilterPanel"
               ng-click="applicationsListCtrl.toggleFilterPanel()"
               translate>app-wall.options.hide</a>
          </div>
        </div>
      </div>
      <div class="panel-body applications-filter" ng-show="!applicationsListCtrl.model.hideFilterPanel">
        <form class="form-horizontal application-cf-filters">
          <div class="form-group">
            <label class="control-label" translate>endpoint</label>
            <search-box
              ng-model="applicationsListCtrl.filter.cnsiGuid"
              input-options="applicationsListCtrl.clusters"
              ng-change="applicationsListCtrl.setCluster()">
            </search-box>
          </div>
          <div class="form-group" ng-class="{'form-group-disabled': applicationsListCtrl.filter.cnsiGuid === 'all'}">
            <label class="control-label" translate>org</label>
            <search-box
              ng-model="applicationsListCtrl.filter.orgGuid"
              input-options="applicationsListCtrl.organizations"
              ng-change="applicationsListCtrl.setOrganization()"
              disabled="applicationsListCtrl.filter.cnsiGuid === 'all'">
            </search-box>
          </div>
          <div class="form-group" ng-class="{'form-group-disabled': applicationsListCtrl.filter.orgGuid === 'all'}">
            <label class="control-label" translate>space</label>
            <search-box
              ng-model="applicationsListCtrl.filter.spaceGuid"
              input-options="applicationsListCtrl.spaces"
              ng-change="applicationsListCtrl.setSpace()"
              disabled="applicationsListCtrl.filter.orgGuid === 'all'">
            </search-box>
          </div>
        </form>
        <div class="apps-sorting" ng-hide="!applicationsListCtrl.model.hasApps">
          <applications-sorting></applications-sorting>
        </div>
      </div>
    </div>
  </div>


  <div class="applications-empty" ng-if="!applicationsListCtrl.model.hasApps">
    <div ng-if="applicationsListCtrl.model.clusterCount === 0" translate-namespace="app-wall.no-cf">
      <app-icon icon="svg:Cluster.svg" icon-class="app-icon-3x"></app-icon>
      <div class="applications-msg" translate>.warning</div>
      <div class="applications-cta">
        <div ng-if="applicationsListCtrl.isEndpointsDashboardAvailable">
          <a class="btn-link" ng-click="applicationsListCtrl.getEndpointsLink()" translate>.advice-can-fix-link</a>
          <span translate>.advice-can-fix-text</span>
        </div>
        <div ng-if="!applicationsListCtrl.isEndpointsDashboardAvailable">
          <span translate>.advice-cant-fix</span>
        </div>
      </div>
    </div>
    <div ng-if="applicationsListCtrl.model.clusterCount > 0">
      <div ng-if="!applicationsListCtrl.isSpaceDeveloper" translate-namespace="app-wall.no-apps.none-space-developer">
        <div ng-if="applicationsListCtrl.isAdminInAnyCf()">
          <app-icon icon="svg:Cluster.svg" icon-class="app-icon-3x"></app-icon>
          <div class="applications-msg" translate>.admin.line1</div>
          <div class="applications-msg" translate>.admin.line2</div>
          <div class="applications-cta">
            <a class="btn-link" ng-click="applicationsListCtrl.getEndpointsLink()" translate>.admin.link-text</a>
            <span translate>.admin.link-message</span>
          </div>
        </div>
        <div ng-if="!applicationsListCtrl.isAdminInAnyCf()">
          <app-icon icon="svg:Cluster.svg" icon-class="app-icon-3x"></app-icon>
          <div class="applications-msg" translate>.non-admin.line1</div>
          <div class="applications-msg" translate>.non-admin.line2</div>
        </div>
      </div>
      <div ng-if="applicationsListCtrl.isSpaceDeveloper">
        <app-icon icon="apps" icon-class="app-icon-3x"></app-icon>
        <div class="applications-msg" ng-bind="applicationsListCtrl.getNoAppsMessage()"></div>
        <div class="applications-cta">
          <a class="btn btn-link" ng-click="applicationsListCtrl.addApplication()"
             translate>app-wall.no-apps.space-developer.add</a>
        </div>
      </div>
    </div>

  </div>

  <div ng-if="applicationsListCtrl.model.hasApps" ui-view></div>

  <paginator
    properties="applicationsListCtrl.paginationProperties">
  </paginator>
</div>
