$spacing: 10px;
.type-info {
  font-size: 12px;
  line-height: 20px;
  opacity: .6;
}
.recent-entity {
  outline: 0;
  padding: $spacing;
  & + & {
    border-top: 1px solid rgba(0, 0, 0, .08);
  }
  &__favorite {
    margin-left: auto;
  }
  &:focus,
  &:hover {
    background-color: rgba(0, 0, 0, .02);
  }
}
.recent-entities {
  margin: -($spacing) 0;
}

.clickable {
  cursor: pointer;
}
