<mat-card *ngIf="!history">
  <mat-tab-group *ngIf="(hasHits$ | async) === true; else noActivity" dynamicHeight="true" animationDuration="0ms"
    mat-stretch-tabs>
    <mat-tab label="Top">
      <div class="recent-tab" *ngIf="frecentEntities$ | async as frecentEntities">
        <div *ngIf="frecentEntities && frecentEntities.length > 0" class="recent-entities">
          <div [routerLink]="countedEntity.entity.routerLink" [ngClass]="{clickable: !!countedEntity.entity.routerLink}"
            class="recent-entity" *ngFor="let countedEntity of frecentEntities">
            <a *ngIf="countedEntity.entity.routerLink as routerLink; else noLink">{{
              countedEntity.entity.name }}</a>
            <ng-template #noLink>
              <div>{{ countedEntity.entity.name }}</div>
            </ng-template>
            <div class="type-info">
              <span>{{ countedEntity.subText$ | async }}</span>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="History">
      <ng-container *ngTemplateOutlet="historyTemplate"></ng-container>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<div *ngIf="history">
  <div *ngIf="(hasHits$ | async) === true; else noActivity">
    <ng-container *ngTemplateOutlet="historyTemplate"></ng-container>
  </div>
</div>

<ng-template #historyTemplate>
  <div class="recent-tab" [ngClass]="{standalone: !!history}" *ngIf="recentEntities$ | async as recentEntities">
    <div *ngIf="recentEntities && recentEntities.length > 0" class="recent-entities">
      <div [routerLink]="countedEntity.entity.routerLink" [ngClass]="{clickable: !!countedEntity.entity.routerLink}"
        class="recent-entity" *ngFor="let countedEntity of recentEntities">
        <a *ngIf="countedEntity.entity.routerLink as routerLink; else noLink">{{
          countedEntity.entity.name }}</a>
        <ng-template #noLink>
          <div>{{ countedEntity.entity.name }}</div>
        </ng-template>
        <div class="type-info" *ngIf="countedEntity.mostRecentHit">
          {{ countedEntity.mostRecentHit | amTimeAgo }}
        </div>
        <div class="type-info">
          <span>{{ countedEntity.subText$ | async }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noActivity>
  No recent activity
</ng-template>