@import '~@angular/material/theming';
@mixin app-boolean-indicator-theme($theme, $app-theme) {
  $status: map-get($app-theme, status);
  .boolean-indicator {
    &__container {
      &__icon-true {
        color: map-get($status, success);
      }
      &__icon-false {
        color: map-get($status, danger);
      }
    }
  }
}
