.boolean-indicator {
  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    mat-icon {
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
    &__icon-true,
    &__icon-false {
      margin-right: 4px;
    }
  }
}
