.namespace-details {

  padding-top: 24px;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .full-width {
      width: 100%;
    }

    .pod-cards {
      padding-top: 24px;
      flex-direction: row;
      display: flex;
      div:last-child {
        padding-right: 12px;
      }
      width:100%;


      .pod-card{
        padding-right: 12px;
        flex-grow: 1;
      }
    }
  }

}
