<div class="scroll scroll-up col-sm-8 col-xs-12 text-center"
  ng-show="loginPageCtrl.prevArrowVisible" ng-click="loginPageCtrl.goToPrevSection()">
  <span class="helion-icon helion-icon-Up helion-icon-lg scroll-arrow"></span>
</div>
<div id="section-login-panel" class="col-sm-4 login-panel">
  <login-form></login-form>
  <img class="hpe-logo" ng-src="/lib/helion-ui-framework/dist/images/hpe_helion_grn_pos_rgb.png"/>
</div>
<article class="col-sm-8 content">
  <section id="section-introduction" class="clearfix introduction">
    <div>
      <h1 class="text-center" translate>Helion Stackato v4.0</h1>
      <p class="text-center" translate>
        Helion Stackato: discovering, composing, developing and managing Cloud Native workloads which are hosted in a myriad of: public, managed and private cloud/compute providers.
      </p>
    </div>
  </section>
  <section id="section-learning" class="clearfix">
    <div>
      <p class="text-center">
        <span class="helion-icon helion-icon-Book helion-icon-4x"></span>
      </p>
      <h1 class="text-center" translate>Learning</h1>
      <p class="text-center" translate>
        Read through these guides to understand fundamental concepts behind Helion Development Platform. You’ll learn everything you need to know in order to deploy your first app. You can also dig into the details of each technology stack to learn how your app goes from your development machine to your users.
      </p>
    </div>
  </section>
  <section id="section-develop" class="clearfix">
    <div>
      <p class="text-center">
        <span class="helion-icon helion-icon-Deployment helion-icon-4x"></span>
      </p>
      <h1 class="text-center" translate>Develop</h1>
      <p class="text-center" translate>
        Built for Enterprise applications, Helion Stackato has open source Cloud Foundry as a core component and adds support for things that Enterprise operations teams need most such as resiliency, ease of management, and ease of install. It also provides additional capabilities for developers such as a continuous integration and deployment service that automates build, test, and deployment actions.
      </p>
    </div>
  </section>
  <section id="section-getting-started" class="clearfix">
    <div>
      <p class="text-center">
        <span class="helion-icon helion-icon-Grow helion-icon-4x"></span>
      </p>
      <h1 class="text-center" translate>Getting Started</h1>
      <p class="text-center" translate>
        The Quick Start Developer Trial is the fastest way to evaluate the HP Helion Development Platform for yourself. Download the files, create and configure your sandbox environment, and deploy one or more sample applications.
      </p>
    </div>

    <page-footer class="position-bottom"></page-footer>

  </section>
</article>
<div class="scroll scroll-down col-sm-8 col-xs-12 text-center"
  ng-show="loginPageCtrl.nextArrowVisible" ng-click="loginPageCtrl.goToNextSection()">
  <span class="helion-icon helion-icon-Down helion-icon-lg scroll-arrow"></span>
</div>
<div class="section-status col-sm-8 col-xs-12">
  <ul>
    <li ng-repeat="section in loginPageCtrl.sections track by section.id"
      ng-class="{'selected': loginPageCtrl.currentSectionIdx === $index}"
      scroll-to="{{section.id}}"></li>
  </ul>
</div>
