@import "login-form/login-form";

login-page {
  article {
    section {
      background-color: white;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em 3em;

      &:nth-of-type(2n) {
        background-color: $seashell;
      }

      p {
        margin-top: 24px;
        margin-bottom: 24px;
        max-width: 576px;
      }
    }
  }

  .content {
    padding: 0;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.75;
    color: white;
    padding: 1em;

    .copyright {
      padding-top: 24px;
    }
  }

  .hpe-logo {
    display: block;
    padding: 3em 1em;
    max-width: 200px;
  }

  .introduction {
    background-color: $limed-spruce;
    color: white;
  }

  .login-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .login-panel {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    border-left: 1px solid black;
  }

  @media (min-width: 768px) {
    .login-panel {
      position: fixed;
      right: 0;
      top: 0;
    }
  }

  .scroll {
    position: fixed;
    z-index: 2;
  }

  .scroll-arrow {
    color: #999999;
    opacity: 0.75;
    cursor: pointer;
    font-size: 1.5em;

    &:hover {
      color: black;
    }
  }

  .scroll-up {
    top: 1em;
  }

  .scroll-down {
    bottom: 1em;
  }
}
