@import "login-form/login-form";

login-page {
  article {
    section {
      background-color: white;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em 3em;

      &:nth-of-type(2n) {
        background-color: $seashell;
      }

      p {
        margin-top: 24px;
        margin-bottom: 24px;
        max-width: 576px;
      }

      &.introduction {
        h1 {
          font-size: 42px;
        }
        p {
          max-width: none;

          > span {
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
            font-size: 20px;
          }
        }
      }
    }
  }

  .login-form {
    > h1 {
      text-align: left;
    }
  }

  .login-panel-hpe-logo {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    > img {
      position: absolute;
      bottom: 2 * $hpe-unit-space;
      left: $hpe-unit-space;
    }
  }

  .login-panel-helion-logo {
    width: 100%;

    .hpe-logo {
      flex: 0 0 auto;
      padding: 0 0 2 * $hpe-unit-space $hpe-unit-space;
    }
  }

  .login-background {
    background: url('app/view/assets/login-page-bg.jpg') no-repeat center center fixed;
    background-size: cover;

    .introduction {
      background-color: transparent;
    }
  }

  .content {
    padding: 0;
  }

  .introduction {
    background-color: $limed-spruce;
    color: white;
  }

  .login-panel {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid black;
    overflow-y: auto;
    padding: 0;
  }

  @media (min-width: $screen-sm-min) {
    .login-panel {
      position: fixed;
      right: 0;
      top: 0;
    }
  }

  .scroll {
    position: fixed;
    z-index: 2;
    color: red;

    &.scroll-has-bg {
      .scroll-arrow {
        color: $white;

        &:hover {
          color: black;
        }
      }
    }
  }

  .scroll-arrow {
    color: #999999;
    opacity: 0.75;
    cursor: pointer;
    font-size: 1.5em;

    &:hover {
      color: black;
    }
  }

  .scroll-up {
    top: 1em;
  }

  .scroll-down {
    bottom: 1em;
  }

  .section-status {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    ul {
      position: absolute;
      right: 1em;

      li {
        background-color: #999999;
        opacity: 0.3;
        list-style: none;
        height: 8px;
        width: 8px;
        margin: 8px 8px 8px 0px;
        cursor: pointer;

        &.selected {
          opacity: 1;
        }
      }
    }

    &.scroll-has-bg {
      ul > li {
        background-color: $white;
      }
    }
  }
}
