<div class="login-page">
  <div class="login-background">
    <div class="login-page-text">
      <h1 class="login-page-headline text-center" translate>{{ OEM_CONFIG.PRODUCT_CONSOLE }}</h1>
      <p class="login-page-tagline text-center" translate>
        Use the {{ OEM_CONFIG.CONSOLE }} to develop, compose, and manage Cloud Native workloads. This interface enables you to
        perform
        common management tasks, in an integrated experience.
      </p>
    </div>
    <div class="login-panel-hpe-logo brand-company-logo">
      <img ng-src="images/brand_company_logo.png"/>
    </div>
  </div>
  <div id="section-login-panel" class="login-panel">
    <login-form></login-form>
    <div class="login-panel-helion-logo">
      <img class="hpe-logo" ng-src="images/brand_product_family_logo.png"/>
    </div>
    <page-footer mode="footer" class="position-bottom login-footer brand-footer"></page-footer>
  </div>
</div>
