<div class="col-sm-4 clearfix login-panel text-center">
  <h1 class="text-center" stranslate>HPE Helion Stratos</h1>
  <login-form></login-form>
  <img class="hpe-logo" ng-src="/lib/helion-ui-theme/dist/images/hpe_helion_grn_pos_rgb.png"/>
</div>
<article class="col-sm-8 content">
  <section class="clearfix introduction">
    <div>
      <h1 class="text-center" stranslate>HPE Helion Stratos</h1>
      <p class="text-center" stranslate>
        Stratos tag line: discovering, composing, developing and managing Cloud Native workloads which are hosted in a myriad of: public, managed and private cloud/compute providers.
      </p>
    </div>
  </section>
  <section class="clearfix">
    <div>
      <p class="text-center">
        <span class="helion-icon helion-icon-Book helion-icon-4x"></span>
      </p>
      <h1 class="text-center" stranslate>Learning</h1>
      <p class="text-center" stranslate>
        Read through these guides to understand fundamental concepts behind Helion Development Platform. You’ll learn everything you need to know in order to deploy your first app. You can also dig into the details of each technology stack to learn how your app goes from your development machine to your users.
      </p>
      <p class="text-center">
        <a href="#" class="btn btn-default">Learn More</a>
      </p>
    </div>
  </section>
  <section class="clearfix">
    <div>
      <p class="text-center">
        <span class="helion-icon helion-icon-Deployment helion-icon-4x"></span>
      </p>
      <h1 class="text-center" stranslate>Develop</h1>
      <p class="text-center" stranslate>
        Built for Enterprise applications, Stratos has open source Cloud Foundry as a core component and adds support for things that Enterprise operations teams need most such as resiliency, ease of management, and ease of install. It also provides additional capabilities for developers such as a continuous integration and deployment service that automates build, test, and deployment actions.
      </p>
      <p class="text-center">
        <a href="#" class="btn btn-default">Learn More</a>
      </p>
    </div>
  </section>
  <section class="clearfix">
    <div>
      <p class="text-center">
        <span class="helion-icon helion-icon-Grow helion-icon-4x"></span>
      </p>
      <h1 class="text-center" stranslate>Getting Started</h1>
      <p class="text-center" stranslate>
        The Quick Start Developer Trial is the fastest way to evaluate the HP Helion Development Platform for yourself. Download the files, create and configure your sandbox environment, and deploy one or more sample applications.
      </p>
      <p class="text-center">
        <a href="#" class="btn btn-default">Learn More</a>
      </p>
    </div>
  </section>
</article>
