@import "login-form/login-form";

login-page {
  article {
    section {
      background-color: white;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em 3em;

      &:nth-of-type(2n) {
        background-color: $seashell;
      }

      p {
        margin-top: 24px;
        margin-bottom: 24px;
        max-width: 576px;
      }
    }
  }

  .content {
    padding: 0;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.75;
    color: white;
    padding: 1em;

    .copyright {
      padding-top: 24px;
    }
  }

  .hpe-logo {
    flex: 0 0 auto;
    padding: 0 1em 1em;
  }

  .introduction {
    background-color: $limed-spruce;
    color: white;
  }

  .login-panel {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid black;
    overflow-y: auto;
    padding: 0;
  }

  @media (min-width: $screen-sm-min) {
    .login-panel {
      position: fixed;
      right: 0;
      top: 0;
    }
  }

  .scroll {
    position: fixed;
    z-index: 2;
  }

  .scroll-arrow {
    color: #999999;
    opacity: 0.75;
    cursor: pointer;
    font-size: 1.5em;

    &:hover {
      color: black;
    }
  }

  .scroll-up {
    top: 1em;
  }

  .scroll-down {
    bottom: 1em;
  }

  .section-status {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    ul {
      position: absolute;
      right: 1em;

      li {
        background-color: #999999;
        opacity: 0.3;
        list-style: none;
        height: 8px;
        width: 8px;
        margin: 5px;
        cursor: pointer;

        &.selected {
          opacity: 1;
        }
      }
    }
  }
}
