@import "login-form/login-form";

$login-page-text-panel-align: flex-start !default;
$login-page-text-panel-display: block !default;

.login-page {

  display: flex;
  flex-flow: row nowrap;

  .login-background {
    flex: 8 1 0px;
    background: url('images/login_bg.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    align-items: $login-page-text-panel-align;
    justify-content: center;
    padding: 1em 3em;

    h1 {
      font-size: 42px;
    }

    p {
      font-size: 20px;
      margin-top: 24px;
      margin-bottom: 24px;

      > span {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
      }
    }

    .login-page-text {
      display: $login-page-text-panel-display;
    }

    .login-panel-hpe-logo {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;

      > img {
        position: absolute;
        bottom: 2 * $hpe-unit-space;
        left: $hpe-unit-space;
      }
    }

  }

  .login-panel {
    position: relative;
    flex: 4 0 0px;
    min-width: 362px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid black;
    overflow-y: auto;
    padding: 0;

    login-form {
      flex: 1 1 auto;
    }

    .login-form {
      > h1 {
        text-align: left;
      }
    }

    .login-panel-helion-logo {
      width: 100%;

      .hpe-logo {
        flex: 0 0 auto;
        padding: 0 0 3 * $hpe-unit-space $hpe-unit-space;
      }
    }
  }

  @media (max-width: $screen-sm-min) {
    .login-background {
      display: none;
    }
  }

}
