<gallery-card class="cluster-gallery-card"
              card-data="orgSpaceTileCtrl.cardData()"
              card-actions="orgSpaceTileCtrl.actions"
              card-actions-icon="helion-icon helion-icon-More"
              card-actions-position="actions-menu-right"
              on-card-click="orgSpaceTileCtrl.summary()">
  <dl class="dl-horizontal" ng-if="orgSpaceTileCtrl.spaceDetail().details">
    <dt translate>ROLE</dt>
    <dd><div ng-repeat="role in orgSpaceTileCtrl.roles">{{ role }}</div></dd>
    <dt translate>TOTAL APPS</dt>
    <dd>{{ orgSpaceTileCtrl.spaceDetail().details.totalApps }}</dd>
    <dt translate>APP INSTANCES</dt>
    <dd>{{ orgSpaceTileCtrl.spaceDetail().details.totalAppInstances }} / {{ orgSpaceTileCtrl.spaceDetail().details.appInstancesQuota === -1 ? '∞' : orgSpaceTileCtrl.orgDetails().details.appInstancesQuota + ' MEH' }}</dd>
    <dt translate>SERVICE INSTANCES</dt>
    <dd>{{ orgSpaceTileCtrl.spaceDetail().details.totalServiceInstances }} / {{ orgSpaceTileCtrl.spaceDetail().details.serviceInstancesQuota === -1 ? '∞' : orgSpaceTileCtrl.orgDetails().details.serviceInstancesQuota  + ' FOO ' }}</dd>
    <!--<dt ng-if="true" translate>DISK</dt>-->
    <!--<dd ng-if="true">{{'1'}}</dd>-->
    <!--<dt ng-if="true" translate>MEMORY UTILIZATION</dt>-->
    <!--<dd ng-if="true">{{'1'}}</dd>-->
  </dl>

</gallery-card>

