<gallery-card class="cluster-gallery-card"
              card-data="organizationSpaceTileCtrl.cardData"
              card-actions="organizationSpaceTileCtrl.actions"
              card-actions-icon="helion-icon helion-icon-More"
              card-actions-position="actions-menu-right"
              on-card-click="organizationSpaceTileCtrl.summary()">
  <dl class="dl-horizontal">
    <dt translate>ROLE</dt>
    <dd>{{'1'}}</dd>
    <dt ng-if="true" translate>TOTAL APPS</dt>
    <dd ng-if="true">{{'1'}}</dd>
    <dt ng-if="true" translate>INSTANCES</dt>
    <dd ng-if="true">{{'1'}}</dd>
    <dt ng-if="true" translate>DISK</dt>
    <dd ng-if="true">{{'1'}}</dd>
    <dt ng-if="true" translate>MEMORY UTILIZATION</dt>
    <dd ng-if="true">{{'1'}}</dd>
  </dl>

</gallery-card>

