@import 'services/services',
        'summary/summary',
        'log-stream/log-stream',
        'variables/variables',
        'versions/versions';

.application-action-col {
  padding-top: $hpe-unit-space;

  .btn {
    font-size: $font-size-large;
    text-transform: none;
    height: auto;
    padding: $hpe-unit-space * 0.5 $hpe-unit-space;

    &:active,
    &:focus,
    &:hover {
      outline: none;

      &[disabled] {
        color: $text-color;
      }
    }

    > * {
      vertical-align: middle;
    }

    .materials-icons {
      padding-right: $hpe-unit-space;
    }
  }
}

.application-header {
  @include flex-vertical-centered();
  font-size: $hpe-unit-space;
  padding: 0;
  height: $main-nav-title-height;

  .app-summary-app-state-icon, .bounce-spinner {
    margin-left: $hpe-unit-space;
  }

  .popover {
    margin-left: 111px;
    margin-top: 20px;
  }
}

.application-details {
  padding-top: $hpe-unit-space;
  padding-bottom: $hpe-unit-space;
}

.application-nav.nav.nav-tabs > li {
  padding-top: 0;
  margin: $hpe-unit-space * 0.5 $hpe-unit-space 0 0;

  &:last-child {
    margin: $hpe-unit-space * 0.5 0 0 0;
  }
}

.application-nav-menu {
  margin-left: auto;

  .actions-menu > .actions-menu-icon {
    font-size: 1.75em;
  }

  .actions-menu.open > .actions-menu-icon {
    color: $brand-primary;
  }

  .actions-menu-list {
    top: 75%;
    min-width: $hpe-unit-space * 10;
  }

  .actions-menu-item > i {
    padding-right: $hpe-unit-space / 2;
  }
}

.side-action-item > button {
  display: flex;
  align-items: center;

  app-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.app-action-icon-cli > svg {
      width: 20px;
      height: 20px;
    }
  }

  > span {
    margin-left: $hpe-unit-space * 0.5;
  }

  &:hover {

    svg > path {
      stroke: $brand-primary;
      width: 20px;
    }
  }
}