// ===========
// Actions Toolbar
// ===========

$actions-toolbar-hover-bg: darken($white, 10%) !default;
$actions-toolbar-height: $button-height !default;
$actions-toolbar-menu-hover-color: $link-color !default;
$actions-toolbar-spacing: 4px !default;
$actions-toolbar-menu-gripper-size: 28px !default;
$actions-toolbar-icon-svg-size: 16px !default;
$actions-toolbar-icon-icon-size: $icon-font-size-base !default;
$actions-toolbar-icon-label-size: $font-size-medium !default;
