// ===========
// App Toolbar
// ===========

$app-toolbar-hover-bg: $white !default;
$app-toolbar-height: $button-height !default;
$app-toolbar-menu-hover-color: $link-color !default;
$app-toolbar-spacing: 4px !default;
$app-toolbar-menu-gripper-size: 28px !default;
$app-toolbar-icon-svg-size: 16px !default;
$app-toolbar-icon-icon-size: $icon-font-size-base !default;
$app-toolbar-icon-label-size: $font-size-medium !default;
