// Forms
// ======

// Generic names for OEM branding
$input-select-fg:                 $form-control-selected-color !default;

// console semantic names
// ------------------
$console-input-height:                $console-unit-space * 2.25 !default;  // 54px
$console-input-width:                 $console-unit-space * 13.5 !default;  // 324px
$console-input-label-fg:              $gray-darker !default;
$console-input-select-fg:             $input-select-fg;

// Form groups
$form-group-margin-bottom:        -1px !default;

$select-input-option-padding:       10px $padding-large-horizontal !default;
$select-input-menu-header-color:    #999999 !default;
$select-input-menu-header-padding:  10px $padding-large-horizontal 5px !default;
$select-input-disabled-color:       $gray-light !default;

// Placeholder text color - override bootstrap default
$input-color-placeholder:          #aaa !default;
