//== Progress bars
//
//##
$hpe-progress-bar-height:           $padding-xs-horizontal;
$hpe-progress-bar-height-stacked:   $line-height-computed;

//** Background color of the whole progress component
$progress-bg:                 $gray-light !default;
//** Progress bar text color
$progress-bar-color:          $white !default;
//** Variable for setting rounded corners on progress bar.
$progress-border-radius:      $border-radius-base !default;

//** Default progress bar color
$progress-bar-bg:             $brand-info !default;
//** Success progress bar color
$progress-bar-success-bg:     $brand-success !default;
//** Warning progress bar color
$progress-bar-warning-bg:     $brand-warning !default;
//** Danger progress bar color
$progress-bar-danger-bg:      $brand-danger !default;
//** Info progress bar color
$progress-bar-info-bg:        $brand-info !default;
