$hpe-spinkit-sm:        $hpe-unit-space / 2 !default;
$hpe-spinkit-med:       $hpe-unit-space !default;
$hpe-spinkit-lg:        $hpe-unit-space * 3 !default;

$hpe-spinkit-dark-bg:   $hpe-primary-fg !default;
$hpe-spinkit-light-bg:  $white !default;
