.edit-app {
   .rm-background{
     background-color: transparent;
   }

   .edit-app-ssp-access {
     display: flex;
     
     > checkbox-input  {
      margin: auto 0;
     }
   }
   
   .edit-app-ssh-change-warning {
     margin-top: $console-unit-space * 0.5;
     font-weight: $console-font-weight-semibold;

     &.edit-app-ssh-changed {
       color: $status-critical;
     }
   }
}
