<div class="uaa-wizard">
  <app-steppers>
    <app-step title="Introduction">
      <div>
        <app-stratos-title></app-stratos-title>
        <p class="uaa-wizard__intro">Welcome to Stratos</p>
        <p>
          Stratos is an Open Source Web-based UI (Console) for managing Cloud Foundry. It allows users and administrators to both manage applications running in the Cloud Foundry cluster and perform cluster management tasks.
        </p>
        <p>Before accessing Stratos for the first time some configuration information is required.</p>

        <p>Press <b>NEXT</b> to get started.</p>
      </div>
    </app-step>
    <app-step title="UAA Endpoint" [valid]="validateUAAForm | async" [onNext]="uaaFormNext">
      <div class="uaa-wizard__form">
        <p>Please enter the following information to allow Stratos to authenticate with your UAA:</p>
        <form class="uaa-wizard__form" [formGroup]="uaaForm" class="stepper-form">
          <mat-form-field>
            <input matInput formControlName="apiUrl" placeholder="UAA Endpoint Url">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="clientId" placeholder="Client ID">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="clientSecret" placeholder="Client Secret">
          </mat-form-field>
          Enter the username and password of an admin user (this is used to retrieve scope metadata)
          <mat-form-field>
            <input matInput formControlName="adminUsername" placeholder="Admin Username">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" formControlName="adminPassword" placeholder="Admin Password">
          </mat-form-field>
        </form>
      </div>
    </app-step>
    <app-step title="Stratos Admin Scope" [onNext]="uaaScopeNext">
      <app-loading-page [isLoading]="applyingSetup$" alert="Saving configuration" text="Please wait - this will take a few moments">
        <div class="uaa-wizard__form">
          <p>Please select the UAA scope to use to identify Stratos Administrator users:</p>
          <form class="stepper-form">
            <mat-form-field>
              <mat-select selected="uaaScopes[0]" [(ngModel)]="selectedScope" name="UAAScope">
                <mat-option *ngFor="let scope of uaaScopes" [value]="scope">
                  {{ scope }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
      </app-loading-page>
    </app-step>
  </app-steppers>
</div>
<app-page-header hideSideNavButton="true" hideMenu="true">
  <h1>Stratos Setup</h1>
</app-page-header>
