.add-route {
  &__radios {
    display: flex;
    margin-bottom: 24px;
    margin-top: 24px;

    &__btn {
      margin-left: 24px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    form {
      display: inherit;
      flex: 1;
      flex-direction: column;
    }

    &__maptable {
      min-width: 60%;
    }
    &__message {
      margin-bottom: 24px;
    }
    &__toggle {
      margin-bottom: 24px;
      margin-top: 24px;
    }
    &__fields {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    &__buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 24px;
    }
  }
}
