.add-route {
  position: relative;
  > *[hidden] {
    display: none;
  }
  > mat-progress-bar {
    position: absolute;
    top: -10px;
  }
  &__radios {
    display: flex;
    margin-bottom: 24px;
    margin-top: 24px;
    &__btn {
      &:not(:first-of-type) {
        margin-left: 24px;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    form {
      display: inherit;
      flex: 1;
      flex-direction: column;
    }
    &__maptable {
      min-width: 100%;
    }
    &__message {
      margin-bottom: 24px;
    }
    &__toggle {
      margin-bottom: 10px;
      margin-top: 24px;
      mat-checkbox {
        margin-left: 12px;
      }
    }
    &__fields {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    &__buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 24px;
    }
  }
}
