.add-route {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-height: 100%;
  // height: 100%;

  &__radios {
    display: flex;
    // justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 24px;
    &__btn {
      margin-left: 24px;
    }
  }

  mat-card-header {
    display: block;
    font-size: 22.5px;
    font-weight: 700;
  }
  &__card {
    // height: 100%;
    flex: 1;
    &__form {
      display: flex;
      flex-direction: column;

      form {
        display: inherit;
        flex: 1;
        flex-direction: column;
      }

      &__message {
        margin-bottom: 24px;
      }
      &__toggle {
        margin-bottom: 24px;
        margin-top: 24px;
      }
      &__fields {
        // height: 50%;
        display: flex;
        flex-direction: column;
        flex: 1;
        // flex-grow: 1;
      }
      &__buttons {
        display: flex;
        margin-top: 24px;
        // flex-direction: row;
        justify-content: flex-end;
        // flex-grow: 1;
      }
    }
  }
}
