.autoscaler-credential {

  &__card {

    &:first-of-type {
      margin-bottom: 24px;
    }

    mat-card-header {
      align-items: center;
      display: flex;
      mat-icon {
        margin-right: 5px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    mat-form-field {
      max-width: 350px;
    }
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    padding-bottom: 7px;

    mat-radio-group {
      padding-top: 10px;
      mat-radio-button {
        padding-right: 12px;

      }
    }
  }

  &__buttons {
    display: flex;
    button {
      display: flex;
      justify-content: center;
      margin-right: 8px;
      width: 100px;
    }
    &--spinner {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
