.autoscaler-credential-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  max-width: 450px;
  mat-form-field {
    width: 100%;
  }
  .autoscaler-credential-toggle {
    padding: 1em 0 1em 0;
    span {
      margin-right: .8em;
    }
  }
}

.autoscaler-credential-submit {
  margin-top: 1em;
  margin-right: 1em;
}


