.autoscaler-credential {

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 450px;
    mat-form-field {
      width: 100%;
    }
  }

  &__toggle {
    padding: 1em 0;
    span {
      margin-right: .8em;
    }
  }

  &__buttons {
    display: flex;
    button {
      display: flex;
      justify-content: center;
      margin-right: 8px;
    }
    &--spinner {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
