<div class="space-services-table"
     st-table="spaceSrvsCtrl.visibleServiceInstances"
     st-safe-src="spaceSrvsCtrl.spaceDetail().instances">

  <div>
    <div class="panel panel-default">
      <table class="table table-actionable" >
        <thead>
        <tr>
          <th st-sort="entity.name" st-sort-default="true" translate>SERVICE INSTANCES</th>
          <th st-sort="entity.type" translate>TYPE</th>
          <th translate>PLAN</th>
          <th translate>APPLICATION ATTACHED</th>
          <th translate>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr
          ng-repeat="instance in spaceSrvsCtrl.visibleServiceInstances">
          <td>{{ instance.entity.name }}</td>
          <td>{{ spaceSrvsCtrl.service[instance.metadata.guid].entity.label }}</td>
          <td>{{ spaceSrvsCtrl.servicePlan[instance.metadata.guid].entity.name }}</td>
          <td>{{ spaceSrvsCtrl.appModel.appSummary[spaceSrvsCtrl.clusterGuid][spaceSrvsCtrl.serviceBindingModel.allServiceBindings[spaceSrvsCtrl.clusterGuid][instance.metadata.guid].entity.app_guid].name }}</td>
          <td>
            <actions-menu actions="spaceSrvsCtrl.actions"
                          action-target="instance"
                          menu-icon="helion-icon helion-icon-More"
                          menu-position="actions-menu-right">
            </actions-menu>
          </td>
        </tr>
        </tbody>
        <tfoot ng-init="spaceSrvsCtrl.showInstances = 5"
               ng-show="spaceSrvsCtrl.showInstances < spaceSrvsCtrl.spaceDetail().instances.length">
        <tr>
          <td colspan="5" class="text-center">
            <a ng-click="spaceSrvsCtrl.showInstances = spaceSrvsCtrl.spaceDetail().instances.length">
              <span translate>Show All</span> ({{spaceSrvsCtrl.spaceDetail().instances.length}})
            </a>
            <div ng-show="false" st-pagination="" st-items-by-page="spaceSrvsCtrl.showInstances"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>
