.summary {
  &__cards {
    display: flex;
    $summary-card-spacing: 20px;
    flex-wrap: wrap;
    margin: auto;
  }
  &__card {
    width: 100%;
  }
  &__large {
    font-size: 16px;
    font-weight: 500;
  }
  &__tile_actions {
    padding: 6px;
    text-align: right;
  }
}

.app-metadata {
  display: flex;
  flex-direction: row;
  &__two-cols {
    flex: 1;
    app-metadata-item:first-child {
      margin-top: 0;
    }
  }
}

.cli-link {
  margin-top: 24px;
}
