<div class="summary" *ngIf="applicationService.application$ | async as appSvc">
  <app-tile-grid>
    <app-tile-group>
      <app-tile>
        <app-card-app-status></app-card-app-status>
      </app-tile>
      <app-tile>
        <app-card-app-instances></app-card-app-instances>
      </app-tile>
      <app-tile>
        <app-card-app-uptime></app-card-app-uptime>
      </app-tile>
    </app-tile-group>
    <app-tile-group>
      <app-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Application Info</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="app-metadata">
              <div class="app-metadata__two-cols">
                <app-metadata-item icon="memory" label="Memory Quota">{{ appSvc.app.entity.memory | mbToHumanSize }}</app-metadata-item>
                <app-metadata-item icon="storage" label="Disk Quota">{{ appSvc.app.entity.disk_quota | mbToHumanSize}}</app-metadata-item>
                <app-metadata-item icon="date_range" label="Created">{{ appSvc.app.metadata.created_at | date:'medium' }}</app-metadata-item>
                <app-metadata-item icon="access_time" label="Modified">{{ appSvc.app.entity.package_updated_at ? (appSvc.app.entity.package_updated_at | date:'medium') : '-' }}</app-metadata-item>
                <app-metadata-item icon="developer_mode" label="SSH Enabled">{{ sshStatus$ | async }}</app-metadata-item>
              </div>
              <div class="app-metadata__two-cols">
                <app-metadata-item icon="touch_app" label="App State">{{ appSvc.app.entity.state }}</app-metadata-item>
                <app-metadata-item icon="card_travel" label="Package State">{{ appSvc.app.entity.package_state }}</app-metadata-item>
                <app-metadata-item icon="service" iconFont="stratos-icons" label="Services">{{(applicationService.appSummary$ | async)?.entity?.entity.services?.length || '0' }}</app-metadata-item>
                <app-metadata-item icon="network_route" iconFont="stratos-icons" label="Routes">{{(applicationService.appSummary$ | async)?.entity?.entity?.routes?.length || '0' }}</app-metadata-item>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </app-tile>
      <app-tile size="1of3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Cloud Foundry</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-metadata-item icon="title" label="Name">
              <a [routerLink]="['/cloud-foundry/' + appSvc.cf?.guid]" matTooltip="CF API URL: {{ getFullApiUrl(appSvc.cf) }}">{{ appSvc.cf?.name}}</a>
            </app-metadata-item>
            <ng-container *ngIf="applicationService.appOrg$ | async as appOrg">
              <app-metadata-item iconFont="stratos-icons" icon="organization" label="Organization">
                <a [routerLink]="['/cloud-foundry/' + appSvc.cf?.guid + '/organizations/' + appOrg.metadata.guid]">{{ appOrg.entity.name }}</a>
              </app-metadata-item>
              <app-metadata-item *ngIf="applicationService.appSpace$ | async as appSpace" icon="language" label="Space">
                <a [routerLink]="['/cloud-foundry/' + appSvc.cf?.guid + '/organizations/' + appOrg.metadata?.guid + '/spaces/' + appSpace.metadata?.guid]">{{ appSpace.entity.name }}</a>
              </app-metadata-item>
              <app-metadata-item icon="keyboard" label="CLI Info" class="cli-link">
                <a [routerLink]="['/applications/' + appSvc.cf?.guid + '/' + appSvc.app?.metadata.guid + '/cli']">View</a>
              </app-metadata-item>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </app-tile>
    </app-tile-group>

    <!-- Misc -->
    <app-tile-group>
      <app-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Build Info</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-metadata-item icon="build" label="Buildpack">
              <app-view-buildpack [buildPack]="appSvc.app.entity.buildpack || appSvc.app.entity.detected_buildpack"></app-view-buildpack>
            </app-metadata-item>
            <app-metadata-item icon="code" label="Stack">{{ appSvc.app.entity.stack?.entity.name || '-' }}</app-metadata-item>
          </mat-card-content>
        </mat-card>
      </app-tile>
      <app-tile *ngIf="(deploySource$ | async) as deploySource; else notDeployedFromStratos" id="app-build-tab-deployment-info">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Deployment Info</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span [ngSwitch]="deploySource.type">
                <app-metadata-item *ngSwitchCase="'giturl'" icon="code" label="Git Url">
                    <div matTooltip="{{ deploySource.branch + ' ' + (deploySource.commit | slice:0:8)}}"
                    [matTooltipHideDelay]="1500">
		                  {{(applicationService.applicationStratProject$| async)?.deploySource.url}}
                  </div>
                </app-metadata-item>
                <app-metadata-item *ngSwitchCase="'gitscm'" [iconFont]="deploySource.icon.fontName" [icon]="deploySource.icon.iconName" [label]="deploySource.label">
                    <a href="{{ deploySource.commitURL }}"
                      rel="noopener noreferrer" target="_blank">
                      {{ deploySource.commit | slice:0:8 }}
                    </a>
                  </app-metadata-item>
                  <app-metadata-item *ngSwitchCase="'filefolder'" icon="folder" label="Folder">
                    Deployed from local folder
                  </app-metadata-item>
                  <app-metadata-item *ngSwitchCase="'archive'" icon="insert_drive_file" label="File">
                    Deployed from local file
                  </app-metadata-item>
                </span>
          </mat-card-content>
        </mat-card>
      </app-tile>
      <ng-template #notDeployedFromStratos>
        <app-tile id="app-build-tab-deployment-info">
          <mat-card>
            <mat-card-header>
              <mat-card-title>No Deployment Info</mat-card-title>
            </mat-card-header>
          </mat-card>
        </app-tile>
      </ng-template>
    </app-tile-group>
  </app-tile-grid>
