.dialog-error {
  font-size: 12px;
  margin: 0 -24px -10px;
  height: 35px;
  &__content {
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    mat-icon {
      margin-right: 10px;
    }
    &-outer {
      width: 300px;
    }
  }
}
