.metrics-range-parent-selector {
  &_card {
    padding-bottom: 0;
    padding-top: 0;
  }

  &__date-range {
    align-items: center;
    display: flex;

    &-buttons {
      margin-left: 10px;
    }
  }

  &__charts {
    padding-top: 20px;

    & > * {
      background-color: white;
      height: 500px;
    }
  }

  &__dropdown-wrapper {
    display: flex;
  }

  &__dropdown-wrapper {
    align-items: center;
    display: flex;
  }

  &__selected-range {
    margin-left: 10px;

    &-dates {
      display: flex;
    }

    &-to {
      margin: 0 5px;
    }

    &-date {
      font-weight: bold;
    }
  }
}
