.kube-node-capacity {
    display: flex;

    .legend-items-container {
        width: 100%;

        .legend-items {
            white-space: nowrap;
            overflow: auto;
        }

        .item-value {
            font-size: 18px;
        }

        .item-label {
            font-size: 14px;
            opacity: 0.7;
        }
    }

}