.autoscaler-tab {
  display: flex;
  position: relative;
  width: 100%;
  &__actions {
    bottom: 10px;
    padding-top: 0;
    position: absolute;
    right: 24px;
    text-align: right;
  }
}

.app-metadata {
  display: flex;
  flex-direction: row;
  &__two-cols {
    flex: 1;
    app-metadata-item:first-child {
      margin-top: 0;
    }
  }
  app-metadata-item {
    margin-bottom: 0;
  }
}

app-tile-grid {
  width: 100%;
}

table {
  width: 100%;
  td {
    padding-left: .5em;
  }
}

.autoscaler-tab-policy {
  margin-bottom: 24px;
}

.autoscaler-tab-policy-left {
  flex: 0 0 40%;
}

.autoscaler-tab-tile {
  &-1of2 {
    flex: 0 0 50%;
  }
  &-1of3 {
    flex: 0 0 30%;
  }
  &-1of6 {
    flex: 0 0 16.78%;
  }
}
