@mixin app-no-content-message-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $subdued: map-get($app-theme, subdued-color);

  .app-no-content-container {
    color: $subdued;
    &__link,
    .icon,
    .first-line {
      color:  mat-color($primary);
    }
  }
}
