<div class="kubernetes-node-info-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Node Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="kubernetes-node-info-card__content">
          <app-metadata-item label="Operating System">{{ (kubeNodeService.nodeEntity$ | async)?.status.nodeInfo.operatingSystem }}</app-metadata-item>
          <app-metadata-item label="Archtecture">{{ (kubeNodeService.nodeEntity$ | async)?.status.nodeInfo.architecture }}</app-metadata-item>
          <app-metadata-item label="OS Image">{{ (kubeNodeService.nodeEntity$ | async)?.status.nodeInfo.osImage }}</app-metadata-item>
          <app-metadata-item label="Kernel Version">{{ (kubeNodeService.nodeEntity$ | async)?.status.nodeInfo.kernelVersion }}</app-metadata-item>
          <app-metadata-item label="Kubelet Version">{{ (kubeNodeService.nodeEntity$ | async)?.status.nodeInfo.kubeletVersion }}</app-metadata-item>
          <app-metadata-item label="Kube Proxy Version">{{ (kubeNodeService.nodeEntity$ | async)?.status.nodeInfo.kubeProxyVersion }}</app-metadata-item>
        </div>
      </mat-card-content>
    </mat-card>
  
  </div>
  