@mixin steppers-theme($theme, $app-theme) {
  $color: mat.m2-get-color-config($theme);
  $background-colors: mat.m2-get-color-from-palette($color, background);
  $foreground-colors: mat.m2-get-color-from-palette($color, foreground);
  
  .steppers {
    background-color: mat.m2-get-color-from-palette($background-colors, background);
    color: mat.m2-get-color-from-palette($foreground-colors, base);
  }
}
