.steppers {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  &__inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 24px;
  }
  &__headers {
    display: flex;
    flex: 0 0 72px;
    height: 72px;
  }
  &__header {
    align-items: center;
    display: flex;
    flex: 1;
    &-inner {
      align-items: center;
      display: flex;
      flex: 1;
      padding: 0 10px;
    }
    &::after {
      background-color: #808080;
      content: '';
      height: 1px;
      width: 100%;
    }
    &:first-child {
      &::before {
        content: none;
      }
    }
    &:last-child {
      flex: none;
      &::after {
        content: none;
      }
    }
    &--active {
      .steppers__header-text {
        font-weight: 600;
      }
    }
    &-complete {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
    &-text {
      line-height: 24px;
      padding-left: 8px;
      white-space: nowrap;
    }
  }
  &__contents {
    display: flex;
    flex: 1 1 auto;
    height: 0;
    min-height: 160px;
    overflow-y: auto;
    padding: 12px 36px;
  }
  &__wrapper {
    display: flex;
    flex: 1;
    min-height: 100%;
  }
  &__navigation {
    align-items: flex-end;
    display: flex;
    flex: 0 0 60px;
    justify-content: space-between;
  }
  &__navigation-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    text-align: right;
    button {
      margin-left: 8px;
    }
    &__next {
      display: flex;
      justify-content: center;
      .mat-button-wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
  .stepper-form {
    // Use a specific style instead of form element selected. This prevents these generic styles bleading into child components of a stepper
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 450px;
    mat-form-field {
      width: 100%;
    }
    mat-form-field,
    mat-slide-toggle {
      padding-top: 10px;
    }
  }
}
