@import '../../../../../sass/mixins';
:host {
  flex: 1;
}

.display-json {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.json-schema {
    display: flex;
    flex-direction: column;
  @include breakpoint(laptop) {
    display: flex;
    flex-direction: row;
  }
}

.json-schema-data,.json-schema-form {
    width: 100%;
  @include breakpoint(laptop) {
    width: 50%;
  }
}
