<div ng-if="!clusterSpaceController.stateInitialised"
     class="cluster-loading col-md-12 col-sm-12 col-xs-12">
  <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
</div>

<div ng-if="clusterSpaceController.stateInitialised"
     class="cluster-detail endpoints col-md-12 col-sm-12 col-xs-12">

  <div class="application-header font-semi-bold">
    <h3 translate translate-value-name="{{ clusterSpaceController.space().details.space.entity.name }}">cf.space-info.title</h3>
    <cluster-actions ng-show="clusterSpaceController.hasActions" has-actions="clusterSpaceController.hasActions"></cluster-actions>
  </div>
  <space-summary-tile ng-if="clusterSpaceController.space()"
                      cluster-guid="clusterSpaceController.clusterGuid"
                      space="clusterSpaceController.space()">
  </space-summary-tile>

  <cf-tabs tabs="clusterSpaceController.cfTabs.spaceTabs"></cf-tabs>

  <ui-view></ui-view>
</div>
