<div class="service-registration" ng-class="{'overlay-position': serviceRegistrationCtrl.overlay}">
  <nav class="navbar navbar-fixed-top" ng-if="serviceRegistrationCtrl.overlay">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand" translate>Helion Stackato</span>
      </div>
    </div>
  </nav>
  <div class="container registration-content">
    <div class="row">
      <h2 class="page-header">
        <span translate>Setup your account</span>
        <span class="helion-icon helion-icon-Help pull-right"></span>
      </h2>
      <p translate>
        Before you get started with Helion Stackato, you will have to register into services to see what apps you have access to.
      </p>
      <table class="table table-actionable">
        <thead>
          <tr>
            <th class="text-center registration-status" translate></th>
            <th translate>Name</th>
            <th translate>URL</th>
            <th translate>User Account</th>
            <th translate>Valid Until</th>
            <th class="registration-actions">
              <button class="btn btn-primary"
                      translate
                      ng-click="serviceRegistrationCtrl.showHCEEndpointAddForm()">
                Add HCE Endpoint
              </button>
              <button class="btn btn-primary"
                      translate
                      ng-click="serviceRegistrationCtrl.showClusterAddForm()">
                Add Cluster
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(name, cnsi) in serviceRegistrationCtrl.serviceInstances"
            show-table-inline-message="{{ serviceRegistrationCtrl.userCnsiModel.serviceInstances[cnsi.guid].valid === false ? serviceRegistrationCtrl.warningMsg : ''}}">
            <td class="text-center registration-status">
              <span class="helion-icon helion-icon-lg helion-icon-Active_L text-primary"
                ng-if="serviceRegistrationCtrl.userCnsiModel.serviceInstances[cnsi.guid].valid"></span>
              <span class="helion-icon helion-icon-lg helion-icon-Warning_L text-warning"
                ng-if="serviceRegistrationCtrl.userCnsiModel.serviceInstances[cnsi.guid].valid === false"></span>
              <span class="helion-icon helion-icon-lg helion-icon-Critical_L text-warning"
                ng-if="serviceRegistrationCtrl.userCnsiModel.serviceInstances[cnsi.guid].error"></span>
            </td>
            <td>{{cnsi.name}}</td>
            <td>{{cnsi.api_endpoint.Host}}</td>
            <td>{{serviceRegistrationCtrl.userCnsiModel.serviceInstances[cnsi.guid].account}}</td>
            <td>{{serviceRegistrationCtrl.userCnsiModel.serviceInstances[cnsi.guid].token_expiry | secondsToMs | amDateFormat:'MMM D YYYY, h:mm:ss a'}}</td>
            <td class="text-right">
              <span ng-if="cnsi.cnsi_type === 'hcf'">  <!-- Remove this span-wrapper once HCE clusters have correct auth. -->
                <a class="btn btn-link btn-sm" ng-if="!serviceRegistrationCtrl.userCnsiModel.serviceInstances[cnsi.guid].valid"
                  ng-click="serviceRegistrationCtrl.connect(cnsi)">
                  <span ng-if="serviceRegistrationCtrl.userCnsiModel.serviceInstances[cnsi.guid].valid === false" translate>Reconnect</span>
                  <span ng-if="serviceRegistrationCtrl.userCnsiModel.serviceInstances[cnsi.guid].valid === undefined" translate>Connect</span>
                </a>
                <a class="btn btn-link btn-sm" ng-if="serviceRegistrationCtrl.userCnsiModel.serviceInstances[cnsi.guid].valid"
                  ng-click="serviceRegistrationCtrl.disconnect(cnsi)" translate>Disconnect</a>
              </span>
              <a class="btn btn-link btn-sm"
                 translate
                 ng-click="serviceRegistrationCtrl.cnsiModel.remove(cnsi)">
                remove
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="fixed-footer" ng-if="serviceRegistrationCtrl.overlay">
    <span class="registration-notification" ng-if="serviceRegistrationCtrl.userCnsiModel.numValid > 0"
      translate
      translate-n="serviceRegistrationCtrl.userCnsiModel.numValid"
      translate-plural="{{serviceRegistrationCtrl.userCnsiModel.numValid}} clusters registered">
      {{serviceRegistrationCtrl.userCnsiModel.numValid}} cluster registered
    </span>
    <button type="button" class="btn btn-primary"
      ng-disabled="serviceRegistrationCtrl.userCnsiModel.numValid === 0"
      ng-click="serviceRegistrationCtrl.completeRegistration()" translate>
      Done
    </button>
  </div>
</div>
<flyout flyout-active="serviceRegistrationCtrl.credentialsFormOpen"
  flyout-close-icon="'helion-icon helion-icon-Close'">
  <credentials-form cnsi="serviceRegistrationCtrl.activeServiceInstance"
    on-cancel="serviceRegistrationCtrl.onConnectCancel()"
    on-submit="serviceRegistrationCtrl.onConnectSuccess(serviceInstance)">
  </credentials-form>
</flyout>
<flyout flyout-active="serviceRegistrationCtrl.clusterAddFlyoutActive"
  flyout-close-icon="'helion-icon helion-icon-Close'">
  <add-cluster-form on-cancel="serviceRegistrationCtrl.hideClusterAddForm()"
    on-submit="serviceRegistrationCtrl.hideClusterAddForm()">
  </add-cluster-form>
</flyout>
