@import "credentials-form/credentials-form";

.service-registration {
  display: block;

  &.overlay-position {
    .registration-content {
      padding: $page-header-height 40px 80px;
    }
  }

  .navbar {
    color: $page-header-fg;
    background: $page-header-bg;
    padding-left: 20px;
    padding-right: 20px;

    .navbar-brand {
      font-size: 24pt;
      font-weight: 500;
    }
  }

  .registration-actions {
    min-width: 200px;
  }

  .registration-notification {
    margin-right: 20px;
    text-transform: uppercase;
  }

  .table > tbody > tr > td {
    vertical-align: middle;
  }
}
