@import "credentials-form/credentials-form";

.service-registration {
  display: block;
  overflow-y: auto;

  &.overlay-position {
    .registration-content {
      padding: $page-header-height 40px 80px;
    }
  }

  .navbar {
    color: $page-header-fg;
    background: $page-header-bg;
    padding-left: 20px;
    padding-right: 20px;

    .navbar-brand {
      font-size: 24pt;
      font-weight: 500;
    }
  }

  .registration-actions {
    //min-width: 150px;
    // For the demo, we need to keep 2 buttons worth of width.
    // Not sure if ems are right here.
    min-width: 29em;
  }

  .registration-status {
    width: $hpe-unit-space * 3;

    .helion-icon {
      vertical-align: middle;
    }
  }

  .registration-notification {
    margin-right: 20px;
    text-transform: uppercase;
  }

  .table > tbody > tr > td {
    vertical-align: middle;
  }
}
