<div ng-if="!clusterSpaceController.stateInitialised"
     class="cluster-loading"
     ng-class="{'col-md-9 col-sm-11 col-xs-11':clusterSpaceController.hasActions !== false}"
>
  <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
</div>

<div ng-if="clusterSpaceController.stateInitialised"
     class="cluster-detail endpoints"
     ng-class="{'col-md-9 col-sm-11 col-xs-11':clusterSpaceController.hasActions !== false}">
  <h3>Space : {{ clusterSpaceController.space().details.space.entity.name }}</h3>
  <space-summary-tile ng-if="clusterSpaceController.space()"
                      cluster-guid="clusterSpaceController.clusterGuid"
                      space="clusterSpaceController.space()">
  </space-summary-tile>

  <ul class="application-nav nav nav-tabs col-sm-12">
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="endpoint.clusters.cluster.organization.space.detail.applications" translate>
        Applications
      </a>
    </li>
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="endpoint.clusters.cluster.organization.space.detail.services" translate>
        Service Instances
      </a>
    </li>
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="endpoint.clusters.cluster.organization.space.detail.routes" translate>
        Routes
      </a>
    </li>
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="endpoint.clusters.cluster.organization.space.detail.users" translate>
        Users
      </a>
    </li>
  </ul>
  <ui-view></ui-view>
</div>
<cluster-actions ng-show="clusterSpaceController.hasActions"
                 has-actions="clusterSpaceController.hasActions"
                 class="col-md-3 col-sm-1 col-xs-1"></cluster-actions>
