<div ng-if="!clusterSpaceController.space()" class="cluster-loading col-md-9 col-sm-12">
  <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
</div>

<div ng-if="clusterSpaceController.space()" class="cluster-detail col-md-9 col-sm-12">
  <h3>Space : {{ clusterSpaceController.space().details.space.entity.name }}</h3>
  <space-summary-tile ng-if="clusterSpaceController.space()"
                      cluster-guid="clusterSpaceController.clusterGuid"
                      space="clusterSpaceController.space()">
  </space-summary-tile>

  <ul class="application-nav nav nav-tabs col-sm-12">
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="endpoint.clusters.cluster.organization.space.detail.services" translate>
        Service Instances
      </a>
    </li>
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="endpoint.clusters.cluster.organization.space.detail.routes" translate>
        Routes
      </a>
    </li>
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="sdfdsf" translate>
        Users
      </a>
    </li>
  </ul>
  <ui-view></ui-view>
</div>
