.space-services-table {
  > div {
    margin-top: $hpe-unit-space * 3;
  }
}

.application-cell {
  cursor: pointer;
  color: $hpe-primary;
  &:hover {
    text-decoration: underline;
    color: #01765b; // Could not find this as a named colour anywhere...
  }
}

.sortable {
  cursor: pointer;
}
