<div ng-click="avatarCtrl.showHideActions()">

  <div class="account-info">
    <span translate>
      Signed in as:
    </span>
    <span class="font-semi-bold">
      {{ accountActionsCtrl.model.data.username }}
    </span>
  </div>

  <div class="actions">
    <span class="action">
    <a class="btn-border-less" href="#/account/settings">
      <i class="helion-icon helion-icon-Actions"></i>
      <div translate>
        Account Settings
      </div>
    </a>
    </span>

    <span class="action">
      <a class="btn-border-less" href="#"
         ng-click="applicationCtrl.logout()">
        <i class="helion-icon helion-icon-Logout"></i>
        <div translate>
          Sign Out
        </div>
      </a>
    </span>
  </div>
</div>
