
account-actions, [account-actions] {
  display: block;
  width: $hpe-grid-column-width * 4 - 2 * $hpe-unit-space;

  .account-info {
    margin-bottom: $hpe-grid-margin;
  }

  .actions {
    display: block;
    width: 100%;

    .action {
      display: block;
      white-space: nowrap;
      padding: $hpe-unit-space * .5 0;

      * {
        display: inline-block;
        vertical-align: middle;
      }

      a.btn-border-less {
        color: $dove-gray2;

        &:hover, &:focus, &:active {
          color: $hpe-primary;
        }
      }

      > a > i {
        margin-right: $hpe-unit-space * .5;
      }

    }
  }
}
