account-actions, [account-actions] {
  display: block;
  width: 557px;
  height: 162px;

  .account-info {
    height: 80px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;

    .action {
      text-align: center;
    }
  }
}
