@import '../../../../sass/mixins';

.metrics-chart {
  $animation-function: cubic-bezier(0, 0, .2, 1);
  $animation-time: 250ms;
  display: flex;
  flex: 1;

  height: 100%;
  width: 100%;

  &__header {
    align-items: center;
    display: flex;
  }

  &__card {
    height: 450px;
    margin-bottom: 15px;
  }

  &__outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__title {
    margin: 0 10px 10px;
    text-align: left;
  }

  &__loading {
    margin: auto;
    min-width: 100px;
    width: 10%;
  }

  &__refreshing {
    position: absolute;
    right: 24px;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: visibility 0s linear $animation-time, background-color $animation-time $animation-function;
    visibility: hidden;
    z-index: 1;

    &-buttons {
      margin-top: 10px;
    }

    &-click {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-show {
      background-color: rgba(0, 0, 0, .6);
      transition-delay: 0s;
      visibility: visible;

      .metrics-chart__overlay-inner {
        transform: translateY(0);
      }
    }

    &-inner {
      box-shadow: -4px 3px 41px -1px rgba(0, 0, 0, .36);
      padding: 50px;
      position: relative;
      transform: translateY(-100%);
      transition: transform $animation-time $animation-function;
      z-index: 2;
    }

    &-set {
      margin-right: 10px;
    }

    &-overflow {
      overflow: hidden;
    }
  }

  &__selected-range {
    align-items: center;
    display: flex;
  }

  &__selected-range-dates {
    display: none;
    font-size: 14px;
    opacity: .6;
    padding-left: 10px;

    @include breakpoint(tablet) {
      display: flex;
    }
  }

  &__selected-range-date {
    font-weight: bold;
  }

  &__selected-range-to {
    padding: 0 10px;
  }

  &__selected-range-edit {
    cursor: pointer;
    margin-left: 10px;
  }

  .no-content {
    padding: 20px 15px;

    &__name {
      font-size: 12px;
      padding-top: 5px;
    }
  }

  &__tooltip {
    margin: 4px 0;
  }
  &__tooltip-value {
    font-size: 16px;
  }

  &__tooltip-truncated {
    font-size: 16px;
  }
}
