@import '~@angular/material/theming';

@mixin metrics-chart-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);

  .metrics-chart {
    &__overlay {
      &-inner {
        background-color: mat-contrast($primary, 500);
      }
    }
  }
}
