<b>Create a route</b>
<form novalidate #form="ngForm" class="stepper-form">
  <mat-form-field>
    <mat-select placeholder="Domain" name="domain" [(ngModel)]="selectedDomainGuid">
      <mat-option *ngFor="let domain of (domains$ | async)" [value]="domain.entity.guid">
        <span>{{ domain.entity.name }}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input required [disabled]="!form.controls['domain']?.value" [(ngModel)]="hostName" matInput placeholder="Host" name="hostName">
  </mat-form-field>
</form>
