<div class="cluster-users-table"
     st-table="organizationUsersController.visibleUsers"
     st-safe-src="organizationUsersController.users">
  <div>
    <div class="panel panel-default">
      <table class="table table-actionable" >
        <thead>
        <tr>
          <th><checkbox-input class="select-all-checkbox" ng-change="organizationUsersController.selectAllChanged()" ng-model="organizationUsersController.selectAllUsers"></checkbox-input></th>
          <th translate st-sort-default="true" st-sort="entity.username">USERS({{ organizationUsersController.users.length }})</th>
          <th translate>Space Roles</th>
          <th translate>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr class="" ng-repeat="user in organizationUsersController.visibleUsers">
          <td><checkbox-input ng-model="organizationUsersController.selectedUsers[user.metadata.guid]"></checkbox-input></td>
          <td class="user-name">{{ user.entity.username }}</td>
          <td class="roles-list">
            <div class="role-pill"
                 ng-repeat="spaceRole in organizationUsersController.getSpaceRoles(user)"
                 ng-class="{ 'progress-cursor' : organizationUsersController.removingSpace[spaceRole.space.details.space.entity.name + spaceRole.roleLabel] }">
              {{ spaceRole.space.details.space.entity.name }}: {{ spaceRole.roleLabel }}
              <i class="close-icon helion-icon helion-icon-Close"
                 ng-click="organizationUsersController.removeSpaceRole(user, spaceRole)"></i>
            </div>
            <div ng-if="organizationUsersController.getSpaceRoles(user).length === 0" translate>None assigned</div>
          </td>
          <td>
            <actions-menu actions="organizationUsersController.userActions"
                          action-target="user"
                          menu-icon="helion-icon helion-icon-More"
                          menu-position="actions-menu-right">
            </actions-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
