<div class="assign-selected-users">
  <h4 translate>Select an organization to assign roles to.</h4>
  <div class="assign-selected-users-selected" ng-init="step.ctrl.selectedUserListCount=step.selectedUserListLimit">
    <span class="assign-selected-users-selected-label" translate>
      {{ step.actions.selectedUserCount() === 1 ? 'SELECTED USER' : 'SELECTED USERS' }}
    </span>
    <span ng-repeat="user in step.userInput.selectedUsers | limitTo:step.ctrl.selectedUserListCount | orderBy:'entity.username'">
      {{user.entity.username}}<span ng-if="!$last">,</span>
    </span>
    <span ng-if="step.actions.selectedUserCount() > step.ctrl.selectedUserListCount">
      <a ng-click="step.ctrl.selectedUserListCount = step.data.numberMaxValue">View All</a>
    </span>
    <span ng-if="step.actions.selectedUserCount() <= step.ctrl.selectedUserListCount && step.actions.selectedUserCount() > step.selectedUserListLimit ">
      <a ng-click="step.ctrl.selectedUserListCount = step.selectedUserListLimit">View Less</a>
    </span>
  </div>
  <div class="assign-selected-users-orgs">
    <div class="form-group">
      <label class="control-label" translate>Organization</label>
      <select-input
        arrow-icon="helion-icon helion-icon-Up_tab helion-icon-r180"
        ng-model="step.userInput.org"
        input-options="step.data.organizations"
        tabindex="0"
        ng-change="step.actions.changeOrganization(step.userInput.org)"
        placeholder="{{'Select Organization' | translate}}">
      </select-input>
    </div>
    <div class="assign-selected-users-orgs-roles">
        <checkbox-input ng-model="step.userInput.roles[step.userInput.org.details.guid].organization['org_manager']"></checkbox-input>
        <span translate>Org Manager</span>
        <checkbox-input ng-model="step.userInput.roles[step.userInput.org.details.guid].organization['org_auditor']"></checkbox-input>
        <span translate>Org Auditor</span>
        <checkbox-input ng-model="step.userInput.roles[step.userInput.org.details.guid].organization['billing_manager']"></checkbox-input>
        <span translate>Billing Manager</span>
        <checkbox-input ng-model="step.userInput.roles[step.userInput.org.details.guid].organization['org_user']"></checkbox-input>
        <span translate>Org User</span>
    </div>
  </div>
  <div class="assign-selected-users-spaces" ng-if="step.actions.keys(step.userInput.org.spaces).length > 0">
    <h4>Assign space roles.</h4>
    <roles-tables
      config="step.table.config"
      data="step.table.data"
      organization="step.userInput.org"
      selection="step.userInput.roles[step.userInput.org.details.guid]"
    ></roles-tables>
  </div>
</div>

