<div class="assign-selected-users">
  <h4 translate>Select an organization to assign roles to.</h4>
  <selected-users-list selected-users="step.userInput.selectedUsers"></selected-users-list>
  <div class="assign-selected-users-orgs">
    <div class="form-group">
      <label class="control-label" translate>Organization</label>
      <select-input
        arrow-icon="helion-icon helion-icon-Up_tab helion-icon-r180"
        ng-model="step.userInput.org"
        input-options="step.data.organizations"
        tabindex="0"
        ng-change="step.actions.changeOrganization(step.userInput.org)"
        placeholder="{{'Select Organization' | translate}}">
      </select-input>
    </div>
    <div class="assign-selected-users-orgs-roles">
        <checkbox-input ng-model="step.userInput.roles[step.userInput.org.details.guid].organization['org_manager']" input-disabled="!step.actions.isUserOrgManager(step.userInput.org)"></checkbox-input>
        <span translate>Org Manager</span>
        <checkbox-input ng-model="step.userInput.roles[step.userInput.org.details.guid].organization['org_auditor']"  input-disabled="!step.actions.isUserOrgManager(step.userInput.org)"></checkbox-input>
        <span translate>Org Auditor</span>
        <checkbox-input ng-model="step.userInput.roles[step.userInput.org.details.guid].organization['billing_manager']" input-disabled="!step.actions.isUserOrgManager(step.userInput.org)"></checkbox-input>
        <span translate>Billing Manager</span>
        <checkbox-input ng-model="step.userInput.roles[step.userInput.org.details.guid].organization['org_user']" input-disabled="!step.actions.isUserOrgManager(step.userInput.org)"></checkbox-input>
        <span translate>Org User</span>
    </div>
  </div>
  <div class="assign-selected-users-spaces" ng-if="step.actions.keys(step.userInput.org.spaces).length > 0">
    <h4>Assign space roles.</h4>
    <roles-tables
      config="step.table.config"
      data="step.table.data"
      organization="step.userInput.org"
      selection="step.userInput.roles[step.userInput.org.details.guid]"
    ></roles-tables>
  </div>
</div>

