$tile-grid-gutter: 1em;

app-tile-group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  &.tile-group-1-cols > app-tile {
    flex: 0 0 100%;
  }

  // Mobile layout
  &.tile-group-2-cols > app-tile {
    flex: 0 0 100%;
  }

  &.tile-group-3-cols > app-tile {
    flex: 0 0 100%;
  }

  &.tile-group-4-cols > app-tile {
    flex: 0 0 100%;
  }

  &.tile-group-6-cols > app-tile {
    flex: 0 0 100%;
  }

  &.tile-group-gutters {
    margin-left: -$tile-grid-gutter;

    app-tile {
      // $top-bottom: $tile-grid-gutter / 2;
      padding: 0 0 $tile-grid-gutter $tile-grid-gutter;
    }
  }
}

// Tablet (medium) screens
@media (min-width: 30em) {
  app-tile-group {
    &.tile-group-4-cols > app-tile {
      flex: 0 0 calc(50% - #{$tile-grid-gutter});
    }
    &.tile-group-6-cols > app-tile {
      flex: 0 0 calc(33% - #{$tile-grid-gutter});
    }
  }
}

// Large screens
@media (min-width: 48em) {
  app-tile-group {
    &.tile-group-2-cols > app-tile {
      flex: 1;
    }

    &.tile-group-3-cols > app-tile {
      flex: 1;
    }

    &.tile-group-4-cols > app-tile {
      flex: 1;
    }

    &.tile-group-6-cols > app-tile {
      flex: 1;
    }
  }
}
