@import '~@angular/material/theming';

@mixin app-log-viewer-theme($theme, $app-theme) {

  $ansi-colours: map-get($app-theme, ansi-colors);
  $primary: map-get($theme, primary);
  $status-colors: map-get($app-theme, status);
  $message-text: map-get($status-colors, text);

  @function ansi-colour($colourName, $intense) {
    @if map-has-key($ansi-colours, $colourName) {
      @if $intense {
        @return map-get(map-get($ansi-colours, $colourName), intense);
      }
      @else {
        @return map-get(map-get($ansi-colours, $colourName), normal);
      }
    }
    @warn "Unknown `#{$colourName}` in $ansi-colours.";
    @return null;
  }

  .log-scroller {
    background-color: ansi-colour('default-background', false);
    border-color: ansi-colour('default-background', false);
    color: ansi-colour('default-foreground', false);
  }

  .log-viewer__message {
    background-color: mat-color($primary);
    color: $message-text;
  }
  
  @each $colourName, $colour in $ansi-colours {
    .ansi-#{$colourName} {
      color: map-get($colour, normal);
      &.intense {
        color: map-get($colour, intense);
        font-weight: bold;
      }
    }
    .ansi-background-#{$colourName} {
      background-color: map-get($colour, normal);
    }
  }
}

