.endpoint-warning {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.endpoint-card {
  cursor: pointer;
  display: block;
  height: 100%;
  &--disconnected {
    opacity: .6;
    transition: opacity .25s;
    &:hover {
      opacity: 1;
    }
  }
  &--checking {
    opacity: .6;
  }
  &--no-link {
    cursor: default;
  }
  &:focus {
    outline: 0;
  }

  &__image {
    height: 100%;
    width: auto;

    &-wrapper {
      height: 48px;
      margin-right: 10px;
    }
  }

  &__title {
    align-items: center;
    display: flex;
    // margin-top: 16px;
    &-subtext {
      font-size: 14px;
      margin-top: 4px;
      opacity: .6;
    }
    &-text {
      display: flex;
      flex-direction: column;
      font-size: 16px;
    }
  }

  &__address {
    display: flex;
    height: 24px;
    &__value {
      align-items: center;
      display: flex;
      overflow: hidden;
      text-align: end;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__hidden {
    height: 0;
    opacity: 0;
    pointer-events: none;
    width: 0;
  }
}
