.endpoint-card {
  cursor: pointer;
  &.no-link {
    cursor: default;
  }
  &:focus {
    outline: 0;
  }

  &__image {
    height: 100%;
    width: auto;

    &-wrapper {
      height: 48px;
      margin-right: 10px;
    }
  }

  &__title {
    display: flex;
    &-subtext {
      font-size: 13px;
      opacity: .6;
    }
    &-text {
      display: flex;
      flex-direction: column;
    }
  }
}
