@import '../src/core/page-not-found-component/page-not-found-component.theme.component';
@import '../src/features/dashboard/side-nav/side-nav.component.theme';
@import '../src/features/dashboard/dashboard-base/dashboard-base.component.theme';
@import '../src/features/home/home/home-page.component.theme';
@import '../src/features/login/login-page/login-page.component.theme';
@import '../src/features/dashboard/page-side-nav/page-side-nav.component.theme';
@import '../src/features/about/about-page/about-page.component.theme';
@import '../src/shared/components/display-value/display-value.component.theme';
@import '../src/shared/components/stepper/steppers/steppers.component.theme';
@import '../src/shared/components/list/list.component.theme';
@import '../src/shared/components/code-block/code-block.component.theme';
@import '../src/shared/components/copy-to-clipboard/copy-to-clipboard.component.theme';
@import '../src/shared/components/list/list-cards/cards.components.theme';
@import '../src/shared/components/dialog-error/dialog-error.component.theme';
@import '../src/shared/components/cards/card-status/card-status.component.theme';
@import '../src/shared/components/usage-gauge/usage-gauge.component.theme';
@import '../src/shared/components/ssh-viewer/ssh-viewer.component.theme';
@import '../src/shared/components/list/list-table/table-row/table-row.component.theme';
@import '../src/shared/components/no-content-message/no-content-message.component.theme';
@import '../src/shared/components/boolean-indicator/boolean-indicator.component.theme';

@import '../src/shared/components/loading-page/loading-page.component.theme';
@import '../src/shared/components/log-viewer/log-viewer.component.theme';
@import '../src/shared/components/chips/chips.component.theme';
@import '../src/shared/components/cards/card-number-metric/card-number-metric.component.theme';
@import '../src/shared/components/cards/card-boolean-metric/card-boolean-metric.component.theme';
@import '../src/shared/components/simple-usage-chart/simple-usage-chart.component.theme';
@import '../src/core/dot-content/dot-content.component.theme';
@import '../src/shared/components/stratos-title/stratos-title.component.theme';
@import '../src/shared/components/page-header/page-header.component.theme';
@import '../src/shared/components/page-header/page-header-events/page-header-events.component.theme';
@import '../src/shared/components/user-profile-banner/user-profile-banner.component.theme';
@import '../src/shared/components/app-action-monitor-icon/app-action-monitor-icon.component.theme';
@import '../src/shared/components/upload-progress-indicator/upload-progress-indicator.component.theme';
@import '../src/shared/components/list/list-cards/meta-card/meta-card-base/meta-card.component.theme';
@import '../src/shared/components/list/list-cards/meta-card/meta-card-item/meta-card-item.component.theme';
@import '../src/shared/components/start-end-date/start-end-date.component.theme';
@import '../src/shared/components/metrics-chart/metrics-chart.component.theme';
@import '../src/shared/components/metrics-range-selector/metrics-range-selector.component.theme';
@import '../src/shared/components/tile-selector-tile/tile-selector-tile.component.theme';
@import '../src/shared/components/entity-summary-title/entity-summary-title.component.theme';
@import '../src/shared/components/multiline-title/multiline-title.component.theme';
@import '../src/features/user-profile/profile-info/profile-info.component.theme';
@import '../src/core/stateful-icon/stateful-icon.component.theme';
@import './components/mat-snack-bar.theme';
@import './components/ngx-charts-gauge.theme';
@import '../src/shared/components/sidepanel-preview/sidepanel-preview.component.theme';
@import '../src/shared/components/user-avatar/user-avatar.component.theme';
@import './components/text-status.theme';
@import './components/hyperlinks.theme';
@import './mat-themes';
@import './mat-desktop';
@import './fonts';
@import './ansi-colors';
@import '../src/shared/components/favorites-global-list/favorites-global-list.component.theme';
@import '../src/shared/components/favorites-meta-card/favorites-meta-card.component.theme';

@import '../../cloud-foundry/src/shared/components/schema-form/schema-form.component.theme';
@import '../../cloud-foundry/src/features/services/services-wall/services-wall.component.theme';
@import '../../cloud-foundry/src/shared/components/list/list-types/cf-security-groups/cf-security-groups-card/cf-security-groups-card.component.theme';
@import '../../cloud-foundry/src/features/cloud-foundry/tabs/cf-admin-add-user-warning/cf-admin-add-user-warning.component.theme';
@import '../../cloud-foundry/src/features/applications/application/application-base.component.theme';
@import '../../cloud-foundry/src/features/applications/deploy-application/deploy-application.component.theme';
@import '../../cloud-foundry/src/features/applications/deploy-application/deploy-application-step2/deploy-application-fs/deploy-application-fs.component.theme';
@import '../../cloud-foundry/src/features/cloud-foundry/tabs/cloud-foundry-firehose/cloud-foundry-firehose.component.theme';
@import '../../cloud-foundry/src/features/service-catalog/service-catalog-page/service-catalog-page.component.theme';
@import '../../cloud-foundry/src/features/applications/application-wall/application-wall.component.theme';
@import '../../core/src/features/error-page/error-page/error-page.component.theme';
@import '../../core/src/features/endpoints/backup-restore/restore-endpoints/restore-endpoints.component.theme';
@import '../../core/src/features/metrics/metrics/metrics.component.theme';

// Defaults
$side-nav-light-text: #fff;
$side-nav-light-bg: #333;
$side-nav-light-hover: #555;
$side-nav-light-active: #484848;

// Creates the app theme and applies it to the application
// $theme = Angular Material Theme
// $nav-theme - Colors for the Side Nav (optional)
// $status-theme - Colors for status (optional)
@mixin app-theme($theme, $nav-theme: null, $status-theme: null) {
  $background-colors: map-get($theme, background);
  $foreground-colors: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);
  $app-background-color: white;
  $app-background-text-color: rgba(mat-color($foreground-colors, base), .65);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $subdued: mat-contrast($primary, 50);

  @if $is-dark == true {
    $app-background-color: lighten(mat-color($background-colors, background), 10%);
    $subdued: lighten($subdued, 90);
  } @else {
    $app-background-color: darken(mat-color($background-colors, background), 2%);
    $subdued: lighten($subdued, 50);
  }

  html {
    background-color: $app-background-color;
  }

  // App Theme defines a set of colors used by stratos components
  $app-theme: (app-background-color: $app-background-color, app-background-text-color: rgba(mat-color($foreground-colors, base), .65), side-nav: app-generate-nav-theme($theme, $nav-theme), status: app-generate-status-theme($theme, $status-theme), subdued-color: $subdued, ansi-colors: $ansi-color-palette); // Pass the Material theme and the App Theme to components that need to be themed
  @include dialog-error-theme($theme, $app-theme);
  @include login-page-theme($theme, $app-theme);
  @include side-nav-theme($theme, $app-theme);
  @include dashboard-page-theme($theme, $app-theme);
  @include display-value-theme($theme, $app-theme);
  @include steppers-theme($theme, $app-theme);
  @include list-theme($theme, $app-theme);
  @include app-base-page-theme($theme, $app-theme);
  @include app-mat-snack-bar-theme($theme, $app-theme);
  @include ngx-charts-gauge($theme, $app-theme);
  @include app-text-status-theme($theme, $app-theme);
  @include app-card-status-theme($theme, $app-theme);
  @include app-usage-gauge-theme($theme, $app-theme);
  @include app-ssh-viewer-theme($theme, $app-theme);
  @include table-row-theme($theme, $app-theme);
  @include app-hyperlinks($theme, $app-theme);
  @include app-no-content-message-theme($theme, $app-theme);
  @include app-boolean-indicator-theme($theme, $app-theme);
  @include cf-security-group-theme($theme);
  @include loading-page-theme($theme, $app-theme);
  @include app-log-viewer-theme($theme, $app-theme);
  @include app-deploy-app-theme($theme, $app-theme);
  @include app-cloud-foundry-firehose-theme($theme, $app-theme);
  @include app-card-number-metric-theme($theme, $app-theme);
  @include app-card-boolean-metric-theme($theme, $app-theme);
  @include app-dot-content($theme, $app-theme);
  @include stratos-title-component-theme($theme, $app-theme);
  @include app-page-header-theme($theme, $app-theme);
  @include app-page-header-events($theme, $app-theme);
  @include app-user-profile-banner-component-theme($theme, $app-theme);
  @include action-monitor-icon-theme($theme, $app-theme);
  @include app-deploy-app-fs-component-theme($theme, $app-theme);
  @include app-upload-progress-indicator-component-theme($theme, $app-theme);
  @include page-404($theme, $app-theme);
  @include about-page-theme($theme, $app-theme);
  @include meta-card-component($theme, $app-theme);
  @include app-schema-form-theme($theme, $app-theme);
  @include start-end-theme($theme, $app-theme);
  @include metrics-chart-theme($theme, $app-theme);
  @include metrics-range-selector-theme($theme, $app-theme);
  @include app-multiline-title-theme($theme, $app-theme);
  @include app-sidepanel-preview-theme($theme, $app-theme);
  @include tile-selector-theme($theme, $app-theme);
  @include profile-page-theme($theme, $app-theme);
  @include stateful-icon($theme, $app-theme);
  @include app-simple-usage-chart($theme, $app-theme);
  @include home-page-theme($theme, $app-theme);
  @include favorites-global-list-theme($theme, $app-theme);
  @include favorites-meta-card-theme($theme, $app-theme);
  @include page-side-nav-theme($theme, $app-theme);
  @include cf-admin-add-user-warning($theme, $app-theme);
  @include entity-summary-title-theme($theme, $app-theme);
  @include app-meta-card-item-theme($theme, $app-theme);
  @include error-page-theme($theme, $app-theme);
  @include code-block-theme($theme, $app-theme);
  @include copy-to-clipboard-theme($theme, $app-theme);
  @include app-user-avatar-theme($theme, $app-theme);
  @include restore-endpoints-theme($theme, $app-theme);
  @include metrics-component-theme($theme, $app-theme);
}

@function app-generate-nav-theme($theme, $nav-theme: null) {
  @if ($nav-theme) {
    @return $nav-theme;
  } @else {
    // Use default palette for side navigation
    @return (background: $side-nav-light-bg, background-top: $side-nav-light-bg, text: darken($side-nav-light-text, 10%), active: $side-nav-light-active, active-text: $side-nav-light-text, hover: $side-nav-light-hover, hover-text: $side-nav-light-text);
  }
}

@function app-generate-status-theme($theme, $status-theme: null) {
  @if ($status-theme) {
    @return $status-theme;
  } @else {
    $warn: map-get($theme, warn);
    $primary: map-get($theme, primary);
    $white: #fff; // Use default palette for status
    @return (success: map-get($mat-green, 500), warning: map-get($mat-orange, 500), danger: mat-color($warn), tentative: map-get($mat-grey, 500), busy: mat-color($primary), text: $white, info: map-get($mat-blue, 500));
  }
}
