
// Default ansi color palette
$ansi-color-palette: (
  'default-foreground': (
    normal: #ccc,
    intense: #f6f6f6
  ),
  'default-background': (
    normal: #333,
  ),
  'black': (
    normal: #333,
    intense: #767676
  ),
  'red': (
    normal: #ae202a,
    intense: #ff454f
  ),
  'green': (
    normal: #01a982,
    intense: #69cfb4
  ),
  'yellow': (
    normal: #bf9c32,
    intense: #ffd042
  ),
  'blue': (
    normal: #638fb0,
    intense: #50a6e6
  ),
  'magenta': (
    normal: #982fb3,
    intense: #9e51b3
  ),
  'cyan': (
    normal: #268f88,
    intense: #668f89
  ),
  'white': (
    normal: #ccc,
    intense: #f6f6f6
  )
);
