.dark-theme {
  $dark-primary: mat-palette($mat-blue);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  $stratos-theme: $dark-theme !default;
  $stratos-nav-theme: null !default;
  $stratos-status-theme: null !default;

  @include angular-material-theme($dark-theme);
  @include app-theme($stratos-theme, $stratos-nav-theme, $stratos-status-theme);
  
}
