$material-icons-font-path: '../assets/fonts/iconfont' !default;
$stratos-icons-font-path: '../assets/fonts/stratos' !default;

// See: https://google.github.io/material-design-icons/#icon-font-for-the-web

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('#{$material-icons-font-path}/MaterialIcons-Regular.eot'); // For IE6-8
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('#{$material-icons-font-path}/MaterialIcons-Regular.woff2') format('woff2'),
    url('#{$material-icons-font-path}/MaterialIcons-Regular.woff') format('woff'),
    url('#{$material-icons-font-path}/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  // Support for IE.
  font-feature-settings: 'liga';
  font-size: 24px;  // Preferred icon size
  // Support for Firefox.
  -moz-osx-font-smoothing: grayscale;
  // Support for all WebKit browsers.
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  // Support for Safari and Chrome.
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

// Stratos icons

// Generated with grunt-webfont
// Created by EOS Design System - EOS icons
// Visit our Design System: https://gitlab.com/SUSE-UIUX/eos/
// Visit our Iconic font repo: https://gitlab.com/SUSE-UIUX/eos-icons

// Modified to include some extra icons for Stratos

@font-face {
  font-family: 'stratos-icons';
  font-style: normal;
  font-weight: normal;
  src: url('#{$stratos-icons-font-path}/stratos-icons.eot');
  src: url('#{$stratos-icons-font-path}/stratos-icons.eot?#iefix') format('embedded-opentype'),
		url('#{$stratos-icons-font-path}/stratos-icons.woff2') format('woff2'),
		url('#{$stratos-icons-font-path}/stratos-icons.woff') format('woff'),
		url('#{$stratos-icons-font-path}/stratos-icons.ttf') format('truetype'),
		url('#{$stratos-icons-font-path}/stratos-icons.svg') format('svg');
}

.stratos-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'stratos-icons';
  // Support for IE.
  font-feature-settings: 'liga';
  font-size: 24px;  // Preferred icon size
  // Support for Firefox.
  -moz-osx-font-smoothing: grayscale;
  // Support for all WebKit browsers.
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  // Support for Safari and Chrome.
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}
