@import '~@angular/material/theming';
@import './all-theme';

@import '~@stratos/theme';

// Get the theme(s)

$stratos-dark-theme-supported: false !default;

// Themes
$stratos-themes: stratos-theme();

@import '~@stratos/theme/extensions';

// Default theme
$stratos-theme: map-get($stratos-themes, default);
$theme: map-get($stratos-theme, theme);

.default {
  // Apply the default theme
  @include mat-core();
  @include angular-material-theme($theme);
  @include app-theme($stratos-theme);
  @include apply-theme($stratos-theme);
}

// Optional dark theme
@if map-has-key($stratos-theme, 'dark') {
  $stratos-dark-theme-supported: true;
  $dark-stratos-theme: map-get($stratos-themes, dark);
  $dark-theme: map-get($dark-stratos-theme, theme);

  .dark-theme {
    // Apply the dark theme
    @include mat-core();
    @include angular-material-theme($dark-theme);
    @include app-theme($dark-stratos-theme);
    @include apply-theme($dark-stratos-theme);
  }
}
