<gallery-card class="pod-card"
              card-data="podCardCtrl.getCardData()">

  <dl class="dl-horizontal">
     <dt translate>CPU Usage</dt>
    <dd ng-if="podCardCtrl.cpuUsageTimeSeriesData.length > 0"><kd-sparkline class="kd-sparkline-cpu-series" timeseries="podCardCtrl.cpuUsageTimeSeriesData"></kd-sparkline></dd>
    <dt translate>Memory Usage</dt>
    <dd ng-if="podCardCtrl.memoryUsageTimeSeriesData.length > 0"><kd-sparkline class="kd-sparkline-memory-series" timeseries="podCardCtrl.memoryUsageTimeSeriesData"></kd-sparkline></dd>
  </dl>
</gallery-card>
