.pod-card{

  .kd-sparkline {
    background-color: #eee;
    height: 2.5 * 8px;
    vertical-align: -8px / 2; // 20% below baseline, to flow with text
    width: 8 * 8px;
  }

  .kd-sparkline-series {
    fill: #00c752;
  }

  .kd-sparkline-cpu-series {
    fill: #00c752;
  }

  .kd-sparkline-memory-series {
    fill: #326de6;
  }
}
