app-tile-grid {
  width: 100%;
}

.app-auto-scaler {
  display: flex;
  position: relative;
  width: 100%;
  &__actions {
    bottom: 24px;
    padding-top: 0;
    position: absolute;
    right: 24px;
    text-align: right;
  }
}

.app-autoscaler-edit-policy-item {
  .app-autoscaler-edit-policy-desc {
    margin-bottom: .5em;
  }
  mat-error {
    font-size: 85%;
  }
}
