// These colors need tidying, some aren't used

$acme-primary: #00c081;
$acme-secondary: #00243e;
$acme-text: #fff;
$acme-text-gray: #ccc;
$acme-button-gray: #888;
$acme-dark-blue: #06253a;
$acme-blue: #073155;

// Acme Brand primary colour
$acme-primary-color: #035a97;

// Secondary blue colour
$acme-secondary: #035a97;
$acme-text: #fff;
$acme-text-gray: #ccc;
$acme-dark-blue: #06253a;
$acme-blue: #073155;
$acme-side-nav: $acme-secondary;
$acme-side-nav-active: #003358;

$acme-dark-gray: #333
