<gallery-card class="cluster-gallery-card"
              card-data="orgSummaryTileCtrl.cardData"
              card-actions="orgSummaryTileCtrl.actions"
              card-actions-position="actions-menu-right">
  <div class="col-md-5" ng-if="orgSummaryTileCtrl.organization.details">
    <dl class="dl-horizontal">
      <dt translate>applications</dt>
      <dd>{{ orgSummaryTileCtrl.organization.details.totalApps}}</dd>
      <dt translate>application instances</dt>
      <dd>{{ orgSummaryTileCtrl.organization.details.instances}} / {{ orgSummaryTileCtrl.organization.details.instancesQuota | infinityFilter }}</dd>
      <dt translate>services</dt>
      <dd>{{ orgSummaryTileCtrl.keys(orgSummaryTileCtrl.organization.services).length}} / {{ orgSummaryTileCtrl.organization.details.servicesQuota | infinityFilter }}</dd>
      <dt translate>routes</dt>
      <dd>{{ orgSummaryTileCtrl.organization.details.totalRoutes}} / {{ orgSummaryTileCtrl.organization.details.routesQuota | infinityFilter }}</dd>
      <dt translate>private domains</dt>
      <dd>{{ orgSummaryTileCtrl.organization.details.privateDomains}} / {{ orgSummaryTileCtrl.organization.details.privateDomainsQuota | infinityFilter }}</dd>
      <dt translate>memory usage</dt>
      <dd>{{ orgSummaryTileCtrl.memory }}</dd>
    </dl>
  </div>
  <div class="col-md-7">
    <dl class="dl-horizontal" ng-if="orgSummaryTileCtrl.roles">
      <dt translate>CF ORG ROLE</dt>
      <dd>{{ orgSummaryTileCtrl.roles.join(', ') }}</dd>
      <dt translate>INSTANCE ADDRESS</dt>
      <dd>{{ orgSummaryTileCtrl.getEndpoint() }}</dd>
      <dt translate>CF Interactions</dt>
      <dd>
        <a ng-click="orgSummaryTileCtrl.showCliCommands()"
           class="btn btn-link" translate>CLI Commands</a>
      </dd>
      <dt translate>Account Username</dt>
      <dd>{{ orgSummaryTileCtrl.userName }}</dd>
      <dt translate>Account Status</dt>
      <dd translate>{{ orgSummaryTileCtrl.isAdmin ? 'administrator' : 'user' }}</dd>
    </dl>
  </div>
</gallery-card>

