<md-card class=cards__card>
  <md-card-header>
    {{row.entity.type.split('.').join(' ') | titlecase}}
  </md-card-header>
  <md-card-content>
    <div class="cards__card-row">
      <div>
        Timestamp:
        <app-table-cell [component]="timestampComponent" [row]="row" [dataSource]="dataSource"></app-table-cell>
      </div>
      <div>
        Actor:
        <app-table-cell [component]="actorComponent" [row]="row" [dataSource]="dataSource"></app-table-cell>
      </div>
      <div class="event-details">
        <button md-button (click)="showDetails()">View Details</button>
      </div>
    </div>
  </md-card-content>
</md-card>
