.app-code-block {
  min-height: 44px;
  padding: 10px 20px;
  position: relative;
  &__pre {
    white-space: pre-line;
  }
  pre {
    margin: 0;
    white-space: pre-line;
    word-wrap: break-word;
  }
  &__copied-div,
  &__copy-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: opacity 250ms linear;
  }
  &__copied-div {
    align-items: center;
    display: flex;
    opacity: 0;
    span {
      margin-right: 5px;
    }
  }
  &__copy-icon {
    cursor: pointer;
  }
  &__success {
    .app-code-block {
      &__copied-div {
        opacity: 1;
      }
      &__copy-icon {
        opacity: 0;
      }
    }
  }
}
