.app-code-block {
  padding: 10px 20px;
  position: relative;
  background-color: var(--code-block-bg);
  border: 1px solid var(--code-block-border);
  color: var(--code-block-text);

  &__content {
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    justify-content: center;
    margin-right: 20px; // Prevent text overlapping copy button
    color: var(--code-block-text);
  }
  &__pre {
    // For wrapped PRE, vertical padding is already on the PRE element, so remove it here
    padding: 0 20px;
  }

  &__copy {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}
