.app-code-block {
  padding: 10px 20px;
  position: relative;
  &__content {
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    justify-content: center;
    margin-right: 20px; // Prevent text overlapping copy button
  }
  &__pre {
    // For wrapped PRE, vertical padding is already on the PRE element, so remove it here
    padding: 0 20px;
  }

  &__copy {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}
