.confirm-dialog {
  min-width: 250px;
  &__actions {
    justify-content: flex-end;
    margin-top: 24px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__warn-icon {
    $size: 28px;
    font-size: $size;
    height: $size;
    margin-left: 12px;
    width: $size;
  }

  &__message {
    white-space: pre-wrap;
  }

  &__enter-text {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
