<div ng-click="avatarCtrl.showHideActions()">

  <div class="account-info">
    <span translate>
      Signed in as:
    </span>
    <span class="font-semi-bold">
      {{ accountActionsCtrl.consoleInfo.info.user.name }}
    </span>
  </div>

  <div class="actions">
    <span class="action">
    <a class="btn-border-less" href="#/account/settings">
      <i class="material-icons">info_outline</i>
      <div translate>
        About
      </div>
    </a>
    </span>

    <span class="action">
      <a class="btn-border-less" href="#"
         ng-click="applicationCtrl.logout()">
        <i class="material-icons">exit_to_app</i>
        <div translate>
          Sign Out
        </div>
      </a>
    </span>
  </div>
</div>
