.card-wall {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  &__meta {
    padding: 10px 0;
  }
  .mat-card {
    $space: 15px;
    $space-row: $space + 40px;
    width: 100%;
    margin-bottom: $space;
    @include breakpoint(desktop) {
      width: 25%;
    }
    @include breakpoint(tablet) {
      width: 33%;
    }
    &-content {}
    &-header-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:after {
      box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:hover {
      cursor: pointer;
      &:after {
        opacity: 1;
      }
    }
  }
  &__meta {
    display: flex;
    justify-content: space-between;
    &-left {
      padding-right: 10px;
    }
    &-right {}
  }
}
