@mixin app-mat-snack-bar-theme($theme, $app-theme) {
  $is-dark: map-get($theme, is-dark);
  $background-colors: map-get($theme, background);
  $foreground-colors: map-get($theme, foreground);

  $background-color: mat-color($foreground-colors, text);
  $color: mat-color($background-colors, text);

  @if $is-dark == true {
    $background-color: lighten(mat-color($background-colors, background), 5%);
    $color: mat-color($foreground-colors, text);
  }

  .mat-snack-bar-container {
    background-color: $background-color;
    .mat-simple-snackbar {
      color: $color;
    }
  }
}
