// Fix the color of the underline for the active tab
// when on a primary backgrdound
// Need to revist this and check if this is an issue with the Angular Material library
@mixin app-mat-tabs-theme($theme, $app-theme) {
  $is-dark: map-get($theme, is-dark);
  $primary: map-get($theme, primary);
  $tabs-ink-color: mat-color($primary);
  @if $is-dark == true {
    $tabs-ink-color: lighten($tabs-ink-color, 20%);
  } @else {
    $tabs-ink-color: darken($tabs-ink-color, 20%);
  }

  .mat-tab-nav-bar.mat-primary.mat-background-primary {
    .mat-ink-bar {
      //background-color: $tabs-ink-color;
    }

  }
}
