// Standard status text colors
@mixin app-text-status-theme($theme, $app-theme) {

  $status-colors: map-get($app-theme, status);
  $status-success: map-get($status-colors, success);
  $status-warning: map-get($status-colors, warning);
  $status-danger: map-get($status-colors, danger);
  $status-tentative: map-get($status-colors, tentative);
  $status-info: map-get($status-colors, info);

  .text-success {
    color: $status-success;
  }

  .text-warning {
    color: $status-warning;
  }

  .text-danger {
    color: $status-danger;
  }

  .text-tentative {
    color: $status-tentative;
  }

  .text-info {
    color: $status-info;
  }

  // Border colors

  .border-success {
    border-color: $status-success;
  }

  .border-warning {
    border-color: $status-warning;
  }

  .border-danger {
    border-color: $status-danger;
  }

  .border-tentative {
    border-color: $status-tentative;
  }

  .border-info {
    border-color: $status-info;
  }  

}
