.edit {
  display: flex;
  justify-content: flex-end;
  &--subtle {
    .mat-icon-button {
      font-size: 18px;
      height: 25px;
      line-height: 25px;
      opacity: 60%;
      padding-left: 5px;
      width: 35px;
    }
  }
}
