<div ng-if="!ffCtrl.stateInitialised" class="message-box message-box-no-bg">
  <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
</div>
<div ng-if="ffCtrl.stateInitialised && ffCtrl.flags.length === 0"
     class="panel panel-default cluster-empty-list">
  <div ng-if="!ffCtrl.error" class="panel-body" translate>cf.feature-flags.empty</div>
  <div ng-if="ffCtrl.error" class="panel-body" translate>cf.feature-flags.error</div>
</div>

<div ng-if="ffCtrl.stateInitialised && ffCtrl.flags.length > 0"
     st-table="ffCtrl.flagsTable"
     st-safe-src="ffCtrl.flags"
     class="feature-flags-view">
  <div>
    <div class="panel panel-default">
      <table class="table">
        <thead>
          <tr>
            <th class="sortable" st-sort-default="true" st-skip-natural="true" st-sort="name"><span translate>cf.feature-flags.labels.name</span></th>
            <th class="sortable" st-skip-natural="true" st-sort="description"><span translate>cf.feature-flags.labels.description</span></th>
            <th class="sortable" st-skip-natural="true" st-sort="enabled"><span translate>cf.feature-flags.labels.state</span></th>
          </tr>
        </thead>
        <tbody>
          <tr class="" ng-repeat="flag in ffCtrl.flagsTable">
            <td class="feature-flag-label">{{ flag.name }}</td>
            <td class="feature-flag-description">{{ flag.description }}</td>
            <td class="feature-flag-status">
              <i ng-class="{ 'flag-enabled': flag.enabled, 'flag-disabled': !flag.enabled}"
                class="material-icons">{{ flag.enabled ? 'check_circle' : 'highlight_off'}}</i>
              <span translate>{{ flag.enabled ? 'cf.feature-flags.labels.enabled' : 'cf.feature-flags.labels.disabled' }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
