.feature-flags-view {

  .feature-flag-status {
    display: flex;
    align-items: center;

    > i {
      margin-right: 6px;
      
      &.flag-enabled {
        color: $status-okay;
      }
      &.flag-disabled {
        color: $status-critical;
      }
    }
  }

  table > tbody > tr > td {
    &.feature-flag-description {
        line-height: inherit;
    }
  }

  table thead>tr th.st-sort-ascent, table thead>tr th.st-sort-descent {
    border-bottom: 3px solid $console-primary;
  }

  .table>thead>tr>th {
    border-bottom: 0;
  }
}