dl.user-info-list {
  > dt {
    color: #555;
  }

  > dd {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 12px;
  }

  .user-info-group {
    display: inline-block;
    padding: 6px;

    > div {
      background-color: #555;
      padding: 0px 6px;
      color: #fff;
      border-radius: 4px;
      font-size: 16px;
    }
  }
}

.row.user-info-summary {
  display: flex;
  > div {
    flex: 1;
  }
}

.edit-user-info-form {
  .form-note {
    margin-top: $console-unit-space * 0.5;
  }
}