dl.user-info-list {
  > dt {
    color: #555;
  }

  > dd {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 12px;
  }

  .user-info-group {
    display: inline-block;
    padding: 6px;

    > div {
      background-color: blue;
      padding: 2px 6px;
      color: #fff;
      border-radius: 4px;
    }

  }
}

.row.user-info-summary {
  display: flex;
  > div {
    flex: 1;
  }
}