<div class="app-auto-scaler" *ngIf="appAutoscalerPolicy$ | async as policy">
  <app-tile-grid>
    <app-tile-group>
      <app-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Status</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="app-metadata">
              <div class="app-metadata__two-cols">
                <app-metadata-item icon="check_circle">Enabled</app-metadata-item>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </app-tile>
      <app-tile size="1of3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Limits</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="app-metadata">
              <div class="app-metadata__two-cols">
                <app-metadata-item label="Minimum">{{ policy.instance_min_count }}</app-metadata-item>
                <app-metadata-item label="Maximum">{{ policy.instance_max_count }}</app-metadata-item>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </app-tile>
    </app-tile-group>

    <app-tile-group>
      <app-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Scaling Rules</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="app-metadata">
              <div class="app-metadata__two-cols">
                {{policy.scaling_rules.length}}
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </app-tile>
    </app-tile-group>
  </app-tile-grid>

  <div *ngIf="appAutoscalerScalingHistory$ | async as scalingHistory">
    {{ scalingHistory.total_results}}
  </div>
  <div *ngIf="appAutoscalerHealth$ | async as health">
    {{ health.status}}
  </div>
</div>