<div class="app-auto-scaler" *ngIf="appAutoscalerPolicy$ | async as policy">
  <app-tile-grid>
    <app-tile-group>
      <app-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Status</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="app-metadata">
              <div class="app-metadata__two-cols">
                <mat-slide-toggle checked="true">Enabled</mat-slide-toggle>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </app-tile>
      <app-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Instances</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="app-metadata">
              <div class="app-metadata__two-cols">
                <app-metadata-item label="Current">2</app-metadata-item>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </app-tile>
      <app-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Limits</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="app-metadata">
              <div class="app-metadata__two-cols">
                <app-metadata-item label="Minimum">{{ policy.instance_min_count }}</app-metadata-item>
              </div>
              <div class="app-metadata__two-cols">
                <app-metadata-item label="Maximum">{{ policy.instance_max_count }}</app-metadata-item>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </app-tile>
      <app-tile class="app-auto-scaler-tile-1of2">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Latest Metrics</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="app-metadata">
              <div class="app-metadata__two-cols">
                <app-metadata-item label="memoryused">58 MB</app-metadata-item>
              </div>
              <div class="app-metadata__two-cols">
                <app-metadata-item label="memoryutil">45 %</app-metadata-item>
              </div>
              <div class="app-metadata__two-cols">
                <app-metadata-item label="responsetime">NaN</app-metadata-item>
              </div>
              <div class="app-metadata__two-cols">
                <app-metadata-item label="throughput">0 rps</app-metadata-item>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </app-tile>
    </app-tile-group>

    <app-tile-group>
      <app-tile class="app-auto-scaler-policy-left">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Scaling Rules</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="app-metadata">
              <table mat-table [dataSource]="policy.scaling_rules">
                <ng-container matColumnDef="metric">
                  <th mat-header-cell *matHeaderCellDef> Metric </th>
                  <td mat-cell *matCellDef="let element"> {{element.entity.metric_type}} </td>
                </ng-container>
                <ng-container matColumnDef="condition">
                  <th mat-header-cell *matHeaderCellDef> Condition </th>
                  <td mat-cell *matCellDef="let element"> {{element.entity.operator}} {{element.entity.threshold}} for
                    {{element.entity.breach_duration_secs}} secs. </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element"> {{element.entity.adjustment}} instances </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="scalingRuleColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: scalingRuleColumns;"></tr>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </app-tile>
      <app-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Scheduled Limit Rules</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="app-metadata">
              <table mat-table [dataSource]="policy.schedules.specific_date">
                <ng-container matColumnDef="from">
                  <th mat-header-cell *matHeaderCellDef> From </th>
                  <td mat-cell *matCellDef="let element"> {{element.start_date_time}} </td>
                </ng-container>
                <ng-container matColumnDef="to">
                  <th mat-header-cell *matHeaderCellDef> To </th>
                  <td mat-cell *matCellDef="let element"> {{element.end_date_time}} </td>
                </ng-container>
                <ng-container matColumnDef="init">
                  <th mat-header-cell *matHeaderCellDef> Initial </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.initial_min_instance_count?element.initial_min_instance_count:'-'}} </td>
                </ng-container>
                <ng-container matColumnDef="min">
                  <th mat-header-cell *matHeaderCellDef> Min </th>
                  <td mat-cell *matCellDef="let element"> {{element.instance_min_count}} </td>
                </ng-container>
                <ng-container matColumnDef="max">
                  <th mat-header-cell *matHeaderCellDef> Max </th>
                  <td mat-cell *matCellDef="let element"> {{element.instance_max_count}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="specificDateColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: specificDateColumns;"></tr>
              </table>
            </div>
            <br />
            <div class="app-metadata">
              <table mat-table [dataSource]="policy.schedules.recurring_schedule">
                <ng-container matColumnDef="effect">
                  <th mat-header-cell *matHeaderCellDef> Effective Duration </th>
                  <td mat-cell *matCellDef="let element"> {{ element.start_date? element.start_date + ' ~ ' +
                    element.end_date : 'Aways'}}</td>
                </ng-container>
                <ng-container matColumnDef="repeat">
                  <th mat-header-cell *matHeaderCellDef> Repeats On </th>
                  <td mat-cell *matCellDef="let element"> {{element.days_of_month}} {{element.days_of_week}} of the
                    {{element.days_of_week? 'week': 'month'}} </td>
                </ng-container>
                <ng-container matColumnDef="from">
                  <th mat-header-cell *matHeaderCellDef> From </th>
                  <td mat-cell *matCellDef="let element"> {{element.start_time}} </td>
                </ng-container>
                <ng-container matColumnDef="to">
                  <th mat-header-cell *matHeaderCellDef> To </th>
                  <td mat-cell *matCellDef="let element"> {{element.end_time}} </td>
                </ng-container>
                <ng-container matColumnDef="init">
                  <th mat-header-cell *matHeaderCellDef> Initial </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.initial_min_instance_count?element.initial_min_instance_count:'-'}} </td>
                </ng-container>
                <ng-container matColumnDef="min">
                  <th mat-header-cell *matHeaderCellDef> Min </th>
                  <td mat-cell *matCellDef="let element"> {{element.instance_min_count}} </td>
                </ng-container>
                <ng-container matColumnDef="max">
                  <th mat-header-cell *matHeaderCellDef> Max </th>
                  <td mat-cell *matCellDef="let element"> {{element.instance_max_count}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="recurringScheduleColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: recurringScheduleColumns;"></tr>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </app-tile>
    </app-tile-group>
  </app-tile-grid>
  
  <div *ngIf="appAutoscalerScalingHistory$ | async as scalingHistory">
    {{ scalingHistory.total_results}}
  </div>
  <div *ngIf="appAutoscalerHealth$ | async as health">
    {{ health.status}}
  </div>
</div>