:host {
  flex: 1;
}

.helm-create-release {
  font-size: 14px;
}

form {
  flex: 1;
}

.overrides {
  &__yaml {
    background-color: rgba(0, 0, 0, .1);
    font-family: 'Source Code Pro', monospace;
  }
}
