<app-page-header>
  Install Chart
</app-page-header>
<app-steppers [cancel]="cancelUrl">
  <app-step [title]="'Kubernetes'" [valid]="validate$ | async">
    <form [formGroup]="details" class="stepper-form">
      <b>Select the Kubernetes cluster to install to</b>
      <mat-form-field>
        <mat-select formControlName="endpoint" name="endpoint">
          <mat-option *ngFor="let kube of kubeEndpoints$ | async" [value]="kube.guid">
            <span>{{ kube.name }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <b>Specify name and namespace for the installation</b>
      <mat-form-field>
        <input #releaseNameInputField matInput placeholder="Name" name="releaseName" formControlName="releaseName"
          autocomplete="off">
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="Namespace" matInput formControlName="releaseNamespace" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let namespace of namespaces$ | async" [value]="namespace">
            {{namespace}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="details.controls.releaseNamespace.errors?.namespaceDoesNotExist">
          Namespace does not exist
        </mat-error>
      </mat-form-field>

      <mat-checkbox matInput formControlName="createNamespace">Create Namespace</mat-checkbox>

    </form>
  </app-step>
  <app-step [title]="'Overrides'" [onNext]="submit" [finishButtonText]="'Install'" [onEnter]="onEnterOverrides">
    <form [formGroup]="overrides" class="stepper-form overrides_form">
      <div class="helm-create-release__heading">
        <h3 class="helm-create-release__title">Enter YAML Value Overrides</h3>
        <button (click)="useValuesYaml()" [disabled]="!valuesYaml" class="helm-create-release__button" mat-button
          color="primary">Copy from values.yaml</button>
      </div>
      <mat-form-field [floatLabel]="'always'" class="overrides_form-field">
        <mat-label>Values</mat-label>
        <textarea #overridesYamlTextArea class="overrides__yaml" matInput formControlName="values" name="Values"
          spellcheck="false"></textarea>
      </mat-form-field>
    </form>
  </app-step>
</app-steppers>