<div class="cluster-registration" ng-class="{'overlay-position': clusterRegistrationCtrl.overlay}">
  <nav class="navbar navbar-fixed-top" ng-if="clusterRegistrationCtrl.overlay">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand" translate>CNAP</span>
      </div>
    </div>
  </nav>
  <div class="container registration-content">
    <div class="row">
      <h2 class="page-header" translate>
        Setup your environment
        <span class="helion-icon helion-icon-Help pull-right"></span>
      </h2>
      <cluster-registration-message-box ng-if="clusterRegistrationCtrl.clusterInstances.length === 0"></cluster-registration-message-box>
      <cluster-registration-list ng-if="clusterRegistrationCtrl.clusterInstances.length !== 0"></cluster-registration-list>
    </div>
  </div>
  <div class="fixed-footer" ng-if="clusterRegistrationCtrl.overlay">
    <button type="button" class="btn btn-primary"
            ng-disabled="clusterRegistrationCtrl.clusterInstances.length === 0"
            ng-click="applicationCtrl.showClusterRegistration = false" translate>
      Done
    </button>
  </div>
</div>
<flyout flyout-active="clusterRegistrationCtrl.clusterAddFlyoutActive"
  flyout-close-icon="'helion-icon helion-icon-Close'">
  <add-cluster-form on-cancel="clusterRegistrationCtrl.hideClusterAddForm()"
    on-submit="clusterRegistrationCtrl.hideClusterAddForm()">
  </add-cluster-form>
</flyout>
