<nav class="page-side-nav">
  <div class="page-side-nav__items-header">
    {{ header }}
  </div>
  <ul class="page-side-nav__items">
    <li *ngFor="let tab of tabs">
      <a *ngIf="!tab.hidden || !(tab.hidden | async)" class="page-side-nav__item" [routerLink]="[tab.link]"
        [routerLinkActive]="['page-side-nav__item--active']">
        <mat-icon class="page-side-nav__icon" *ngIf="tab.matIcon" [fontSet]="tab.matIconFont">{{ tab.matIcon }}</mat-icon>
        {{ tab.label }}
      </a>
    </li>
  </ul>
</nav>