.page-side-nav {
  border-right: 1px solid #00000018;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  &__item {
    align-items: center;
    border-color: transparent;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    letter-spacing: .01em;
    outline: 0;
    padding: 15px;
    text-decoration: none;
    mat-icon {
      margin-right: 10px;
      text-align: center;
    }
  }
  &__items {
    flex: 1;
    list-style-type: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
  }
  
  &__items-header {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    font-weight: bold;
    height: 60px;
    opacity: .6;
    padding: 0px 15px;
  }
}