// Empty app-examples.scss

.custom-toast-icon:before {
  content: 'extension';
}

.app-icon-error:before {
  content: 'error';
}

.app-icon-warning:before {
  content: 'warning';
}

.app-icon-play:before {
  content: 'play_arrow';
}