.meta-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  &__header {
    align-content: center;
    display: flex;
    flex-direction: row;
    &__button {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  &-pointer {
    cursor: pointer;
  }
}
