@import '~@angular/material/theming';
@mixin display-value-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $background-colors: map-get($theme, background);
  $foreground-colors: map-get($theme, foreground);
  .app-code-block {
    color: darken(mat-color($background-colors, background), 2%);
    background-color: mat-color($foreground-colors, text);
    &___copied-icon {
      color: mat-color($primary);
    }
    &__copied-div {
      background-color: mat-color($foreground-colors, text);
    }
  }
}
