.app-code-block {
  padding: 10px 20px;
  position: relative;
  &__content {
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    justify-content: center;
    margin-right: 20px; // Prevent text overlapping copy button
  }
  &__pre {
   // For wrapped PRE, vertical padding is already on the PRE element, so remove it here
    padding: 0 20px;
  }
  &__copied-div,
  &__copy-icon {
    position: absolute;
    right: 10px;
    top: 6px;
    transition: opacity 250ms linear;
  }
  &__copied-div {
    align-items: center;
    display: flex;
    opacity: 0;
    span {
      margin-right: 5px;
    }
  }
  &__copy-icon {
    cursor: pointer;
  }
  &__success {
    .app-code-block {
      &__copied-div {
        opacity: 1;
      }
      &__copy-icon {
        opacity: 0;
      }
    }
  }
}
