<div class="ssh-viewer">
  <div class="ssh-viewer__overlay" *ngIf="errorMessage || !isConnected">
    <div class="ssh-viewer__error" *ngIf="errorMessage">
      Error occurred establishing SSH connection
    </div>
    <div class="ssh-viewer__disconnected" *ngIf="!errorMessage && !isConnected && !isConnecting">
        Disconnected
      </div>
    </div>
  <mat-progress-bar *ngIf="isConnecting" mode="indeterminate"></mat-progress-bar>
  <div class="ssh-terminal" #container [ngClass]="{'ssh-terminal-disconnected': !isConnected}">
    <div id="terminal" #terminal></div>
  </div>
</div>
  