<div ng-if="!clusterOrgDetailController.organization().details"
     class="cluster-loading"
     ng-class="{'col-md-9 col-sm-11 col-xs-11':clusterOrgDetailController.hasActions !== false}">
  <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
</div>

<div ng-if="clusterOrgDetailController.organization().details"
     class="cluster-detail endpoints"
     ng-class="{'col-md-9 col-sm-11 col-xs-11':clusterOrgDetailController.hasActions !== false}"
    >
  <h3>Organization : {{ clusterOrgDetailController.organization().details.org.entity.name }}</h3>
  <organization-summary-tile
    cluster-guid="clusterOrgDetailController.clusterGuid"
    organization="clusterOrgDetailController.organization()"
    organization-names="clusterOrgDetailController.organizationNames">
  </organization-summary-tile>

  <ul class="application-nav nav nav-tabs col-sm-12">
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="endpoint.clusters.cluster.organization.detail.spaces" translate>
        Spaces
      </a>
    </li>
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="endpoint.clusters.cluster.organization.detail.users" translate>
        Users
      </a>
    </li>
  </ul>
  <ui-view></ui-view>
</div>
<cluster-actions ng-show="clusterOrgDetailController.hasActions"
                 has-actions="clusterOrgDetailController.hasActions"
                 class="col-md-3 col-sm-1 col-xs-1"></cluster-actions>
