<app-page-header>
  <h1>CaaSP</h1>
</app-page-header>
<div class="summary">
  <app-tile-grid>
    <app-tile-group>
      <app-tile>
        <mat-card>
            <mat-card-header>
              <mat-card-title>One</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{ stats?.total }}
            </mat-card-content>
          </mat-card>
      </app-tile>
      <app-tile>
          <mat-card>
              <mat-card-header>
                <mat-card-title>Two</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                Contnet
              </mat-card-content>
            </mat-card>
      </app-tile>
      <app-tile>
        <mat-card>
            <mat-card-header>
              <mat-card-title>Three</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Contnet
            </mat-card-content>
          </mat-card>
      </app-tile>
    </app-tile-group>
  </app-tile-grid>
</div>