.deploy-app-local {
  button {
    margin: 0 1px;
  }
  &__input {
    height: 0;
    visibility: hidden;
    width: 0;
  }
  &__title {
    font-weight: 600;
    margin: 24px 0;
  }
  &__info {
    margin-top: 24px;
  }
  &__next {
    padding-top: 24px;
  }
  &__indicator {
    align-items: center;
    display: flex;
    margin-bottom: 12px;
    mat-icon {
      border-radius: 50%;
      font-size: 20px;
      margin-right: 8px;
      padding: 2px;
    }
  }
}
