.endpoints {

  padding: 0 $console-unit-space;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .welcome-message {

    > .material-icons {
      font-size: $console-unit-space;
      margin-right: $console-unit-space * 0.5;
    }

    > span {
      vertical-align: middle;
    }
  }

  .applications-empty {
    padding-top: 73px;
  }
  $msg-height: 50px;
}

.form-group.skip-ssl-validation-checkbox {
  display: flex;

  > checkbox-input {
    display: flex;
  }
}

.endpoint-notification.alert {

  margin-bottom: $console-unit-space;
  font-size: 18px;

  .endpoint-notification-icon {
    position: absolute;
    left: $console-unit-space;
    top: $console-unit-space;
    width: $console-unit-space;
    path, rect {
      fill: $charcoal;
    }
  }

  &.endpoint-notification-slim {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 0;
  }
}
.endpoint-notification-error {

}

.applications-empty, .console-error-block {
  clear: both;
  text-align: center;
  padding: $console-unit-space*2 0;
  width: 80%;
  margin: auto;

  .applications-msg, .applications-cta {
    font-weight: $console-font-weight-semibold;
    color: $dove-gray;

    .btn-link {
      font-weight: $console-font-weight-semibold;
    }
  }

  .applications-msg {
    font-size: $font-size-h1;
    //height: $applications-msg-height;
    line-height: $font-size-h1 * 1.2;
  }

  .applications-cta {
    font-size: 24px;
    margin-top: $console-unit-space * 0.5;
  }

  .material-icons {
    color: $dove-gray;
    margin-bottom: $console-unit-space * .5;
  }

}

.applications-empty {
  app-icon > svg > path{
    stroke: $gray-darker;
  }

  i {
    color: $gray-darker;
  }

}
