// --------------------------------------------------
// Usage Gauge
// --------------------------------------------------

$usage-gauge-margin-vertical:     6px !default;
$usage-gauge-alert-size:          8px !default;
$usage-gauge-alert-box-width:     $usage-gauge-alert-size + 4px !default;
$usage-gauge-bar-height: 4px;

:host {
  display: flex;
}

.usage-gauge {
  display: flex;
  flex-direction: column;
  padding-bottom: $usage-gauge-margin-vertical;
  padding-top: $usage-gauge-margin-vertical;
  width: 100%;

  &__label {
    line-height: 100%;
    margin-bottom: $usage-gauge-margin-vertical;
    margin-top: $usage-gauge-margin-vertical;
    text-transform: uppercase;
  }

  &__info {
    float: right;
  }

  &__bar {
    display: inline-block;
    height: $usage-gauge-bar-height;
    margin-bottom: $usage-gauge-margin-vertical;
    margin-top: $usage-gauge-margin-vertical;
    position: relative;
    vertical-align: middle;
    width: 100%;

    &::after {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__progress-bar {
    box-shadow: none;
    float: left;
    height: $usage-gauge-bar-height;
    position: absolute;
    transition: width .6s ease, background-color .6s ease;
    width: 0%;
  }

  &__progress-bar-background {
    float: left;
    height: $usage-gauge-bar-height;
    position: absolute;
    width: 100%;
  }
}
