// --------------------------------------------------
// Usage Gauge
// --------------------------------------------------
@mixin app-usage-gauge-theme($theme, $app-theme) {

  $status-colors:           map-get($app-theme, status);
  $usage-gauge-bar-color:   map-get($status-colors, tentative);
  $usage-bar-warning-color: map-get($status-colors, warning);
  $usage-bar-error-color:   map-get($status-colors, danger);

  .usage-gauge {
    &__progress-bar {
      background-color: $usage-gauge-bar-color;
    }

    &__progress-bar-background {
      background-image: app-usage-gauge-gradient($usage-gauge-bar-color);
    }

    &__warning {
      background-color: $usage-bar-warning-color;
    }

    &__error {
      background-color: $usage-bar-error-color;
    }
  }
}

@function app-usage-gauge-gradient($bar-color) {
  $color: lighten($bar-color, 22%);
  $gradient-stop-1: lighten($color, 8%);
  $gradient-stop-2: lighten($color, 5%);
  $gradient-stop-3: $color;
  $gradient-stop-4: darken($color, 5%);

  @return linear-gradient(to right,
    $gradient-stop-1,
    $gradient-stop-1 25%,
    $gradient-stop-2 25%,
    $gradient-stop-2 50%,
    $gradient-stop-3 50%,
    $gradient-stop-3 75%,
    $gradient-stop-4 75%,
    $gradient-stop-4 100%
  );
}
