.summary {

  &__cards {
    display: flex;
    $summary-card-spacing: 20px;
    flex-wrap: wrap;
    margin: auto;
  }

  &__card {
    width: 100%;
  }
}

.routes__card {

  app-routes {
    width:100%;
    padding-right: 24px;
  }
}
