<div>
  <div class="summary__cards">
    <app-details-card class="summary__card" title="Build, Deploy &amp; Host" [busy]="cardTwoFetching$ | async">
      <mat-list>
        <h3 mat-subheader>Dates</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>date_range</mat-icon>
          <div mat-line>Created</div>
          <div mat-line> {{ (appService.application$ | async)?.app.metadata.created_at | date:'medium' }} </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>access_time</mat-icon>
          <div mat-line>Modifed</div>
          <div mat-line> {{ (appService.application$ | async)?.app.entity.package_updated_at | date:'medium' || '-' }} </div>
        </mat-list-item>
        <h3 mat-subheader>Build</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>build</mat-icon>
          <div mat-line>Buildpack</div>
          <div mat-line>
            <app-view-buildpack [buildPack]="(appService.application$ | async)?.app.entity.buildpack || (appService.application$ | async)?.app.entity.detected_buildpack"></app-view-buildpack>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div mat-line>Production</div>
          <mat-icon mat-list-icon>bug_report</mat-icon>
          <div mat-line>
            {{(appService.application$| async)?.app.entity.production ? 'Yes' : 'No'}}
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>code</mat-icon>
          <div mat-line>Stack</div>
          <div mat-line>
            {{(appService.application$| async)?.stack?.entity.name}}
          </div>
        </mat-list-item>
      </mat-list>
      <mat-list>
        <h3 mat-subheader>Cloud Foundry</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>title</mat-icon>
          <div mat-line>Name</div>
          <div mat-line>
            {{(appService.application$| async)?.cf?.name}}
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>http</mat-icon>
          <div mat-line>URL</div>
          <div mat-line>
            {{(appService.application$| async)?.cf?.api_endpoint.Scheme + '://' + (appService.application$| async)?.cf?.api_endpoint.Host}}
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>location_city</mat-icon>
          <div mat-line>Organisation</div>
          <div mat-line>
            {{(appService.application$| async)?.organisation.entity.name}}
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>language</mat-icon>
          <div mat-line>Space</div>
          <div mat-line>
            {{(appService.application$| async)?.space.entity.name}}
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="(appService.applicationStratProject$| async)?.deploySource">
          <mat-icon mat-list-icon>brightness_1</mat-icon>
          <div mat-line>Console Deploy</div>
          <div mat-line>
            {{(appService.applicationStratProject$| async)?.deploySource.timestamp * 1000 | date:'medium' || '-'}}
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="(appService.applicationStratProject$| async)?.deploySource">
          <span [ngSwitch]="(appService.applicationStratProject$| async)?.deploySource.type">
            <span *ngSwitchCase="'giturl'">
              <mat-icon mat-list-icon>brightness_1</mat-icon>
              <div mat-line>Console Deploy</div>
              <div mat-line>
                <div matTooltip="{{(appService.applicationStratProject$| async)?.deploySource.branch + ' ' + ((appService.applicationStratProject$| async)?.deploySource.commit | slice:0:8)}}"
                  [matTooltipHideDelay]="1500">
                  {{(appService.applicationStratProject$| async)?.deploySource.url}}
                </div>
              </div>
            </span>
            <span *ngSwitchCase="'github'">
              <mat-icon mat-list-icon>brightness_1</mat-icon>
              <div mat-line>Console Deploy</div>
              <div mat-line>
                <a href="{{(appService.applicationStratProject$| async)?.deploySource.url}}/commit/{{(appService.applicationStratProject$| async)?.deploySource.commit}}"
                  rel="noopener noreferrer" target="_blank">
                  {{(appService.applicationStratProject$| async)?.deploySource.commit | slice:0:8}}
                </a>
              </div>
            </span>
            <span *ngSwitchCase="'filefolder'">
              <mat-icon mat-list-icon>brightness_1</mat-icon>
              <div mat-line>Console Deploy Source</div>
              <div mat-line>
                Folder Upload
              </div>
            </span>
            <span *ngSwitchCase="'archive'">
              <mat-icon mat-list-icon>brightness_1</mat-icon>
              <div mat-line>Console Deploy Source</div>
              <div mat-line>
                Archive File Upload
              </div>
            </span>
          </span>
        </mat-list-item>
      </mat-list>
    </app-details-card>
    <mat-card-footer>
      <mat-progress-bar *ngIf="(cardTwoFetching$ | async)" [mode]="'indeterminate'">
      </mat-progress-bar>
    </mat-card-footer>

  </div>
  <div class="summary--routes-card">
    <app-details-card title="Routes" [busy]="cardTwoFetching$ | async">
     <app-routes></app-routes>
    </app-details-card>
  </div>
</div>
