
.global-spinner, .global-spinner-local {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  spinner {
    height: $global-spinner-height;
    width: $global-spinner-width;
  }

  .global-spinner-content.global-spinnter-with-label {
    background-color: $gray-darker;
    color: $white;
    padding: $console-half-space $console-unit-space * 2;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;

    > div {
      margin-bottom: $console-half-space;
    }

    bounce-spinner .bounce-spinner > div {
      background-color: $white;
      width: 16px;
      height: 16px;
    }
  }
}

.global-spinner-active {
  overflow-y: hidden;
}

.global-spinner {
  background-color: $global-spinner-bg-color;
  z-index: $global-spinner-z-index;
}

.global-spinner-local {
  pointer-events: none;
}