<div ng-class="{'global-spinner': !globalSpinnerCtrl.spinnerLocal, 'global-spinner-local': globalSpinnerCtrl.spinnerLocal}" ng-if="globalSpinnerCtrl.spinnerActive">
  <div class="global-spinner-content" ng-class="{'global-spinnter-with-label': globalSpinnerCtrl.spinnerLabel}">
    <ng-transclude></ng-transclude>
    <div ng-if="globalSpinnerCtrl.spinnerLabel" translate>{{ globalSpinnerCtrl.spinnerLabel}}</div>
    <spinner ng-if="globalSpinnerCtrl.spinnerType === 'spinner'"></spinner>
    <bounce-spinner ng-if="globalSpinnerCtrl.spinnerType === 'bounce-spinner'"
      ng-class="'{{ globalSpinnerCtrl.classes }}'">
    </bounce-spinner>
  </div>
</div>
