:host {
  display: flex;
}

.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  &__header {
    margin-top: 0;
  }
  &__list-header {
    display: flex;
    line-height: 40px;
    .home-page__header {
      flex: 1;
      margin-bottom: 12px;
    }
  }
  &__card {
    height: 100%;
    &:last-child {
      margin-bottom: 20px;
    }
  }
  // Grid layout
  &__list {
    display: grid;
    flex: 1;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-rows: min-content;
  }
  &__list-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &__list-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.layout-menu {
  display: flex;
  &__label {
    flex: 1
  }
  mat-icon.layout-menu__icon {
    flex: 0 0 20px;
    display: flex;
    align-self: center;
    margin: 0 0 0 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    opacity: 0;
  }
  mat-icon.layout-menu__icon.layout-menu__tick {
    opacity: 1;
  }

  &__tick {
    font-weight: bold;
  }
  &__sep {
    margin: 10px 0;
  }
}