 .app-table {
   md-card-content {
     md-table {
       &[hidden] * {
         display: none;
       }
       md-header-row[hidden] {
         *,
         &.mat-header-row {
           display: none;
         }
       }
       md-header-cell,
       md-cell {
         flex: 1 1 200px;
         padding: 10px 5px;
       }
       .table-column-edit {
         flex-grow: 0;
         min-width: inherit;
         display: flex;
         flex-direction: row;
         justify-content: flex-end;
       }
       md-row {
         min-height: 57px;
         &:hover {
           background-color: rgba(0, 0, 0, 0.05);
         }
         md-cell {
           md-form-field {
             width: 90%;
           }
         }
       }
       md-row.fixedRowHeight {
         height: 57px;
       }
     }
   }
 }
