@import '@angular/material/theming';
@import '../../../../sass/mixins';
@mixin list-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $foreground-colors: map-get($theme, foreground);
  $background-colors: map-get($theme, background);
  $is-dark: map-get($theme, is-dark);
  $accent: map-get($theme, accent);

  $header-selected-color: #fff;
  @if $is-dark == true {
    $header-selected-color: lighten(mat-color($background-colors, background), 20%);
  } @else {
    $header-selected-color: mat-color($primary, 50);
  }

  .list-component {
    &__header {
      &--selected {
        background-color: $header-selected-color;
      }
      &__right,
      &__left--multi-filters {
        @include breakpoint(mobileonly) {
          flex-wrap: wrap;
        }
      }

      @include accent(mat-color($accent));
      .sort {
        @include accent(unset)
      }
    }
  }
}

@mixin accent($colour) {
  .mat-select-value-text,
  .mat-input-element.ng-dirty,
  .mat-chip {
    color: $colour;
  }
}
