$test-primary: #007ACC;

// Colours for the header bar
$page-header-fg: #fff !default;
$page-header-bg: $test-primary !default;
$page-header-active-fg: #000 !default;
//$actions-menu-hover-bg: $suse-primary;

// Set the primary brand colour
$brand-primary: $test-primary;
//$link-color: $suse-primary;
//$input-select-fg: $brand-primary;

// Hide welcome text panel on the login page
//$login-page-text-panel-display: none;

$input-select-fg: #B200FF;

$login-page-text-fg: #0400ff;

$body-bg: #000;
$text-color: #fff;
