.choices {
  align-items: center;
  // display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  mat-card {
    min-width: 600px;
    width: 60%;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    mat-card-content {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .icon {
      flex: 0;
      padding-right: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        // background-color: rgba(1, 1, 1, .3);
        background-color: rgba(0, 0, 0, .1);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
          width: 250px;
          height: 100px;
        }
        img {
          width: 200px;
        }
    }

    .bottom {
      display: flex;
      padding: 20px;
      padding-top: 30px;
      align-items: center;
    }

    .description {
      flex: 1;
      padding-right: 25px;
    }

    .button {
      flex: 0;
    }
  }
}
