<div class="panel panel-default" ng-hide="!boundServices.length && !applicationServicesCtrl.isFiltered()">
  <div class="panel-body service-filter-panel">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label" translate>app.app-info.app-tabs.services.types.show</label>
        <select-input ng-model="applicationServicesCtrl.filterType" input-options="applicationServicesCtrl.filterTypes" tabindex="0"
          translate-option-labels="true">
        </select-input>
      </div>
      <div class="form-group addon-form-group filter-form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <app-icon icon="svg:Filter.svg"></app-icon>
          </span>
          <input type="text" class="form-control" ng-model="applicationServicesCtrl.search.$" />
        </div>
      </div>
    </form>
  </div>
</div>
<div class="service-manage-message" ng-if="applicationServicesCtrl.managingType"><span translate translate-value-type="{{ applicationServicesCtrl.managingType }}">app.app-info.app-tabs.services.messages.currently-viewing-1</span>  <a ng-click="applicationServicesCtrl.filterType = applicationServicesCtrl.ALL_FILTER" translate>app.app-info.app-tabs.services.messages.click-here</a>  <span translate>app.app-info.app-tabs.services.messages.currently-viewing-2</span></div>
<div ng-if="applicationServicesCtrl.ready && boundServices.length === 0" class="message-box message-box-no-bg">
  <p>
    <img src="/images/services/App_services_72.png" />
    <div ng-if="!applicationServicesCtrl.search.$ && !applicationServicesCtrl.isFiltered()">
      <h3 translate>
        app.app-info.app-tabs.services.messages.no-services
      </h3>
      <h3 translate>
        app.app-info.app-tabs.services.messages.view-catalogue <a ui-sref="cf.applications.application.service-catalogue">app.app-info.app-tabs.services.messages.view-catalogue-link</a>.
      </h3>
    </div>
    <div ng-if="applicationServicesCtrl.isFiltered()">
      <h3 translate>
        app.app-info.app-tabs.services.messages.no-services-search
      </h3>
    </div>
  </p>
</div>
<div ng-if="!applicationServicesCtrl.ready" class="message-box message-box-no-bg">
  <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
</div>
<div class="services-gallery-card__container cluster-gallery-card-container">
  <service-card class="cluster-gallery-card-parent" ng-repeat="service in boundServices = (applicationServicesCtrl.services | filter:applicationServicesCtrl.showInstance | filter:applicationServicesCtrl.search) track by service.metadata.guid"
    service="service" app="applicationServicesCtrl.appModel.application" cnsi-guid="applicationServicesCtrl.cnsiGuid">
  </service-card>
</div>