.start-end-date {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &__selector {
    flex: none;
    padding: 0 5px;
  }
  &__arrow {
    padding: 0 5px;
  }
}

.invalid-message {
  font-size: 12px;
  min-height: 16px;
}
