.landing-container {
  height: 100%;
  width: 100%;

  font-weight: normal;

  display: flex;
  flex-direction: column;

  .landing-top {
    background-color: $brand-secondary;
    flex: 0 0 60px;
  }

  .landing-content {
    flex: 1;
    display: flex;
    align-items: center;
  }

  page-footer {
    position: static;
    bottom: $console-unit-space / 2;

    animation: fadein 2s ease;

    @keyframes fadein {
      0% { opacity: 0; }
      50% { opacity: 0; }
      100% { opacity: 1; }
    }

    background-color: transparent;
    margin: $console-unit-space;

    .copyright-and-links {
      align-items: flex-end;

      .copyright .product-name > span {
        color: $brand-primary;
      }
    }
    .company-logo {
      width: $console-company-logo-width;
    }
  }

  // Move the produce name to the top of the page
  @media (max-width: $screen-sm-min) {
    page-footer .product-name > span:first-child {
      position: fixed;
      top: 0;
      line-height: 60px;
      font-size: 22px;
      color: $brand-primary;
    }
  }

  .landing-bottom {
    border-bottom: 10px solid $brand-primary;
    // Add some artificial space such that page content will be visually ok when centred
    flex: 0 0 10px;
  }
}
