<div class="row">
  <div class="col-sm-12">
    <h2 id="long-running-example" class="header page-header">
      Async Long-running Service
      <a class="headerlink" href="#long-running-example"
         title="Permalink to Async Long-running Service example">¶</a>
    </h2>

    <button type="button" class="btn btn-primary" ng-click="longRunningExampleCtrl.startSchool()">Start School</button>
    <code>grade = {{ longRunningExampleCtrl.grade }}</code>
    <string ng-if="longRunningExampleCtrl.graduated">
      Graduated!
    </string>
  </div>
</div>
