:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  min-height: 0;
  height: 100%;
  width: 100%;
}

.app-page-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex: 0 0 auto;
  &__anchor {
    &:hover {
      color: inherit;
    }
  }
}
