.modal.detail-view.detail-view-dialog .detail-view-content.setup-wizard wizard {
  ul.wizard-nav.nav {
    margin-bottom: 0;
  }
  .wizard-step {
    padding: 0 $console-unit-space $console-unit-space $console-unit-space;
    min-height: 460px;
    .message-box {
      min-width: inherit;
    }
  }
}

.login-page .login-right {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 275px;
}

