@import "tiles/service-tile";

.endpoints-dashboard {
  $gallery-card-side-margins: 30px;
  $gallery-card-max-width: 400px;
  $gallery-card-layout-steps: 4;

  .action-header{
    position: relative;
    padding-top: $hpe-unit-space;
    button{
      position: absolute;
      top: $hpe-unit-space;
      right: $hpe-unit-space;
    }
  }
  .tile-btn {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
  }

  @for $i from 1 through $gallery-card-layout-steps {
    @media (min-width: $gallery-card-side-margins + $i * $gallery-card-max-width) {
      .navbar-hidden {
        .endpoint-tile.col-md-4.col-sm-1 {
          width: percentage(1/$i);
        }
      }
    }
    @media (min-width: $main-nav-width + $gallery-card-side-margins + $i * $gallery-card-max-width) {
      .endpoint-tile.col-md-4.col-sm-1 {
        width: percentage(1/$i);
      }
    }
    @media (min-width: $main-nav-icons-width + $gallery-card-side-margins + $i * $gallery-card-max-width) {
      .navbar-icons-only {
        .endpoint-tile.col-md-4.col-sm-1 {
          width: percentage(1/$i);
        }
      }
    }
  }
}
