<div class="endpoints endpoints-dashboard">
  <div class="action-bar app-actions-bar col-md-12 panel-less">
    <div class="applications-header font-semi-bold pull-left" translate>
      Endpoints
      <bounce-spinner classes="bounce-spinner-sm" ng-show="!endpointsDashboardCtrl.listPromiseResolved"></bounce-spinner>
    </div>
  </div>
  <div class="console-error console-error-block" ng-if="endpointsDashboardCtrl.listPromiseResolved && endpointsDashboardCtrl.listError">
    <div>
      <div class="helion-icon helion-icon-3x helion-icon-Critical_L"></div>
      <div class="applications-msg" translate>The Console could not retrieve Endpoint information.</div>
      <button ng-click="endpointsDashboardCtrl.reload()" class="btn btn-primary" translate>Retry</button>
    </div>
  </div>
  <div ng-show="endpointsDashboardCtrl.listPromiseResolved && !endpointsDashboardCtrl.listError">
    <div id="welcome-message" class="welcome-message"
         ng-if="endpointsDashboardCtrl.showWelcomeMessage"
         ng-show="endpointsDashboardCtrl.isUserAdmin()">
      <div class="panel panel-default">
        <div class="action-header">
          <span translate>Welcome to Helion Stackato</span>
          <button type="button" class="close helion-icon helion-icon-Close"
                  ng-click="endpointsDashboardCtrl.hideWelcomeMessage()">
          </button>
        </div>
        <div class=" panel-body">
          <span translate>
            To enable developers to use this Web console to interact with Helion Stackato, please
          </span>
          <span class="btn-link tile-btn" ng-click="endpointsDashboardCtrl.showClusterAddForm(true)" translate>
            Register Helion Cloud Foundry endpoints
          </span>
            and
          <span class="btn-link tile-btn" ng-click="endpointsDashboardCtrl.showClusterAddForm()" translate>
            Helion Code Engine endpoints
          </span>
          <span translate>
            here. The process of registering these endpoints will make them discoverable for anyone who logs into this
            console. Once you register an endpoint, we recommend connecting it to your account so you can manage it.
          </span>
        </div>
      </div>
    </div>

    <service-tile use-cached-data="true" service-type="hcf" class="endpoint-tile col-md-4 col-sm-1"></service-tile>
    <service-tile use-cached-data="true" service-type="hce" class="endpoint-tile col-md-4 col-sm-1"></service-tile>
  </div>
</div>
