.endpoints {
  &.endpoints-dashboard {
    .action-header {
      position: relative;
      padding-top: $hpe-unit-space;
      button {
        position: absolute;
        top: $hpe-unit-space;
        right: $hpe-unit-space;
      }
    }

    .empty-view-message {
      padding-top: $hpe-unit-space;
    }
  }
}
