<app-meta-card class="cf-space-usage">
  <app-meta-card-title>Usage</app-meta-card-title>
  <app-meta-card-item>
    <app-meta-card-key>Applications</app-meta-card-key>
    <app-meta-card-value>{{ (cfSpaceService.apps$ | async)?.length }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Application Instances</app-meta-card-key>
    <app-meta-card-value>{{ cfSpaceService.appInstances$ | async }}/{{ (cfSpaceService.quotaDefinition$ | async)?.entity.app_instance_limit | infinityPipe}}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Service Instances</app-meta-card-key>
    <app-meta-card-value>{{ (cfSpaceService.serviceInstances$ | async)?.length }}/{{ (cfSpaceService.quotaDefinition$ | async)?.entity.total_services | infinityPipe}}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Routes</app-meta-card-key>
    <app-meta-card-value>{{ (cfSpaceService.routes$ | async) ?.length}}/{{ (cfSpaceService.quotaDefinition$ | async)?.entity.total_routes | infinityPipe}}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Memory Usage</app-meta-card-key>
    <app-meta-card-value>{{ (cfSpaceService.totalMem$ | async) | MbToHumanSize }}/{{ (cfSpaceService.quotaDefinition$ | async)?.entity.memory_limit | MbToHumanSize}}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>SSH Access</app-meta-card-key>
    <app-meta-card-value>{{ (cfSpaceService.allowSsh$ | async) }}</app-meta-card-value>
  </app-meta-card-item>
</app-meta-card>
