@mixin cf-admin-add-user-warning($theme, $app-theme) {
  $is-dark: map-get($theme, is-dark);
  $status-colors: map-get($app-theme, status);
  $warning: map-get($status-colors, warning);
  $background-colors: map-get($theme, background);
  .user-warning {
    background-color: lighten($warning, 45%);
    @if $is-dark == true {
      color: mat-color($background-colors, background);
    }
  }
}
