@import '~@angular/material/theming';
@mixin about-page-theme($theme, $app-theme) {
  $status: map-get($app-theme, status);
  .about-page__admin-card {
    border-color: map-get($status, danger);
  }
  .about-page__warning-icon {
    color: map-get($status, danger);
  }

  .about-page__mat-warning-icon mat-icon {
    color: map-get($status, danger);
  }
}
