<div *ngIf="errorMessage$ | async as message" class="header-event--error">
  <div [ngClass]="{'header-event--minimized' : eventMinimized$ | async}" class="header-event__outer">
    <span class="header-event">
      <mat-icon class="header-event__error-icon">error</mat-icon>
      <!-- <ng-container [ngTemplateOutlet]="eventIcon" [ngTemplateOutletContext]="{eventServerity: eventServerity}"></ng-container> -->
      <div class="header-event__message-wrapper">{{ message }}</div><mat-icon (click)="toggleEvent()" class="header-event__minimize">{{ (eventMinimized$ | async) ? 'error' : 'close' }}</mat-icon>
    </span>
  </div>
</div>

<!-- <ng-template #eventIcon let-serverity="serverity" let-serverities="eventServerity">
  <ng-container [ngSwitch]="serverity">
    <mat-icon *ngSwitchCase="serverities.ERROR">error</mat-icon>
    <mat-icon *ngSwitchCase="serverities.WARNING">warning</mat-icon>
    <mat-icon *ngSwitchDefault>info</mat-icon>
  </ng-container>
</ng-template> -->
