<app-meta-card class="org-card" [clickAction]="goToSummary" [entityConfig]="entityConfig" [actionMenu]="cardMenu">
  <app-meta-card-title class="org-card__title">
    <div class="org-card__title-link">{{ row.entity.name }}</div>
  </app-meta-card-title>
  <app-meta-card-item>
    <app-meta-card-key>Role</app-meta-card-key>
    <app-meta-card-value>{{ userRolesInOrg }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Applications</app-meta-card-key>
    <app-meta-card-value>{{ appCount }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Instances</app-meta-card-key>
    <app-meta-card-value>{{instancesCount }} / {{ instancesLimit | infinityPipe }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Memory</app-meta-card-key>
    <app-meta-card-value>{{ this.memoryTotal | MbToHumanSize }} / {{ this.memoryLimit | MbToHumanSize }}
    </app-meta-card-value>
    <mat-progress-bar mode="determinate" [value]="normalisedMemoryUsage"></mat-progress-bar>
  </app-meta-card-item>
</app-meta-card>
