<app-meta-card class="app-card" [routerLink]="['/applications', row.entity.cfGuid , row.metadata.guid]" [status$]="appStatus$" [entityConfig]="entityConfig">
  <app-meta-card-title>
    <app-multiline-title>{{ row.entity.name }}</app-multiline-title>
  </app-meta-card-title>
  <app-meta-card-item>
    <app-meta-card-key>State</app-meta-card-key>
    <app-meta-card-value>
      <app-application-state [hideIcon]="true" [state]="applicationState$"></app-application-state>
    </app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Instances</app-meta-card-key>
    <app-meta-card-value>
      <app-running-instances [instances]="row.entity.instances" [cfGuid]="row.entity.cfGuid" [appGuid]="row.entity.guid">
      </app-running-instances>
    </app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item *ngIf="multipleConnectedEndpoints$ | async; else singleEndpoint">
    <app-meta-card-key>CF/Org/Space</app-meta-card-key>
    <app-meta-card-value>
      {{endpointName$ | async }}/{{ row.entity.space.entity.organization.entity.name }}/{{ row.entity.space.entity.name }}
    </app-meta-card-value>
  </app-meta-card-item>
  <ng-template #singleEndpoint>
    <app-meta-card-item>
      <app-meta-card-key>Org/Space</app-meta-card-key>
      <app-meta-card-value>
        {{ row.entity.space.entity.organization.entity.name }}/{{ row.entity.space.entity.name }}
      </app-meta-card-value>
    </app-meta-card-item>
  </ng-template>
  <app-meta-card-item>
    <app-meta-card-key>Created</app-meta-card-key>
    <app-meta-card-value>
      {{ row.metadata.created_at | date:'medium' }}
    </app-meta-card-value>
  </app-meta-card-item>
</app-meta-card>
