.entity-summary {
  margin: 10px 0;
  &__logo {
    height: 400px;
    opacity: .2;
    position: absolute;
    right: -120px;
    top: 20px;
    z-index: -1;
  }
  &__inline-logo {
    max-height: 160px;
    padding-right: 20px;
  }
  &__sub-header {
    font-size: 16px;
    margin-top: -3px;
    opacity: .6;
  }
  &__sub-text {
    font-size: 16px;
    opacity: .6;
    padding-top: 10px;
  }
  &__header {
    margin: 0;
  }
  &__header-wrapper {
    align-items: baseline;
    display: flex;
  }
  &__header-info {
    font-size: 20px;
    margin-left: 10px;
    opacity: .4;
  }
  &__header-section {
    align-items: center;
    display: flex;
    margin: 10px;
  }
  &__content {
    background: linear-gradient(to bottom, transparent 0%, #f5f5f5 10%);
    margin: 0 -20px -20px;
    padding: 0 20px 20px;
  }
  &__dashboard {
    font-size: 14px;
    margin: -24px 20px 24px 24px;
  }
  &__spacing {
    font-size: 14px;
    margin: 12px 0;
  }
}
