.gitscm-tab {
  &__deployment {
    &__commit-warning {
      display: flex;
      flex-flow: row;
    }
    &__commit-warning__msg {
      padding-left: 24px;
    }
  }
  &__avatar {
    img {
      float: right;
      height: 84px;
      width: 84px;
    }
  }

  &__repo {
    &__name {
      align-items: center;
      display: flex;
      word-break: break-all;
      a {
        flex: 1;
      }
      &--icon {
        font-size: 18px;
        height: 18px;
        line-height: 18px;
        margin-left: 5px;
        margin-right: 0;
        width: 18px;
      }
    }
  }
}
