.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  &>* {
    margin-bottom: 20px;
  }
  md-icon {
    transform: rotate(90deg);
    font-size: 45px;
    height: 45px;
    width: 45px;
  }
  .first-line {
    font-size: 28px;
  }
  .second-line {
    font-size: 24px;
  }
  .first-line,
  .second-line {
    max-width: 700px;
  }
}
