:host {
  flex: 1;
}

.stepper-form {
  &__tags {
    &__chip-list {
      mat-chip {
        &.stepper-form__tags__chip-list__chip,
        &.stepper-form__tags__chip-list__chip + &.stepper-form__tags__chip-list__chip {
          $chip-padding: 5px;
          margin: $chip-padding 0 $chip-padding $chip-padding;
        }
      }
    }
  }
}

.specify-details {
  &__radio-group {
    &__radio {
      padding-right: 15px;
    }
  }
}
