credentials-form, [credentials-form] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 40px;

  .alert {
    margin-top: 20px;
  }

  .credentials-form {
    max-width: 400px;
  }

  .credentials-form-spinner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
  }
}
