<div class="credentials-form">
  <h2 translate>Provide Credentials</h2>
  <p translate>
    You should have received an email from your IT operator with credentials for
    clusters you have access to. Please contact your IT operator for help.
  </p>
  <form class="form-stacked center-block" name="credentialsFormCtrl.credentialsForm" role="form"
    ng-submit="credentialsFormCtrl.register()">
    <div class="form-group">
      <label class="control-label" for="credentials-form-name" translate>
        Service
      </label>
      <input type="text" class="form-control"
        id="credentials-form-name" name="name"
        ng-model="credentialsFormCtrl._data.name" readonly/>
    </div>
    <div class="form-group">
      <label class="control-label" for="credentials-form-url" translate>
        URL
      </label>
      <input type="text" class="form-control"
        id="credentials-form-url" name="url"
        ng-model="credentialsFormCtrl._data.url" readonly/>
    </div>
    <div class="form-group" focusable-input ng-class="credentialsFormCtrl.failedRegister ? 'has-error' : ''">
      <label class="control-label required" for="credentials-form-username" translate>
        Username
      </label>
      <input type="text" class="form-control"
        id="credentials-form-username" name="username"
        ng-model="credentialsFormCtrl._data.username" required autofocus/>
    </div>
    <div class="form-group has-feedback" focusable-input ng-class="credentialsFormCtrl.failedRegister ? 'has-error' : ''">
      <label class="control-label required" for="credentials-form-password" translate>
        Password
      </label>
      <input type="password" class="form-control" id="credentials-form-password" name="password"
        ng-model="credentialsFormCtrl._data.password" password-reveal password-reveal-icon="'helion-icon helion-icon-View'" required/>
    </div>

    <div class="form-buttons text-right">
      <button type="button" class="btn btn-info" ng-click="credentialsFormCtrl.cancel()" translate>
        Cancel
      </button>
      <button type="submit" class="btn btn-default"
        ng-disabled="credentialsFormCtrl.credentialsForm.$invalid || credentialsFormCtrl.authenticating"
        translate>
        Register
      </button>
    </div>

    <div class="credentials-form-spinner" ng-show="credentialsFormCtrl.authenticating">
      <span class="registration-notification" translate>
        Authenticating Credentials
      </span>
      <spinner></spinner>
    </div>
  </form>
  <div ng-if="credentialsFormCtrl.failedRegister" class="alert alert-danger">
    <p translate>The username and password combination you used are incorrect. Please try again.</p>
  </div>
  <div ng-if="credentialsFormCtrl.serverErrorOnRegister" class="alert alert-danger">
    <p translate>A server error occurred when attempting to register your service. Please try again. If this error persists, please contact the administrator.</p>
  </div>
  <div ng-if="credentialsFormCtrl.serverFailedToRespond" class="alert alert-danger">
    <p translate>The authentication server failed to respond. Please try again. If this error persists, please contact the administrator.</p>
  </div>
</div>
