import { E2EConfig } from './e2e.types';

export const e2eSecrets: E2EConfig = {
  consoleUsers: {
    admin: {
      username: 'admins_username',
      password: 'admins_password'
    },
    nonAdmin: {
      username: 'users_username',
      password: 'users_password'
    }
  }
};
