# E2E Sample Configuration file
# Copy this to the root project folder and rename to 'secrets.yaml'

consoleUsers:
  admin:
    username: <STRATOS_ADMIN_USERNAME>
    password: <STRATOS_ADMIN_PASSWORD>
  nonAdmin:
    username: <STRATOS_USER_USERNAME>
    password: <STRATOS_USER_PASSWORD>

endpoints:
  cf:
  - name: cf
    url: <CF_URL>
    skipSSLValidation: true
    testOrg: e2e
    testSpace: e2e
    testService: local-volume
    # Optional - testDeployApp: nwmac/cf-quick-app
    services:
      bindApp: <APP_TO_TEST_BINDING_TO>
      publicService:
        name: <NAME_OF_A_PUBLIC_SERVICE>
      privateService:
        name: <NAME_OF_A_PRIVATE_SERVICE>
        invalidOrgName: <NAME_OF_ORG_SERVICE_CANNOT_BIND_IN_TO>
        invalidSpaceName: <NAME_OF_SPACE_SERVICE_CANNOT_BIND_IN_TO>
      spaceScopedService:
        name: <NAME_OF_A_SPACE_SCOPED_SERVICE>
        invalidOrgName: <NAME_OF_ORG_SERVICE_CANNOT_BIND_IN_TO>
        invalidSpaceName: <NAME_OF_SPACE_SERVICE_CANNOT_BIND_IN_TO>
    creds:
      admin:
        username: <CF_ADMIN_USERNAME>
        password: <CF_ADMIN_PASSWORD>
      nonAdmin:
        username: <CF_USER_USERNAME>
        password: <CF_USER_PASSWORD>
      removeUser:
        username: e2e-remove-user
        password: <CF_USER_PASSWORD>        
    invite: 
      clientId: <client id for client used by invite user e2e>
      clientSecret: <client secret for client used by invite user e2e>
    uaa:
      creds:
        clientId: <uaa client id>
        clientSecret: <uaa client secret>
      tokenEndpoint: <uaa endpoint>
      zone: <uaa zone>

# Skip SSL validation when talking to the backend API for test setup
skipSSLValidation: true

headless: false


