# E2E Sample Configuration file
# Copy this to the root project folder and rename to 'secrets.yaml'

consoleUsers:
  admin:
    username: <STRATOS_ADMIN_USERNAME>
    password: <STRATOS_ADMIN_PASSWORD>
  nonAdmin:
    username: <STRATOS_USER_USERNAME>
    password: <STRATOS_USER_PASSWORD>

endpoints:
  cf:
  - name: cf
    url: <CF_URL>
    skipSSLValidation: true
    testOrg: e2e
    testSpace: e2e
    testService: local-volume
    testDeployApp: nwmac/cf-quick-app
    creds:
      admin:
        username: <CF_ADMIN_USERNAME>
        password: <CF_ADMIN_PASSWORD>
      nonAdmin:
        username: <CF_USER_USERNAME>
        password: <CF_USER_PASSWORD>
      removeUser:
        username: e2e-remove-user
        password: <CF_USER_PASSWORD>

# Skip SSL validation when talking to the backend API for test setup
skipSSLValidation: true