.app-metadata {
  display: flex;
  flex-direction: row;

  &__two-cols {
    flex: 1;

    app-metadata-item:first-child {
      margin-top: 0;
    }
  }

  &__address {
    display: flex;
    min-height: 24px;
    &__value {
      align-items: center;
      display: flex;
      margin-right: 28px;
      word-break: break-all;
    }
  }
}

.user-invites {
  button {
    line-height: initial;
    margin: 0;
    min-width: auto;
    padding: 0;
  }
}
