@import 'services/services',
        'summary/summary',
        'log-stream/cf-log-viewer',
        'variables/variables';

.application-action-col {
  padding-top: $console-unit-space;

  .btn {
    font-size: $font-size-large;
    text-transform: none;
    height: auto;
    padding: $console-unit-space * 0.5 $console-unit-space;

    &:active,
    &:focus,
    &:hover {
      outline: none;

      &[disabled] {
        color: $text-color;
      }
    }

    > * {
      vertical-align: middle;
    }

    .materials-icons {
      padding-right: $console-unit-space;
    }
  }
}

.auto-update-popover {
  z-index: 1500;
}

.application-tabs {

  .app-summary-auto-update {
    position: fixed;
    right: 60px;
    padding-top: 13px;

    > span {
      cursor: pointer;
    }
  }
  
}

.application-header {
  @include flex-vertical-centered();
  font-size: $console-unit-space;
  padding: 0;
  height: $main-nav-title-height;

  .app-header-app-name {
    white-space: nowrap;
  }

  .app-summary-app-state-icon {
    margin-left: $console-unit-space / 2;
    padding-top: 3px;
  }

  .bounce-spinner {
    margin-left: $console-unit-space / 8;
    display: block;
  }
}

.application-details {
  padding-top: $console-unit-space;
  padding-bottom: $console-unit-space;
}

.application-nav.nav.nav-tabs > li {
  padding-top: 0;
  margin: $console-unit-space * 0.5 $console-unit-space 0 0;
  height: initial;

  &:last-child {
    margin: $console-unit-space * 0.5 0 0 0;
  }
}

.application-nav-menu {
  margin-left: auto;

  .actions-menu > .actions-menu-icon {
    font-size: 1.75em;
  }

  .actions-menu.open > .actions-menu-icon {
    color: $brand-primary;
  }

  .actions-menu-list {
    top: 75%;
    min-width: $console-unit-space * 10;
  }

  .actions-menu-item > i {
    padding-right: $console-unit-space / 2;
  }
}

.side-action-item > button {
  display: flex;
  align-items: center;

  app-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.app-action-icon-cli > svg {
      width: 20px;
      height: 20px;
    }
  }

  > span {
    margin-left: $console-unit-space * 0.5;
  }

  &:hover {

    svg > path {
      stroke: $brand-primary;
      width: 20px;
    }
  }
}
