<div class="col-md-12 col-sm-12">
  <div class="application-header font-semi-bold">
    <span class="app-header-app-name">{{ appCtrl.model.application.summary.name }}</span>
    <app-state-icon class="app-summary-app-state-icon" state="appCtrl.model.application.state.indicator"></app-state-icon>
    <actions-toolbar ready="appCtrl.ready" items="appCtrl.appActions"></actions-toolbar>
  </div>


  <div class="application-tabs">
    <cf-tabs tabs="appCtrl.cfApplicationTabs.tabs"></cf-tabs>
    <auto-update class="app-summary-auto-update"
                 update="appCtrl.autoUpdate.update"
                 interval="appCtrl.autoUpdate.interval"
                 run="appCtrl.autoUpdate.run"
                 popover="app.auto-update"></auto-update>
  </div>



  <div class="application-details col-sm-12">
    <div ui-view class="row"></div>
  </div>
</div>
