.display-value {
  // min-height: 57px; // padding: 10px 10px 10px 8px;
  padding-bottom: 17px; //NOTE: Should match mat-form-field-wrapper however this gives a pixel rounding error
  &__label {
    font-size: 16px;
  }
  &__value {
    color: pink;
    font-size: 14px;
  }
}
