@import '~@angular/material/theming';
@mixin display-value-theme($theme, $app-theme) {
  $foreground-colors: map-get($theme, foreground);
  .display-value {
    $foreground-colors: map-get($theme, foreground);
    &__label {
      color: mat-color($foreground-colors, secondary-text);
      font-size: 14px;
    }
    &__value {
      color: mat-color($foreground-colors, text);
      font-size: 16px;
    }
  }
}
