@import '../../../../../sass/mixins';
.cards {
  app-card {
    $space: 12px;
    $space-row: 12px;
    margin-bottom: $space;
    width: 100%;
    @include breakpoint(desktop) {
      width: calc(25% - #{$space-row});
    }
    @include breakpoint(tablet) {
      width: calc(33% - #{$space-row});
    }
    &:focus {
      outline: 0;
    }
  }
}
