.cards {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  .mat-card {
    &::after {
      bottom: 0;
      box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .3);
      content: '';
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity .3s ease-in-out;
    }
    &:hover {
      cursor: pointer;
      &::after {
        opacity: 1;
      }
    }
  }
  .row-filler {
    height: 1px;
    opacity: 0;
  }
}
