.card-app {
  &__meta {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
  }
}

.mat-card {
  cursor: pointer;
  &-title {
    margin-left: -16px; //Remove margin of original .mat-card-title
  }
  &-header-text {
    margin: 0;
  }
}
