.metrics-chart {
  height: 100%;
  width: 100%;
  &__outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  &__title {
    font-size: 14px;
    margin: 0 0 10px;
    text-align: left;
  }
  &__loading {
    margin: auto;
    min-width: 100px;
    width: 10%;
  }
}
