.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.uaa-wizard {
  display: flex;
  flex: 1;
  margin: 0 100px;
  &__form {
    display: block;
    flex-direction: column;
    width: 100%;
  }
  &__form-block {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
  }
  &__form-section {
    margin: 12px 0 6px;
  }
  &__intro {
    font-size: 18px;
    font-weight: 600;
    padding-top: 36px;
  }
  &__sso-block {
    margin-left: 28px;
    margin-top: 6px;
    code {
      font-size: 14px;
      padding-left: 6px;
    }
  }
  form {
    min-width: 400px;
    width: 100%;

    mat-checkbox {
      padding: 6px 0;
    }
  }
  app-steppers {
    display: flex;
    flex: 1;
    margin: 24px 0;
    > .steppers__wrapper {
      flex: 1;
    }
    .stepper-form {
      margin-top: 0;
      max-width: none;
    }
    .mat-form-field {
      max-width: 450px;
    }
    .steppers__contents {
      margin: 0 48px;
      overflow-y: auto;
    }
    .steppers__navigation {
      margin-top: 36px;
    }
 }
  app-stratos-title {
    text-align: center;
  }
}
