<app-page-header [breadcrumbs]="breadcrumbs$ | async">
  <h1> {{ name$ | async }}</h1>
  <div class="page-header-right">
    <button mat-icon-button name="edit-org" *ngIf="(cfEndpointService.connected$ | async)" routerLink="/cloud-foundry/{{cfEndpointService.cfGuid}}/organizations/{{cfOrgService.orgGuid}}/edit-org">
        <mat-icon>mode_edit</mat-icon>
      </button>
    <button mat-icon-button name="add-space" *ngIf="(cfEndpointService.connected$ | async)" routerLink="/cloud-foundry/{{cfEndpointService.cfGuid}}/organizations/{{cfOrgService.orgGuid}}/add-space">
        <mat-icon>add_box</mat-icon>
      </button>
    <button mat-icon-button name="user-management" *ngIf="isDevEnvironment && (cfEndpointService.connected$ | async)" routerLink="/cloud-foundry/{{cfEndpointService.cfGuid}}/manage-users">
        <mat-icon>people</mat-icon>
      </button>
  </div>
</app-page-header>
<app-page-subheader [tabs]="tabLinks">
</app-page-subheader>
<app-loading-page [isLoading]="isFetching$" [text]="'Retrieving Organization'">
  <router-outlet></router-outlet>
</app-loading-page>
