.app-state {
  align-items: center;
  display: flex;
  flex-direction: row;
  app-application-state-icon {
    padding-right: 5px;
  }
  &__with-icon {
    height: 25px;
  }
  &__label,
  &__sub-label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
