<app-page-header>
  <span *ngIf="(singleUser$ | async); else multiUser">Manager Roles: {{(singleUser$ | async).username }}</span>
  <ng-template #multiUser>Manager Users Roles</ng-template>
</app-page-header>
<app-steppers cancel="{{defaultCancelUrl}}">
  <app-step *ngIf="(initialUsers$ | async)?.length === 0" title="Users" [blocked$]="select.cfRolesService.loading$" [onNext]="select.onNext" [valid]="select.valid$ | async">
    <app-manage-users-select #select></app-manage-users-select>
  </app-step>
  <app-step title="Roles" [blocked$]="modify.cfRolesService.loading$" [onNext]="modify.onNext" [valid]="modify.valid$ | async">
    <app-manage-users-modify #modify></app-manage-users-modify>
  </app-step>
  <app-step title="Confirm" [onEnter]="confirm.onEnter" [cancelButtonText]="confirm.updateStarted ? 'Close' : 'Cancel'" [disablePrevious]="confirm.updateStarted" [destructiveStep]="!confirm.updateStarted" [onNext]="confirm.startApply" finishButtonText="Apply">
    <app-manage-users-confirm #confirm></app-manage-users-confirm>
  </app-step>
</app-steppers>
