<app-page-header>
  <span *ngIf="(singleUser$ | async); else multiUser">Manage Roles: {{(singleUser$ | async).username }}</span>
  <ng-template #multiUser>Manage User Roles</ng-template>
</app-page-header>
<app-steppers cancel="{{defaultCancelUrl}}" [nextButtonProgress]="false">
  <app-step *ngIf="(initialUsers$ | async)?.length === 0" title="Select Users" [blocked]="select.cfRolesService.loading$ | async" [onNext]="select.onNext" [valid]="select.valid$ | async">
    <app-manage-users-select #select></app-manage-users-select>
  </app-step>
  <app-step title="Select Roles" [blocked]="modify.cfRolesService.loading$ | async" [onLeave]="modify.onLeave" [onEnter]="modify.onEnter" [onNext]="modify.onNext" [valid]="modify.valid$ | async">
    <app-manage-users-modify #modify></app-manage-users-modify>
  </app-step>
  <app-step title="Confirm" [onEnter]="confirm.onEnter" [canClose]="!applyStarted" [disablePrevious]="applyStarted" [destructiveStep]="!applyStarted" [onNext]="startApply" [finishButtonText]="applyStarted ? 'Close' : 'Apply'">
    <app-manage-users-confirm #confirm></app-manage-users-confirm>
  </app-step>
</app-steppers>
