page-footer, [page-footer] {
  display: block;
  flex-shrink: 0;
  position: relative;
  color: $page-footer-color-fg;
  background: $page-footer-color-bg;
  font-size: 16px;
  margin-bottom: 24px;

  .page-footer-items {
    display: flex;

    .copyright-and-links {
      display: flex;
      flex: 1 1 0;
    }
  }

  .company-logo-section {
    display: flex;
    flex: 0;
  }

  .copyright {
    .secondary {
      display: block;
      color: #ccc;
    }
  }

  .product-and-links {
    margin: 0;
    line-height: 1;

    li {
      display: inline-block;
      margin-left: 12px;

    a {
        cursor: pointer;
        color: #ccc;
      }
    }
  }
}
