@reference 'tailwindcss';

.resource-preview__side-by-side {
  @apply flex;

  app-metadata-item {
    margin-right: 40px;
  }
}

.resource-preview__header {
  @apply flex justify-end;

  mat-icon {
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    opacity: 0.7;
    width: 20px;
  }
}
