$icon_size: 20px;

.resource-preview {

  font-size: 14px;

  &__labels {
    display: table;
  }

  &__label {
    display: table-row;
  }

  &__label-name {
    display: table-cell;
    opacity: .8;
    padding: 2px 20px 2px 2px;
  }

  &__label-value {
    display: table-cell;
  }

  &__side-by-side {
    display: flex;

    app-metadata-item {
      margin-right: 40px;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-end;

    mat-icon {
      font-size: $icon_size;
      height: $icon_size;
      line-height: $icon_size;
      opacity: 0.7;
      width: $icon_size;
    }
  }

  &__metrics {
    align-items: center;
    display: flex;
  }

}
