// Fake the font name for the glyphicons to be the helion icon font
$icon-font-name: "/helion-icons";
$icon-font-path: '/fonts/helion-icons/fonts' !default;

// Helion UI fonts and theme
@import "theme/fonts/helion-icons/variables";
@import "theme/scss/theme/index";

// Helion UI styles
@import "theme/scss/mixin/index";

//@import "theme/widgets/style/index";
