<div class="edit-user-info-form">
  <p translate>user-info.password-change.introduction</p>
  <form class="form-stacked center-block" name="form.changePasswordForm" role="form">

    <div class="form-group has-feedback">
      <label class="control-label" for="user-info-form-oldPassword" translate>
        user-info.password-change.old
      </label>
      <input autofocus type="password" password-reveal required class="form-control"
        id="user-info-form-oldPassword" name="oldPassword"
        placeholder="{{ 'user-info.password-change.placeholders.old' | translate }}"
        ng-model="asyncTaskDialogCtrl.context.data.oldPassword"/>
    </div>

    <div class="form-group has-feedback"
      ng-class="{'has-error': form.changePasswordForm.newPassword.$dirty && form.changePasswordForm.newPassword.$invalid}">
      <label class="control-label" for="user-info-form-newPassword" translate>
        user-info.password-change.new
      </label>
      <span class="control-message" ng-if="form.changePasswordForm.newPassword.$dirty && form.changePasswordForm.newPassword.$error.stratosNotEquals">
        <span translate>user-info.password-change.error-not-changed</span>
      </span>
      <input type="password" password-reveal required class="form-control"
        id="user-info-form-newPassword" name="newPassword"
        placeholder="{{ 'user-info.password-change.placeholders.new' | translate }}"
        stratos-not-equals="{{asyncTaskDialogCtrl.context.data.oldPassword}}"
        ng-model="asyncTaskDialogCtrl.context.data.newPassword"/>
    </div>

    <div class="form-group has-feedback"
      ng-class="{'has-error': form.changePasswordForm.newPasswordConfirm.$dirty && form.changePasswordForm.newPasswordConfirm.$invalid}">
      <label class="control-label" for="user-info-form-newPasswordConfirm" translate>
        user-info.password-change.confirm
      </label>
      <span class="control-message" ng-if="form.changePasswordForm.newPasswordConfirm.$dirty && form.changePasswordForm.newPasswordConfirm.$error.pattern">
        <span translate>user-info.password-change.error-confirm</span>
      </span>
      <input type="password" password-reveal required class="form-control"
        id="user-info-form-newPasswordConfirm" name="newPasswordConfirm"
        placeholder="{{ 'user-info.password-change.placeholders.confirm' | translate }}"
        ng-pattern="{{asyncTaskDialogCtrl.context.data.newPassword}}"
        ng-model="asyncTaskDialogCtrl.context.data.newPasswordConfirm"/>
    </div>
  </form>
</div>
