.app-ring-chart {
  align-items: center;
  display: flex;

  .legend {
    align-items: center;
    display: flex;
  }

  .advanced-pie-legend {
    display: flex;
    flex-direction: column;
    margin-right: 36px;
    top: 0;
    transform: none;

    .item-percent {
      display: none;
    }

    .total-label {
      margin: -8px 0 0;
    }

    .legend-items-container .legend-items .legend-item {
      .item-value,
      .item-label {
        margin-top: 0;
      }
    }
  }

  ngx-charts-advanced-legend .advanced-pie-legend {
    .total-label,
    .total-value {
      display: none;
    }
  }
}
