$suse-primary: #02D35F;

$page-header-fg: #fff !default;
$page-header-bg: $suse-primary !default;
$page-header-active-fg: #000 !default;
$actions-menu-hover-bg: $suse-primary;

$brand-primary: $suse-primary;
$link-color: $suse-primary;
$input-select-fg: $brand-primary;

// Align text panel at top
//$login-page-text-panel-align: flex-start;
// Allow text panel to be hidden
$login-page-text-panel-display: none;

