.log-viewer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
  &__scrollToBotttom,
  &__message {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__scrollButton {
    margin-bottom: 6px;
    pointer-events: auto;
  }
  &__message {
    align-items: center;
    height: auto;
  }
  &__messageText {
    padding: 12px;
  }
}

.log-scroller {
  border-style: solid;
  border-width: 1px;
  font-family: 'Source Code Pro', monospace;
  font-size: 10pt;
  height: 100%;
  line-height: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 10px 20px;
  position: relative;
  transform: translateZ(0);
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
  &__content {
    left: 0;
    position: absolute;
    top: 0;
    word-break: break-word;
  }
}
