:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  min-height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.log-viewer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;

  &__scrollToBotttom,
  &__message {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__scrollButton {
    margin-bottom: 6px;
    pointer-events: auto;
  }

  &__message {
    align-items: center;
    height: auto;
  }

  &__messageText {
    padding: 12px;
  }
}

.log-scroller {
  border-style: solid;
  border-width: 1px;
  flex: 1 1 0%;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  font-size: 10pt;
  line-height: 20px;
  padding: 10px 10px 20px;
  transform: translateZ(0);
  white-space: pre-wrap;
  word-wrap: break-word;

  &__content {
    left: 0;
    position: absolute;
    top: 0;
    word-break: break-word;
  }
}
