<app-page-header [breadcrumbs]="breadcrumbs$ | async" [tabs]="tabLinks">
  <h1> {{ name$ | async }}</h1>
  <div class="page-header-right">
    <button mat-icon-button name="rename" *appUserPermission="permsSpaceEdit;endpointGuid:cfOrgService.cfGuid;organizationGuid:cfOrgService.orgGuid;spaceGuid:cfSpaceService.spaceGuid"
      routerLink="/cloud-foundry/{{cfEndpointService.cfGuid}}/organizations/{{cfSpaceService.orgGuid}}/spaces/{{cfSpaceService.spaceGuid}}/edit-space"
      matTooltip="Edit Space">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button name="delete" *appUserPermission="permsSpaceDelete;endpointGuid:cfOrgService.cfGuid;organizationGuid:cfOrgService.orgGuid;"
      (click)="deleteSpaceWarn()" matTooltip="Delete Space">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button name="user-management" *ngIf="canUpdateRoles$ | async" routerLink="/cloud-foundry/{{cfEndpointService.cfGuid}}/organizations/{{cfSpaceService.orgGuid}}/spaces/{{cfSpaceService.spaceGuid}}/users/manage"
      matTooltip="Manage Users">
      <mat-icon>people</mat-icon>
    </button>
    <button mat-icon-button name="cli" routerLink="/cloud-foundry/{{cfEndpointService.cfGuid}}/organizations/{{cfOrgService.orgGuid}}/spaces/{{cfSpaceService.spaceGuid}}/cli"
      matTooltip="CLI Info">
      <mat-icon>keyboard</mat-icon>
    </button>
  </div>
</app-page-header>
<app-loading-page [entityId]="cfSpaceService.spaceGuid" [entitySchema]="schema" deleteText="Deleting space" text="Retrieving space">
  <router-outlet></router-outlet>
</app-loading-page>