<app-page-header [breadcrumbs]="breadcrumbs$ | async">
  <h1> {{ name$ | async }}</h1>
  <div class="page-header-right">
    <button mat-icon-button name="rename" *ngIf="(cfEndpointService.connected$ | async)" routerLink="/cloud-foundry/{{cfEndpointService.cfGuid}}/organizations/{{cfSpaceService.orgGuid}}/spaces/{{cfSpaceService.spaceGuid}}/edit-space">
        <mat-icon>edit</mat-icon>
      </button>
    <button mat-icon-button name="delete" *ngIf="(cfEndpointService.connected$ | async)" (click)="deleteSpace()">
        <mat-icon>delete</mat-icon>
      </button>
    <button mat-icon-button name="user-management" *ngIf="isDevEnvironment && (cfEndpointService.connected$ | async)" routerLink="/cloud-foundry/{{cfEndpointService.cfGuid}}/manage-users">
        <mat-icon>people</mat-icon>
      </button>
  </div>
</app-page-header>
<app-page-subheader [tabs]="tabLinks">
</app-page-subheader>
<app-loading-page [isLoading]="isFetching$" [text]="'Retrieving space'">
  <router-outlet></router-outlet>
</app-loading-page>
