app-tile-grid {
  display: flex;
  flex-direction: column;
  &.app-tile-grid-fit {
    height: 100%;
    width: 100%;
    > app-tile-group {
      &:last-child {
        flex: 1 1;
        margin-bottom: 0;
      }
    }
  }
}
