.home-endpoint-card {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: none;
  padding: 0;
  
  &__header {
    align-items: center;
    display: flex;
    margin: 8px 16px 16px 16px;
  }
  &__content {
    display: flex;
    height: 100%;
  }
  &__header-text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
  }
  &__header-text-panel {
    cursor: pointer;
    margin-left: 12px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  &__logo-panel {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 42px;
    &:focus {
      outline: none;
    }
  }
  &__logo {
    height: 42px;
    width: auto;
  }
  &__header-star {
    display: flex;
    margin-left: 20px;
    opacity: 0.7;
  }
  &__error {
    cursor: help;
    display: flex;
  }
  &__type {
    $type-height: 20px;
    font-size: 13px;
    line-height: $type-height;
    margin-top: -($type-height - 2px);
    opacity: .6;
  }
  &__panel {
    display: flex;
    :first-child {
      flex: 1;
    }
  }
}

.home-card {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  &__left {
    flex: 1;
  }
  &__right {
    flex: 0 0 30%;
    padding: 16px;
    min-width: 200px;
    max-width: 400px;

    mat-card {
      box-shadow: none;
    }
  }
  &__right-2 {
    min-width: 280px;
  }
  &__fav {
    > * {
      margin-bottom: 10px;
    }
  }
  &__fav-none {
    opacity: 0.7;
    text-align: center;
  }
  &__fav-title-panel {
    display: flex;
    margin-bottom: 10px;
  }
  &__fav-title {
    flex: 1;
  }
  &__fav-more {
    font-size: 12px;
    A {
      cursor: pointer;
    }
  }
  &__fav-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  &__shortcuts-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 0 16px;
  }
}
