.helion-icon-sm {
  font-size: $hpe-unit-space / 2;
}

.helion-icon-lg {
  font-size: $hpe-unit-space;
}

.helion-icon-2x {
  font-size: $hpe-unit-space * 2;
}

.helion-icon-3x {
  font-size: $hpe-unit-space * 3;
}

.helion-icon-4x {
  font-size: $hpe-unit-space * 4;
}

.helion-icon-5x {
  font-size: $hpe-unit-space * 5;
}

.helion-icon-2dot5x {
  font-size: $hpe-unit-space * 2.5;
}
