<div class="uaa-wizard">
  <app-steppers>
    <app-step title="Introduction">
      <div>
        <p>Welcome to SUSE Cloud Foundry Console.</p>
        <p>
          SUSE Cloud Foundry Console is an Open Source Web-based UI (Console) for managing Cloud Foundry. It allows users and administrators to both manage applications running in the Cloud Foundry cluster and perform cluster management tasks.
        </p>
        <p>Before accessing the console for the first time some configuration information is required. Press
          <b>NEXT</b> to get started.</p>
      </div>
    </app-step>
    <app-step title="UAA Endpoint" [valid]="validateUAAForm | async" [onNext]="uaaFormNext">
      <form class="uaa-wizard__form" [formGroup]="uaaForm" class="stepper-form">
        UAA Endpoint
        <mat-form-field>
          <input matInput formControlName="apiUrl" placeholder="API Url">
        </mat-form-field>
        Console credentials for UAA
        <mat-form-field>
          <input matInput formControlName="clientId" placeholder="Client ID">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="clientSecret" placeholder="Client Secret">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="adminUsername" placeholder="Admin Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" formControlName="adminPassword" placeholder="Admin Password">
        </mat-form-field>
      </form>
    </app-step>
    <app-step title="Console Admin Scope" [onNext]="uaaScopeNext">
      <form class="stepper-form">
        <mat-select selected="uaaScopes[0]" [(ngModel)]="selectedScope" name="UAAScope">
          <mat-option *ngFor="let scope of uaaScopes" [value]="scope">
            {{ scope }}
          </mat-option>
        </mat-select>
      </form>
    </app-step>
  </app-steppers>
</div>
