<div class="cluster-users-table"
     st-table="clusterUsersController.visibleUsers"
     st-safe-src="clusterUsersController.users">
  <div>
    <div class="change-roles-buttons">
      <button class="btn btn-default"
              ng-if="clusterUsersController.selectedUsersCount() < 2"
              ng-disabled="clusterUsersController.rolesService.changingRoles || clusterUsersController.selectedUsersCount() !== 1"
              ng-click="clusterUsersController.manageSelectedUsers()"
              translate>Manage Roles</button>
      <button class="btn btn-default"
              ng-if="clusterUsersController.selectedUsersCount() > 1"
              ng-disabled="true || clusterUsersController.rolesService.changingRoles"
              ng-click="clusterUsersController.manageSelectedUsers()"
              translate>Change Roles</button>
      <button class="btn btn-default"
              ng-disabled="clusterUsersController.rolesService.changingRoles || clusterUsersController.selectedUsersCount() < 1"
              ng-click="clusterUsersController.removeAllRoles()"
              translate>Remove All Roles</button>
    </div>
    <div class="panel panel-default">
      <table class="table table-actionable table-selectable" >
        <thead>
        <tr>
          <th><checkbox-input class="select-all-checkbox" ng-change="clusterUsersController.selectAllChanged(clusterDetailController.selectedUsers)" ng-model="clusterUsersController.selectAllUsers"></checkbox-input></th>
          <th st-sort-default="true" st-sort="entity.username">USERS({{ clusterUsersController.users.length }})</th>
          <th translate>Organization Roles</th>
          <th translate>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr class="" ng-repeat="user in clusterUsersController.visibleUsers">
          <td><checkbox-input ng-model="clusterUsersController.selectedUsers[user.metadata.guid]"></checkbox-input>
          </td>
          <td class="user-name">{{ user.entity.username }}</td>
          <td class="roles-list">
            <div class="role-pill"
                 ng-repeat="orgRole in clusterUsersController.getOrganizationsRoles(user)"
                 ng-class="{ 'progress-cursor' : clusterUsersController.removingOrg[orgRole.org.details.org.entity.name + orgRole.roleLabel] }">
              {{ orgRole.org.details.org.entity.name }}: {{ orgRole.roleLabel }}
              <i class="close-icon helion-icon helion-icon-Close"
                 ng-click="clusterUsersController.removeOrgRole(user, orgRole)"
                 ng-if="clusterUsersController.canRemoveOrgRole(user, orgRole)"></i>
            </div>
            <div ng-if="clusterUsersController.getOrganizationsRoles(user).length === 0" translate>None assigned</div>
          </td>
          <td>
            <actions-menu actions="clusterUsersController.userActions"
                          action-target="user"
                          menu-icon="helion-icon helion-icon-More"
                          menu-position="actions-menu-right">
            </actions-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
