:host {
  flex: 1;
}

.modify-users {
  // &__spaces-roles
  // &__selected-users,
  &__org-roles {
    padding-bottom: 20px;
    app-cf-role-checkbox {
      padding-right: 15px;
    }
  }
  &__selected-users {
    display: flex; // padding-bottom: 20px;
    app-enumerate {
      padding-left: 5px;
    }
  }
  &__orgs {
    &__single {
      padding: 15px 0;
    }
  }
}
