<div class="modify-users__selected-users">
  Selected Users:
  <app-enumerate [collection]="users$" [labelPath]="'username'"></app-enumerate>
</div>
<div class="modify-users__users-warning" *ngIf="showWarning$ | async">* Not all roles are known for user. Navigate to organization or space level for accurate values.</div>
<div class="modify-users__org-roles">
  <app-table [dataSource]="orgDataSource" [columns]="orgColumns"></app-table>
</div>
<div class="modify-users__spaces-roles">
  <div #spaceRolesTable></div>
</div>
