:host {
  flex: 1;
}

.modify-users {
  &__org-roles {
    padding-bottom: 20px;
    app-cf-role-checkbox {
      padding-right: 15px;
    }
  }
  &__orgs {
    &__single {
      padding: 15px 0;
    }
  }
}
