:host {
  flex: 1;
}

.modify-users {
  &__selected-users {
    display: flex;
    padding-bottom: 20px;
    app-enumerate {
      padding-left: 5px;
    }
  }
  &__selected-users,
  &__org-roles,
  &__users-warning {
    padding-bottom: 20px;
  }
}
