<app-page-header>
  <h1>CaaSP</h1>
</app-page-header>
<div class="summary">
  <app-tile-grid>
    <app-tile-group>
      <app-tile>
        <mat-card class="full-card">
          <app-ring-chart [data]="chartData" label="Nodes"></app-ring-chart>
        </mat-card>
    </app-tile>
      <app-tile size="1of3">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Kube Config</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a rel="noopener noreferrer" (click)="downloadKubeConfig()">Download configuration</a>
            </mat-card-content>
          </mat-card>
      </app-tile>
    </app-tile-group>
  </app-tile-grid>
</div>
<app-list></app-list>
