$breadcrumb-opacity: .7;
$breadcrumb-hover-opacity: 1;
$breadcrumb-padding: 3px;
.breadcrumb {
  &,
  &__separator {
    opacity: $breadcrumb-opacity;
  }
  &__separator {
    font-size: 26px;
    margin: 0 $breadcrumb-padding;
    user-select: none;
  }
  &__list {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &__link {
    cursor: pointer;
    &:hover {
      opacity: $breadcrumb-hover-opacity;
    }
  }
}
