<app-page-header>
  Create
</app-page-header>
<app-steppers cancel="/applications">
  <app-step [title]="'Cloud Foundry'" [valid]="step1.validate | async" [onNext]="step1.onNext" [blocked]="cfOrgSpaceService.isLoading$ | async">
    <app-create-application-step1 #step1></app-create-application-step1>
  </app-step>
  <app-step title="Name" [valid]="step2.validate | async" [onNext]="step2.onNext" [onEnter]="step2.onEnter">
    <app-create-application-step2 #step2></app-create-application-step2>
  </app-step>
  <app-step [title]="'Create Route'" [valid]="step3.validate()" [onNext]="step3.onNext">
    <app-create-application-step3 #step3></app-create-application-step3>
  </app-step>
</app-steppers>
