<span class="cluster-breadcrumb" ncy-breadcrumb></span>
<div class="endpoints cluster-tiles">
  <div ng-switch="clustersCtrl.state">
    <div ng-switch-when="loading" class="message-box message-box-no-bg">
      <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
    </div>
    <div ng-switch-when="loadError" class="message-box message-box-no-bg">
      <div translate>An error occurred retrieving endpoints.</div>
    </div>
    <div ng-switch-when="noClusters" class="applications-empty">
      <app-icon icon="svg:Cluster.svg" icon-class="app-icon-3x"></app-icon>
      <div class="applications-msg" translate>errors.no-cf-connected</div>
      <div class="applications-cta" ng-show="clustersCtrl.isAdmin(true)">
        <span translate>errors.no-cf-connected-text</span>
      </div>
      <div class="applications-cta" ng-show="!clustersCtrl.isAdmin()">
        <span translate>errors.no-cf-connected-cant-fix-text</span>
      </div>
    </div>
    <div ng-switch-default>
      <div class="applications-header font-semi-bold pull-left" translate>cloud-foundry</div>
      <div class="cluster-gallery-card-container">
        <div class="cluster-gallery-card-parent clusters-card col-md-4 col-sm-1" ng-repeat="(guid, service) in clustersCtrl.serviceInstances">
          <cluster-tile service="service"/>
        </div>
      </div>
    </div>
  </div>
</div>
