.permission-chip {
  $size: 15px;
  & + & {
    margin: 10px 5px 0;
  }
  &__busy-spinner,
  &__close {
    margin-left: 5px;
  }
  &__close {
    cursor: pointer;
    font-size: $size;
    height: $size;
    width: $size;
  }
}
