<div>
  <app-panel *ngIf="!chart && !loading" class="app-panel--container">
    <h2>Sorry, we couldn't find the chart</h2>
  </app-panel>
  <app-loader [loading]="loading">
    <div class="chart-details__wrapper">
      <app-entity-summary-title class="summary-title" *ngIf="chart" [title]="chart.attributes.name"
        subTitle="{{ chart.attributes.repo.name }}"
        [subText]="chart.attributes.description" [imagePath]="iconUrl">
        <div class="chart-details__content">
          <article class="chart-details__content__docs">
            <app-chart-details-readme [currentVersion]=currentVersion></app-chart-details-readme>
          </article>
        </div>
      </app-entity-summary-title>
      <aside *ngIf="chart" class="chart-details__content__info">
        <app-chart-details-info [chart]=chart [currentVersion]=currentVersion></app-chart-details-info>
      </aside>
    </div>
  </app-loader>
</div>