<app-page-header [breadcrumbs]="breadcrumbs$ | async" [tabs]="tabLinks">
  <h1>{{ (applicationService.application$ | async)?.app?.entity?.name }} </h1>
  <div class="page-header-right">
    <a class="app-page-header__anchor" mat-icon-button *ngIf="(applicationService.applicationUrl$ | async) != null && (applicationService.application$ | async)?.app.entity.state === 'STARTED'"
      href="{{applicationService.applicationUrl$ | async}}" target="_blank" matTooltip="Visit">
      <mat-icon>launch</mat-icon>
    </a>
    <span *ngIf="isBusyUpdating$ | async as busy">
      <span *ngIf="applicationService.appSpace$ | async as space">
        <span class="manage-application-actions" *appUserPermission="manageAppPermission;spaceGuid:space.metadata.guid;endpointGuid:this.applicationService.cfGuid">
          <button mat-icon-button name="edit" *ngIf="(this.applicationService.applicationState$ | async)" routerLink="/applications/{{applicationService.cfGuid}}/{{applicationService.appGuid}}/edit"
            matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button name="delete" (click)="redirectToDeletePage()" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
          <div *ngIf="applicationService.applicationState$ | async as appState" class="app-page-header__actions">
            <button mat-icon-button name="restart" [disabled]="busy.updating || !appState.actions.restart" (click)="restartApplication()"
              matTooltip="Restart">
              <mat-icon>settings_backup_restore</mat-icon>
            </button>
            <button mat-icon-button name="stop" [disabled]="busy.updating" *ngIf="appState.actions.stop;else startButton"
              (click)="stopApplication()" matTooltip="Stop">
              <mat-icon>stop</mat-icon>
            </button>
            <ng-template #startButton>
              <button mat-icon-button name="start" [disabled]="busy.updating || !appState.actions.start && !appState.actions.stop"
                (click)="startApplication()" matTooltip="Start">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </ng-template>
            <button mat-icon-button name="restage" [disabled]="busy.updating || !appState.actions.restage" (click)="restageApplication()"
              matTooltip="Restage">
              <mat-icon>redo</mat-icon>
            </button>
          </div>
        </span>
      </span>
    </span>
  </div>
</app-page-header>
<app-loading-page [entityId]="applicationService.appGuid" [entitySchema]="schema" deleteText="Deleting application"
  text="Retrieving application" class="router-component">
  <router-outlet></router-outlet>
</app-loading-page>