<app-page-header [breadcrumbs]="breadcrumbs$ | async">
  <div *ngIf="applicationService.application$ | async as application" class="app-page-header">
    <h1>{{ application?.app?.entity?.name }} </h1>
    <div>
      <a class="app-page-header__anchor" mat-icon-button *ngIf="(applicationService.applicationUrl$ | async) != null && application?.app.entity.state === 'STARTED'" href="{{applicationService.applicationUrl$ | async}}" target="_blank" matTooltip="Visit">
        <mat-icon>launch</mat-icon>
      </a>
      <button mat-icon-button name="edit" *ngIf="(this.applicationService.applicationState$ | async)" routerLink="/applications/{{applicationService.cfGuid}}/{{applicationService.appGuid}}/edit" matTooltip="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button name="delete" (click)="deleteApplication()" matTooltip="Delete">
        <mat-icon>delete</mat-icon>
      </button>
      <span>
        <button mat-icon-button name="stop" *ngIf="application?.app.entity.state === 'STARTED'" (click)="stopApplication()" matTooltip="Stop">
          <mat-icon>stop</mat-icon>
        </button>
        <button mat-icon-button name="start" *ngIf="application?.app.entity.state === 'STOPPED'" (click)="startApplication()" matTooltip="Start">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </span>
    </div>
  </div>
</app-page-header>
<app-page-subheader [tabs]="tabLinks">
</app-page-subheader>
<app-loading-page [isLoading]="isFetching$" [text]="'Retrieving application'" class="router-component">
  <router-outlet></router-outlet>
</app-loading-page>
