.cf-details {
  display: flex;
  flex-direction: column;

  &__line {
    align-items: center;
    display: flex;
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 32px;
  }
}
