.number-metric-card {
  height: 100%;
  &__anchor {
    cursor: pointer;
  }
  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 12px;
    &-inner {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    &-inner-reverse {
      flex-direction: column-reverse;
    }
  }
  &__limit,
  &__usage-count  {
    white-space: nowrap;
  }
  &__icon {
    flex: 0 0 40px;
    font-size: 40px;
    height: 40px;
    margin-right: 12px;
    width: 40px;
  }
  &__label {
    font-size: 15px;
  }
  &__value {
    font-size: 23px;
    &--unlimited {
      opacity: .3;
    }
  }
  &__limit {
    font-size: 18px;
  }
  &__alerts {
    cursor: pointer;
    display: flex;
    flex: 0;
    flex-direction: column;
  }
  &__alert-badge {
    align-items: center;
    border-radius: 4px;
    color: #fff;
    display: flex;
    font-size: 14px;
    margin-bottom: 2px;
    padding: 2px 4px;

    &> mat-icon {
      font-size: 16px;
      height: 16px;
      margin-right: 2px;
      width: 16x;
    }
  }
}
