.app-variables {
  padding: $console-unit-space;
  background-color: $console-primary-fg;
  color: $white;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

  .app-variable {
    pre {
      background-color: inherit;
      color: inherit;
      font-size: inherit;
      border: 0;
      padding: 0;
      line-height: inherit;
      margin: 0;
      overflow-x: hidden;
    }
  }
}
.add-variable-dialog {
  margin-right: $console-unit-space * 5;

  .alert {
    margin-top: $console-unit-space;
  }

  .form-actions {
    clear: both;
    margin-top: $console-unit-space * 2;
    padding: $console-unit-space / 2;
    text-align: right;

    button:not(:first-child) {
      margin-left: $console-unit-space / 2;
    }
  }
}

table.app-variables-table {

  tr td.table-inline-message .popover.console-popover-alert-warning {
    > .arrow {
      border-bottom-color: $state-danger-bg;
    }

    > .popover-content {
      background-color: $state-danger-bg;
    }
  }
}
