<div style="display: flex; flex-flow: row nowrap" class="edit-token">
  <div style="flex: 1 0 250px" class="edit-token-description">
    Rename the '{{ asyncTaskDialogCtrl.context.token.token.name }}' Personal Access Token
  </div>
  <div style="width: 50px"></div>
  <form style="flex: 3 1 0" name="form.editVcsToken">
    <div style="width: 100%" class="form-group" focusable-input
         ng-class="{'has-error': form.editVcsToken.tokenName.$dirty && form.editVcsToken.tokenName.$invalid}">
      <label class="control-label" translate>New Token Name</label>
      <span class="control-message">
      <span translate ng-if="form.editVcsToken.tokenName.$error.required">New Token Name is required</span>
      <span translate ng-if="form.editVcsToken.tokenName.$error.helionUnique">Token Name must be unique within a VCS</span>
    </span>
      <input type="text" name="tokenName" auto-focus="300" class="form-control"
             helion-unique items="asyncTaskDialogCtrl.context.tokenNames"
             ng-model="asyncTaskDialogCtrl.context.data.name" required/>
      <br><br>
    </div>
  </form>

</div>
