<div class="manage-tokens">
  <div class="manage-tokens-description">
    <p translate>
      You can connect to the '{{ asyncTaskDialogCtrl.context.vcs.label }}' by creating a GitHub
      <a ng-href="{{ asyncTaskDialogCtrl.context.vcs.browse_url }}/settings/tokens" target="_blank">Personal Access Token</a>
      and providing the given token string here.
    </p>
    <p translate>
      Personal access tokens work like traditional OAuth tokens but do not expire (unless you manually revoke them).
      These tokens allow Stackato to access GitHub on your behalf to build your applications.
    </p>
    <p class="italic" translate>
      If you have revoked a token or mistyped its value, you should delete it and register a new one.
    </p>
  </div>
  <div ng-if="asyncTaskDialogCtrl.context.tokens.length"
       class="endpoints-table">
    <table class="table table-actionable"
           st-table="asyncTaskDialogCtrl.context.stTableTokens"
           st-safe-src="asyncTaskDialogCtrl.context.tokens">
      <thead>
      <tr>
        <th translate st-sort="entity.name" st-sort-default="true">Name</th>
        <th translate st-sort="entity.connected">Connection</th>
        <th translate st-sort="entity.url">Token</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="vcsToken in asyncTaskDialogCtrl.context.stTableTokens track by vcsToken.token.guid"
          show-table-inline-message="{{ vcsToken.error ? vcsToken.error.message : '' }}"
          table-inline-status="{{vcsToken.error.status}}">
        <td>{{ vcsToken.token.name }}</td>
        <td ng-switch="asyncTaskDialogCtrl.context.isTokenValid(vcsToken)">
            <span class="helion-icon helion-icon-lg helion-icon-Active_L text-primary"
                  ng-switch-when="true"></span>
          <span class="helion-icon helion-icon-lg helion-icon-Critical_L text-danger"
                ng-switch-when="false"></span>
        </td>
        <td class="token-value">{{ vcsToken.token.token }}</td>
        <td>
          <actions-menu actions="asyncTaskDialogCtrl.context.actions"
                        action-target="vcsToken" menu-icon="helion-icon helion-icon-More"
                        menu-position="actions-menu-right" enable-button-mode="true"></actions-menu>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
