@import "avatar/avatar";

navbar > nav {
  color: $page-header-fg;
  background: $page-header-bg;
  padding-left: 20px;
  padding-right: 20px;

  .navbar-brand {
    font-size: 24px;
    font-weight: 500;
  }

  .nav.navbar-nav > li {
    > a {
      font-size: 18px;
      color: $page-header-fg-unselected;
      background: transparent;

      &:hover,
      &:focus,
      &.active {
        color: $page-header-fg;
        background: transparent;
        text-decoration: none;
      }

      &:active {
        box-shadow: none;
      }
    }

    &.active {
      > a {
        color: $page-header-fg;
      }
    }
  }

  icons, [icons] {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 22px;
    padding-top: 40px;
    padding-right: 4px;

    > * {
      margin-left: 30px;
    }

    .helion-icon {
      cursor: pointer;
    }
  }

  .helion-icon {
    font-size: 24px;
  }
}

.icon-bar {
  background: $page-header-fg-unselected;
}
