<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only" translate>Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand" translate>CNAP</span>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <navigation></navigation>
      <icons class="pull-right">
        <notification>
          <i class="btn-border-less helion-icon helion-icon-Notification"></i>
        </notification>
        <help>
          <i class="btn-border-less helion-icon helion-icon-Help"></i>
        </help>
        <avatar></avatar>
      </icons>
    </div><!--/.nav-collapse -->
  </div>
</nav>
