$action-header-padding:     $hpe-unit-space/4 $hpe-unit-space !default;

$fixed-footer-bg-color:     #ffffff !default;
$fixed-footer-height:       80px !default;
$fixed-footer-padding:      0 20px !default;

