ring-chart {
  display: block;

  .ring-chart {
    display: flex;
    flex-flow: row nowrap;
  }

  div.ring-chart-chart {
  }

  div.ring-chart-chart, div.ring-chart-labels {
    display: inline-block;
    vertical-align: top;
  }

  div.ring-chart-labels {

    ul.ring-chart-labels {
      list-style: none;
      display: table;

      li {
        display: table-row;

        > span {
          display: table-cell;
          vertical-align: middle;
        }

        .ring-chart-square {
          margin: auto;
          display: block;
        }
      }
    }

    svg {
      display: inline-block;
      position: relative;
      opacity: 1;
    }
  }
}
