<div class="page-header">
  <mat-toolbar color="primary">
    <button mat-icon-button *ngIf="!hideSideNavButton">
      <mat-icon class="page-header__nav-toggle" (click)="toggleSidenav()">menu</mat-icon>
    </button>
    <ng-content></ng-content>
    <div class="page-header__filler"></div>
    <ng-content select=".page-header-right"></ng-content>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
