.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
  &__nav-toggle {
    margin-right: 20px;
  }
  &__nav-toggle,
  &__logout {
    cursor: pointer;
  }
  &__filler {
    flex: 1 1 auto;
  }
}
