@import '~@angular/material/theming';
@mixin meta-card-component($theme, $app-theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .meta-card__deleting-overlay {
    background: transparentize(mat-color($background, card), .2);
  }

  .meta-card__header__popup-separator {
    background-color: mat-color($foreground, divider);
  }

  .mat-card.meta-card__plain {
    border: 1px solid mat-color($foreground, divider);

    .meta-card__title {
      margin: 0;

      h3 {
        font-size: 14px;
      }
      .fav-meta-card__type {
        font-size: 12px;
      }
    }
    .meta-card__favorite {
      align-self: center;
    }
  }
}
