.acme-login {
  &__card.mat-card {
    box-shadow: 0 0 20px 9px rgba(0, 0, 0, .2);
    padding: 0;
    width: 320px;
    mat-form-field {
      width: 100%;
    }
  }
  &__body {
    padding: 24px;
    padding-top: 0;
  }
  &__submit {
    width: 100%;
  }
  &-message {
    font-size: 18px;
    height: 20px;
    padding-top: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__form-outer {
    $cubic: cubic-bezier(.215, .61, .355, 1);
    $time: 250ms;
    height: 180px;
    opacity: 1;
    transition: height $time $cubic 100ms, opacity $time * 2 $cubic $time + 50ms;
    &.login-sso {
      height: auto;
    }
  }
  &__loading {
    display: none;
  }
  &__busy {
    .login__form {
      display: none;
    }
    .login__form-outer {
      height: 0;
      opacity: 0;
    }
    .login__loading {
      display: block;
    }
  }
  &__footer {
    align-items: center;
    bottom: 0;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    padding: 20px 0;
    position: absolute;
    width: 90%;
  }
  &__copyright {
    color: #333;
    flex: 1;
  }
  &__logo {
    img {
      width: 79px;
    }
  }
}
