<div class="usage-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="app-metadata">
        <app-metadata-item icon="memory" label="Instance Address">{{ apiUrl }}</app-metadata-item>
        <app-metadata-item icon="memory" label="CF Interactions">N/A</app-metadata-item>
        <app-metadata-item icon="memory" label="CF API Version">N/A</app-metadata-item>
      </div>
    </mat-card-content>
  </mat-card>
</div>
