@mixin app-dot-content($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $foreground-colors: map-get($theme, foreground);
  .dot {
    background-color: mat-color($primary, 500);
    color: mat-contrast($primary, 500);
    &.disabled {
      background-color: map-get($foreground-colors, slider-off-active);
      color: mat-contrast($primary, 500);
    }
  }
}
