@import 'detail/cluster-detail';
@import 'organization/space/detail/space-detail';
@import 'actions/actions';

.cluster {
  .cluster-breadcrumb {
    //width: 100%;
    margin-top: 1px;

    &.breadcrumb {
      //TODO (TEAMFOUR-778): Long term fix for position + home of endpoints breadcrumbs
      margin-left: -15px;
      width: calc(100% + 30px);

      li {
        text-transform: none;
        font-weight: inherit;

        //TODO (TEAMFOUR-778): Long term fix for position + home of endpoints breadcrumbs
        &:first-of-type {
          padding-left: $hpe-unit-space / 2;
        }

        // No way to hide current location in angular-breadcrumbs, do this via css
        &:last-of-type {
          display: none;
        }
      }
    }
  }

  // Give the headers a uniform padding
  h3 {
    margin: $hpe-unit-space 0;
    height: $hpe-unit-space;
  }

  // Ensure that anchor 'buttons' that live in a list inherit the line height of the list (avoiding large height of btn)
  .dl-horizontal {
    a.btn {
      line-height: inherit;
    }
  }

  .cluster-loading {
    margin: 72px auto;
    text-align: center;
  }

  .cluster-actions-menu {
    position: absolute;
    right: 24px; // ok with scroll bar on, no time find a way to satisfy both with and without the scrollbar
  }

  .cluster-detail {

    padding-left: $hpe-unit-space;
    padding-right: $hpe-unit-space;

    .application-nav {
      margin-bottom: 15px;
    }
  }

  .cluster-empty-list {
    width: 100%;
  }
}
