@import 'detail/cluster-detail';
@import 'organization/space/detail/services/space-services';

.cluster {
  .cluster-breadcrumb {
    //width: 100%;
    margin-top: 1px;

    &.breadcrumb {
      //TODO (TEAMFOUR-778): Long term fix for position + home of endpoints breadcrumbs
      margin-left: -15px;
      width: calc(100% + 30px);

      li {
        text-transform: none;
        font-weight: inherit;

        //TODO (TEAMFOUR-778): Long term fix for position + home of endpoints breadcrumbs
        &:first-of-type {
          padding-left: $hpe-unit-space / 2;
        }

        // No way to hide current location in angular-breadcrumbs, do this via css
        &:last-of-type {
          display: none;
        }
      }
    }
  }

  // Give the headers a uniform padding
  h3 {
    margin: $hpe-unit-space 0;
    height: $hpe-unit-space;
  }

  .cluster-loading {
    margin: 72px auto;
    text-align: center;
  }

  .cluster-detail {

    padding-left: $hpe-unit-space;
    padding-right: $hpe-unit-space;

    .application-nav {
      margin-bottom: 15px;
    }
  }
}
