<app-meta-card class="sec-group-card">
  <app-meta-card-title class="sec-group-card__title">
    <app-multiline-title class="sec-group-card__title-link">{{ row.entity.name }}</app-multiline-title>
  </app-meta-card-title>
  <app-meta-card-item>
    <app-meta-card-key>Created</app-meta-card-key>
    <app-meta-card-value>{{ row.metadata.created_at | date: 'medium' }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Updated</app-meta-card-key>
    <app-meta-card-value>{{ row.metadata.updated_at | date: 'medium' }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Staging Default</app-meta-card-key>
    <app-meta-card-value>
      <app-boolean-indicator [isTrue]="row.entity.staging_default" type="yes-no"></app-boolean-indicator>
    </app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Running Default</app-meta-card-key>
    <app-meta-card-value>
      <app-boolean-indicator [isTrue]="row.entity.running_default" type="yes-no"></app-boolean-indicator>
    </app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Spaces</app-meta-card-key>
    <app-meta-card-value>
      <div *ngIf="row.entity.spaces.length === 0">None</div>
      <div *ngIf="row.entity.spaces.length > 0">
        <a *ngFor="let space of row.entity.spaces" [routerLink]="getSpaceUrl(space)">{{space.entity.name}}</a>
      </div>
    </app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item customStyle="row-top">
    <!-- style="align-items: baseline;" -->
    <app-meta-card-key>Rules</app-meta-card-key>
    <app-meta-card-value style="align-items: baseline;">
      <app-chips [chips]="tags" [stacked]="true" [orientation]="'rtl'"></app-chips>
    </app-meta-card-value>
  </app-meta-card-item>
</app-meta-card>
