<uib-tabset class="select-instance-tabs col-sm-12"
    active="wizardCtrl.options.activeTab" ng-if="!wizardCtrl.options.spinners.loadingServiceInstances">
    <uib-tab index="0" heading="{{ 'app.app-info.app-tabs.routes.add.create.title' | translate }}">
      <div class="add-route">
        <form name="form.addRouteForm">
          <fieldset>
          <div class="form-group " ng-class="{'has-error':asyncTaskDialogCtrl.context.routeExists() || (form.addRouteForm.host.$invalid && form.addRouteForm.host.$dirty)}" focusable-input>
            <label class="control-label" translate>app.app-info.app-tabs.summary.routes-panel.add-route-dialog.host-label</label>
            <span class="control-message" translate-namespace="app.app-info.app-tabs.summary.routes-panel.add-route-dialog">
              <span translate ng-if="asyncTaskDialogCtrl.context.routeExists()">.host-error-exists</span>
              <span translate ng-if="form.addRouteForm.host.$error.required">.host-error-required</span>
            </span>
            <input type="text" name="host" class="form-control" ng-model="asyncTaskDialogCtrl.context.data.host"
              ng-required="asyncTaskDialogCtrl.context.isType('http')"
              ng-change="asyncTaskDialogCtrl.context.resetRouteExists()"
              placeholder="{{'app.app-info.app-tabs.summary.routes-panel.add-route-dialog.host-placeholder' | translate}}"
            />
          </div>
          <div class="form-group" focusable-input>
            <label class="control-label" translate>app.app-info.app-tabs.summary.routes-panel.add-route-dialog.domain-label</label>
            <select-input
              class="form-control"
              ng-model="asyncTaskDialogCtrl.context.data.domain_guid"
              input-options="asyncTaskDialogCtrl.context.options.domains"
              required
            />
          </div>

          <div ng-if="asyncTaskDialogCtrl.context.isType('http')" translate-namespace="app.app-info.app-tabs.summary.routes-panel.add-route-dialog">
            <div class="add-route-form-section" translate>.route-options-label</div>
            <div ng-if="asyncTaskDialogCtrl.context.isType('http')" class="form-group" focusable-input>
              <label class="control-label" translate>.path-label</label>
              <div class="add-route-path-prefix">/</div>
              <input type="text" name="path" class="add-route-path-prefix form-control" ng-model="asyncTaskDialogCtrl.context.data.path"
                    placeholder="{{'app.app-info.app-tabs.summary.routes-panel.add-route-dialog.path-placeholder' | translate}}"
              />
            </div>
          </div>

          <div ng-if="asyncTaskDialogCtrl.context.isType('tcp')" translate-namespace="app.app-info.app-tabs.summary.routes-panel.add-route-dialog">
            <div class="add-route-form-section" translate>.tcp-label</div>
            <div class="form-group add-route-checkbox" focusable-input>
              <checkbox-input ng-model="asyncTaskDialogCtrl.context.data.useRandomPort"
                input-label="{{'app.app-info.app-tabs.summary.routes-panel.add-route-dialog.port-random-label' | translate}}">
              </checkbox-input>
            </div>
            <div class="form-group" focusable-input>
              <label class="control-label" translate>.port-label</label>
              <input ng-disabled="asyncTaskDialogCtrl.context.data.useRandomPort"
                ng-required="!asyncTaskDialogCtrl.context.data.useRandomPort"
                type="number" name="port" class="form-control" ng-model="asyncTaskDialogCtrl.context.data.port"
                placeholder="{{'app.app-info.app-tabs.summary.routes-panel.add-route-dialog.port-placeholder' | translate}}"
              />
            </div>
          </div>
          </fieldset>
        </form>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="{{ 'app.app-info.app-tabs.routes.add.reuse.title' | translate }}">
      <form ng-if="wizardCtrl.options.activeTab === 1">
        <table class="table table-outlined existing-instances-table">
          <thead>
            <tr translate-namespace="app.app-info.app-tabs.services.add.existing">
              <th class="select-col"></th>
              <th translate>.name-label</th>
              <th translate>.plan-label</th>
              <th translate>.apps-label</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row-vertical-middle" ng-repeat="instance in wizardCtrl.options.instances">
              <td>
                <radio-input ng-model="wizardCtrl.options.userInput.existingServiceInstance"
                  input-value="instance" required>
                </radio-input>
              </td>
              <td>{{ instance.entity.name }}</td>
              <td>{{ wizardCtrl.options.servicePlanMap[instance.entity.service_plan_guid].entity.name }}</td>
              <td>{{ instance.entity.service_bindings.length || '-' }}</td>
            </tr>
          </tbody>
        </table>
      </form>
    </uib-tab>
</uib-tabset>
