.input-action {
  align-items: center;
  display: flex;
  // flex-direction: row;

   > *, &__detail > *, &__detail__result app-boolean-indicator { // TODO: RC flatten
    margin-right: 10px;
   }

  &__form {
    align-items: center;
    flex: 1;
    flex-direction: row;
  }
  &__detail {
    align-items: center;
    display: flex;
    margin-top: 20px;

    &__remove {
      cursor: pointer;
      &.disabled {
        cursor: default;
        opacity: .5;
      }
    }

    &__result {
      align-items: center;
      display: flex;
      app-boolean-indicator {
        // margin-right: 10px;
      }
    }
  }

}