@import '../../../../suse-theme/sass/colors';

.suse-login {
  align-items: center;
  background-color: $suse-gray;
  color: $suse-gray-fg;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &__header,
  &__content,
  &__footer {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  &__header {
    background-color: $suse-dark-green;
    color: $suse-text;
    flex: 0 0 60px;
    font-size: 24px;
    font-weight: 500;
    justify-content: center;
    width: 100%;
  }
  &__content {
    align-items: flex-start;
    color: $suse-text;
    flex: 1;
    margin-top: 100px;
    overflow-y: auto;
    width: 90%;
  }
  &__footer {
    flex: 0 0 auto;
    width: 90%;
    padding: 20px 0;
  }
  &__title {
    font-family: "Work Sans";
    width: 90%;
  }
  &__copyright {
    color: $suse-gray-fg;
    flex: 1;
  }
  &__logo {
    img {
      width: 128px;
    }
  }
  &__intro {
    flex: 1;
    font-family: "Work Sans";
    margin-right: 24px;
  }
  &__box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    .mat-form-field:not(.mat-form-field-invalid).mat-form-field-appearance-legacy {
      color: $suse-gray-fg;
      .mat-form-field-label {
        color: $suse-gray-fg;
      }
      .mat-form-field-underline {
        background-color: $suse-gray-fg;
      }
    }
  }
  &__submit.mat-raised-button {
    &.mat-primary[disabled] {
      color: $suse-button-gray;
    }
    margin-top: 24px;
  }
  &__headline {
    color: $suse-primary-color;
    font-family: "Work Sans";
    font-size: 52px;
    font-weight: 300;
    margin: 0;
  }
  &__tagline {
    color: $suse-gray-fg;
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin: 24px 0;
  }
  &__form-outer {
    max-width: 400px;
    opacity: 1;
    transition: opacity 250ms linear;
  }
  &__form-title {
    color: $suse-gray-fg;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 24px;
    transition: opacity 250ms linear;
  }
  &__loading {
    display: none;
    margin-top: 24px;
    max-width: 400px;
    opacity: 0;
    transition: opacity 250ms linear;
  }
  &__busy {
    .suse-login__form-title {
      opacity: 0.5;
    }
    .suse-login__form-outer {
      opacity: 0.5;
    }
    .suse-login__loading {
      display: block;
      opacity: 1;
    }
  }
  &__message {
    font-size: 18px;
    font-weight: 300;
    height: 20px;
    max-width: 400px;
    padding-top: 20px;
  }
}

// If SSO Login, move the form underneath the intro
.suse-login-sso {
  &.suse-login__content {
    flex-direction: column;
    .suse-login__intro {
      flex: 0;
    }
    .suse-login__box {
      justify-content: flex-start;
      margin-left: 0;
    }
  }
}

// On small screens, hide the intro and just show the login box
@media(max-width: 768px) {
  .suse-login:not(.suse-login-sso) {
    .suse-login {
      &__intro {
        display: none;
      }
      &__box {
        margin: 0;
      }
      &__content {
        max-width: 400px;
        width: 80%;
      }
    }
  }
}
