<div class="container registration-content col-sm-12">
  <div class="cluster-settings">
    <div class="cluster row" ng-repeat="(name, cnsi) in clusterSettingsCtrl.serviceInstances"
         ng-if="clusterSettingsCtrl.isValid(cnsi)">
      <div class="col-md-12 overlay">
      </div>
      <div class="col-md-4">
        <div class="cluster-icon">
          <div class="helion-icon helion-icon-2x" ng-class="{
              'helion-icon-Cluster' : cnsi.cnsi_type === 'hcf',
              'helion-icon-Continuous_integration' : cnsi.cnsi_type === 'hce',
            }"></div>
        </div>
        <div class="cluster-info">
          <div class="cluster-name">{{cnsi.name}}</div>
          <div class="cluster-properties">
            <div class="cluster-property">
              <div translate>URL</div>
              <div>{{cnsi.api_endpoint.Host}}</div>
            </div>
            <div class="cluster-property">
              <div translate>Type</div>
              <div ng-if="cnsi.cnsi_type==='hcf'" translate>Cloud Foundry Cluster</div>
              <div ng-if="cnsi.cnsi_type==='hce'" translate>Code Engine</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="cluster-info cluster-block">
          <div class="cluster-name text-right action-header">
            <bounce-spinner ng-if="cnsi._busy" classes="bounce-spinner-sm"></bounce-spinner>
            <a ng-click="clusterSettingsCtrl.disconnect(cnsi)" ng-if="!cnsi._busy" class="btn btn-link">
              <i class="helion-icon helion-icon-Right_Arrow"></i>
              <span translate>Disconnect</span>
            </a>
          </div>
          <div class="cluster-properties">
            <div class="cluster-property">
              <div translate>User Name</div>
              <div>{{clusterSettingsCtrl.stackatoInfo.info.endpoints[cnsi.cnsi_type][cnsi.guid].user.name}}</div>
            </div>
            <!--<div class="cluster-property">-->
            <!--<div translate>Token Expiration</div>-->
            <!--<div>{{ cnsi.token_expiry }}</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

