.cluster-settings {

  .cluster {
    background-color: #fff;
    padding: 24px 0;
    margin: 12px 0;
    vertical-align: top;
    box-shadow: 2px 2px 0px 2px rgba(0,0,0,0.05);

    &:last-child {
      margin-bottom: 24px;
    }

    &.row {
      .col-md-6 {
        padding: 0 24px;
      }
    }

    .cluster-icon, .cluster-info {
      display: inline-block;

      &.cluster-block {
        display: block;
      }
    }

    .cluster-info {
      margin-left: 24px;
      vertical-align: top;

      .cluster-name {
        font-weight: 700;
        font-size: 18px;
      }
    }

    .cluster-properties {
      display: table;
      .cluster-property {
        display: table-row;
        > div {
          display: table-cell;
          padding-top: 12px;
        }
        > div:first-child {
          text-transform: uppercase;
          padding-right: 24px;
        }
        .cluster-expired {
          color: $status-critical;
          display: inline-block;
        }

        .btn-link {
          margin-left: $hpe-unit-space;
          font-weight: 600;
        }
      }
    }

    :after {
      clear: both;
    }


  }
}
