<div class="container registration-content col-sm-12">
  <div class="cluster-settings">
    <div class="cluster row" ng-repeat="(name, cnsi) in clusterSettingsCtrl.serviceInstances"
         ng-if="clusterSettingsCtrl.isValid(cnsi)">
      <div class="col-md-12 overlay">
      </div>
      <div class="col-md-4">
        <div class="cluster-icon">
          <div class="helion-icon helion-icon-2x" ng-class="{
              'helion-icon-Cluster' : cnsi.cnsi_type === 'hcf',
              'helion-icon-Continuous_integration' : cnsi.cnsi_type === 'hce',
            }"></div>
        </div>
        <div class="cluster-info">
          <div class="cluster-name">{{cnsi.name}}</div>
          <div class="cluster-properties">
            <div class="cluster-property">
              <div translate>URL</div>
              <div ng-if="cnsi.api_endpoint">{{cnsi.api_endpoint.Host}}</div>
              <div ng-if="!cnsi.api_endpoint" translate>Unknown</div>
            </div>
            <div class="cluster-property">
              <div translate>Type</div>
              <div >{{ clusterSettingsCtrl.getCnsiTypeText(cnsi) }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="cluster-info cluster-block">
          <div class="cluster-name text-right action-header">
            <bounce-spinner ng-if="cnsi._busy" classes="bounce-spinner-sm"></bounce-spinner>
            <a ng-click="clusterSettingsCtrl.disconnect(cnsi)" ng-if="!cnsi._busy" class="btn btn-link">
              <i class="helion-icon helion-icon-Right_Arrow"></i>
              <span translate>Disconnect</span>
            </a>
          </div>
          <div class="cluster-properties">
            <div class="cluster-property">
              <div translate>User Name</div>
              <div>{{ clusterSettingsCtrl.getClusterUserName(cnsi) }}</div>
            </div>
            <div class="cluster-property" ng-if="cnsi.expired">
              <div translate>Token Status</div>
              <div>
                <div class="cluster-expired" translate>Expired</div>
                <a ng-click="clusterSettingsCtrl.reconnect(cnsi)" class="btn-link">
                  <span translate>Reconnect</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<flyout flyout-active="clusterSettingsCtrl.credentialsFormOpen"
        flyout-close-icon="'helion-icon helion-icon-Close'"
        class="flyout-content-thin">
  <credentials-form cnsi="clusterSettingsCtrl.activeServiceInstance"
                    on-cancel="clusterSettingsCtrl.onConnectCancel()"
                    on-submit="clusterSettingsCtrl.onConnectSuccess(serviceInstance)">
  </credentials-form>
</flyout>
