<div class="kubernetes-node-summary">
  <app-tile-grid>
    <app-tile-group>
      <app-tile>
        <app-kubernetes-node-summary-card>
        </app-kubernetes-node-summary-card>
      </app-tile>
      <app-tile>
        <app-kubernetes-node-info-card>
        </app-kubernetes-node-info-card>
      </app-tile>
      <app-tile>
        <app-kubernetes-node-condition-card>
        </app-kubernetes-node-condition-card>
      </app-tile>
    </app-tile-group>
  <app-tile-group>
      <app-tile>
          <app-kubernetes-node-tags-card title="Annotations" mode="annotations">
          </app-kubernetes-node-tags-card>
        </app-tile>
        <app-tile>
            <app-kubernetes-node-tags-card title="Labels" mode="labels">
              </app-kubernetes-node-tags-card>
          </app-tile>
    </app-tile-group>
  </app-tile-grid>

</div>
