@import '../../theme.scss';

.list-filters {
  flex: 1;
  height: 100%;
  width: 100%;

  &_section {
    margin-bottom: 40px;

    &_title {
      margin-bottom: 10px;
    }

    &_link {
      cursor: pointer;
      font-size: 1.1em;
      margin-bottom: 0.3em;
      opacity: 0.5;
      &.active {
        opacity: 1;
        color: mat-color($monocular-app-primary);
      }
    }
  }
}
