@import '@angular/material/theming';
@mixin cf-buildpack-card-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  .buildpack-card {
    &__item {
      &__icon-true {
        color: mat-color($primary);
      }
      &__icon-false {
        color: mat-color($warn);
      }
    }
  }
}
