.add-service-workflow {

  .select-instance {
    padding: 0;

    .loading-services-spinner {
      text-align: center;
      margin-top: $console-unit-space / 2;

      span {
        margin-right: $console-unit-space / 2;
      }
    }
  }

  .service-confirm {
    margin: $console-unit-space 0;

    .alert {
      margin-bottom: $console-unit-space;
    }
  }

  .service-description {
    display: flex;

    .service-icon {
      padding: $console-unit-space;

      img {
        max-height: $console-unit-space * 4;
        max-width: $console-unit-space * 4;
      }
    }
  }

  .select-instance-tabs {

    min-height: 300px;

    .nav.nav-tabs {
      .uib-tab > a {
        background: transparent;
      }
    }

    .td-row-selector {
      vertical-align: middle;
      width: $console-unit-space;
    }

    .tab-content {
      padding: $console-unit-space 0;

      .existing-instances-table {
        margin-bottom: 0;
        tbody > tr td {
          vertical-align: middle;
        }
      }
    }
    .no-bindable-instances > td {
      text-align: center;
      p {
        margin: $console-half-space;
      }
    }

    table > tfoot > tr {
      .td-create-service {
        padding: 0;
        vertical-align: middle;

        button {
          display: flex;
          align-items: center;
          > i {
            line-height: 1;
            margin-right: $console-unit-space / 4;
          }

          &:hover, &:focus {
            outline: 0;
            text-decoration: none;
          }
        }
      }
    }
  }

  .wizard-foot {
    border-top: 1px solid $gray-light;
    text-align: right;
    padding-top: $console-unit-space / 2;
  }
}
