<div class="select-instance">
  <div class="alert alert-info alert-no-bg alert-bordered" ng-if="wizardCtrl.options.service.entity.unique_id==='app-autoscaler-id'">
    <p translate>app.app-info.app-tabs.services.bind.warning.auto-sclaer</p>
  </div>

  <div class="loading-services-spinner" ng-if="wizardCtrl.options.spinners.loadingServiceInstances">
    <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
  </div>

  <p translate>app.app-info.app-tabs.services.bind.select</p>

  <div class="select-instance-tabs col-sm-12" ng-if="!wizardCtrl.options.spinners.loadingServiceInstances">
    <form>
      <table class="table table-outlined existing-instances-table">
        <thead>
          <tr translate-namespace="app.app-info.app-tabs.services.add.existing">
            <th class="select-col"></th>
            <th translate>.name-label</th>
            <th translate>.plan-label</th>
            <th translate>.apps-label</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row-vertical-middle" ng-repeat="instance in wizardCtrl.options.instances">
            <td class="td-row-selector">
              <radio-input ng-model="wizardCtrl.options.userInput.existingServiceInstance"
                input-value="instance" required>
              </radio-input>
            </td>
            <td>{{ instance.entity.name }}</td>
            <td>{{ wizardCtrl.options.servicePlanMap[instance.entity.service_plan_guid].entity.name }}</td>
            <td>{{ instance.entity.service_bindings.length || '-' }}</td>
          </tr>
          <tr class="no-bindable-instances" ng-if="wizardCtrl.options.instances.length === 0">
            <td colspan="4" translate-namespace="app.app-info.app-tabs.services.bind.no-instances">
              <p translate>.title</p>
              <p translate>.prompt</p>
              <input type="hidden" required ng-model="wizardCtrl.options.userInput.ignored"></input>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td></td>
          <td colspan="3" class="td-create-service">
            <button class="btn btn-sm btn-link" ng-click="wizardCtrl.options.createServiceBinding()">
            <i class="material-icons app-icon-sm add-icon">add_circle_outline</i>
            <span translate>app.app-info.app-tabs.services.bind.create</span>
          </button>
        </td>
      </table>
    </form>
  </div>
</div>
