<div class="select-instance">
  <div class="alert alert-info alert-no-bg alert-bordered" ng-if="wizardCtrl.options.service.entity.unique_id==='app-autoscaler-id'">
    <p translate>app.app-info.app-tabs.services.bind.warning.auto-sclaer</p>
  </div>

  <div class="loading-services-spinner" ng-if="wizardCtrl.options.spinners.loadingServiceInstances">
    <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
  </div>

  <p translate>app.app-info.app-tabs.services.bind.select</p>

  <div class="select-instance-tabs col-sm-12" ng-if="!wizardCtrl.options.spinners.loadingServiceInstances">
    <form>
      <table class="table table-outlined existing-instances-table">
        <thead>
          <tr translate-namespace="app.app-info.app-tabs.services.add.existing">
            <th class="select-col"></th>
            <th translate>.name-label</th>
            <th translate>.plan-label</th>
            <th translate>.tags-label</th>
            <th translate>.apps-label</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row-vertical-middle" ng-repeat="instance in wizardCtrl.options.instances">
            <td class="td-row-selector">
              <radio-input ng-model="wizardCtrl.options.userInput.existingServiceInstance"
                input-value="instance" required>
              </radio-input>
            </td>
            <td>{{ instance.entity.name }}</td>
            <td>{{ wizardCtrl.options.servicePlanMap[instance.entity.service_plan_guid].entity.name }}</td>
            <td>
              <div ng-repeat="tag in instance.entity.tags">
                <div>{{ tag }}</div>
              </div>
            </td>
            <td>{{ instance.entity.service_bindings.length || '-' }}</td>
          </tr>
          <tr class="no-bindable-instances" ng-if="wizardCtrl.options.instances.length === 0">
            <td colspan="5" translate-namespace="app.app-info.app-tabs.services.bind.no-instances">
              <p translate>.title</p>
              <p translate>.prompt</p>
              <input type="hidden" required ng-model="wizardCtrl.options.userInput.ignored"></input>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td></td>
          <td colspan="4" class="td-create-service">
            <button class="btn btn-sm btn-link" ng-click="wizardCtrl.options.createServiceBinding()">
            <i class="material-icons app-icon-sm add-icon">add_circle_outline</i>
            <span translate>app.app-info.app-tabs.services.bind.create</span>
          </button>
        </td>
      </table>

      <div class="form-group form-json-editor-input"
        ng-class="{'has-error': addInstanceForm.createNewForm.name.$invalid && addInstanceForm.createNewForm.name.$dirty}">
        <label class="control-label" required translate>
          app.app-info.app-tabs.services.create.params-label
        </label>
        <a href="#" class="input-box-edit" ng-click="wizardCtrl.options.editParams = true; wizardCtrl.options.hideFooterButtons = true" translate>app.app-info.app-tabs.services.create.edit-params</a>
        <div class="json-edit-box">{{ wizardCtrl.options.userInput.params | jsonString }}</div>
      </div>
  
    </form>
  </div>
</div>

<!-- Parameter editor -->
<div class="async-dialog-param-editor" ng-class="{'param-editor-open' : wizardCtrl.options.editParams}">
  <div class="param-editor-container">
    <p translate>app.app-info.app-tabs.services.create.service-params</p>
    <textarea placeholder="{{ 'app.app-info.app-tabs.services.create.params-placeholder' | translate}}" json-text-input ng-model="wizardCtrl.options.userInput.params"></textarea>
    <div class="param-editor-buttons">
      <a translate class="done-button btn btn-commit" ng-click="wizardCtrl.options.editParams = false; wizardCtrl.options.hideFooterButtons = false">app.app-info.app-tabs.services.create.done</a>
    </div>
  </div>
</div>