<div class="select-instance">
  <div class="service-description col-sm-12">
    <div class="service-icon">
      <img ng-src="{{ wizardCtrl.options.service.entity.extra.ImageURL }}"
        default-image default-image-src="/images/services/App_services_72.png"/>
    </div>
    <div>
      <h4 class="font-semi-bold">{{ wizardCtrl.options.service.entity.label }}</h4>
      <p>{{ wizardCtrl.options.service.entity.extra.LongDescription || wizardCtrl.options.service.entity.description }}</p>
    </div>
  </div>


  <div class="alert alert-info alert-no-bg alert-bordered" ng-if="wizardCtrl.options.service.entity.unique_id==='app-autoscaler-id'">
    <p>
      You can bind the Auto-scaler to this application here. Please note that you will need to use the CLI
      to configure the auto-scaling policy for this application in order for it to be enabled.
    </p>
  </div>

  <div class="loading-services-spinner" ng-if="wizardCtrl.options.spinners.loadingServiceInstances">
    <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
  </div>

  <uib-tabset class="select-instance-tabs col-sm-12"
    active="wizardCtrl.options.activeTab" ng-if="!wizardCtrl.options.spinners.loadingServiceInstances">
    <uib-tab index="0" heading="{{ 'app-tabs.services.add.create.title' | translate }}">
      <form name="createNewForm" ng-if="wizardCtrl.options.activeTab === 0">
        <div class="form-group" focusable-input
          ng-class="{'has-error': addInstanceForm.createNewForm.name.$invalid && addInstanceForm.createNewForm.name.$dirty}">
          <label class="control-label" required translate>
            app-tabs.services.add.create.name-label
          </label>
          <span class="control-message" translate-namespace="app-tabs.services.add.create" >
            <span translate ng-if="addInstanceForm.createNewForm.name.$error.required">.name-error-required</span>
            <span translate ng-if="addInstanceForm.createNewForm.name.$error.stratosUnique">.name-error-unique</span>
            <span translate ng-if="addInstanceForm.createNewForm.name.$error.pattern">.name-error-pattern</span>
          </span>
          <input type="text" name="name" class="form-control" tabindex="0"
            ng-model="wizardCtrl.options.userInput.name" ng-trim="false"
            stratos-unique items="wizardCtrl.options.instanceNames" ignore-case
            ng-pattern="/^[a-zA-Z\d\-\_]+$/" required autofocus>
        </div>

        <div class="form-group">
          <label class="control-label" translate>app-tabs.services.add.create.plan-label</label>
          <select-input name="plan"
            ng-model="wizardCtrl.options.userInput.plan"
            input-options="wizardCtrl.options.servicePlans"
            placeholder="app-tabs.services.add.create.plan-placeholder"
            tabindex="0" required>
          </select-input>
        </div>
      </form>
    </uib-tab>
    <uib-tab index="1" heading="{{ 'app-tabs.services.add.existing.title' | translate }}"
      disable="wizardCtrl.options.instances.length === 0">
      <form ng-if="wizardCtrl.options.activeTab === 1">
        <table class="table table-outlined existing-instances-table">
          <thead>
            <tr translate-namespace="app-tabs.services.add.existing">
              <th class="select-col"></th>
              <th translate>.name-label</th>
              <th translate>.plan-label</th>
              <th translate>.apps-label</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row-vertical-middle" ng-repeat="instance in wizardCtrl.options.instances">
              <td>
                <radio-input ng-model="wizardCtrl.options.userInput.existingServiceInstance"
                  input-value="instance" required>
                </radio-input>
              </td>
              <td>{{ instance.entity.name }}</td>
              <td>{{ wizardCtrl.options.servicePlanMap[instance.entity.service_plan_guid].entity.name }}</td>
              <td>{{ instance.entity.service_bindings.length || '-' }}</td>
            </tr>
          </tbody>
        </table>
      </form>
    </uib-tab>
  </uib-tabset>
</div>
