@mixin dashboard-page-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  .page-header-sub-nav {
    background-color: map-get($app-theme, app-background-color);
  }
  .dashboard__side-help-button {
    color: mat-contrast($primary, 500);
  }
}
