@import '../../../../sass/colors';
@import '../../../../sass/mixins';

$app-sub-header-height: 48px;
.dashboard {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 1;
  &__page-tabs {
    background-color: rgba(146, 146, 146, .1);
  }
  &__inner {
    display: flex;
    height: calc(100% - 56px);
  }
  &__content {
    flex: auto;
    max-height: 100%;
    overflow: auto;
    padding: 20px;
    width: 100%;
  }
  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__side-nav {
    overflow: hidden;
  }
  &__inline-help {
    width: 600px;
  }
  &__noMargin {
    padding: 0;
  }
  &__side-help {
    width: 600px;
  }  
  &__noMargin {
    padding: 0;
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.routing-indicator {
  left: 0;
  position: absolute;
  right: 0;
  z-index: 999;
}

.page-header-sub-nav {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  height: $app-sub-header-height;
  margin-left: 200px;
  opacity: .6;
  padding: 0;
  width: 100%;
  @include breakpoint(tablet) {
    margin: 0;
    padding: 0 20px;
  }
  &__title {
    display: none;
    $font-size: 20px;
    font-size: $font-size;
    font-weight: bold;
    line-height: $font-size;
    margin-right: 20px;
    @include breakpoint(tablet) {
      display: flex;
    }
  }
  &__container {
    align-items: center;
    display: flex;
    width: 100%;
  }
}
