.login {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__header {
    margin-bottom: 20px;
    text-align: center;
  }
  &__card {
    padding: 0px;
    width: 300px;
    md-form-field {
      width: 100%;
    }
  }
  &__title {
    height: 96px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 24px;
    h1 {
      margin: 0;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  &__form {
    padding: 24px;
  }
  &__submit {
    width: 100%;
  }
  &-message {
    height: 20px;
    padding-top: 20px;
  }
  &-loading-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}
