.kube-details {
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 10px;
  &__logo {
    height: 400px;
    opacity: .2;
    position: absolute;
    right: -120px;
    top: 20px;
    z-index: -1;
  }
  &__sub-header {
    font-size: 16px;
    margin-top: -3px;
    opacity: .6;
  }
  &__header {
    margin: 0;
  }
  &__header-wrapper {
    align-items: baseline;
    display: flex;
  }
  &__header-info {
    font-size: 20px;
    margin-left: 10px;
    opacity: .4;
  }
  &__header-section {
    margin: 10px -10px;
    max-width: 350px;
  }
  &__graphs {
    margin: 10px;
  }
  &__graph {
    display: inline-block;
    padding: 10px;
    width: 33%;
  }
  &__dashboard {
    font-size: 14px;
    margin: -24px 20px 24px 24px;
  }
  &__spacing {
    font-size: 14px;
    margin: 12px 0;
  }
  &__button {
    margin-left: 4px;
  }
}
