<div>
  <div class="kube-details" *ngIf="endpointDetails$ | async as details">
    <img class="kube-details__logo" src="{{details.imagePath}}" />
    <div clas="kube-details__header-section">
      <h1 class="kube-details__header">{{ details.name }}</h1>
      <div class="kube-details__sub-header"> {{ details.label }}</div>
    </div>
    <div class="kube-details__header-section">
      <app-tile-grid fit="true">
        <app-tile-group>
          <app-tile>
            <app-card-number-metric [textOnly]="true" link="/kubernetes/{{kubeEndpointService.baseKube.guid}}/pods"
              icon="apps" label="Pods" labelSingular="Pod" value="{{ podCount$ | async }}">
            </app-card-number-metric>
          </app-tile>
          <app-tile>
            <app-card-number-metric [textOnly]="true" link="/kubernetes/{{kubeEndpointService.baseKube.guid}}/nodes"
              icon="apps" label="Nodes" labelSingular="Node" value="{{ nodeCount$ | async }}">
            </app-card-number-metric>
          </app-tile>
          <app-tile>
            <app-card-number-metric [textOnly]="true" link="/kubernetes/{{kubeEndpointService.baseKube.guid}}/apps"
              icon="apps" label="Applications" labelSingular="Application" value="{{ appCount$ | async }}">
            </app-card-number-metric>
          </app-tile>
        </app-tile-group>
      </app-tile-grid>
    </div>
  </div>
</div>

<!-- <app-tile-grid fit="true">
  <app-tile-group>
    <app-tile>
      <mat-card class="kube-details__graph">
        <ngx-charts-gauge *ngIf="podCapacity$ | async as data" class="usage-chart" [animations]="true"
          [max]="data.capacity" [results]="data.results" [showAxis]="false">
        </ngx-charts-gauge>
      </mat-card>
    </app-tile>
    <app-tile>
      <mat-card class="kube-details__graph">
        <ngx-charts-gauge *ngIf="podCapacity$ | async as data" class="usage-chart" [animations]="true"
          [max]="data.capacity" [results]="data.results" [showAxis]="false">
        </ngx-charts-gauge>
      </mat-card>
    </app-tile>
    <app-tile>
      <mat-card class="kube-details__graph">
        <ngx-charts-gauge *ngIf="podCapacity$ | async as data" class="usage-chart" [animations]="true"
          [max]="data.capacity" [results]="data.results" [showAxis]="false">
        </ngx-charts-gauge>
      </mat-card>
    </app-tile>
  </app-tile-group>
</app-tile-grid> -->
<div>
  <div class="kube-details__graph-wrapper">
    <mat-card class="kube-details__graph">
      <ngx-charts-gauge *ngIf="podCapacity$ | async as data" class="usage-chart" [animations]="true"
        [max]="data.capacity" [results]="data.results" [showAxis]="false">
      </ngx-charts-gauge>
    </mat-card>
    <mat-card class="kube-details__graph">
      <ngx-charts-gauge *ngIf="podCapacity$ | async as data" class="usage-chart" [animations]="true"
        [max]="data.capacity" [results]="data.results" [showAxis]="false">
      </ngx-charts-gauge>
    </mat-card>
    <mat-card class="kube-details__graph">
      <ngx-charts-gauge *ngIf="podCapacity$ | async as data" class="usage-chart" [animations]="true"
        [max]="data.capacity" [results]="data.results" [showAxis]="false">
      </ngx-charts-gauge>
    </mat-card>
  </div>
</div>

<a [routerLink]="dashboardLink">Open Dashboard</a>
<button (click)="getDashboard()" matButton matRaisedButton>Get Dashboard Status</button>