.kube-details {
  border-bottom: 1px solid #00000026;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  &__logo {
    height: 400px;
    opacity: .2;
    position: absolute;
    right: -120px;
    top: 20px;
    z-index: -1;
  }
  &__sub-header {
    font-size: 16px;
    margin-top: -3px;
    opacity: .6;
  }
  &__header {
    margin: 0;
  }
  &__header-section {
    margin: 10px -10px;
    max-width: 350px;
  }
  &__graphs {
    margin: 10px;
  }
  &__graph {
    width: 33%;
    padding: 10px;
    display: inline-block;
  }
}
