<div>
  <app-page-sub-nav>
    <button *ngIf="kubeEndpointService.kubeDashboardEnabled$ | async" [routerLink]="dashboardLink" mat-button>
      <mat-icon>dashboard</mat-icon>
      <span class="kube-details__button">View Dashboard</span>
    </button>
    <button [routerLink]="kubeConsoleLink" mat-button>
      <mat-icon>dashboard</mat-icon>
      <span class="kube-details__button">Open Console</span>
    </button>
  </app-page-sub-nav>

  <app-loading-page [isLoading]="isLoading$" [text]="'Retrieving Kubernetes details'">
    <app-entity-summary-title *ngIf="endpointDetails$ | async as details" [imagePath]="details.imagePath"
      [title]="details.name" [subTitle]="details.label"
      info="Kubernetes Node Version: {{ (kubeNodeVersions$ | async) }}">
      <app-tile-grid class="kube-details__metrics" fit="true">
        <app-tile-group>
          <app-tile>
            <app-card-number-metric [textOnly]="true" link="/kubernetes/{{kubeEndpointService.baseKube.guid}}/pods"
              icon="apps" label="Pods" labelSingular="Pod" value="{{ podCount$ | async }}">
            </app-card-number-metric>
          </app-tile>
          <app-tile>
            <app-card-number-metric [textOnly]="true" link="/kubernetes/{{kubeEndpointService.baseKube.guid}}/nodes"
              icon="apps" label="Nodes" labelSingular="Node" value="{{ nodeCount$ | async }}">
            </app-card-number-metric>
          </app-tile>
          <app-tile>
            <app-card-number-metric [textOnly]="true" link="/kubernetes/{{kubeEndpointService.baseKube.guid}}/apps"
              icon="apps" label="Applications" labelSingular="Application" value="{{ appCount$ | async }}">
            </app-card-number-metric>
          </app-tile>
        </app-tile-group>
      </app-tile-grid>
      <div class="kube-details__graphs">
        <div class="kube-details__graphs-group">
          <div class="kube-details__graph">
            <mat-card>
              <app-simple-usage-chart chartTitle="Pod Usage" [data]="podCapacity$ | async">
              </app-simple-usage-chart>
            </mat-card>
          </div>
          <div class="kube-details__graph">
            <mat-card>
              <app-simple-usage-chart [thresholds]="pressureChartThresholds" chartTitle="Nodes With Disk Pressure"
                [data]="diskPressure$ | async">
              </app-simple-usage-chart>
            </mat-card>
          </div>
          <div class="kube-details__graph">
            <mat-card>
              <app-simple-usage-chart [thresholds]="pressureChartThresholds" chartTitle="Nodes With Memory Pressure"
                [data]="memoryPressure$ | async">
              </app-simple-usage-chart>
            </mat-card>
          </div>
          <div class="kube-details__graph">
            <mat-card>
              <app-simple-usage-chart chartTitle="Nodes Out Of Disk" [thresholds]="criticalPressureChartThresholds"
                [data]="outOfDisk$ | async">
              </app-simple-usage-chart>
            </mat-card>
          </div>
          <div class="kube-details__graph">
            <mat-card>
              <app-simple-usage-chart [thresholds]="nominalPressureChartThresholds" chartTitle="Nodes Ready"
                [data]="nodesReady$ | async">
              </app-simple-usage-chart>
            </mat-card>
          </div>
          <div class="kube-details__graph">
            <mat-card *ngIf="(networkUnavailable$ | async)?.supported">
              <app-simple-usage-chart [thresholds]="criticalPressureChartThresholdsInverted"
                chartTitle="Nodes With Network Available" [data]="networkUnavailable$ | async">
              </app-simple-usage-chart>
            </mat-card>
          </div>
        </div>
      </div>
    </app-entity-summary-title>
  </app-loading-page>
</div>