.number-metric-card {
  height: 100%;
  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    > div {
      flex: 1;
    }
    padding: 12px 24px;
  }
  &__icon {
    flex: 0 0 42px;
    font-size: 42px;
    height: 42px;
    margin-right: 12px;
    width: 42px;
  }
  &__label {
    font-size: 16px;
  }
  &__value {
    font-size: 24px;
  }
  &__limit {
    font-size: 20px;
  }
}
