@mixin app-sidepanel-preview-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);

  .sidepanel-preview__header {
    background-color: mat-color($primary);
    color: mat-contrast($primary, 500);
  }

  .sidepanel-preview__content {
    background-color: map-get($app-theme, app-background-color);

    > h1:first-child {
      height: 0;
      margin: 0;
      overflow: hidden;
    }
    blockquote {
      border-left: 4px solid mat-color($primary);
      margin: 0;
      padding-left: 12px;
    }
    ol > li {
      margin-bottom: 4px;
    }
  }
}
