@mixin app-catalog-tab-theme($theme, $app-theme) {
  $accent: map-get($theme, accent);

  .charts__repos__selected {
    color: mat-color($accent);
    &:hover {
      color: mat-color($accent);
    }
  }
}
