<div class="connection-dialog__loading-wrapper">
  <mat-progress-bar class="connection-dialog__loading" [color]="(connectingError$ | async) && !(isBusy$ | async) ? 'warn' : 'primary'" [mode]="(isBusy$ | async) ? 'indeterminate' : 'solid'">
  </mat-progress-bar>
</div>
<div class="connection-dialog">
  <h2 mat-dialog-title>
    Connect to {{ data.name }}
  </h2>
  <form class="connection-dialog__form" [formGroup]="endpointForm" (ngSubmit)="submit()">
    <mat-dialog-content class="connection-dialog__content">
      <mat-form-field *ngIf="authTypesForEndpoint.length > 1">
        <mat-select (selectionChange)="authChanged($event)" id="authType" name="authType" formControlName="authType" placeholder="Auth Type">
          <mat-option *ngFor="let auth of authTypesForEndpoint" [value]="auth.value">{{ auth.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <input type="hidden" *ngIf="authTypesForEndpoint.length === 1" name="authType" formControlName="authType">
      <div *ngIf="endpointForm.value.authType === 'creds'" formGroupName="authValues" class="connection-dialog__auth">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
      </div>
      <mat-checkbox *ngIf="canShareEndpointToken" class="connection-dialog__shared" matInput name="systemShared" formControlName="systemShared">Share this endpoint connection</mat-checkbox>
      <div *ngIf="endpointForm.value.authType === 'sso'" formGroupName="authValues" class="connection-dialog__auth">
        <p>You will be redirected to the Single Sign-On UI for this endpoint and returned to Stratos upon completion.</p>
      </div>
    </mat-dialog-content>
    <app-dialog-error message="Could not connect, please try again." [show]="connectingError$ | async"></app-dialog-error>
    <mat-dialog-actions class="connection-dialog__actions">
      <button [mat-dialog-close]="true" mat-button color="warn">Cancel</button>
      <button type="submit" [disabled]="!(canSubmit$ | async)" mat-button color="primary">Connect</button>
    </mat-dialog-actions>
  </form>
</div>
