$list-item-content-height: 200px;

.list-item {
  @apply rounded-lg overflow-hidden border transition-transform duration-200;
  border-color: theme('colors.gray.300');
  @apply bg-gray-100;

  &:hover {
    @apply scale-[1.02];
  }

  &:active {
    @apply scale-[0.98];
  }

  &-content {
    @apply w-full flex flex-col;
    height: $list-item-content-height;
    @apply text-gray-800;
  }

  &-logo {
    @apply w-full flex items-center justify-center bg-white;
    height: calc($list-item-content-height / 2 + 10px);
  }

  &-info {
    @apply relative flex-1 px-4 flex flex-col justify-center break-words text-center;
    border-top: 1px solid theme('colors.gray.300');
  }

  &__auto-height {
    @apply h-auto;

    .list-item-info {
      @apply py-2.5 px-0;
    }
  }

  &-svg {
    @apply absolute right-2.5 top-2.5;
  }
}
