<div ng-if="!spaceUsersController.stateInitialised" class="message-box message-box-no-bg">
  <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
</div>
<div ng-if="spaceUsersController.stateInitialised"
     class="cluster-users-table"
     st-table="spaceUsersController.visibleUsers"
     st-safe-src="spaceUsersController.users">
  <div>
    <div class="change-roles-buttons">
      <button class="btn btn-default"
              ng-if="spaceUsersController.selectedUsersCount() < 2"
              ng-disabled="spaceUsersController.disableManageRoles()"
              ng-click="spaceUsersController.manageSelectedUsers()"
              translate>Manage Roles</button>
      <button class="btn btn-default"
              ng-if="spaceUsersController.selectedUsersCount() > 1"
              ng-disabled="spaceUsersController.disableChangeRoles()"
              ng-click="spaceUsersController.manageSelectedUsers()"
              translate>Change Roles</button>
      <button class="btn btn-default"
              ng-disabled="spaceUsersController.disableRemoveFromSpace()"
              ng-click="spaceUsersController.removeFromSpace()"
              translate>Remove From Space</button>
      <button class="btn btn-default"
              ng-disabled="spaceUsersController.disableRemoveFromOrg()"
              ng-click="spaceUsersController.removeFromOrganization()"
              translate>Remove From Organization</button>
    </div>
    <div class="panel panel-default">
      <table class="table table-actionable table-selectable" >
        <thead>
        <tr>
          <th><checkbox-input class="select-all-checkbox" ng-change="spaceUsersController.selectAllChanged()" ng-model="spaceUsersController.selectAllUsers"></checkbox-input></th>
          <th class="sortable" translate st-sort-default="true" st-sort="entity.username">USERS({{ spaceUsersController.users.length }})</th>
          <th translate>Space Roles</th>
          <th translate>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr class="" ng-repeat="user in spaceUsersController.visibleUsers">
          <td>
            <checkbox-input
              ng-model="spaceUsersController.selectedUsers[user.metadata.guid]"
              ng-if="user.entity.username">
            </checkbox-input>
          </td>
          <td class="user-name">{{ user.entity.username || user.metadata.guid}}</td>
          <td class="roles-list">
            <div class="role-pill" ng-class="{'closable-pill': spaceUsersController.canRemoveSpaceRole()}"
                 ng-repeat="spaceRole in spaceUsersController.getSpaceRoles(user)"
                 ng-class="{ 'progress-cursor' : spaceUsersController.removingSpace[spaceUsersController.space.details.space.entity.name + spaceRole.roleLabel] }">
              {{ spaceUsersController.space.details.space.entity.name }}: {{ spaceRole.roleLabel }}
              <i class="close-icon helion-icon helion-icon-Close"
                 ng-click="spaceUsersController.removeSpaceRole(user, spaceRole)"
                 ng-if="spaceUsersController.canRemoveSpaceRole()"></i>
            </div>
            <div ng-if="spaceUsersController.getSpaceRoles(user).length === 0">
              <span ng-if="user.entity.username" translate>None assigned</span>
              <span ng-if="!user.entity.username" translate>Not Applicable</span>
            </div>
          </td>
          <td>
            <actions-menu actions="spaceUsersController.userActions"
                          action-target="user"
                          menu-icon="helion-icon helion-icon-More"
                          menu-position="actions-menu-right"
                          ng-if="user.entity.username">
            </actions-menu>
          </td>
        </tr>
        </tbody>
        <tfoot ng-init="spaceUsersController.showUsers = 6"
               ng-show="spaceUsersController.showUsers < spaceUsersController.users.length">
        <tr>
          <td colspan="4" class="text-center">
            <a ng-click="spaceUsersController.showUsers = spaceUsersController.users.length">
              <span translate>Show All</span> ({{ spaceUsersController.users.length }})
            </a>
            <div ng-show="false" st-pagination="" st-items-by-page="spaceUsersController.showUsers"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>
