@import '../../../theme.scss';

.versions {

  h1 {
    font-size: 18px;
    margin-top: 0;
  }
  .more-link {
    margin-top: .5em;
  }
}

.version__cell {

  &.creation-date {
    color: lighten($layout-base, 20%);
  }

  &.number.selected {
    font-weight: bold;
  }
}

.version {
  &__table {
    display: table;
    width: 100%;
  }
  &__row {
    display: table-row;
  }
  &__cell {
    display: table-cell;
  }
}

.app-version {
  h1 {
    font-size: 18px;
  }
}