<div class="console-code-block"
  ng-class="{'console-code-block-light': codeBlockCtrl.theme === 'light', 'console-code-block-dark': codeBlockCtrl.theme !== 'light'}">
  <pre ng-transclude>
	</pre>
  <div class="console-code-block-copied-msg">
    <span class="console-copied-msg" translate>Copied to clipboard</span>
    <i class="console-copy-success-icon material-icons"></i>
  </div>
	<div ng-if="codeBlockCtrl.canCopy && !codeBlockCtrl.hideCopy" ng-click="codeBlockCtrl.copyToClipboard({event: $event})" class="console-copy material-icons">
  </div>
</div>
