$header-height: 200px;
$icon-height: 150px;

.chart-details {
  @apply flex flex-col;

  &__wrapper {
    @apply flex;
  }

  &__header {
    @apply -mt-20 mb-10;

    &__background {
      height: $header-height;
      background: linear-gradient(135deg, var(--color-primary-500, #3371e3), var(--color-primary-700, #1d4ed8));
    }

    &__content {
      @apply px-8 flex mx-auto;
      @apply max-w-screen-xl;
      margin-top: calc(-1 * $icon-height / 2);
    }

    &__text {
      @apply flex-1;

      h1 {
        min-height: calc($icon-height / 2);
        @apply text-white m-0 -mt-1 flex items-end;
      }

      p {
        line-height: 1.6em;
      }

      &__repo {
        @apply text-cyan-500;

        &.repo-incubator {
          @apply text-red-500;
        }

        a {
          @apply text-inherit;
        }
      }
    }

    &__icon {
      width: $icon-height;
      height: $icon-height;
      @apply bg-white mr-4 flex items-center justify-center;
      @apply border-2 border-gray-800 rounded-lg;

      img {
        @apply w-[70%] max-h-[70%];
      }
    }
  }

  &__content {
    @apply w-full flex flex-col-reverse px-8 pb-8 break-words;
  }

  @media (min-width: 768px) {
    @apply block;

    .chart-details__content {
      @apply flex-row h-full;

      &__info {
        @apply mr-12 overflow-auto;
      }

      &__docs {
        @apply overflow-auto pr-4 min-w-0 flex-[3];
      }
    }
  }

  @media (max-width: 479px) {
    .chart-details__header__content {
      @apply flex-col;

      h1 {
        @apply text-inherit;
      }
    }
  }
}
