.service-tile {

  .tile-btn {
    text-transform: capitalize;
    font-size: 16px;
  }

  .no-instances {
    width: 75%;
    margin: 0 auto;
  }

  .panel-body {
    text-align: center;
    th {
      text-align: center;
      box-sizing: content-box;
    }

  }
  .base-tile {

    cursor: pointer;

    td {
      text-align: left;
      padding: 10px;
    }
    .td-red {
      color: red;
    }

    .td-green {
      color: #00b388;
    }
  }

}

