<div>
  <mat-progress-bar *ngIf="submitted" [mode]="'indeterminate'">
  </mat-progress-bar>
  <app-details-card title="Add Route">
    <form class="add-route--form" [formGroup]="addRoute" >
      Domain
      <mat-form-field>
        <mat-select  formControlName="domain" required>
          <mat-option *ngFor="let domain of domains" [value]="domain" >{{domain.entity.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      Host
      <mat-form-field>
        <input matInput formControlName="host" placeholder="Host">
      </mat-form-field>
      Path
      <mat-form-field>
        <input matInput formControlName="path" placeholder="Path">
      </mat-form-field>
      Port
      <mat-form-field>
        <input matInput formControlName="port" placeholder="Port">
      </mat-form-field>
      <div class="add-route--form-buttons">
        <button mat-button name="submit" color="primary" (click)="onSubmit()">
          Submit
        </button>
        <button mat-button name="cancel" color="warn" [routerLink]="['/applications', cfGuid, appGuid]">
          Cancel
        </button>
      </div>
    </form>
  </app-details-card>
</div>
