<div class="add-route">
  <mat-progress-bar *ngIf="submitted" [mode]="'indeterminate'">
  </mat-progress-bar>
  <app-details-card title="Add Route">
    <div class="add-route--form">
      <div class="add-route--form-toggle">
          Create TCP Route
          <mat-slide-toggle name="createTcp" [(ngModel)]="createTCPRoute" ></mat-slide-toggle>
        </div>
    <form  [formGroup]="addRoute" >
      <div>
        Domain
        <mat-form-field>
          <mat-select  formControlName="domain" required>
            <mat-option *ngFor="let domain of getDomainValues()" [value]="domain" >{{domain.entity.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
      <div *ngIf="!createTCPRoute">
        Host
        <mat-form-field>
          <input matInput formControlName="host"  placeholder="Host">
        </mat-form-field>
      </div>
      <div *ngIf="!createTCPRoute">
        Path
        <mat-form-field>
          <input matInput formControlName="path" placeholder="Path">
        </mat-form-field>
      </div>
      <div *ngIf="createTCPRoute">
        Port
        <mat-form-field>
          <input matInput formControlName="port" placeholder="Port">
        </mat-form-field>
      </div>
      <div class="add-route--form-buttons">
        <button mat-button name="submit" color="primary" (click)="onSubmit()">
          Submit
        </button>
        <button mat-button name="cancel" color="warn" [routerLink]="['/applications', cfGuid, appGuid]">
          Cancel
        </button>
      </div>
    </form>
    </div>
  </app-details-card>
</div>
