<div class="add-route">
  <app-page-header>
    Create Route
  </app-page-header>

  <mat-progress-bar *ngIf="submitted" [mode]="'indeterminate'">
    </mat-progress-bar>

  <mat-card>
      <mat-card-header>
        Create Route
      </mat-card-header>
    <div class="add-route--form">
      <div class="add-route--form-message">
        Please specify details for the new route.
      </div>
      <div class="add-route--form-toggle">
        Create TCP Route
        <mat-checkbox name="createTcp" [(ngModel)]="createTCPRoute" ></mat-checkbox>
      </div>
      <form  [formGroup]="addHTTPRoute"  *ngIf="!createTCPRoute">
      <div class="form-fields">
          <div>
            <mat-form-field>
              <mat-select  formControlName="domain" placeholder="domain" [(ngModel)]="selectedDomain" required>
                <mat-option *ngFor="let domain of getDomainValues()" [value]="domain" >{{domain.entity.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput formControlName="host"  placeholder="Host" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput formControlName="path" placeholder="Path">
            </mat-form-field>
          </div>
        </div>
        <div class="add-route--form-buttons">
          <button mat-button name="submit" color="primary" (click)="onSubmit('http')"  [disabled]="!addHTTPRoute.valid">
              Submit
          </button>
          <button type="button" mat-button name="cancel" color="warn" [routerLink]="['/applications', cfGuid, appGuid]">
            Cancel
          </button>
        </div>
    </form>

      <form  [formGroup]="addTCPRoute" *ngIf="createTCPRoute">
      <div class="form-fields">
          <div>
            <mat-form-field>
              <mat-select  formControlName="domain" placeholder="domain" [(ngModel)]="selectedDomain" required>
                <mat-option *ngFor="let domain of getDomainValues()" [value]="domain" >{{domain.entity.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput formControlName="port" placeholder="Port" required>
            </mat-form-field>
          </div>
        </div>
        <div class="add-route--form-buttons">
          <button  mat-button name="submit" color="primary" (click)="onSubmit('tcp')"  [disabled]="!addTCPRoute.valid">
              Submit
          </button>
          <button type="button" mat-button name="cancel" color="warn" [routerLink]="['/applications', cfGuid, appGuid]">
            Cancel
          </button>
        </div>
    </form>
    </div>
  </mat-card>
</div>
