.meta-card-item-row,
.meta-card-item-row-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  padding: 2px 0;
}

.meta-card-item-row-top {
  align-items: baseline;
}

.meta-card-item__value {
  overflow: hidden;
  text-align: end;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meta-card-item__key {
  flex: none;
  font-weight: 300;
  padding-right: 10px;
}

.meta-card-item-column {
  padding-top: 10px;
}

.meta-card-item-long-text,
.meta-card-item-long-text-fixed {
  padding-top: 10px;
  .meta-card-item__value {
    padding-bottom: 10px;
    text-align: start;
    white-space: unset;
    word-wrap: break-word;
  }
  .meta-card-item__key {
    display: none;
  }
}

.meta-card-item-long-text-fixed {
  .meta-card-item__value {
    height: 54px;
    line-height: 18px;
    position: relative;
    &::after {
      bottom: 0;
      content: '';
      height: 1.2em;
      position: absolute;
      right: 0;
      text-align: right;
      width: 25%;
    }
  }
}

.meta-card-item-multiline {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  padding: 7px 0 2px;
  .meta-card-item__value {
    white-space: unset;
  }
}
