@mixin app-meta-card-item-theme($theme, $app-theme) {
  $backgrounds: map-get($theme, background);
  $background: mat-color($backgrounds, card);

  .meta-card-item-long-text-fixed {
    .meta-card-item__value {
      &::after {
        background: linear-gradient(to right, rgba(255, 255, 255, 0), $background 50%);
      }
    }
  }
}
