<app-tile-grid>
  <app-tile-group>
    <app-tile>
      <mat-card>
        <app-card-status [statusProvider]="applicationService.applicationState$"></app-card-status>
        <mat-card-header>
          <mat-card-title>Status</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="instances__large">
            <app-application-state [state]="applicationService.applicationState$ | async"></app-application-state>
          </div>
        </mat-card-content>
      </mat-card>
    </app-tile>
    <app-tile>
      <app-card-app-instances></app-card-app-instances>
    </app-tile>
    <app-tile>
      <mat-card *ngIf="appMonitor.appMonitor$ | async as monitor">
        <app-card-status [status]="monitor.status?.usage"></app-card-status>
        <mat-card-content>
          <table class="instances__detail">
            <tr>
              <td>Usage</td>
              <td [appTableCellStatus]="monitor.status.mem">Mem</td>
              <td [appTableCellStatus]="monitor.status.disk">Disk</td>
              <td [appTableCellStatus]="monitor.status.cpu">CPU</td>
            </tr>
            <tr>
              <td>Max</td>
              <td>{{ monitor.max.mem | percentage }}</td>
              <td>{{ monitor.max.disk | percentage }}</td>
              <td>{{ monitor.max.cpu | percentage }}</td>
            </tr>
            <tr>
              <td>Avg</td>
              <td>{{ monitor.avg.mem | percentage }}</td>
              <td>{{ monitor.avg.disk | percentage }}</td>
              <td>{{ monitor.avg.cpu | percentage }}</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </app-tile>
  </app-tile-group>
</app-tile-grid>
<app-list [text]="{ title: 'Instances'}" [enableFilter]="false" [cardComponent]="cardComponent">
</app-list>
