<div class="add-cluster-form">
  <p translate>Enter the cluster API endpoint URL and name</p>
  <form name="addClusterForm">
    <div class="form-group" focusable-input
      ng-class="{'has-error': addClusterForm.url.$invalid && addClusterForm.url.$dirty}">
      <label class="control-label" translate>Cluster URL</label>
      <span class="control-message">
        <span translate
              ng-if="addClusterForm.url.$error.pattern && addClusterForm.url.$dirty">
          Invalid url format
        </span>
        <span translate
              ng-if="addClusterForm.url.$error.helionUnique && addClusterForm.url.$dirty">
          Url is not unique
        </span>
      </span>
      <input type="text" name="url" class="form-control" ng-model="asyncTaskDialogCtrl.context.data.url"
        ng-pattern="/^http(s)?://api\.(.)+$/" required
        helion-unique items="asyncTaskDialogCtrl.context.data.existingApiEndpoints" ignore-case/>
    </div>
    <div class="form-group" focusable-input
         ng-class="{'has-error': addClusterForm.name.$invalid && addClusterForm.name.$dirty}">
      <label class="control-label" translate>Cluster Name</label>
      <input type="text" name="name" class="form-control" ng-model="asyncTaskDialogCtrl.context.data.name" required/>
    </div>
  </form>
</div>
