.add-cluster-form {
  width: 50%;
  margin: 0 auto;
  //
  //h2 {
  //  margin-top: $hpe-unit-space * 2.5;
  //}
  //
  //form {
  //  margin-top: $hpe-unit-space;
  //
  //  .form-group {
  //    width: 100%;
  //  }
  //}

  .alert-danger {
    margin-top: $hpe-unit-space;
  }
  //
  //.form-actions {
  //  display: flex;
  //  justify-content: flex-end;
  //  margin-top: $hpe-unit-space;
  //
  //  button:not(:first-child) {
  //    margin-left: $hpe-unit-space / 4;
  //  }
  //}
}
