.variables-tab {
  [app-table-content] {
    md-header-cell,
    md-cell {
      padding: 0;
    }
  } // mat-card-header-text is very, very weird.
  div.mat-card-header-text-wa {
    margin: 0 8px;
  }
  &__env-code-block {
    padding-top: 20px;
    md-card {
      padding: 20px;
      md-card-content {
        padding: 18px;
      }
    }
  }
}
