.cards {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  .mat-card {
    &:after {
      box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:hover {
      cursor: pointer;
      &:after {
        opacity: 1;
      }
    }
  }
  &__card-row {}
  .row-filler {
    opacity: 0;
    height: 1px;
  }
}
