@import '../../../../sass/mixins.scss';
.cards {
  app-card {
    $space: 15px;
    $space-row: $space + 10px;
    width: 100%;
    margin-bottom: $space;
    @include breakpoint(desktop) {
      width: calc(25% - #{$space-row});
    }
    @include breakpoint(tablet) {
      width: calc(33% - #{$space-row});
    }
  }
}
