<mat-card class="card-app-instances">
  <app-card-status [statusProvider]="applicationService.applicationInstanceState$"></app-card-status>
  <mat-card-header>
    <mat-card-title>Instances</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div class="card-app-instances__large">
          {{(applicationService.appSummary$| async)?.metadata?.running_instances || 0}} / {{ (applicationService.application$ | async)?.app.entity?.instances}}
      </div>
  </mat-card-content>
</mat-card>
