@import "register/register-service";

.endpoints {
  &.endpoints-dashboard {
    .endpoints-table {

      .endpoint-connected {
        color: $state-success-text;
      }

      .endpoint-table-connected {
        padding-top: 3px;
        padding-bottom: 0;
        vertical-align: middle;
        svg {
          width: 24px;
          path {
            fill: grey;
          }
          polygon {
            fill: red;
          }
        }
      }

    }
  }
}

// Override the confirm-dialog fixed sizing to give us more room
.confirm-dialog.unregister-vcs-dialog > .modal-dialog > .modal-content {
  width: 500px;
  height: 430px;
}
