:host {
  flex: 1;
}

.helm-create-release {
  &__heading {
    align-items: center;
    display: flex;
  }

  &__title {
    flex: 1;
    font-size: 14px;
  }
  &__button {
    height: 36px;
  }
}

form {
  flex: 1;

  mat-checkbox {
    display: flex;
    height: 23px;
    margin-top: 10px;
  }
}

.overrides {
  &__yaml {
    background-color: rgba(0, 0, 0, .1);
    font-family: 'Source Code Pro', monospace;
    height: 400px;
  }

  &_form {
    max-width: 100%;
  }

  &_form-field {
    flex: 1;
    height: 100%;
    width: 100%;
  }
}

form.overrides_form {
  max-width: 100%;
}