.card-app-instances {
  position: relative;

  &__large {
    font-size: 16px;
  }

  &__compact {
    margin-bottom: 0;
  }

  &__actions {
    top: 16px;
    padding-top: 0;
    position: absolute;
    right: 16px;
    text-align: right;
  }

}
