@import '~@angular/material/theming';

@function gradient-generator($color) {
  @return linear-gradient(to right, $color 0%, $color 50%, transparent 100%);
}

@mixin page-side-nav-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary, 500);
  $side-nav-colors: map-get($app-theme, side-nav);
  $side-nav-bottom-color: map-get($app-theme, subdued-color);
  $background-color:  map-get($app-theme, app-background-color);
  $darker-background-color:  darken($background-color, 4%);
  $is-dark: map-get($theme, is-dark);

  .page-side-nav {
    background-color: $background-color;
    &__desktop {
      background-color: $darker-background-color;
      .page-side-nav__items-header {
        &::before {
          background: gradient-generator($darker-background-color);
        }
      }
    }
    &__item {
      color: map-get($app-theme, subdued-color);
      &--active {
        background-color: transparentize($primary-color, .9);
        color: $primary-color;
        @if $is-dark == true {
          background-color: transparentize($primary-color, .8);
          color: mat-contrast($primary, 500);
        }
      }
    }
    &__items-header {
      &::before {
        background: gradient-generator($background-color);
      }
    }
  }
}
