@import '../../../../sass/mixins';
.page-side-nav {
  $item-header-padding: 20px;
  $border-color: rgba(0, 0, 0, .1);
  border-right: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 200px;
  z-index: 1;
  &:hover {
    .page-side-nav__items {
      display: block;
    }
  }
  &__icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
  }
  &__item {
    align-items: center;
    border-color: transparent;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    letter-spacing: .01em;
    line-height: 18px;
    outline: 0;
    padding: 10px;
    padding-left: $item-header-padding;
    text-decoration: none;
    mat-icon {
      margin-right: 10px;
      text-align: center;
    }
  }
  &__item-sep {
    align-items: center;
    border-color: transparent;
    cursor: default;
    display: flex;
    font-size: 12px;
    letter-spacing: .01em;
    line-height: 18px;
    outline: 0;
    padding: 10px;
    padding-left: $item-header-padding;
    text-decoration: none;
    text-transform: uppercase;
  }
  &__items {
    border-bottom: 1px solid $border-color;
    display: none;
    flex: 1;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
  }
  %base-item-header {
    border-bottom: 1px solid $border-color;
    font-weight: bold;
    height: 48px;
    opacity: .6;
    overflow: hidden;
    padding: 0 $item-header-padding;
    position: relative;
  }
  &__items-header {
    @extend %base-item-header;
    display: none;
  }
  &__breadcrumbs {
    direction: ltr;
  }
  &__items-compact-header {
    @extend %base-item-header;
    align-items: baseline;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__items-compact-tab-label {
    font-weight: bold;
  }
  &__items-compact-dropdown {
    position: absolute;
    right: 4px;
  }
  &#{&}__desktop {
    border-bottom: 0;
    height: 100%;
    position: relative;
    .page-side-nav {
      &__items-compact-header {
        display: none;
      }
      &__items-header {
        align-items: center;
        display: flex;
      }
      &__items {
        display: block;
      }
    }
  }
}
