.connection-dialog {
  $dialog-padding: 24px;
  max-width: 450px;
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__loading {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    &-wrapper {
      position: relative;
      margin: 0 -24px;
      transform: translateY(-24px);
    }
  }
  &__actions {
    justify-content: flex-end;
  }
  &__auth {
    display: flex;
    flex-direction: column;
  }
  &__shared {
    padding-bottom: 24px;
  }
  &__title {
    display: flex;
    h2 {
      flex: 1;
    }
  }
  &__help {
    height: 32px;
    line-height: 32px;
    width: 32px;
  }
}

