.quota-definition-base {
  &__name-sub-text {
    font-size: 14px;
    opacity: .6;
  }
  &__title {
    margin: 10px 0;
  }
  &__name {
    margin: 0;
  }
  &__section-header {
    margin: 10px 0;
    opacity: .6;
  }
  &__basic-services {
    display: flex;
    margin: 8px 0;
  }
  &__basic-services-label {
    margin-right: 10px;
    opacity: .6;
  }
}
