.boolean-metric-card {
  height: 100%;
  &__anchor {
    cursor: pointer;
  }
  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 12px;
    > div {
      flex: 1;
    }
  }
  &__icon {
    flex: 0 0 40px;
    font-size: 40px;
    height: 40px;
    margin-right: 12px;
    width: 40px;
  }
  &__label {
    font-size: 15px;
  }
  &__value {
    font-size: 23px;
  }
  &__limit {
    font-size: 18px;
  }
}
