<div *ngIf="!placeholder" class="favorite-entity-list">
  <div class="favorite-entity-list__cards" *ngIf="limitedEntities && limitedEntities.length">
    <app-favorites-meta-card *ngFor="let entity of limitedEntities" class="favorite-entity-list__card" [favoriteEntity]="entity"
      [compact]="true"></app-favorites-meta-card>
  </div>
  <button class="favorite-entity-list__expand-button" *ngIf="_entities && _entities.length > minLimit" (click)="toggleExpand()"
    mat-icon-button>
    <mat-icon *ngIf="limit === null">expand_less</mat-icon>
    <mat-icon *ngIf="limit !== null">expand_more</mat-icon>
  </button>
</div>

<div *ngIf="placeholder" class="favorite-entity-list">
  <div class="favorite-entity-list__cards">
    <app-favorites-meta-card class="favorite-entity-list__card" [placeholder]="true"></app-favorites-meta-card>
    <app-favorites-meta-card class="favorite-entity-list__card" [placeholder]="true"></app-favorites-meta-card>
    <app-favorites-meta-card class="favorite-entity-list__card" [placeholder]="true"></app-favorites-meta-card>
  </div>
</div>