@import '../../../../sass/colors';
$app-header-height: 56px;
.dashboard {
  background-color: transparent;
  height: 100vh;
  &__inner {
    display: flex;
    height: 100%;
  }
  &__content {
    margin-top: $app-header-height;
    max-height: 100%;
    overflow: auto;
    padding: 20px 2% 2%;
    width: 100%;
  }
  &___subHeader {
    margin-top: 102px;
  }
}

.routing-indicator {
  left: 0;
  position: absolute;
  right: 0;
  z-index: 999;
}
