@import '../../../../sass/colors';
$app-header-height: 56px;
.dashboard {
  background-color: transparent;
  height: 100vh;
  &__inner {
    display: flex;
    height: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-top: $app-header-height;
    max-height: 100%;
    overflow: auto;
    padding: 20px 2% 2%;
    width: 100%;
  }
  &___subHeader {
    margin-top: $app-header-height * 2;
  }
}
