.manage-instances {
  padding: 0 $console-unit-space;
  // env vars window shown over needs some space
  min-height: 400px;

  .service-description {
    display: flex;
    padding: 0;

    .service-icon {
      padding: 0 $console-unit-space/2 $console-unit-space 0;

      img {
        max-height: $console-unit-space * 4;
        max-width: $console-unit-space * 4;
      }
    }
  }

  .btn-link {
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      outline: 0;
    }
  }

  .min-col-header {
    width: 1px;
    white-space: nowrap;
  }
}

.env-variables {
  margin: $console-unit-space;

  pre {
    white-space: pre-wrap;
  }
}
