<div class="roles-tables">
  <div class="roles-table-org"
       ng-if="!rolesTablesCtrl.config.disableOrg"
       ng-class="{'roles-table-org-with-space': (rolesTablesCtrl.ctrl.displayedSpaces.length > 0)}">
    <div class="roles-table"
         st-table="rolesTablesCtrl.ctrl.displayedOrgs"
         st-safe-src="rolesTablesCtrl.org"
         roles-smart-search="rolesTablesCtrl.filter"
         roles-smart-search-by="{{ 'details.org.entity.name' }}"
         roles-smart-search-disable="rolesTablesCtrl.ctrl.displayedSpaces.length"
         ng-show="rolesTablesCtrl.ctrl.displayedOrgs.length > 0 || rolesTablesCtrl.ctrl.displayedSpaces.length > 0">
      <table class="table table-outlined table-selectable">
        <thead>
        <tr>
          <th st-sort="details.org.entity.name" st-sort-default="true" translate>ORGANIZATION</th>
          <th ng-repeat="(key, role) in rolesTablesCtrl.config.orgRoles">{{role}}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="org in rolesTablesCtrl.ctrl.displayedOrgs">
          <td>{{ org.details.org.entity.name }}</td>
          <td ng-repeat="(roleKey, role) in rolesTablesCtrl.config.orgRoles">
            <checkbox-input ng-model="rolesTablesCtrl.selection.organization[roleKey]" input-disabled="rolesTablesCtrl.canAssignOrgRoles(org.details.org)></checkbox-input>
          </td>
          <td>
            <a ng-if="rolesTablesCtrl.config.containsRoles(org.details.org.metadata.guid)"
               ng-click="rolesTablesCtrl.config.removeFromOrg(org.details.org.metadata.guid)">
              Remove from Org</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="roles-table-spaces" ng-if="rolesTablesCtrl.spaces.length > 0">
    <div class="roles-table"
         st-table="rolesTablesCtrl.ctrl.displayedSpaces"
         st-safe-src="rolesTablesCtrl.spaces"
         roles-smart-search="rolesTablesCtrl.filter"
         roles-smart-search-by="label"
         ng-show="rolesTablesCtrl.ctrl.displayedSpaces.length > 0" >
      <table class="table table-outlined table-selectable">
        <thead>
        <tr>
          <th st-sort="label" st-sort-default="true" translate>SPACE</th>
          <th
            ng-repeat="(roleKey, role) in rolesTablesCtrl.config.spaceRoles"
            ng-if="role || !rolesTablesCtrl.config.disableOrg">{{role}}</th>
          <th ng-if="!rolesTablesCtrl.config.disableOrg">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="space in rolesTablesCtrl.ctrl.displayedSpaces">
          <td>{{ space.label }}</td>
          <td
            ng-repeat="(roleKey, role) in rolesTablesCtrl.config.spaceRoles"
            ng-if="role || !rolesTablesCtrl.config.disableOrg">
            <checkbox-input
              ng-if="role"
              ng-model="rolesTablesCtrl.selection.spaces[space.key][roleKey]" input-disabled="rolesTablesCtrl.canAssignSpaceRoles(space.key)"></checkbox-input>
            <span ng-if="!role">&nbsp;</span>
          </td>
          <td ng-if="!rolesTablesCtrl.config.disableOrg"></td>
        </tr>
        </tbody>
        <tfoot ng-init="rolesTablesCtrl.ctrl.pagesSpaceCount = 5"
               ng-show="rolesTablesCtrl.ctrl.pagesSpaceCount < rolesTablesCtrl.spaces.length">
        <tr>
          <td colspan="6" class="text-center">
            <a ng-click="rolesTablesCtrl.ctrl.pagesSpaceCount = rolesTablesCtrl.spaces.length">
              <span translate>Show All</span> ({{rolesTablesCtrl.spaces.length}})
            </a>
            <div ng-show="false" st-pagination="" st-items-by-page="rolesTablesCtrl.ctrl.pagesSpaceCount"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
