.roles-tables {

  .roles-table-org.roles-table-org-with-space table {
    margin-bottom: 0;
    border-bottom-width: 0;
  }

  table.table {
    & > thead > tr > th, & > tbody > tr > td {
      padding-right: 0;
    }

    th {
      min-width: 145px;
      &:first-of-type {
        min-width: 150px;
      }
      &:nth-of-type(2), &:nth-of-type(3) {
        //width: 22%;
        min-width: 125px;
      }
      &:nth-of-type(5) {
        min-width: 115px;
      }

      text-transform: capitalize;
      th:first-of-type{
        text-transform: uppercase;
      }
    }

    td {
      &:last-of-type {
        font-size: 15px
      }
    }
  }
}
