mat-form-field {
  .mat-form-field-infix {
    width: inherit;
  }
}

.cell-edit-variable {
  width: 100%;
  &__var-text {
    cursor: pointer;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 75%;
  }
}
