.favorites-list {
  flex: 2;
  margin-right: 40px;
}
.recent-list {
  flex: 1;
}
.stats-panel {
  flex: 40%;
  margin-left: 20px;
  padding-left: 24px;
}

.home-page {
  display: flex;
  &__header {
    margin-top: 0;
  }
}
