.service-card {
  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 6px;
    }
    mat-icon {
      font-size: 16px;
      height: 16px;
      margin-right: 2px;
      text-decoration: none;
      width: 16px;
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}
