@mixin console-alert($color, $icon, $bg-color, $no-bg-icon, $fg-color: $white) {
  border-width: $console-alert-border-width;
  background-color: $bg-color;
  color: $fg-color;

  &:before {
    @extend .material-icons;
    background-color: $color;
    color: $fg-color;
    font-size: $console-alert-icon-size;
    content: $icon;
  }

  .alert-link {
    color: $fg-color;
  }

  &.alert-no-bg {
    background-color: transparent;
    color: $text-color;

    &:before {
      background-color: transparent;
      color: $color;
      content: $no-bg-icon;
    }

    .alert-link {
      color: $brand-primary;
    }
  }
}
