.favorite-list {
  &__group {
    margin-bottom: 24px;
  }
  &__endpoint-card {
    margin-bottom: 10px;
    min-height: 200px;
  }
  &__entities {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    width: 100%;
  }
  &__empty-text {
    margin-bottom: 20px;
  }
  &__seperator {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-left: 25%;
    width: 50%;
  }
}
