select-input {
  display: block;

  &:hover, label:hover {
    cursor: pointer;
  }

  .dropdown {
    min-width: 100%;
  }

  .dropdown-menu {
    left: 0;
    top: 0;
    margin-top: 0;
    min-width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }

  .select-input-field {
    @include helion-flex-align(flex-start, center);

    .dropdown-toggle {
      margin-left: auto;
    }

    .select-input-value {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .select-option {
    white-space: nowrap;

    &:hover,
    &:focus,
    &:active {
      background: $select-input-selected-bg;
      color: $select-input-selected-fg;
    }
  }
}
