.mat-radio-outer-circle {
  height: 15px;
  top: 2.5px;
  width: 15px;
}

.app-autoscaler-tile-grid-100 {
  width: 100%;
}

.autoscaler-policy-edit {
  display: flex;
  position: relative;
  width: 100%;
  &__actions {
    bottom: 10px;
    padding-top: 0;
    position: absolute;
    right: 24px;
    text-align: right;
  }
}

.app-metadata {
  display: flex;
  flex-direction: row;
  &__two-cols {
    flex: 1;
    margin-right: 3em;
    app-metadata-item:first-child {
      margin-top: 0;
    }
  }
}

.autoscaler-policy-edit-recurring {
  max-width: 100%;
  .form-field-left {
    margin-right: .5em;
  }
  .form-field-30 {
    width: 30%;
  }
  .form-field-50 {
    width: 50%;
  }
}
