$app-state-tentative-color: $status-unknown !default;

app-state-icon {
  line-height: normal;
  font-size: $font-size-base;
  height: auto;

  bounce-spinner {
    vertical-align: middle;
    line-height: 1;
    > div {
      width: 42px;
    }
  }
}

.text-tentative {
  color: $app-state-tentative-color;
}

span.material-icons.app-status {
  font-size: $icon-font-size-base;
}

.app-status-icon-ok:after {
  content: 'lens';
}

.app-status-icon-warning:after {
  content: 'warning';
}

.app-status-icon-error:after {
  content: 'cancel';
}

.app-status-icon-delete:after {
  content: 'delete';
}

.app-status-icon-busy:after {
  content: 'hourglass_empty';
}
