<!-- Top navigation -->
<nav class="secondary-nav"
  ng-class="{'navbar-icons-only' : applicationCtrl.navbarIconsOnly, 'navbar-hidden': applicationCtrl.hideNavigation}">
    <div ng-if="!applicationCtrl.hideNavigation" type="button"
            class="navbar-toggle-labels collapsed navbar-responsive-menu-btn"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar">
      <i class="material-icons">menu</i>
    </div>
    <div ng-if="!applicationCtrl.hideNavigation" class="navbar-toggle-labels navbar-toggle-width">
      <i ng-click="navBarCtrl.toggleNav(applicationCtrl)" class="material-icons">menu</i>
    </div>
    <div class="secondary-navbar">
      <secondary-nav></secondary-nav>
    </div>
    <div class="user-avatar" id="navbar-user-menu-dropdown" ng-if="!applicationCtrl.hideAccount">
      <div class="action-menu-wrapper">
        <div class="actions-menu dropdown">
          <div class="nav-item actions-menu-icon dropdown-toggle user-avatar-action-button" data-toggle="dropdown">
            <div class="nav-item-inner">
              <i class="material-icons">account_circle</i>
              <span>{{ navBarCtrl.accountModel.getAccountData().username }}</span>
            </div>
          </div>

          <ul class="actions-menu-list dropdown-menu actions-menu-right">
            <li ng-repeat-start="menuItem in navBarCtrl.userNavModel" ng-if="!menuItem.hidden && menuItem.href"
              id="user-navmenu-item-{{menuItem.name}}"
              translate translate-values="{{menuItem.textValues()}}"
              class="actions-menu-item" ui-sref="{{ menuItem.href }}" ui-sref-opts="{reload: true}" tabindex="0">{{ menuItem.text || menuItem.name }}</li>
            <li ng-repeat-end ng-if="!menuItem.hidden && menuItem.onClick"
              id="user-navmenu-item-{{menuItem.name}}"
              translate translate-values="{{menuItem.textValues()}}"
              class="actions-menu-item" ng-click="menuItem.onClick()" tabindex="0">{{ menuItem.text || menuItem.name }}</li>
            <li ng-if="navBarCtrl.userNavModel.length > 0" role="separator" class="divider"></li>
            <li id="navbar-item-logout" translate class="actions-menu-item" ng-click="applicationCtrl.logout()" tabindex="0">menu.logout</li>
          </ul>
        </div>
      </div>
    </div>
</nav>
<!-- Side navigation -->
<div id="navbar" class="primary-nav"
  ng-class="{'navbar-icons-only' : applicationCtrl.navbarIconsOnly, 'navbar-hidden': applicationCtrl.hideNavigation}">
  <div ng-if="!applicationCtrl.hideNavigation" class="navbar-menu">
    <div ng-class="{'nav-logo-hide': applicationCtrl.navbarIconsOnly}" class="nav-logo">
      <app-icon icon-class="nav-logo-icon" icon="{{ 'navbar.logo' | translate }}"></app-icon>
    </div>
    <div ng-class="{'nav-logo-hide': !applicationCtrl.navbarIconsOnly}" class="nav-brand">
      <span class="navbar-brand" translate>navbar.title</span>
    </div>
    <navigation ></navigation>
  </div>
</div>
