:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.source-upload {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  &__fileSize {
    font-size: 24px;
    padding: 24px 0;
  }
  &__fileName {
    direction: rtl;
    font-size: 16px;
    max-width: 80%;
    overflow: hidden;
    padding: 24px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__complete {
    font-size: 16px;
    font-weight: 600;
    padding: 24px 0;
  }
}
