$scpro-font-path: 'fonts' !default;

/* Source Code Pro Regular */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('#{$scpro-font-path}/SourceCodePro-Regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* Source Code Pro Bold */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'), url('#{$scpro-font-path}/SourceCodePro-Bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
