@import '~@angular/material/theming';
@mixin action-monitor-icon-theme($theme, $app-theme) {
  $status-colors: map-get($app-theme, status);
  .monitor-icon {
    &__error {
      color: map-get($status-colors, danger);
    }
    &__done {
      color: map-get($status-colors, success);
    }
  }
}
