<div>
  <app-tile-grid fit="true">
    <app-tile-group>
      <app-tile>
        <app-card-cf-space-details>
        </app-card-cf-space-details>
      </app-tile>
    </app-tile-group>

    <app-tile-group>
      <app-tile>
        <app-card-number-metric link="/cloud-foundry/{{cfSpaceService.cfGuid}}/organizations/{{cfSpaceService.orgGuid}}/spaces/{{cfSpaceService.spaceGuid}}/apps" icon="apps" label="Applications" labelSingular="Application" value="{{ (cfSpaceService.apps$ | async)?.length }}"></app-card-number-metric>
      </app-tile>
      <app-tile>
        <app-card-number-metric icon="content_copy" label="App Instances" value="{{ (cfSpaceService.appInstances$ | async) }}" limit="{{ (cfSpaceService.quotaDefinition$ | async)?.entity.app_instance_limit}}"></app-card-number-metric>
      </app-tile>
      <app-tile>
        <app-card-number-metric link="/cloud-foundry/{{cfSpaceService.cfGuid}}/organizations/{{cfSpaceService.orgGuid}}/spaces/{{cfSpaceService.spaceGuid}}/service-instances" iconFont="stratos-icons" icon="service" label="Service Instances" value="{{ (cfSpaceService.serviceInstances$ | async)?.length }}"
          limit="{{ (cfSpaceService.quotaDefinition$ | async)?.entity.total_services }}"></app-card-number-metric>
      </app-tile>
    </app-tile-group>

    <app-tile-group>
      <app-tile>
        <app-card-number-metric icon="memory" label="Memory Usage" units="mb" value="{{ (cfSpaceService.totalMem$ | async) }}" limit="{{ (cfSpaceService.quotaDefinition$ | async)?.entity.memory_limit }}"></app-card-number-metric>
      </app-tile>
      <app-tile>
        <app-card-number-metric link="/cloud-foundry/{{cfSpaceService.cfGuid}}/organizations/{{cfSpaceService.orgGuid}}/spaces/{{cfSpaceService.spaceGuid}}/users" icon="person" label="Users" labelSingular="User" value="{{(cfSpaceService.allSpaceUsers$ | async)?.length}}"></app-card-number-metric>
      </app-tile>
      <app-tile>
        <app-card-number-metric link="/cloud-foundry/{{cfSpaceService.cfGuid}}/organizations/{{cfSpaceService.orgGuid}}/spaces/{{cfSpaceService.spaceGuid}}/routes" iconFont="stratos-icons" icon="network_route" label="Routes" value="{{ (cfSpaceService.routes$ | async)?.length }}"
          limit="{{ (cfSpaceService.quotaDefinition$ | async)?.entity.total_routes}}"></app-card-number-metric>
      </app-tile>
    </app-tile-group>

    <app-tile-group>
      <app-tile>
        <app-card-cf-recent-apps></app-card-cf-recent-apps>
      </app-tile>
    </app-tile-group>

  </app-tile-grid>
</div>
