<p>
  Supply the API Url for your Cloud Foundry endpoint
</p>
<form #form="ngForm">
  <mat-form-field novalidate>
    <input matInput id="url" name="url" [(ngModel)]="urlValue" #urlField="ngModel" type="url" required placeholder="Cloud Foundry API Endpoint"
      pattern="{{utilsService.urlValidationExpression}}" [appUnique]="endpointUrls | async">
    <mat-error *ngIf="urlField.errors && urlField.errors.required">URL is required</mat-error>
    <mat-error *ngIf="urlField.errors && urlField.errors.pattern">Invalid API URL</mat-error>
    <mat-error *ngIf="urlField.errors && urlField.errors.appUnique">URL is not unique</mat-error>
  </mat-form-field>
  <mat-checkbox matInput name="skipSll" #skipSllField="ngModel" [ngModel]="skipSllValue">Skip SSL validation for the endpoint</mat-checkbox>
</form>
