@import "login-form/login-form";

.login-page {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;

  .login-page-left-space, .login-page-right-space {
    flex: 1;
  }

  @media (max-width: $screen-lg) {
    .login-page-left-space, .login-page-right-space {
      flex: 0.5;
    }
  }

  .login-left, .login-right {
    flex: 5;
    max-width: 600px;
  }

  .login-left {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $screen-sm-min) {
    .login-left {
      display: none;
    }
  }

  .login-page-headline {
    font-weight: $console-font-weight-light;
    color: $brand-primary;
    font-size: 52px;

    margin-top: 0;
    margin-bottom: 0;
  }

  .login-page-tagline {
    font-weight: normal;
    color: $text-color;

    font-size: $font-size-large;
    margin-top: $console-unit-space;
    margin-bottom: $console-unit-space;
  }

  .login-right {
    min-width: 362px;
    min-height: 392px;
  }

}
