@import "login-form/login-form";

.login-page {
  display: flex;
  margin-top: 100px;

  .login-left, .login-right {
    flex: $landing-page-spacer-content-flex / 2;
    max-width: $landing-page-spacer-content-max-width / 2;
  }

  .login-left {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $screen-sm-min) {
    .login-left {
      display: none;
    }
  }

  .login-page-headline {
    font-weight: $console-font-weight-light;
    color: $brand-primary;
    font-size: 52px;

    margin-top: 0;
    margin-bottom: 0;
  }

  .login-page-tagline {
    color: $text-color;

    font-size: $font-size-large;
    margin-top: $console-unit-space;
    margin-bottom: $console-unit-space;
  }

  .login-right {
    min-width: 362px;
    min-height: 410px;
  }

}

@media (max-height: 650px) {
  .login-page {
    margin-top: 50px;
  }
}

@media (max-height: 500px) {
  .login-page {
    margin-top: 25px;
  }
}

@media (max-height: 350px) {
  .login-page {
    margin-top: 12px;
  }
}
