$console-spinkit-sm:        $console-unit-space / 2 !default;
$console-spinkit-med:       $console-unit-space !default;
$console-spinkit-lg:        $console-unit-space * 3 !default;

$console-spinkit-dark-bg:   $console-primary-fg !default;
$console-spinkit-light-bg:  $white !default;
