.poll-icon {
  animation: spin .4s infinite linear;
  animation-play-state: paused;
  transform: rotate(0deg);
  transition: transform 1s linear;
}

.polling {
  animation-play-state: running;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
