.poll-icon {
  animation: spin 1.5s infinite linear;
  animation-play-state: paused;
  transform: rotate(0deg);
  transition: transform 1s linear;
}

.poll-icon--spin {
  animation-play-state: running;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-359deg);
  }
}
