$padding-base-vertical:     6px !default;
$padding-base-horizontal:   16px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  20px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       3px !default;
$padding-xs-horizontal:     4px !default;

$console-unit-space:        24px !default;
$console-half-space:        $console-unit-space / 2 !default;
