// typography
// ==========

// Console semantic names
// ------------------
$console-font-family:             Lato, sans-serif !default;
$console-letter-spacing:          0.025em;
$console-font-weight-light:       300;
$console-font-weight-semibold:    600;
$console-font-weight-bold:        700;
$console-font-weight-strongbold:  900;

// Bootstrap binding names
// -----------------------
$font-family-base:            $console-font-family !default;

$font-size-base:              13px !default;
$font-size-medium:            14px !default;
$font-size-large:             16px !default;
$font-size-small:             12px !default;
$font-size-smaller:           10px !default;

$font-size-large2:            20px !default;
$font-size-h1:                32px !default;

$line-height-base:            1.5 !default;
$line-height-computed:        floor(($font-size-base * $line-height-base)) !default;

$headings-font-weight:         $console-font-weight-semibold;

// Commmon font sizes

$font-size-nav:               15px !default;
$font-size-heading:           $font-size-large2;
$font-size-monospace:         15px;

$icon-font-size-base:         20px !default;