<div class="uaa-wizard">
  <app-steppers>
    <app-step title="Step {{ steps[0] }}">
      <div>
        <p>Welcome to SUSE Cloud Foundry Console.</p>
        <p>
          SUSE Cloud Foundry Console is an Open Source Web-based UI (Console) for managing Cloud Foundry. It allows users and administrators
          to both manage applications running in the Cloud Foundry cluster and perform cluster management tasks.
        </p>
        <p>Before accessing the console for the first time some configuration information is required. Press <b>NEXT</b> to
          get started.</p>
      </div>
    </app-step>
    <app-step title="Step 2">
      <div>step {{ steps[1] }}</div>
    </app-step>
    <app-step title="Step 3">
      <div>step {{ steps[2] }}</div>
    </app-step>
    <app-step title="Step 4">
      <div>step {{ steps[3] }}</div>
    </app-step>
  </app-steppers>
</div>
