@import '../../../../sass/colors';
.dashboard {
  height: 100vh;
  background-color: transparent;
  &__inner {
    height: 100%;
    display: flex;
  }
  &__content {
    margin-top: 64px;
    padding: 20px 150px;
    width: 100%;
    max-height: 100%;
    overflow: auto;
  }
}
