@import '../../../../sass/colors';

$appHeaderHeight: 56px;

.dashboard {
  height: 100vh;
  background-color: transparent;
  &__inner {
    display: flex;
    height: 100%;
  }
  &__content {
    margin-top: $appHeaderHeight;
    max-height: 100%;
    overflow: auto;
    padding: 20px 2% 2%;
    width: 100%;
  }
  &___subHeader {
    margin-top: $appHeaderHeight * 2;
  }
}
