@import '~@angular/material/theming';
@mixin side-nav-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background-colors: map-get($theme, background);
  $foreground-colors: map-get($theme, foreground);
  .side-nav {
    background-color: mat-color($background-colors, background);
    $border-color: mat-color($primary, 700);
    &__top {
      background-color: mat-color($primary, 500);
    }
    &__item {
      border-bottom: 1px solid $border-color;
      color: map-get($foreground-colors, secondary-text);
      transition: color ease .3s;
      &:hover {
        background-color: map-get($background-colors, hover);
        color: map-get($foreground-colors, text);
      }
      &--active,
      &--active:hover {
        color: mat-color($primary);
      }
    }
    &__items {
      color: map-get($app-theme, app-background-text-color);
    }
    &__logo-text {
      color: mat-contrast($primary, 500);
    }
  }
}
