.wizard-nav-item.complete {
  a:after {
    @extend .material-icons;
    color: $hpe-primary;
    content: 'check';
    float: right;
  }
}

.wizard-message {
  margin-bottom: $hpe-unit-space / 2;
  z-index: 2;
}
