<div class="registration-form">
  <p ng-if="asyncTaskDialogCtrl.context.description">{{asyncTaskDialogCtrl.context.description}}</p>
  <form name="registrationForm">
    <div class="form-group" focusable-input
         ng-class="{'has-error': registrationForm.url.$invalid && registrationForm.url.$dirty}">
      <label class="control-label" translate>Endpoint Address</label>
      <span class="control-message">
        <span translate
              ng-if="registrationForm.url.$error.pattern && registrationForm.url.$dirty">
          Invalid url format
        </span>
        <span translate
              ng-if="registrationForm.url.$error.helionUnique && registrationForm.url.$dirty">
          Url is not unique
        </span>
      </span>
      <input type="text" name="url" class="form-control" ng-model="asyncTaskDialogCtrl.context.data.url"
             required
             ng-pattern="/^http(s)?://(.)+$/"
             helion-unique items="asyncTaskDialogCtrl.context.instances"
             ignore-case/>
    </div>
    <div class="form-group" focusable-input
         ng-class="{'has-error': registrationForm.name.$invalid && addClusterForm.name.$dirty}">
      <label class="control-label" translate>Name</label>
      <input type="text" name="name" class="form-control" ng-model="asyncTaskDialogCtrl.context.data.name" required/>
    </div>
  </form>
</div>
