<div class="register-service-details">

  <div class="register-content-left" ng-if="wizardCtrl.options.userInput.type === 'hcf'">
    <p translate><a href="https://www.cloudfoundry.org/" rel="noopener noreferrer" target="_blank" translate>
      {{ OEM_CONFIG.CLOUD_FOUNDRY }}</a> supports the full application lifecycle, from initial development, through testing to
      deployment.</p>
    <p translate>Register an existing {{ OEM_CONFIG.CLOUD_FOUNDRY }} endpoint to allow your development team to create and manage
      their applications.</p>
    <p translate>When registering, choose a unique, recognizable name so that your developers can easily
      know which {{ OEM_CONFIG.CLOUD_FOUNDRY }} endpoint they are working with.</p>
  </div>
  <div class="register-content-left" ng-if="wizardCtrl.options.userInput.type === 'hce'">
    <p translate>{{ OEM_CONFIG.CODE_ENGINE }} is a continuous delivery service for enterprise development teams that automates
      build, test, and deploy cycles. Developers can push and merge changes into their source control system (e.g.
      GitHub or GitHub Enterprise) and {{ OEM_CONFIG.CODE_ENGINE }} builds, tests, and deploys each change.</p>
    <p translate>Register an existing {{ OEM_CONFIG.CODE_ENGINE }} endpoint to allow your development team to automate their
      application development process.</p>
    <p translate>When registering, choose a unique, recognizable name so that your developers can easily
      know which {{ OEM_CONFIG.CODE_ENGINE }} endpoint they are working with.</p>
  </div>
  <div class="register-content-left" ng-if="wizardCtrl.options.userInput.type === 'hsm'">
    <p translate>Service Manager text here</p>
    <p translate>Register an existing Service Manager. </p>
    <p translate>When registering, choose a unique, recognizable name so that your developers can easily
      know which Service Manager endpoint they are working with.</p>
  </div>
  <div class="register-content-left" ng-if="wizardCtrl.options.userInput.type === 'hcp'">
    <p translate>HCPtext here</p>
    <p translate>Register an existing HCP. </p>
    <p translate>When registering, choose a unique, recognizable name so that your developers can easily
      know which Service Manager endpoint they are working with.</p>
  </div>
  <div class="register-content-right">
    <h4>{{step.title}}</h4>
    <div>
      <div class="form-group" focusable-input
           ng-class="{'has-error': wizardForm[step.formName][step.nameOfUrlInput].$invalid && wizardForm[step.formName][step.nameOfUrlInput].$dirty}">
        <label class="control-label" translate>Endpoint Address</label>
        <span class="control-message">
        <span translate
              ng-if="wizardForm[step.formName][step.nameOfUrlInput].$error.required && wizardForm[step.formName][step.nameOfUrlInput].$dirty">
          Url is required
        </span>
        <span translate
              ng-if="wizardForm[step.formName][step.nameOfUrlInput].$error.pattern && wizardForm[step.formName][step.nameOfUrlInput].$dirty">
          Invalid url format
        </span>
        <span translate
              ng-if="wizardForm[step.formName][step.nameOfUrlInput].$error.helionUnique && wizardForm[step.formName][step.nameOfUrlInput].$dirty">
          Url is not unique
        </span>
      </span>
        <input type="text" name="{{step.nameOfUrlInput}}" class="form-control"
               ng-model="wizardCtrl.options.userInput.url"
               required
               placeholder="{{ step.urlHint }}"
               ng-pattern="step.urlValidationExpr"
               helion-unique items="step.instanceUrls"
               ignore-case
               auto-focus/>
      </div>
      <div class="form-group" focusable-input
           ng-class="{'has-error': wizardForm[step.formName][step.nameOfNameInput].$invalid && wizardForm[step.formName][step.nameOfNameInput].$dirty}">
        <label class="control-label" translate>Name</label>
      <span class="control-message">
        <span translate ng-if="wizardForm[step.formName][step.nameOfNameInput].$error.required">Name is required</span>
        <span translate ng-if="wizardForm[step.formName][step.nameOfNameInput].$error.helionUnique">Name is not unique</span>
      </span>
        <input type="text" name="{{step.nameOfNameInput}}" class="form-control"
               ng-model="wizardCtrl.options.userInput.name"
               helion-unique items="step.instanceNames"
               ignore-case
               required/>
      </div>
      <div class="form-group skip-ssl-validation-checkbox" focusable-input>
        <checkbox-input ng-model="wizardCtrl.options.userInput.skipSslValidation"
                        input-label="{{'Skip SSL validation for the endpoint' | translate}}">
        </checkbox-input>
      </div>
    </div>
  </div>
</div>
