.modal.detail-view .register-service-wizard {
  .wizard {
    height: initial;

    .register-content-right {
      h4 {
        margin-top: 0;
      }
    }

    .register-service-type {
      display: flex;
      flex-direction: row;

      .register-content-left {
        flex: 3 1 0;
        padding-right: 40px
      }

      .register-content-right {
        flex: 5 1 0;
        display: flex;
        flex-direction: column;

        .media-list .media {
          .media-object {
            width: 77px;
          }
          &.register-type-hce {
            .media-left {
              .media-object {
                text-align: center;
                img {
                  width: 68px;
                  padding-left: 3px;
                }
              }
            }
          }

          .media-body {
            width: 0;
          }

          .media-right {
            .btn-link {
              padding-right: 0;

              &:hover,
              &:focus,
              &:active {
                text-decoration: none;
                outline: 0;

                .add-icon {
                  border-color: $link-hover-color;
                }
              }

              .add-icon {
                border: 2px solid $brand-primary;
                font-size: $hpe-unit-space / 2;
                border-radius: 50%;
                padding: $hpe-unit-space / 6;
                margin-left: $hpe-unit-space / 4;
              }
            }
          }
        }

        .btn-default {
          align-self: flex-end;
          margin: $hpe-unit-space 2px;
        }
      }
    }

    .register-service-details {
      display: flex;
      flex-direction: row;

      .register-content-left {
        flex-grow: 1;
        padding-right: 40px
      }

      .register-content-right {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .register-service-details-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        button {
          margin: $hpe-unit-space 0 $hpe-unit-space/2 $hpe-unit-space/2;
        }
      }
    }
  }

  @media (max-width: $screen-lg) {
    height: 100%;
    .wizard {
      .register-service-type {
        flex-direction: column;
        .register-content-left {
          padding-right: 0;
          padding-bottom: 40px;
        }
        .register-content-right {
          flex-basis: auto;
        }
      }
      .register-service-details {
        flex-direction: column;
        align-items: flex-start;
        .register-content-left {
          padding-right: 0;
          padding-bottom: 40px;
        }
      }
    }
  }
}
