.autoscaler-policy-edit-steppers {
  height: 100%;
  app-edit-autoscaler-policy-step1 {
    width: 50%;
  }
  app-edit-autoscaler-policy-step2 {
    width: 100%;
  }
  app-edit-autoscaler-policy-step3 {
    width: 100%;
  }
  app-edit-autoscaler-policy-step4 {
    width: 100%;
  }
}
