@import "account-actions/account-actions";

avatar, [avatar] {
  .popover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;

    & > .arrow {
      border-width: 18px;
    }

    &.bottom > .arrow {
      margin-left: -11px;
      border-bottom-color: rgba(0, 0, 0, 0.35);
      top: -18px;
      left: auto;
      right: 15px;

      &:after {
        border-width: 17px;
        margin-left: -17px;
        border-top-width: 0;
      }
    }

    .popover-content {
      padding: 24px;
      font-side: 16pt;
      line-height: 24px;
    }

    max-width: 1000px;
    top: 75px;
    left: auto;
    right: 17px;
    display: block;
  }
}
