<div class="panel panel-default summary firehose-container" ng-class="{fullscreen: firehoseCtrl.fullScreen}">

  <div class="panel-heading action-header firehose-header">

    <div class="firehose-header-top">
      <div class="firehose-status">
        <div class="log-stream-title" translate>Firehose Stream</div>
        <span ng-if="firehoseCtrl.streamingStatus !== 2" class="app-log-stream-indicator helion-icon"
              ng-class="{
                'helion-icon-Active_S text-primary': firehoseCtrl.streamingStatus === 1,
                'helion-icon-Critical_S text-danger': firehoseCtrl.streamingStatus === 3
              }"></span>
        <bounce-spinner ng-if="firehoseCtrl.streamingStatus === 2"
                        class="app-log-stream-indicator" classes="bounce-spinner-sm"></bounce-spinner>
      </div>

      <span ng-click="firehoseCtrl.fullScreen = true" ng-if="!firehoseCtrl.fullScreen" class="fullscreen-toggle helion-icon-lg helion-icon helion-icon-Expand"></span>
      <span ng-click="firehoseCtrl.fullScreen = false" ng-if="firehoseCtrl.fullScreen" class="fullscreen-toggle helion-icon-lg helion-icon helion-icon-Contract"></span>
    </div>

    <div class="firehose-header-bottom">
      <div class="firehose-filters">
        <checkbox-input ng-class="{'api-filter': firehoseCtrl.hoseFilters.api}"
                        ng-change="firehoseCtrl.onFilterChanged(firehoseCtrl.hoseFilters.api)"
                        ng-model="firehoseCtrl.hoseFilters.api"
                        input-label="{{'API' | translate}}">
        </checkbox-input>
        <checkbox-input ng-class="{'apps-filter': firehoseCtrl.hoseFilters.apps}"
                        ng-change="firehoseCtrl.onFilterChanged(firehoseCtrl.hoseFilters.apps)"
                        ng-model="firehoseCtrl.hoseFilters.apps"
                        input-label="{{'Apps' | translate}}">
        </checkbox-input>
        <checkbox-input ng-class="{'metrics-filter': firehoseCtrl.hoseFilters.metrics}"
                        ng-change="firehoseCtrl.onFilterChanged(firehoseCtrl.hoseFilters.metrics)"
                        ng-model="firehoseCtrl.hoseFilters.metrics"
                        input-label="{{'Metrics' | translate}}">
        </checkbox-input>
        <checkbox-input ng-class="{'counters-filter': firehoseCtrl.hoseFilters.counters}"
                        ng-change="firehoseCtrl.onFilterChanged(firehoseCtrl.hoseFilters.counters)"
                        ng-model="firehoseCtrl.hoseFilters.counters"
                        input-label="{{'Counters' | translate}}">
        </checkbox-input>
        <checkbox-input ng-class="{'container-metrics-filter': firehoseCtrl.hoseFilters.containerMetrics}"
                        ng-change="firehoseCtrl.onFilterChanged(firehoseCtrl.hoseFilters.containerMetrics)"
                        ng-model="firehoseCtrl.hoseFilters.containerMetrics"
                        input-label="{{'Container Metrics' | translate}}">
        </checkbox-input>
        <checkbox-input ng-class="{'errors-filter': firehoseCtrl.hoseFilters.errors}"
                        ng-change="firehoseCtrl.onFilterChanged(firehoseCtrl.hoseFilters.errors)"
                        ng-model="firehoseCtrl.hoseFilters.errors"
                        input-label="{{'Errors' | translate}}">
        </checkbox-input>
      </div>

      <div class="scroll-to-bottom btn btn-link" ng-click="firehoseCtrl.autoScroll()">
        <i class="helion-icon helion-icon-Right_Arrow"></i>
        <span translate>Scroll to bottom</span>
      </div>
    </div>
  </div>

  <log-viewer class="log-viewer"
              auto-scroll-on="firehoseCtrl.autoScrollOn"
              websocket-url="firehoseCtrl.websocketUrl"
              colorize="true"
              filter="firehoseCtrl.jsonFilter"
              streaming="firehoseCtrl.streamingStatus"
              capacity-bytes="1048576"></log-viewer>
</div>
