.card-autoscaler-default {
  &__large {
    font-size: 16px;
  }

  &__compact {
    margin-bottom: 0;
    position: absolute;
  }

  &__actions {
    bottom: 24px;
    padding-top: 0;
    position: absolute;
    right: 24px;
    text-align: right;
  }

  mat-form-field {
    width: 50px;
    .mat-form-field-infix {
      border-top: unset;
    }
  }

  app-metadata-item {
    .metadata-item__content {
      flex-direction: row;
    }
  }

  .metadata-item__content {
    display: inline;
  }

  .metadata-item__value {
    display: inline;
    margin-right: 10px;
  }

  .metadata-item__label {
    display: inline;
    margin-right: 10px;
  }

}

.app-metadata {
  display: flex;
  flex-direction: row;
  &__two-cols {
    flex: 1;
    margin-right: 1em;
    app-metadata-item:first-child {
      margin-top: 0;
    }
  }
}

// .mat-card {
//   padding: 24px 10px 24px 24px;

//   .create-policy {
//       margin-top: 1rem;
//       text-decoration: none;
//   }

//   .mat-card-heading {
//       font-weight: 600;
//   }

//   .mat-card-container {
//       display: flex;
//       flex-direction: column;
//       padding-right: 2rem;

//       a {
//           margin-left: auto;
//           margin-bottom: 2px;
//       }

//       &.instances {
//           border-right: 1px solid gray;
//       }
      
//       &.limits-container {
//           padding-left: 2rem;
//           padding-right: 0;

//           .limits {
//               display: flex;
//           }
//           .min-limit {
//               padding-right: 1rem;
//           }
//       }

//       &.limits-link {
//           padding-right: 0;
//           margin-top: -15px;
//       }

//   }

//   &.status-card {
//       width: 160px;

//       &.green {
//           border-top: 4px solid #4caf50;
//       }
//   }

//   &.instances-card {
//       width: 348px;
//   }

//   &.most-recent-event-card {
//       width: 525px;
//   }

//   .row-container {
//       display: flex;
//       justify-content: space-between;
//   }

//   .column-container {
//       display: flex;
//       flex-direction: column;
//   }

//   .text-padding {
//       padding-left: 5px;
//   }

//   table {
//       width: 100%;
      
//       thead th {
//           text-align: left;
//           font-weight: 200;
//           font-size: small;
//           border-bottom: 1px solid lightgrey;
//       }
//   }

//   th, td {
//       padding-top: 5px;

//       &.recent-event-when {
//           width: 38%;
//       }

//       &.recent-event-change {
//           width: 15%;
//       }
//   }

//   p {
//       &.configured {
//           color: green;
//       }
//       &.not-configured {
//           color: gray;
//           font-style: italic;
//       }
//       &.scale-recur-heading {
//           margin-top: 2.0rem;
//       }
//   }

// }
