.card-autoscaler-default {
  &__large {
    font-size: 16px;
  }

  &__compact {
    margin-bottom: 0;
    position: absolute;
  }

  &__actions {
    bottom: 24px;
    padding-top: 0;
    position: absolute;
    right: 24px;
    text-align: right;
  }

  mat-form-field {
    width: 50px;
    .mat-form-field-infix {
      border-top: unset;
    }
  }

  app-metadata-item {
    .metadata-item__content {
      flex-direction: row;
    }
  }

  .metadata-item__content {
    display: inline;
  }

  .metadata-item__value {
    display: inline;
    margin-right: 10px;
  }

  .metadata-item__label {
    display: inline;
    margin-right: 10px;
  }

}

.app-metadata {
  display: flex;
  flex-direction: row;
  &__two-cols {
    flex: 1;
    margin-right: 1em;
    app-metadata-item:first-child {
      margin-top: 0;
    }
  }
}
