// SUSE Brand primary colour
$suse-primary: #02D35F;
$suse-dark-blue: #06253A;
$suse-blue: #073155;
$suse-primary-light: #16696A;

// Colours for the header bar
$page-header-fg: #fff !default;
$page-header-bg: $suse-dark-blue !default;
$page-header-active-fg: #000 !default;

$page-header-active-fg: $suse-primary;

// Set the primary brand colour
$brand-primary: $suse-primary;

// Hide welcome text panel on the login page
$login-page-text-panel-display: none;

// The normal status-okay green is close to suse primary, so just use it instead
$status-okay: $suse-primary;

@import "login";
@import "about";
