@mixin app-ssh-viewer-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $foreground-colors: map-get($theme, foreground);
  $status-colors: map-get($app-theme, status);
  $ssh-error: map-get($status-colors, danger);
  $ssh-disconnected: mat-color($primary);
  $ssh-background: #000;
  $ssh-text: map-get($status-colors, text);

  .ssh-viewer {

    .terminal {
      background-color: $ssh-background;
      border: 2px solid $ssh-background;
    }

    &__error {
      background-color: $ssh-error;
      color: $ssh-text;
    }

    &__disconnected {
      background-color: $ssh-disconnected;
      color: $ssh-text;
    }
  }
}
