<app-page-header>
  <h1>{{ (applicationService.application$ | async)?.app.entity.name }} </h1>
  <div class="page-header-right">
    <span *ngIf="isEditSummary">
      <button md-icon-button md-button (click)="saveEdits()" [disabled]="!summaryForm.valid">
        <md-icon>done</md-icon>
      </button>
      <button md-icon-button name="cancel" md-button (click)="endEdit()">
        <md-icon>clear</md-icon>
      </button>
    </span>

    <span *ngIf="!isEditSummary">
      <button md-icon-button name="delete" [disabled]="summaryDataChanging$ | async" (click)="deleteApplication()">
        <md-icon>delete</md-icon>
      </button>
      <button md-icon-button name="edit" [disabled]="summaryDataChanging$ | async" (click)="startEdit()">
        <md-icon>edit</md-icon>
      </button>
      <button md-icon-button name="edit" [disabled]="summaryDataChanging$ | async" (click)="stopApplication()">
        <md-icon>stop</md-icon>
      </button>
      <button md-icon-button name="edit" [disabled]="summaryDataChanging$ | async">
        <md-icon>autorenew</md-icon>
      </button>
    </span>
  </div>
</app-page-header>

<app-loading-page [isLoading]="isFetching$" [text]="'Getting your application'">

  <div class="summary">
    <app-details-card class="summary__form" title="Summary" [busy]="summaryDataChanging$ | async">
      <form class="summary__form" #summaryForm="ngForm">
        <div>
          <md-list dense role='list'>
            <md-list-item role="listitem">
              <app-display-value [label]="'Composite State'">
                <app-application-state [state]="applicationService.applicationState$ | async"></app-application-state>
              </app-display-value>
            </md-list-item>
            <md-list-item role="listitem">
              <app-display-value [label]="'States'">
                <md-chip-list aria-orientation="vertical">
                  <md-chip>App: {{(applicationService.application$| async)?.app.entity.state}}</md-chip>
                  <md-chip>Package: {{(applicationService.application$| async)?.app.entity.package_state}}</md-chip>
                </md-chip-list>
              </app-display-value>
            </md-list-item>
          </md-list>
          <md-list dense role='list'>
            <md-list-item role="listitem">
              <app-editable-display-value [edit]="isEditSummary">
                <div class="display-input__display">
                  <app-display-value [label]="'Running Instances'">
                    {{(applicationService.appSummary$| async)?.metadata?.running_instances || 0}} / {{ (applicationService.application$ | async)?.app.entity?.instances
                    }}
                  </app-display-value>
                </div>
                <div class="display-input__input">
                  <md-form-field>
                    <input mdInput name="instances" type="number" placeholder="Required No. Instances" [(ngModel)]="appEdits.instances" required
                      pattern="[0-9]+" />
                  </md-form-field>
                </div>
              </app-editable-display-value>
            </md-list-item>
            <md-list-item role="listitem">
              <app-display-value [label]="'Services'" [value]="(applicationService.appSummary$| async)?.metadata?.services?.length || '-'"></app-display-value>
            </md-list-item>
          </md-list>
        </div>
        <div>
          <md-list dense role='list'>
            <md-list-item role="listitem">
              <app-editable-display-value [edit]="isEditSummary" [label]="'Memory'" [value]="(applicationService.application$| async)?.app.entity.memory | mbToHumanSize">
                <div class="display-input__input">
                  <md-form-field>
                    <input mdInput name="appMemory" type="number" placeholder="Memory" [(ngModel)]="appEdits.memory" required pattern="[0-9]+"
                    />
                  </md-form-field>
                </div>
              </app-editable-display-value>
            </md-list-item>
            <md-list-item role="listitem">
              <app-display-value [label]="'Disk quota'" [value]="(applicationService.application$| async)?.app.entity.disk_quota | mbToHumanSize"></app-display-value>
            </md-list-item>
          </md-list>
          <md-list dense role='list'>
            <md-list-item role="listitem">
              <app-editable-display-value [edit]="isEditSummary" [label]="'SSH Enabled'">
                <div class="display-input__display">
                  <app-display-value [label]="'SSH Enabled'">
                    <md-slide-toggle name="appSsh" [ngModel]="(applicationService.application$| async)?.app.entity.enable_ssh" [disabled]="true"></md-slide-toggle>
                  </app-display-value>
                </div>
                <div class="display-input__input">

                  <app-display-value [label]="'SSH Enabled'">
                    <md-slide-toggle name="appSsh" [ngModel]="appEdits.enable_ssh"></md-slide-toggle>
                  </app-display-value>
                </div>
              </app-editable-display-value>
            </md-list-item>
          </md-list>
        </div>

      </form>
    </app-details-card>
  </div>
  <nav md-tab-nav-bar class="summary__nav">
    <a md-tab-link *ngFor="let tabLink of tabLinks" [routerLink]="[tabLink.link]" routerLinkActive="active-link" #rla="routerLinkActive"
      [active]="rla.isActive">
      {{tabLink.label}}
    </a>
  </nav>
  <router-outlet></router-outlet>
</app-loading-page>
