:host {
  display: flex;
}

.app-multiline-title {
  // autoprefixer: ignore next
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  max-height: 2.4em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 100;
  word-break: break-all;
}

// Firefox does not support multi-line text ellipsis
// So fade out the end of the last line in the div
@-moz-document url-prefix() {
  .app-multiline-title {
    // Fade
    &::after {
      bottom: 0;
      content: '';
      height: 1.2em;
      position: absolute;
      right: 0;
      text-align: right;
      width: 48px;
    }
  }
}
