.steppers {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  &__inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 50px;
  }
  &__headers {
    display: flex;
  }
  &__header {
    flex: 1;
    display: flex;
    align-items: center;
    &-inner {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 0 10px;
    }
    &:after {
      content: '';
      height: 1px;
      background-color: grey;
    }
    &:after {
      width: 100%;
    }
    &:first-child {
      &:before {
        content: none;
      }
    }
    &:last-child {
      flex: none;
      &:after {
        content: none;
      }
    }
    &-icon {
      border-radius: 50%;
      height: 15px;
      width: 15px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
    }
    &-text {
      white-space: nowrap;
      padding-left: 10px;
    }
  }
  &__contents {
    height: 100%;
    flex: 1;
    margin: 30px 80px;
  }
  &__wrapper {
    min-height: 100%;
    display: flex;
  }
  &__navigation {
    margin-top: 50px;
    display: flex;
    justify-content: space-between
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    md-select,
    md-form-field {
      margin-top: 20px;
      width: 100%;
    }
  }
}
