<b>Please select a unique name for your application</b>
<form novalidate [formGroup]="form" class="stepper-form">
  <div>
    <mat-form-field class="mat-form-field__spinner">
      <input [(ngModel)]="name" required matInput placeholder="Application Name" name="appName" formControlName="appName" autocomplete="off" [appApplicationNameUnique]="appNameChecking">
      <mat-error *ngIf="form.controls.appName?.hasError('appNameTaken')">
        This name has been taken, please try another.
      </mat-error>
      <div *ngIf="!form.controls.appName?.hasError('required')" class="inline-icon inline-icon__form">
        <app-stateful-icon [state]="appNameChecking.status"></app-stateful-icon>
      </div>
    </mat-form-field>
  </div>
</form>
