<div>
  <div class="summary__cards">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>Overview</h3>
        </md-card-title>
        <div class="spacer"></div>
        <button *ngIf="isEditSummary" md-button>Save</button>
        <md-slide-toggle name="edit" [(ngModel)]="isEditSummary">Edit</md-slide-toggle>
      </md-card-header>
      <md-card-content>
        <form #summaryForm="ngForm">
          <md-list role='list' class='summary__cards__summary__left'>
            <md-list-item role='listitem'>
              <app-editable-display-value [edit]="isEditSummary" [label]="'Name'" [value]="application.name">
                <!-- <div class="display-input__display"> hello ! </div> -->
                <div class="display-input__input">
                  <md-form-field>
                    <input mdInput name="appName" placeholder="Name" [(ngModel)]="application.name" />
                  </md-form-field>
                </div>
              </app-editable-display-value>
            </md-list-item>
            <md-list-item role="listitem">
              <app-display-value [label]="'State'">
                TODO
              </app-display-value>
            </md-list-item>
            <md-list-item role="listitem">
              <app-display-value [label]="'Composite States'">
                <div>App State: {{application.state}}</div>
                <div>Package State: {{application.package_state}}</div>
              </app-display-value>
            </md-list-item>
            <md-list-item role="listitem">
              <app-display-value [label]="'Instances'">
                <md-slider mdInput [max]="application.instances" step="1" [disabled]="!isEditSummary" [(ngModel)]="application.running_instances"
                  name="appInstances" min="0" thumbLabel tickInterval="1"></md-slider> {{application.running_instances || 0}} / {{ application.instances }}
              </app-display-value>
            </md-list-item>
          </md-list>
          <md-list role='list' class='summary__cards__summary__right'>
            <md-list-item role="listitem">
              <app-display-value [label]="'Services'" [value]="application.services?.length || '-'"></app-display-value>
            </md-list-item>
            <md-list-item role="listitem">
              <app-editable-display-value [edit]="isEditSummary" [label]="'Memory'" [value]="application.memory | mbToHumanSize">
                <div class="display-input__input">
                  <md-form-field>
                    <input mdInput name="appMemory" placeholder="Memory" [(ngModel)]="application.memory" />
                  </md-form-field>
                </div>
              </app-editable-display-value>
            </md-list-item>
            <md-list-item role="listitem">
              <app-display-value [label]="'disk quota'" [value]="application.disk_quota | mbToHumanSize"></app-display-value>
            </md-list-item>
            <md-list-item role="listitem">
              <app-display-value [label]="'SSH Enabled'">
                <md-slide-toggle name="appSsh" [(ngModel)]="application.enable_ssh" [disabled]="!isEditSummary"></md-slide-toggle>
              </app-display-value>
            </md-list-item>
          </md-list>
        </form>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>Build, Deploy &amp; Host</h3>
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <md-list dense>
          <md-list-item>
            <app-display-value [label]="'Changed'">
              <div>Created: {{application.last_operation?.created_at | date:'medium'}}</div>
              <div>Modifed: {{application.package_updated_at | date:'medium' || '-'}}</div>
            </app-display-value>
          </md-list-item>
          <md-list-item>
            <app-display-value [label]="'Buildpack'">
              <app-view-buildpack [buildPack]="application.buildpack || application.detected_buildpack"></app-view-buildpack>
            </app-display-value>
          </md-list-item>
          <md-list-item>
            <app-display-value [label]="'Production'" [value]="application.production"></app-display-value>
          </md-list-item>
          <md-list-item>
            <app-display-value [label]="'Stack'" [value]="stack?.name"></app-display-value>
          </md-list-item>
          <md-list-item>
            <app-display-value [label]="'Console Deploy'" [value]="'todo'"></app-display-value>
          </md-list-item>
          <md-list-item>
            <app-display-value [label]="'Console Deploy Source'" [value]="'todo'"></app-display-value>
          </md-list-item>
        </md-list>
        <md-list>
          <md-list-item>
            <app-display-value [label]="'Host'" [value]="'todo'"></app-display-value>
          </md-list-item>
          <md-list-item>
            <app-display-value [label]="'Host URL'" [value]="'todo'"></app-display-value>
          </md-list-item>
          <md-list-item>
            <app-display-value [label]="'Organisation'" [value]="'todo'"></app-display-value>
          </md-list-item>
          <md-list-item>
            <app-display-value [label]="'Space'" [value]="'todo'"></app-display-value>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>

  </div>

  <br><br> {{application | json }}

  <!-- <div>Running instances: {{ application.running_instances }}</div>
  <div>Memory: {{ application.memory }}</div> -->
