.summary__cards {
  max-width: 1200px;
  display: flex;
  $summary-card-spacing: 20px;
  flex-wrap: wrap;
  md-card {
    flex: 1;
    min-width: 300px;
    margin-top: $summary-card-spacing;
    margin-right: $summary-card-spacing;
    md-card-header {
      width: 100%;
      height: 36px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: $summary-card-spacing;
      md-card-title {
        margin-left: -8px;
        margin-bottom: 0;
        h3 {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      .spacer {
        flex: 1;
      }
      .mat-slide-toggle {
        align-self: center;
        height: 20px;
        line-height: 20px;
      }
    }
    md-card-content,
    md-card-content form {
      width: 100%;
      display: flex;
      flex-direction: row;
      md-list {
        flex: 1;
        &:first-of-type {
          padding-right: $summary-card-spacing
        }
      }
    }
  }
}
