.deploy-app {
  .deploy-app-local .deploy-app-local-form {

    .deploy-app-source-details {

      &.deploy-app-local-details {
        margin-top: $console-unit-space / 2;

        .deploy-app-local-info {
          border: 1px solid $rule;
          padding: $console-unit-space / 4 $console-unit-space / 2;
          max-width: $console-input-width * 1.25;

          &.deploy-app-file-details {
            height: $console-input-height;
            display: flex;
            align-items: center;
            padding-left: 18px;

            &.deploy-app-found-cfignore {
              border-top: 0;
            }

            > p {
              margin: 0;
            }

            > i {
              margin-right: 6px;
            }
          }

          img {
            height: $github-avatar-height;
            width: $github-avatar-width;
          }

        }
      }
    }
  }
}

