<!-- <mat-table #table [dataSource]="dataSource">
  <!-- <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ getId(element) }} </mat-cell>
  </ng-container> -->
<!-- <ng-content></ng-content>
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      State
      <app-action-monitor-icon [id]="getId(element)" [entityKey]="entityKey" [monitorState]="monitorState" [updateKey]="updateKey"></app-action-monitor-icon>
    </mat-cell>
  </ng-container> -->


<!-- <mat-header-row *matHeaderRowDef="selectedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: selectedColumns;"></mat-row>
</mat-table>  -->

<app-table [dataSource]="dataSource" [columns]="columns"></app-table>
