.metrics-table {


  @media (max-width: 1024px) {
    .node-cards {
      flex-direction: column;
    }
  }

  @media (min-width: 1024px) {
    .node-cards {
      flex-direction: row;
    }
  }

  padding-top: 24px;
  display: flex;
  .node-cards {
    padding-top: 24px;
    display: flex;
    div:last-child {
    //  padding-right: 12px;
    }
    width: 100%;
  }

}
