@mixin app-card-status-theme($theme, $app-theme) {
  $status-colors: map-get($app-theme, status);
  .app-card-status {
    background-color: transparent;
    &__ok {
      background-color: map-get($status-colors, success);
    }
    &__warning {
      background-color: map-get($status-colors, warning);
    }
    &__error {
      background-color: map-get($status-colors, danger);
    }
    &__tentative {
      background-color: map-get($status-colors, tentative);
    }
    &__incomplete {
      background-color: map-get($status-colors, tentative);
    }
  }
}
