<div class="action-bar col-md-12 panel-less">
  <div ng-if="!applicationsListCtrl.needAdminSetup" class="applications-header font-semi-bold pull-left" translate>about</div>
</div>

<div class="container registration-content col-sm-12 about-panel">
  <div class="cluster-settings user-summary about-summary">
    <div class="cluster row about-title">
      <div class="col-md-12 about-title-text" translate>about.title</div>
    </div>
    <div class="cluster row">
      <div class="col-md-6">
        <div class="cluster-info">
          <div class="cluster-properties">
            <div class="cluster-property">
              <div translate>about.console-version</div>
              <div>{{aboutCtrl.consoleInfo.info.version.proxy_version}}</div>
            </div>
            <div class="cluster-property">
              <div translate>about.db-version</div>
              <div>{{aboutCtrl.consoleInfo.info.version.database_version}}</div>
            </div>
            <div class="cluster-property">
              <div translate>about.user</div>
              <div>{{aboutCtrl.consoleInfo.info.user.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <page-footer context="about.footer" class="about-branding"></page-footer>
</div>
