<app-page-header [breadcrumbs]="breadcrumbs$ | async">
  <h1> {{ name$ | async }}</h1>
</app-page-header>
<app-loading-page [entityId]="entityId" [entitySchema]="entitySchema" [text]="'Retrieving cell'">
  <mat-card>
    <app-card-status [status$]="status$"></app-card-status>
    <mat-card-header>
      <div>Summary</div>
    </mat-card-header>
    <mat-card-content>
      <app-metadata-item label="Healthy">
        <!-- //TODO: RC test -->
        <app-boolean-indicator [isTrue]="(status$ | async) === 'ok'" type="enabled-disabled" subtle="false" showText="false"></app-boolean-indicator>
      </app-metadata-item>
    </mat-card-content>
  </mat-card>
  <mat-card class="metric-chart-wrapper">
    <app-cf-cell-summary-chart [cellId]="cellId" [endpointGuid]="cfEndpointService.cfGuid" title="Containers" yAxisLabel="Available" queryRange="false" queryString="firehose_value_metric_rep_capacity_remaining_containers">
    </app-cf-cell-summary-chart>
  </mat-card>
  <mat-card class="metric-chart-wrapper">
    <app-cf-cell-summary-chart [cellId]="cellId" [endpointGuid]="cfEndpointService.cfGuid" title="Memory" yAxisLabel="Memory Available (MB)" seriesTranslation="mb" queryRange="false" queryString="firehose_value_metric_rep_capacity_total_disk">
    </app-cf-cell-summary-chart>
  </mat-card>
  <mat-card class="metric-chart-wrapper">
    <app-cf-cell-summary-chart [cellId]="cellId" [endpointGuid]="cfEndpointService.cfGuid" title="Disk" yAxisLabel="Disk Available (MB)" seriesTranslation="mb" queryRange="false" queryString="firehose_value_metric_rep_capacity_total_memory">
    </app-cf-cell-summary-chart>
  </mat-card>

</app-loading-page>
