<h1 class="confirm-dialog__header" mat-dialog-title>
  <span class="confirm-dialog__header-title">{{data.title}}</span>
  <mat-icon class="confirm-dialog__warn-icon" color="warn" *ngIf="data.critical">warning</mat-icon>
</h1>
<div class="confirm-dialog__message" mat-dialog-content *ngIf="!textToMatch" [innerHtml]="data.message"></div>
<div class="confirm-dialog__enter-text" *ngIf="textToMatch">
  <span>Please type <b>{{textToMatch}}</b> to continue.</span>
  <mat-form-field>
    <input (paste)="$event.preventDefault()" required matInput id="typeToConfirm" [(ngModel)]="matchValue" [pattern]="textToMatch">
  </mat-form-field>
</div>
<div mat-dialog-actions class="confirm-dialog__actions">
  <button color="primary" mat-button (click)="onNoClick()">Cancel</button>
  <button *ngIf="data.confirm" [color]="data.critical ? 'warn' : 'primary'" mat-button [mat-dialog-close]="true"
    cdkFocusInitial [innerHtml]="" [disabled]="textToMatch && textToMatch !== matchValue">{{
    data.confirm }}</button>
</div>