.info {

  &__card {
    display: flex;
  }

  &__card-icon {
    flex: 0 0 140px;
    width: 140px;
    &>img {
      max-width: 120px;
    }
    margin-right: 10px;
    text-align: center;
  }

  &__card-text {
    flex: 1;
  }

}