.alert {
  padding-left: $hpe-alert-width;
  color: $white;
  font-size: $font-size-base;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;

  &.alert-bordered {
    border: $hpe-alert-border;
  }

  &.alert-no-bg:not(.alert-bordered) {
    margin-left: -($hpe-alert-width - $hpe-alert-icon-size)/2;
    margin-right: -$alert-padding;
  }

  &:before {
    width: $hpe-alert-width;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    padding: ($alert-padding - $hpe-alert-border-width/2) ($hpe-alert-width - $hpe-alert-icon-size)/2;
  }

  .close {
    font-size: 0.8em;
    opacity: 0.8;
  }
}

.alert-success {
  @include hpe-alert($state-success-bg, 'check_circle', $alert-success-bg, 'check_circle');
}

.alert-info {
  @include hpe-alert($state-info-bg, 'info', $alert-info-bg, 'info_outline', $hpe-primary-fg);
}

.alert-warning {
  @include hpe-alert($state-warning-bg, 'warning', $alert-warning-bg, 'warning');
}

.alert-danger {
  @include hpe-alert($state-danger-bg, 'error', $alert-danger-bg, 'error');
}

.alert-card-warning {
  @include hpe-box-shadow-small();
  margin-bottom: 22px;
  @include hpe-alert($white, 'warning', $white, 'warning', $dove-gray);
  &:before {
    color: $state-warning-bg;
  }
}

.alert-card-danger {
  @include hpe-box-shadow-small();
  margin-bottom: 22px;
  @include hpe-alert($white, 'error', $white, 'error', $dove-gray);
  &:before {
    color: $state-danger-bg;
  }
}

button.material-icons.app-icon-close {
  &:after {
    content: 'close';
  }
}
