$async-dialog-header-height: $console-unit-space * 3;
$async-dialog-footer-height: $button-height + $console-unit-space * 2 + 1;

.async-dialog {
  margin-right: $detail-view-margin;
  margin-left: $detail-view-margin;

  display: flex;
  flex-direction: column;
  height: 100%;

  .spinner {
    display: flex;
    justify-content: center;
  }

  .no-margin {
    margin-left: 0px !important;
    width: 100%;
  }

  .async-indicator {
    margin-top: $console-unit-space * 2;
    min-height: $console-unit-space * 2;
  }

  .modal-footer {
    margin-top: $console-unit-space * 2;
    padding-top: $console-unit-space;
    height: $async-dialog-footer-height;
    overflow: hidden;
    flex: 0 0 $async-dialog-footer-height;
  }

  .disable-margin {
    margin-top: 0;
  }


  .modal-footer {
    .async-footer-buttons {

      button {
        transition: margin-left 0.5s, margin-right 0.5s;
      }

      &.async-footer-hidden {

        button:first-child {
          margin-left: -200px
        }

        button:last-child {
          margin-right: -200px
        }
      }
    }
  }
}
