.dl-horizontal {
  dt {
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
  }
}

.media-list.console-add-option-list {
  .media {
    border-top: $console-media-border;
    margin-top: 0;
    padding: $console-unit-space / 2;

    &:last-child {
      border-bottom: $console-media-border;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .console-media-actions-col {
    display: table-cell;
    padding-left: $console-unit-space / 2;
    text-align: right;
    vertical-align: bottom;

    .console-media-add-link {
      display: flex;
      align-items: center;

      &:hover,
      &:focus,
      &:active {
        outline: none;
        text-decoration: none;
      }

      i {
        font-weight: $console-font-weight-semibold;
        margin-right: $console-unit-space / 4;
      }
    }
  }

  .media-left {
    padding-right: $console-unit-space;
  }

  .media-right {
    padding-left: $console-unit-space;
  }

  .media-icon {
    font-size: $console-media-object-width;

    &.console-media-icon-sm {
      font-size: $console-media-object-sm-width;
    }
  }

  .media-object {
    width: $console-media-object-width;

    &.console-media-object-sm {
      width: $console-media-object-sm-width;
    }
  }

  .console-media-select-col {
    display: table-cell;
    vertical-align: middle;
    padding-right: $console-unit-space / 2;
  }
}
