//
// Progress bars
// --------------------------------------------------

// console Progress bar Stacked Variants
// --------------------------------------------------
.progress {
  @include console-progress-bar($console-progress-bar-height-stacked, 1);
}

// Bar itself
// -------------------------

// Outer container
.progress {
  @include box-shadow(none);
  background-color: transparent;

  &:after {
    content: '';
    background-color: $progress-bg;
    width: 100%;
    margin-top: ($console-progress-bar-height-stacked - $console-progress-bar-height) / 2;
    height: $console-progress-bar-height;
    display: block;
  }

  .progress-bar:only-child {
    height: $console-progress-bar-height;
    margin-top: ($console-progress-bar-height-stacked - $console-progress-bar-height) / 2;
  }
}

// Bar of progress
.progress-bar {
  @include box-shadow(none);
}
