.login {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('/assets/login-bg.jpg');
  background-position: center;
  background-size: cover;
  &__logo {
    width: 240px;
    align-self: center;
    padding: 12px 0 16px 0;
  }
  &__header {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    margin: 0;
  }
  &__card {
    padding: 0;
    width: 300px;
    mat-form-field {
      width: 100%;
    }
  }
  &__title {
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    justify-content: center;
  }
  &__form {
    padding: 24px;
  }
  &__submit {
    width: 100%;
  }
  &-message {
    height: 20px;
    padding-top: 20px;
    font-size: 18px;
  }
  &-loading-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}
