<div class="login">
  <mat-card class="login__card">
    <mat-progress-bar class="login-loading-bar" [color]="error ? 'warn' : 'primary'" [mode]="loggingIn ? 'query' : 'solid'">
    </mat-progress-bar>
    <div class="login__title">
      <img class="login__logo" src="/assets/cff-logo_rgb.png" />
      <h1 class="mat-h1 login__header">Stratos</h1>
    </div>
    <form class="login__form" name="loginForm" (ngSubmit)="login()" #loginForm="ngForm">
      <mat-form-field>
        <input matInput required [(ngModel)]="username" name="username" placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput required type="password" [(ngModel)]="password" name="password" placeholder="Password">
      </mat-form-field>
      <button class="login__submit" color="primary" *ngIf="!loggedIn" type="submit" mat-button mat-raised-button [disabled]="!loginForm.valid">Login</button>
    </form>
  </mat-card>
  <div class="login-message" [ngClass]="{'login-message--show': !!message, 'login-message-error': this.error}">
    {{ message }}
  </div>
</div>
