.login {
  align-items: center;
  background-image: url('/assets/login-bg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  &__logo {
    align-self: center;
    padding: 12px 0 16px;
    width: 240px;
  }
  &__header {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__card {
    padding: 0;
    width: 300px;
    mat-form-field {
      width: 100%;
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24px;
  }
  &__body {
    padding: 24px;
  }
  &__submit {
    width: 100%;
  }
  &-message {
    font-size: 18px;
    height: 20px;
    padding-top: 20px;
  }
  &__form-outer {
    $cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    $time: 250ms;
    height: 180px;
    opacity: 1;
    transition: height $time $cubic 100ms, opacity $time * 2 $cubic $time + 50ms;
  }
  &__loading {
    display: none;
  }
  &__busy {
    .login__form {
      display: none;
    }
    .login__form-outer {
      height: 0;
      opacity: 0;
    }
    .login__loading {
      display: block;
    }
  }
}
