<div class="space-services-table">
  <div ng-if="spaceRoutesCtrl.spaceDetail().routes.length < 1"
       class="panel panel-default cluster-empty-list">
    <div class="panel-body" translate>
      You have no routes
    </div>
  </div>

  <div ng-if="spaceRoutesCtrl.spaceDetail().routes.length > 0"
       st-table="spaceRoutesCtrl.visibleRoutes"
       st-safe-src="spaceRoutesCtrl.spaceDetail().routes">
    <div>
      <div class="panel panel-default">
        <table
          class="table"
          ng-class="{'table-actionable' : spaceRoutesCtrl.canDeleteOrUnmap}">
          <thead>
          <tr>
            <th st-sort="entity.host" st-sort-default="true" translate>ROUTE</th>
            <th translate>APPLICATION ATTACHED</th>
            <th translate ng-if="spaceRoutesCtrl.canDeleteOrUnmap">ACTION</th>
          </tr>
          </thead>
          <tbody>
          <tr
            ng-repeat="route in spaceRoutesCtrl.visibleRoutes">
            <td>{{ spaceRoutesCtrl.routesService.getRouteId(route)}}</td>
            <td>{{ spaceRoutesCtrl.appsToNames(route.entity.apps).join(',')}}</td>
            <td ng-if="spaceRoutesCtrl.canDeleteOrUnmap">
              <actions-menu actions="spaceRoutesCtrl.actionsPerRoute[route.metadata.guid]"
                            action-target="route"
                            menu-icon="helion-icon helion-icon-More"
                            menu-position="actions-menu-right"
                            enable-button-mode="true">
              </actions-menu>
            </td>
          </tr>
          </tbody>
          <tfoot ng-init="spaceRoutesCtrl.showRoutes = 5"
                 ng-show="spaceRoutesCtrl.showRoutes < spaceRoutesCtrl.spaceDetail().routes.length">
          <tr>
            <td colspan="{{spaceRoutesCtrl.canDeleteOrUnmap ? 3 : 2}}" class="text-center">
              <a ng-click="spaceRoutesCtrl.showRoutes = spaceRoutesCtrl.spaceDetail().routes.length">
                <span translate>Show All</span> ({{spaceRoutesCtrl.spaceDetail().routes.length}})
              </a>
              <div ng-show="false" st-pagination="" st-items-by-page="spaceRoutesCtrl.showRoutes"></div>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>
</div>
