<navbar ng-if="applicationCtrl.ready && applicationCtrl.loggedIn"></navbar>
<login-page ng-if="applicationCtrl.ready && !applicationCtrl.loggedIn"></login-page>
<app-error-bar displayed="applicationCtrl.showAppErrorBar" ng-class="{'errorbar-with-navbar': applicationCtrl.loggedIn, 'errorbar-without-navbar': !applicationCtrl.loggedIn}"></app-error-bar>
<console-view ng-class="{'with-app-error-bar': applicationCtrl.showAppErrorBar}" ng-if="applicationCtrl.ready && applicationCtrl.loggedIn"></console-view>
<service-registration id="registration-overlay"
  ng-if="applicationCtrl.showRegistration"
  show-overlay-registration="applicationCtrl.showRegistration">
</service-registration>
<global-spinner class="application-global-spinner"
  spinner-active="applicationCtrl.showGlobalSpinner"
  spinner-type="bounce-spinner">
  <h2 translate class="global-spinner-message">Please wait...</h2>
</global-spinner>
