<navbar ng-if="applicationCtrl.loggedIn"></navbar>
<login-page ng-if="!applicationCtrl.loggedIn"></login-page>
<console-view ng-if="applicationCtrl.loggedIn"></console-view>
<cluster-registration id="cluster-registration-overlay"
  ng-if="applicationCtrl.showClusterRegistration"
  show-cluster-overlay-registration="applicationCtrl.showClusterRegistration">
</cluster-registration>
<service-registration id="registration-overlay"
  ng-if="applicationCtrl.showRegistration"
  show-overlay-registration="applicationCtrl.showRegistration">
</service-registration>
<global-spinner class="application-global-spinner" spinner-active="applicationCtrl.showGlobalSpinner">
  <h2 class="global-spinner-message">Please wait...</h2>
</global-spinner>
