<navbar ng-if="applicationCtrl.ready && applicationCtrl.loggedIn"></navbar>
<ng-include src="applicationCtrl.path + 'view/login-page/login-page.html'" ng-if="applicationCtrl.ready && !applicationCtrl.loggedIn"></ng-include>
<app-error-bar displayed="applicationCtrl.showAppErrorBar" ng-class="{'errorbar-with-navbar': applicationCtrl.loggedIn, 'errorbar-without-navbar': !applicationCtrl.loggedIn, 'navbar-icons-only' : applicationCtrl.navbarIconsOnly}"></app-error-bar>
<console-view prevent-drop ng-class="{'with-app-error-bar': applicationCtrl.showAppErrorBar, 'navbar-normal' : !applicationCtrl.navbarIconsOnly, 'navbar-hidden' : applicationCtrl.hideNavigation, 'navbar-icons-only' : applicationCtrl.navbarIconsOnly}" ng-if="applicationCtrl.ready && applicationCtrl.loggedIn"></console-view>
<global-spinner class="application-global-spinner"
  spinner-active="applicationCtrl.showGlobalSpinner"
  spinner-type="bounce-spinner">
</global-spinner>
