@import "login-page/login-page";
@import "console-view/console-view";
@import "service-registration/service-registration";

.form-buttons {
  margin-top: 40px;

  button {
    margin-left: 10px;
  }
}

.overlay-position {
  background-color: $body-bg;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
