@import "navbar/navbar";
@import "login-page/login-page";
@import "page-footer/page-footer";
@import "console-view/console-view";
@import "cluster-registration/cluster-registration";
@import "service-registration/service-registration";


.form-buttons {
  margin-top: 40px;

  button {
    margin-left: 10px;
  }
}

.overlay-position {
  background-color: $body-bg;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.application-global-spinner {
  .global-spinner-message {
    color: $gray-light;
    text-transform: uppercase;
  }

  spinner {
    height: 100px;
    width: 100px;
  }
}

.btn-border-less {
  display: inline-block;
  color: $text-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $brand-primary;
    text-decoration: none;;
  }
}

// TODO: move bellow to helio-ui-theme

.flex-container-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  @include flex-align(center, center);
}

.flyout-content {

  & > button.close {
    position: absolute;
    top: $hpe-unit-space * 2.5;
    right: $hpe-unit-space * 4;
    margin: 0;
    padding: 0;
    width: auto;
  }

  .wizard-head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $hpe-unit-space * 4;
    margin: 0;
    padding: $hpe-unit-space * 1.5 $hpe-unit-space * 5;

    h4 {
      font-size: $hpe-unit-space;
      font-weight: 600;
    }
  }

  .wizard-body {
    position: absolute;
    top: $hpe-unit-space * 4;
    left: 0;
    right: 0;
    bottom: $hpe-unit-space * 4.5;
    margin: 0;
    padding: 0;

    .wizard-nav {
      position: absolute;
      top: 0;
      left: $hpe-unit-space * 5;
      margin: 0;
      padding: 0;
      z-index: 1;
    }

    .wizard-step {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0 $hpe-unit-space * 5 0 $hpe-unit-space * 6;
      overflow-y: auto;

      .step-title {
        margin-top: 0;
        font-size: $hpe-unit-space * 7 / 8;
      }
    }
  }

  .wizard-foot {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    left: $hpe-unit-space * 5;
    right: $hpe-unit-space * 5;
    bottom: 0;
    margin: 0;
    height: $hpe-unit-space * 4.5;
    border-top: 1px solid $gray-light;
    padding-top: $hpe-unit-space * 3 / 4;
    background: $white;

    .btn {
      margin-left: $hpe-unit-space / 2;
    }
  }
}

.helion-icon-2dot5x {
  font-size: $hpe-unit-space * 2.5;
}
