@import "navbar/navbar";
@import "login-page/login-page";
@import "page-footer/page-footer";
@import "console-view/console-view";
@import "console-error/console-error";
@import "cluster-registration/cluster-registration";
@import "service-registration/service-registration";
@import "hce-registration/hce-registration";
@import "endpoints/endpoints";

.form-buttons {
  margin-top: 40px;

  button {
    margin-left: 10px;
  }
}

.overlay-position {
  background-color: $body-bg;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.application-global-spinner {
  .global-spinner-message {
    color: $gray-light;
    text-transform: uppercase;
  }
}

.position-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.caption {
  font-weight: $hpe-font-weight-semibold;
  text-transform: uppercase;
  color: $text-color;
  font-size: $font-size-large;
  margin-bottom: $hpe-unit-space / 2;
}
