<h1>Applications</h1>
<p>
  {{ isFetching ? 'Fetching applications...' : '' }}
</p>
<div class="card-wall">
  <md-card [routerLink]="['/applications', application?.cfGuid , application?.guid]" *ngFor="let application of applications"
    [ngClass]="'card-wall__card-' + application?.state.toLowerCase()">
    <md-card-header>
      <md-card-title>{{ application?.name }}</md-card-title>
    </md-card-header>
    <md-card-content>
      <div class="card-wall__meta"><b>Instances: </b> {{ application?.instances }}</div>
      <div class="card-wall__meta"><b>State: </b> {{ application?.state }}</div>
      <div class="card-wall__meta"><b>Created at: </b>{{ application?.created_at }}</div>
    </md-card-content>
  </md-card>
</div>
