.card-wall__card-started {
  .mat-card-title {
    border-bottom: 3px solid green;
  }
}

.card-wall__card-stopped {
  .mat-card-title {
    border-bottom: 3px solid red;
  }
}

.mat-card {
  background: white;
  &-title {
    border-bottom: 3px solid yellow;
    padding-bottom: 10px;
  }
}

.row-filler {
  opacity: 0;
  height: 1px; // flex: 1;
  padding: 0;
  margin: 0;
}
