<app-page-header>
  <h1>Applications</h1>
  <div class="page-header-right">
    <button md-icon-button [routerLink]="'/applications/new/'"><md-icon>add</md-icon></button>
  </div>
</app-page-header>
<app-loading-page [isLoading]="isFetching" [text]="'Fetching your applications'">
  <p *ngIf="error">We're sorry, we couldn't fetch you applications. Please try again later.</p>
  <div [@cardEnter]="applications?.length" class="card-wall">
    <md-card [routerLink]="['/applications', application?.cfGuid , application?.guid]" *ngFor="let application of applications"
      [ngClass]="'card-wall__card-' + application?.state.toLowerCase()">
      <md-card-header>
        <md-card-title>{{ application?.name }}</md-card-title>
      </md-card-header>
      <md-card-content>
        <div class="card-wall__meta"><b>Instances: </b> {{ application?.instances }}</div>
        <div class="card-wall__meta"><b>State: </b> {{ application?.state }}</div>
        <div class="card-wall__meta"><b>Created at: </b>{{ application?.created_at }}</div>
      </md-card-content>
    </md-card>
    <md-card class="row-filler"></md-card>
  </div>
</app-loading-page>
