.header-event {
  $event-top-line-width: 6px;
  align-items: center;
  border-radius: 0 0 2px 2px;
  display: flex;
  min-height: 40px;
  padding: 10px;
  &__error-icon {
    margin-right: 5px;
  }
  &__outer {
    justify-content: center;
    overflow: visible;
    z-index: 1;
  }
  &__error-message {
    display: flex;
    flex: 1;
  }
  &__error-dismiss {
    cursor: pointer;
  }
  // &__details-link {
  //   &:hover {
  //     font-weight: bold;
  //   }
  // }

}
