$user-profile-avatar-size: 48px;

.user-profile {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 56px;
  mat-card:not(:first-child) {
    margin-top: 24px;
  }
  $option-margin-top: 5px;
  &__options {
    margin-top: -($option-margin-top);
  }
  &__section {
    margin-top: 10px;
  }
  &__option {
    $margin: 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: $option-margin-top;
    padding: 10px;
    &-warning-icon {
      font-size: 18px;
      padding-left: 5px;
    }
    &-subtext {
      font-size: 12px;
      margin-left: 44px;
      margin-top: $margin;
      opacity: .6;
    }
    &-header {
      align-items: center;
      display: flex;
      font-size: 14px;
      font-weight: bold;
    }
  }
  &__info {
    flex: 1;
    overflow: auto;
  }
  &__content {
    margin: 2% 24px;
  }
}
