@import '../../../../sass/mat-desktop';

$user-profile-avatar-size: 48px;

.user-profile {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: $desktop-page-header-height;
  mat-card:not(:first-child) {
    margin-top: 24px;
  }
  &__section {
    margin-top: 10px;
  }

  &__info {
    flex: 1;
    overflow: auto;
  }
  &__content {
    margin: 2% 24px;
  }
}
