:host {
  display: flex;
  width: 100%;
}

.editor-form {
  display: block;
  height: calc(100% - 40px);
  overflow-y: scroll;
  padding: 20px;
  width: 100%;

  &.editor-hidden {
    display: none;
  }
}

.editor-monaco {
  display: block;

  &.editor-hidden {
    display: none;
  }
}

.editor-monaco-edit {
  position: absolute;
}

.card.editor-card > :first-child {
  @apply m-0;
}
