@import '../../../../sass/mixins';

.tile-selectors {
  $bottom-space: 30px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 100%;
  min-height: 0;
  min-width: 0;

  @include breakpoint(tablet) {
    grid-column-gap: $bottom-space;
    grid-row-gap: $bottom-space;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(laptop) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include breakpoint(desktop) {
    grid-template-columns: repeat(5, 1fr);
  }
}
