@import '../../../../sass/mixins';

.tile-selectors {
  $bottom-space: 30px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 100%;
  min-height: 0;
  min-width: 0;


  @include breakpoint(mobileonly) {
    // < 600
    grid-template-columns: repeat(1, 1fr);
  }

  @include breakpoint(phablet) {
    // > 600
    grid-column-gap: $bottom-space;
    grid-row-gap: $bottom-space;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(tablet) {
    // > 900
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(laptop) {
    // > 1200
    grid-template-columns: repeat(4, 1fr);
  }

  @include breakpoint(desktop) {
    // > 1800
    grid-template-columns: repeat(5, 1fr);
  }
}
