$top-index: 2;
$bottom-index: $top-index - 1;
.page-header {
  $breadcrumb-opacity: .7;
  $breadcrumb-hover-opacity: 1;
  $breadcrumb-padding: 3px;
  position: relative;
  z-index: $top-index;
  &__nav-toggle-wrapper {
    margin-right: 20px;
  }
  &__nav-toggle,
  &__logout {
    cursor: pointer;
  }
  &__filler {
    flex: 1 1 auto;
  }
  &__breadcrumb,
  &__breadcrumb-separator {
    opacity: $breadcrumb-opacity;
  }
  &__breadcrumb-separator {
    font-size: 26px;
    margin: 0 $breadcrumb-padding;
    user-select: none;
  }
  &__breadcrumbs {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &__breadcrumb-link {
    cursor: pointer;
    &:hover {
      opacity: $breadcrumb-hover-opacity;
    }
  }
  &__outer {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  &__menu-separator {
    height: 1px;
    margin: 6px 0;
  }
  &__underflow {
    height: 20vh;
  }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 56px;
}

.subheader {
  display: block;
  position: relative;
  z-index: $top-index;
}

.header-events {
  z-index: $bottom-index;
}
