@mixin app-page-header-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $primmary-color: mat-color($primary);
  $status-colors: map-get($app-theme, status);
  $error: map-get($status-colors, danger);
  $warning: map-get($status-colors, warning);
  $info: lighten($primmary-color, 20%);
  .page-header {
    &__menu-separator {
      background-color: mat-color($foreground, divider);
    }
    &__underflow {
      background-color: mat-color($primary);
    }
    &__divider {
      color: mat-contrast($primary, 500);
    }
    &__menu-button-icon {
      background-color: mat-contrast($primary, 500);
      color: mat-color($primary);
    }
    &__username-icon {
      background-color: mat-color($primary);
      color: mat-contrast($primary, 500);
    }
  }
}
