.page-header {
  $breadcrumb-opacity: .7;
  $breadcrumb-hover-opacity: 1;
  $breadcrumb-padding: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(0, 0, 0);
  &__nav-toggle-wrapper {
    margin-right: 20px;
  }
  &__nav-toggle,
  &__logout {
    cursor: pointer;
  }
  &__filler {
    flex: 1 1 auto;
  }
  &__breadcrumb,
  &__breadcrumb-separator {
    opacity: $breadcrumb-opacity;
  }
  &__breadcrumb-separator {
    font-size: 26px;
    margin: 0 $breadcrumb-padding;
    user-select: none;
  }
  &__breadcrumbs {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &__breadcrumb-link {
    cursor: pointer;
    &:hover {
      opacity: $breadcrumb-hover-opacity;
    }
  }
  &__menu-separator {
    height: 1px;
    margin: 6px 0;
  }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 56px;
}
