<div class="login-page">
  <div class="login-background">
    <div class="login-page-text">
      <h1 class="login-page-headline text-center" translate>product.console</h1>

      <p class="login-page-tagline text-center" translate>login.welcome</p>
    </div>
    <div class="login-panel-company-logo brand-company-logo">
      <img translate-img="company.logo" />
    </div>
  </div>
  <div id="section-login-panel" class="login-panel">
    <login-form></login-form>
    <div class="login-panel-product-logo">
    <img translate-img="product.logo" class="company-logo" />
    </div>
    <page-footer context="login.footer" class="position-bottom login-footer brand-footer"></page-footer>
  </div>
</div>
