# This file contains common environment-variables for standing up a development
# environment using docker-compose.
#
# Copy this file to development.rc and edit the values as necessary.
# Note: stand-up-dev-env.sh will try to use it if it's present.


################
# GitHub OAuth #
################

export GITHUB_OAUTH_CLIENT_ID=<add your OAuth client ID here>
export GITHUB_OAUTH_CLIENT_SECRET=<add you OAuth client secret here>
export GITHUB_OAUTH_STATE=thisshouldberando

#############
# Web Proxy #
#############

# Proxy settings if you are require a web proxy

#export http_proxy=http://proxy.company.com:8088
#export https_proxy=$http_proxy
#export no_proxy=localhost,127.0.0.1,92.168.56.102,192.168.99.100,192.168.222.130


###################
# All the things  #
###################

export DB_USER='console'
export DB_PASSWORD='console'
export DB_DATABASE_NAME='console-db'
export DB_HOST='localhost'
export DB_PORT=5432
export DB_CONNECT_TIMEOUT_IN_SECS=100
export DB_SSL_MODE='disable'

export HTTP_CLIENT_TIMEOUT_IN_SECS=30
export HTTP_CLIENT_TIMEOUT_MUTATING_IN_SECS=120
export SKIP_SSL_VALIDATION='true'
export TLS_ADDRESS=':8080'
export CONSOLE_CLIENT='portal-proxy'
export CONSOLE_CLIENT_SECRET='ohsosecret!'
export CF_CLIENT='portal-proxy'
export CF_CLIENT_SECRET='ohsosecret!'
export UAA_ENDPOINTT=https://login.cf.org:443
export ALLOWED_ORIGINS='https://localhost,https://127.0.0.1'
export SESSION_STORE_SECRET='cookiesecret'
export CONSOLE_PROXY_CERT=<cert file contents>
export CONSOLE_PROXY_CERT_KEY=<key file contents>
