@import "settings-page/settings-page";

console-view {
  position: relative;
  display: flex;
  flex-direction: column;
  //padding-top: $page-header-height;
  padding-top: 0;
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  width: calc(100vw - 260px);
  margin-left: 260px;

  &.navbar-icons-only {
    width: calc(100vw - 70px);
    margin-left: 70px;
  }

  & > * {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    & > .content {
      flex: 1 0 auto;
    }
  }

  > .container-fluid {
    overflow-y: auto;
  }
}

@media (max-width: 479px) {
  console-view, console-view.navbar-icons-only {
    width: 100vw;
    margin-left: 0;
  }
}