@import "settings-page/settings-page";

console-view {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  width: calc(100vw - #{$main-nav-width});
  margin-left: $main-nav-width;

  &.navbar-icons-only {
    width: calc(100vw - #{$main-nav-icons-width});
    margin-left: $main-nav-icons-width;
  }

  &.navbar-hidden {
    width: 100vw;
    margin-left: 0;
  }

  & > * {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    & > .content {
      flex: 1 0 auto;
    }
  }

  > .container-fluid {
    overflow-y: auto;
  }
}

@media (max-width: 479px) {
  console-view, console-view.navbar-icons-only {
    width: 100vw;
    margin-left: 0;

    .app-top-bar {
      margin-left: $hpe-unit-space * 1.5;
    }
  }
}