console-view {
  position: relative;
  display: block;
  padding-top: $page-header-height;
  min-height: 100vh;
  overflow-x: hidden;

  > * > .content {
    padding-bottom: $page-footer-height;
  }
}

.breadcrumb {
  margin-left: -$container-fluid-padding;
  padding-left: $navbar-padding-horizontal + $container-fluid-padding;
  width: calc(100% + (#{$container-fluid-padding} * 2));
}
