console-view {
  position: relative;
  display: flex;
  padding-top: $page-header-height;
  min-height: 100vh;
  overflow-x: hidden;

  & > * {
    display: flex;
    flex-direction: column;
    flex: 1;

    & > .content {
      flex: 1;
    }
  }
}
