$menu-height: 140px;

.App {
  &__Wrap {
    @apply bg-white flex min-h-screen flex-col;
    transition: transform .3s ease-out;
    will-change: transform;

    .App__Content {
      @apply flex-1 pt-[70px];
    }
  }

  &__Menu {
    @apply absolute top-0 w-full flex items-center;
    @apply bg-gray-800;
    height: 0;
    transition: height .3s ease-out;
    will-change: height;

    ul {
      @apply list-none;
    }

    li {
      @apply font-normal mb-2 text-xl;
      @apply text-primary;

      a.active {
        @apply font-bold text-white;
      }
    }
  }

  &--openMenu {
    .App__Wrap {
      transform: translateY($menu-height);
    }

    .App__Menu {
      height: $menu-height;
    }
  }
}
