@mixin app-card-status-theme($theme, $app-theme) {
  @keyframes flickerAnimation {
    0% { opacity: 1; }
    50% { opacity: .3; }
    100% { opacity: 1; }
  }
  $status-colors: map-get($app-theme, status);
  .app-card-status {
    background-color: transparent;
    &--ok {
      background-color: map-get($status-colors, success);
    }
    &--warning {
      background-color: map-get($status-colors, warning);
    }
    &--error {
      background-color: map-get($status-colors, danger);
    }
    &--tentative {
      animation: flickerAnimation 1.5s infinite;
      background-color: map-get($status-colors, tentative);
    }
    &--incomplete {
      background-color: map-get($status-colors, tentative);
    }
  }
}
