<div class="usage-gauge">
  <div *ngIf="!barOnly" class="usage-gauge__label">
    <div class="usage-gauge__info">{{ valueText || (value | percentage) }}</div>
    {{ title }}
  </div>
  <div class="usage-gauge__bar">
    <div class="usage-gauge__progress-bar-background"></div>
    <div #usageBar [style.width.%]="value * 100" [ngClass]="{
      'usage-gauge__error': errorAt && value >= errorAt,
      'usage-gauge__warning': warningAt && value >= warningAt
    }" class="usage-gauge__progress-bar">
    </div>
  </div>
</div>
