@import '~@angular/material/theming';
@mixin cf-security-group-theme($theme) {
  .app-chip.mat-chip.mat-primary.tcp-class {
    background-color: mat-color($mat-indigo, 200); // color: mat-color($mat-grey, 50);
    font-family: monospace;
    font-size: 12px;
  }
  .app-chip.mat-chip.mat-primary.all-class {
    background-color: mat-color($mat-blue, 200); // color: mat-color($mat-grey, 50);
    font-family: monospace;
    font-size: 12px;
  }
  .app-chip.mat-chip.mat-primary.udp-class {
    background-color: mat-color($mat-blue-grey, 200); // color: mat-color($mat-grey, 50);
    font-family: monospace;
    font-size: 12px;
  }
}
