.variables-tab {
  &__env-code-block {
    padding-top: 20px;
    .mat-card-content {
      padding-top: 20px;
    }
    &--line {
      pre {
        margin: 0;
        white-space: pre-wrap;
      }
    }
    &--section {
      &:not(:first-of-type) {
        padding-top: 15px;
      }
    }
  }
  &__env-table--add-form {
    form {
      display: flex;
      flex-direction: row;
    }
    mat-form-field {
      padding-right: 10px;
    }
  }
}
