.mat-chip-list {
  &__stacked {
    .mat-chip-list-wrapper {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__rtl {
    .mat-chip-list-wrapper {
      flex-wrap: wrap-reverse;
    }
  }
}
