.app-chip {
  $size: 15px;
  &__busy-spinner,
  &__close {
    margin-left: 5px;
  }
  &__close {
    cursor: pointer;
    font-size: $size;
    height: $size;
    width: $size;
  }
}

.app-chips {
  display: block;
  margin: 5px 0;
  &__limit {
    cursor: pointer;
    font-weight: 300;
    min-width: 0;
    padding: 0 5px;
  }
}

.mat-chip-list {
  $chip-padding: 5px;
  mat-chip {
    // Overriding mat-chips overly specific styles.
    &.app-chip,
    &.app-chip + &.app-chip {
      margin: $chip-padding;
    }
  }
  &__stacked,
  &__rtl {
    // Overriding mat-chips overly specific styles.
    mat-chip {
      &.app-chip,
      &.app-chip + &.app-chip {
        margin: $chip-padding;
      }
    }
  }
}
