.app-chip {
  $size: 15px;
  margin: 5px 5px 5px 0 !important;
  &__busy-spinner,
  &__close {
    margin-left: 5px;
  }
  &__close {
    cursor: pointer;
    font-size: $size;
    height: $size;
    width: $size;
  }
}

.app-chips {
  display: block;
  margin: 5px 0;
  &__limit {
    cursor: pointer;
    padding-left: 5px;
  }
}
