@mixin app-page-header-theme($theme, $app-theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $primmary-color: mat-color($primary);
  $status-colors: map-get($app-theme, status);
  $error: map-get($status-colors, danger);
  $warning: map-get($status-colors, warning);
  $info: lighten($primmary-color, 20%);
  .page-header {
    &__menu-separator {
      background-color: mat-color($foreground, divider);
    }
    &__underflow {
      background-color: mat-color($primary);
    }
  } // Menu size changes - done in theme otherwise would need ViewEncapsulation.None
  .mat-menu-panel.page-header__menu {
    max-width: 400px;
    min-width: 200px;
  }
}
