.hpe-code-block {
  $fade-transition-duration: 250ms;
  position: relative;

  > pre {
    min-height: 2.5 * $hpe-unit-space;
    padding: 0.5 * $hpe-unit-space;
    margin: 0;
  }

  .hpe-copy {
    position: absolute;
    right: 0.5 * $hpe-unit-space;
    top: 0.5 * $hpe-unit-space;
    cursor: pointer;
    transition: opacity $fade-transition-duration linear;

    &:after {
      position: relative;
      top: auto;
      right: auto;
    }
  }

  .hpe-copied-msg {
    background-color: $pre-bg;
  }

  &.hpe-code-block-dark {
    > pre {
      background-color: $hpe-primary-fg;
      color: $silver;
    }

    .hpe-copy {
      color: $silver;
    }

    .hpe-copied-msg {
      color: $silver;
      background-color: $hpe-primary-fg;
    }
  }

  .hpe-code-block-copied-msg {
    position: absolute;
    right: 0.5 * $hpe-unit-space;
    top: 0.5 * $hpe-unit-space;
    color: #333;
    opacity: 0;
    transition: opacity $fade-transition-duration linear;
    display: flex;

    .hpe-copied-msg {
      margin: auto;
      padding: 0 0.5 * $hpe-unit-space;
    }

    .hpe-copy-success-icon {
       &:after {
         font-size: 24px;
         content: $helion-icon-Active_L;
         font-family: 'helion-icons';
         color: $hpe-primary;
      }
    }
  }

  &.copy-success {
    .hpe-copy {
      opacity: 0;
      pointer-events: none;
      cursor: default;
    }

    .hpe-code-block-copied-msg {
      opacity: 1;
    }
  }
}

.hpe-code-block-temp {
  position: relative;
  width: 0px;
  height: 0px;
  border: 0;
}
