.no-connected-endpoints {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__message {
    font-size: 24px;
    color: #666;
    display: flex;
    flex-direction: column;
    &__primary {
      flex-direction: row;
      font-size: 36px;
      mat-icon {
        text-align: center;
        font-size: 96px;
        width: 100%;
      }
    }
    &__secondary {
      a {
        color: #00c081;
        width: 100%;
      }
    }
  }
}
