:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.organizations {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.create-button-contents {
  align-items: center;
  display: flex;
}
