.loading-page {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: -5px;
  position: absolute;
  right: 0;
  top: 0;

  &__indicator {
    flex: none;

    &-bar {
      margin-top: 15px;
    }

    &-alert {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 24px;
      text-align: center;
    }
  }
}
