<div ng-if="!clusterOrgDetailController.organization().details"
     class="cluster-loading col-md-12 col-sm-12 col-xs-121">
  <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
</div>

<div ng-if="clusterOrgDetailController.organization().details"
     class="cluster-detail endpoints"
     class="col-md-12 col-sm-12 col-xs-12"
    >
  <div class="application-header font-semi-bold">
    <h3 translate translate-value-name="{{ clusterOrgDetailController.organization().details.org.entity.name }}">org-info.title</h3>
    <cluster-actions
      ng-show="clusterOrgDetailController.hasActions"
      has-actions="clusterOrgDetailController.hasActions"></cluster-actions>
  </div>  
  
  <organization-summary-tile
    cluster-guid="clusterOrgDetailController.clusterGuid"
    organization="clusterOrgDetailController.organization()"
    organization-names="clusterOrgDetailController.organizationNames">
  </organization-summary-tile>

  <ul class="application-nav nav nav-tabs col-sm-12">
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="endpoint.clusters.cluster.organization.detail.spaces" translate>
        org-info.space-tab-title
      </a>
    </li>
    <li class="nav-item" ui-sref-active="active">
      <a class="nav-link" ui-sref="endpoint.clusters.cluster.organization.detail.users" translate>
        org-info.users-tab-title
      </a>
    </li>
  </ul>
  <ui-view></ui-view>
</div>
