<div ng-if="!clusterOrgDetailController.organization().details"
     class="cluster-loading col-md-12 col-sm-12 col-xs-121">
  <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
</div>

<div ng-if="clusterOrgDetailController.organization().details"
     class="cluster-detail endpoints"
     class="col-md-12 col-sm-12 col-xs-12"
    >
  <div class="application-header font-semi-bold">
    <h3 translate translate-value-name="{{ clusterOrgDetailController.organization().details.org.entity.name }}">cf.org-info.title</h3>
    <cluster-actions
      ng-show="clusterOrgDetailController.hasActions"
      has-actions="clusterOrgDetailController.hasActions"></cluster-actions>
  </div>  
  
  <organization-summary-tile
    cluster-guid="clusterOrgDetailController.clusterGuid"
    organization="clusterOrgDetailController.organization()"
    organization-names="clusterOrgDetailController.organizationNames">
  </organization-summary-tile>

  <cf-tabs tabs="clusterOrgDetailController.cfTabs.orgTabs"></cf-tabs>

  <ui-view></ui-view>
</div>
