@import "app-error-bar/app-error-bar";
@import "navbar/navbar";
@import "login-page/login-page";
@import "page-footer/page-footer";
@import "console-view/console-view";
@import "console-error/console-error";
@import "endpoints/endpoints";

.form-buttons {
  margin-top: 40px;

  button {
    margin-left: 10px;
  }
}

.overlay-position {
  background-color: $body-bg;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.application-global-spinner {
  .global-spinner-message {
    color: $gray-light;
    text-transform: uppercase;
  }
}

.position-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.caption {
  font-weight: $console-font-weight-semibold;
  text-transform: uppercase;
  color: $text-color;
  font-size: $font-size-large;
  margin-bottom: $console-unit-space / 2;
}

paginator {
  display: block;
  clear: both;
  padding: $console-unit-space / 4 $console-unit-space * 2 / 3;
}

.action-bar {
  line-height: $console-unit-space * 3;
  vertical-align: middle;
  margin-top: 0;
  padding-left: 0;
  padding-right: $console-unit-space;

  &.panel-less {
    margin-top: 0;
    padding-left: 16px;
    padding-right: 16px;

    h1 {
      margin-top: $console-unit-space / 2;
    }
  }

  .btn {
    margin-left: $console-unit-space / 3;
  }
}
