// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./sass/colors";
@import "./sass/theme";
@import "./sass/mixins";
@import "./sass/components/card-wall";
body {
  margin: 0;
  font-family: Lato, sans-serif;
  color: mat-color($suse-blue, 100);
  // font-size: 13px;
}

html {
  background-color: mat-color($suse-blue, 500);
}

body,
html {
  height: auto;
}
