// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./sass/colors";
@import "./sass/theme";
@import "./sass/mixins";
@import "./sass/components/card-wall";
@import "./sass/components/tabs";
body {
  margin: 0;
  font-family: Lato, sans-serif; // font-size: 13px;
}

body,
html {
  height: 100%;
}

.inline-icon {
  display: inline-block;
  &__form {
    position: absolute;
    right: -20px;
    top: 0;
    margin-left: 8px;
  }
}

.dashboard .mat-drawer-content {
  overflow: visible;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button.mat-simple-snackbar-action {
  margin-left: 0;
}
