// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./sass/colors";
@import "./sass/theme";
@import "./sass/mixins";
@import "./sass/components/card-wall";
body {
  margin: 0;
  font-family: Lato, sans-serif; // font-size: 13px;
}

body,
html {
  min-height: 100vh;
}

.inline-icon {
  display: inline-block;
  &__form {
    position: absolute;
    right: -20px;
    top: 0;
    margin-left: 8px;
  }
}
