// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./sass/colors";
@import "./sass/theme";
body {
  margin: 0;
  font-family: Lato, sans-serif;
}

html {
  background-color: $dark-grey;
}
