<div>
  <div class="bottom-nav-copyright" translate>navbar.copyright</div>
  <div class="bottom-nav-menu" id="navbar-user-menu-dropdown">
    <div class="bottom-nav-menu-wrapper">
      <div class="bottom-nav-menu dropup">
        <div class="bottom-nav-menu-icon dropdown-toggle" data-toggle="dropdown">
          <i class="material-icons">more_vert</i>
        </div>
        <ul class="bottom-nav-menu-list dropdown-menu">
          <li class="bottom-nav-menu-item" ng-repeat="menuItem in btmNavCtrl.navigationModel.bottomMenu" ng-if="!menuItem.hidden">
            <nav-item item="menuItem"></nav-item>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>