<a class="nav-item" id="navbar-item-{{navItem.item.name}}" ng-if="navItem.item.href" ui-sref="{{ navItem.item.href }}" ui-sref-opts="{reload: true}">
  <div class="nav-item-inner">
    <app-icon ng-if="navItem.item.icon" icon="{{ navItem.item.icon }}"></app-icon>
    <span translate>{{ navItem.item.text || navItem.item.name }}</span>
  </div>
</a>
<a class="nav-item" id="navbar-item-{{navItem.item.name}}" ng-if="navItem.item.onClick" ng-click="navItem.item.onClick()">
  <div class="nav-item-inner">
    <app-icon ng-if="navItem.item.icon" icon="{{ navItem.item.icon }}"></app-icon>
    <span translate>{{ navItem.item.text || navItem.item.name }}</span>
  </div>
</a>
