secondary-nav {
  display: flex;

  ul.secondary-navbar-nav {
    display: flex;
    margin: 0;
    height: $page-header-height;
    align-items: center;
    padding: 0;

    > li {
      list-style: none;

      a, a:hover, a:active {
        color: #000;
        text-decoration: none;
      }

      .navtab-inner app-icon {
        display: flex;
      }
      
      &.active {
        .navtab {
          padding-top: $secondary-nav-underline-size;
          border-bottom: $secondary-nav-underline-size solid $secondary-nav-active-color;
        }      
      }
    }
  }
}