$hpe-box-shadow-shape:          8px 8px 0 !default;
$hpe-box-shadow-shape-small:    2px 2px 0 !default;
$hpe-box-shadow-color:          rgba(0, 0, 0, 0.05) !default;

// FIXME: Refactor to the appropriate files

$page-header-height         : 96px !default;
$page-footer-height         : 176px !default;
$page-footer-color-bg       : #333 !default;
$page-footer-color-fg       : #fff !default;

$page-header-fg             : #333 !default;
$page-header-fg-unselected  : #999 !default;
$page-header-bg             : #fff !default;

$navbar-height              : $page-header-height !default;

$checkbox-button-font-family    : "helion-icons" !default;
$checkbox-button-unchecked-icon : "\e92a" !default; // helion-icon-Checkbox
$checkbox-button-checked-icon   : "\e92b" !default; // helion-icon-Checkbox_selected

$radio-button-font-family       : "helion-icons" !default;
$radio-button-unchecked-icon    : "\e9f9" !default; // helion-icon-Radial_button
$radio-button-checked-icon      : "\ea74" !default; // helion-icon-Radial_Black
