:host {
  height: 100%;
  position: relative;
  width: 100%;
}

.deploy-app {
  display: flex;
  height: 43px;
  opacity: .9;
  padding: 12px;
  position: absolute;
  width: 100%;
  z-index: 1;
  &__title {
    flex: 1;
    font-weight: 600;
  }
  &__spinner {
    flex: 0;
  }
  &__log {
    display: flex;
    height: 100%;
  }
}

