<form class="create-space-form" name="form.createSpace">
  <div class="form-group organizations-drop-down" focusable-input
       ng-class="{'has-error': form.createSpace.name.$invalid}">
    <label class="control-label" translate>cf.cluster-actions.create-space.dialog.org-label</label>
    <select-input
      ng-model="asyncTaskDialogCtrl.context.data.organization"
      input-options="asyncTaskDialogCtrl.context.data.organizations"
      ng-change="asyncTaskDialogCtrl.context.data.setOrganization()">
    </select-input>
  </div>

  <div ng-repeat="space in asyncTaskDialogCtrl.context.data.spaces track by $index" class="form-group" focusable-input
       ng-class="{'has-error': form.createSpace['name' + $index].$invalid && form.createSpace['name' + $index].$dirty}">
    <label class="control-label" translate translate-value-index="{{$index > 0 ? ($index + 1) : ''}}">cf.cluster-actions.create-space.dialog.space-label</label>
    <span class="control-message">
      <span translate ng-if="form.createSpace['name' + $index].$error.required">cf.cluster-actions.create-space.dialog.space-error-required</span>
      <span translate ng-if="form.createSpace['name' + $index].$error.stratosUnique">cf.cluster-actions.create-space.dialog.space-error-unique</span>
      <span translate ng-if="form.createSpace['name' + $index].$error.dupeName">cf.cluster-actions.create-space.dialog.space-error-unique</span>
    </span>
    <input type="text" name="name{{ $index }}" auto-focus="300" class="form-control"
           ng-model="asyncTaskDialogCtrl.context.data.spaces[$index]"
           stratos-unique items="asyncTaskDialogCtrl.context.data.existingSpaceNames"
           unique-space-name="{{ $index }}"
           ng-disabled = "!asyncTaskDialogCtrl.context.data.isUserOrgManager(asyncTaskDialogCtrl.context.data.organization)"
           required/>
    <div translate class="remove-space"
         ng-if="asyncTaskDialogCtrl.context.data.spaces.length > 1"
         ng-click="asyncTaskDialogCtrl.context.data.removeSpace($index)">
      cf.cluster-actions.create-space.dialog.remove-button
    </div>
  </div>

  <div class="create-space-button"
       ng-disabled="asyncTaskDialogCtrl.context.data.createSpaceDisabled()"
       ng-click="asyncTaskDialogCtrl.context.data.addSpace()">
    <div>
      <svg-image class="add-icon" src="/svg/Add_Green.svg"></svg-image>
    </div>
    <span translate>cf.cluster-actions.create-space.dialog.create-another-button</span>
  </div>

</form>
