<form name="form.editOrganization">
  <div class="form-group" focusable-input
       ng-class="{'has-error': form.editOrganization.orgName.$invalid}">
    <label class="control-label" translate>org-info.edit-dialog.org-label</label>
    <span class="control-message">
      <span translate ng-if="form.editOrganization.orgName.$error.required">org-info.edit-dialog.org-error-required</span>
      <span translate ng-if="form.editOrganization.orgName.$error.stratosUnique">org-info.edit-dialog.org-error-unique</span>
    </span>
    <input type="text" name="orgName" auto-focus="300" class="form-control"
           stratos-unique items="asyncTaskDialogCtrl.context.data.organizationNames"
           ng-model="asyncTaskDialogCtrl.context.data.name" required/>
  </div>
</form>
