@reference 'tailwindcss';

.kube-certs-auth__content {
  @apply flex flex-col pt-4;

  > * {
    margin-bottom: 10px;
  }

  textarea {
    max-height: 75px;
    min-height: 60px;
    font-family: "Source Code Pro";
    font-size: 14px;
    line-break: anywhere;
  }
}
