.create-space-form {

  div.organizations-drop-down {
    margin-bottom: 30px;
  }

  .create-space-button {
    padding-left: 0;
    padding-right: 10px;
    font-size: 16px;
    text-transform: none;
  }

}
