<form name="editSpaceForm">
  <div class="form-group" focusable-input
       ng-class="{'has-error': editSpaceForm.name.$invalid && editSpaceForm.name.$dirty}">
    <label class="control-label" translate>Space Name</label>
    <span class="control-message">
      <span translate ng-if="editSpaceForm.name.$error.required">Name is required</span>
      <span translate ng-if="editSpaceForm.name.$error.helionUnique">Name must be unique</span>
    </span>
    <input type="text" name="name" auto-focus class="form-control"
           helion-unique items="asyncTaskDialogCtrl.context.data.spaceNames"
           ng-model="asyncTaskDialogCtrl.context.data.name" required/>
    <br><br>
  </div>
</form>
