<form name="editOrganizationForm">
  <div class="form-group" focusable-input
       ng-class="{'has-error': editOrganizationForm.name.$invalid && editOrganizationForm.name.$dirty}">
    <label class="control-label" translate>Organization Name</label>
    <span class="control-message">
      <span translate ng-if="editOrganizationForm.name.$error.required">Name is required</span>
      <span translate ng-if="editOrganizationForm.name.$error.helionUnique">Name must be unique</span>
    </span>
    <input type="text" name="name" auto-focus class="form-control"
           helion-unique items="asyncTaskDialogCtrl.context.data.organizationNames"
           ng-model="asyncTaskDialogCtrl.context.data.name" required/>
  </div>
</form>
