// Terminal colours based on the Dark Pastels konsole scheme
$colours: (
    'black': (
        normal: #3F3F3F,
        intense: #709080
    ),
    'red': (
        normal: #C25E00,
        intense: #DCA3A3
    ),
    'green': (
        normal: #60B48A,
        intense: #72D5A3
    ),
    'yellow': (
        normal: #DFAF8F,
        intense: #F0DFAF
    ),
    'blue': (
        normal: #9AB8D7,
        intense: #94BFF3
    ),
    'purple': (
        normal: #DC8CC3,
        intense: #EC93D3
    ),
    'cyan': (
        normal: #8CD0D3,
        intense: #93E0E3
    ),
    'white': (
        normal: #DCDCCC,
        intense: #FFFFFF
    )
);

@each $colourName, $colour in $colours {
    .ansi-#{$colourName} {
        color: map-get($colour, normal);
        &.intense {
            color: map-get($colour, intense);
        }
    }
    .ansi-background-#{$colourName} {
        background-color: map-get($colour, normal);
    }
}

.intense {
    font-weight: bold;
}
