.service-card {
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &__icon-link {
    align-items: center;
    display: flex;
    text-decoration: none;
  }
}
