@import '../../../../sass/mixins';

.favorite-entity-list {
  $bottom-space: 30px;
  display: flex;
  flex-direction: column;
  &__search-form {
    padding-left: 5px;
    padding-top: 1.25em;
  }
  &__name-search {
    padding-right: 20px;
  }
  &__cards {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    min-height: 0;
    min-width: 0;
    @include breakpoint(tablet) {
      grid-column-gap: $bottom-space;
      grid-row-gap: $bottom-space;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__card {
    min-width: 0;
  }
  &__expand-button {
    height: $bottom-space;
    line-height: $bottom-space;
    margin: auto;
    margin-bottom: -20px;
    margin-top: 10px;
    width: $bottom-space;
  }
  &__hide-filters {
    height: 0;
    visibility: hidden;
  }
}
