.app-variables {
  padding: $console-unit-space;
  background-color: $console-primary-fg;
  color: $white;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: $font-size-monospace;

  .app-variable {
    pre {
      background-color: inherit;
      color: inherit;
      font-size: inherit;
      border: 0;
      padding: 0;
      line-height: inherit;
      margin: 0;
      overflow-x: hidden;
    }
  }
}

table.app-variables-table {

  tr td.table-inline-message .popover.console-popover-alert-warning {
    > .arrow {
      border-bottom-color: $state-danger-bg;
    }

    > .popover-content {
      background-color: $state-danger-bg;
    }
  }
}
