<actions-menu class="application-nav-menu visible-sm visible-xs cluster-actions-menu" actions="clusterActionsCtrl.clusterActions"
              menu-icon="app-icon-2x"
              menu-position="actions-menu-right">
</actions-menu>
<ul class="hidden-sm hidden-xs list-unstyled application-action-col">
  <li class="side-action-item" ng-repeat="clusterAction in clusterActionsCtrl.clusterActions">
    <button class="no-focus btn btn-link btn-border-less"
            ng-disabled="clusterAction.disabled"
            ng-hide="clusterAction.hidden"
            ng-click="clusterAction.execute()">
      <app-icon class="{{clusterAction.iconClass}}" icon="{{clusterAction.icon}}"></app-icon>
      <span>{{ clusterAction.name }}</span>
    </button>
  </li>
</ul>
