$helion-icon-Achievement_enable: "\e901";
$helion-icon-Action: "\e902";
$helion-icon-Actions: "\e903";
$helion-icon-Active_L: "\e904";
$helion-icon-Active_M: "\e905";
$helion-icon-Active_S: "\e906";
$helion-icon-Add: "\e909";
$helion-icon-Add_user: "\e908";
$helion-icon-Add_user_pressed: "\e907";
$helion-icon-Admin: "\e90a";
$helion-icon-Advanced_search: "\e90b";
$helion-icon-Aggregate: "\e90c";
$helion-icon-Alert: "\e90e";
$helion-icon-Alert_pressed: "\e90d";
$helion-icon-Analytics: "\e90f";
$helion-icon-Announcement: "\e910";
$helion-icon-App: "\e911";
$helion-icon-Apple: "\e912";
$helion-icon-Application: "\ea77";
$helion-icon-Archive: "\e913";
$helion-icon-Article: "\e914";
$helion-icon-Ascend: "\e915";
$helion-icon-Attachment: "\e916";
$helion-icon-Bar_chart: "\e917";
$helion-icon-Blog: "\e918";
$helion-icon-Book: "\e919";
$helion-icon-Bookmark: "\e91b";
$helion-icon-Bookmark_pressed: "\e91a";
$helion-icon-Bottom_corner: "\e91c";
$helion-icon-Bottom_link: "\e91d";
$helion-icon-Bug_defect: "\e91e";
$helion-icon-Bundle: "\e91f";
$helion-icon-Calculator: "\e920";
$helion-icon-Calendar: "\e921";
$helion-icon-Camera: "\e923";
$helion-icon-Camera_pressed: "\e922";
$helion-icon-Capacity: "\e924";
$helion-icon-Card_Sort: "\e925";
$helion-icon-Catalog: "\e926";
$helion-icon-Chapter_add: "\e927";
$helion-icon-Chat: "\e928";
$helion-icon-Check: "\e929";
$helion-icon-Checkbox: "\e92a";
$helion-icon-Checkbox_selected: "\e92b";
$helion-icon-Checkmark: "\e92c";
$helion-icon-Chip: "\ea6c";
$helion-icon-Chrome: "\e92d";
$helion-icon-Circular_view: "\e92e";
$helion-icon-Clipboard: "\e92f";
$helion-icon-Clock: "\e931";
$helion-icon-Clock_alarm: "\e930";
$helion-icon-Clone: "\e932";
$helion-icon-Close: "\e933";
$helion-icon-Cloud: "\e938";
$helion-icon-Cloud_computer: "\e934";
$helion-icon-Cloud_download: "\e935";
$helion-icon-Cloud_software: "\e936";
$helion-icon-Cloud_upload: "\e937";
$helion-icon-Cluster: "\e939";
$helion-icon-Code: "\e93a";
$helion-icon-Command_line: "\e93b";
$helion-icon-Compare: "\e93c";
$helion-icon-Compass: "\e93d";
$helion-icon-Compliance: "\e93e";
$helion-icon-Configuration: "\e940";
$helion-icon-Configuration_pressed: "\e93f";
$helion-icon-Connect: "\e941";
$helion-icon-Contact_Us: "\e944";
$helion-icon-Contact_Us_pressed: "\e943";
$helion-icon-Contact_info: "\e942";
$helion-icon-Continuous_integration: "\e946";
$helion-icon-Continuous_integration_pressed: "\e945";
$helion-icon-Contract: "\e947";
$helion-icon-Copy: "\e948";
$helion-icon-Critical_L: "\e949";
$helion-icon-Critical_M: "\e94a";
$helion-icon-Critical_S: "\e94b";
$helion-icon-Cursor-Pointer: "\e94d";
$helion-icon-Cursor-Pointer_pressed: "\e94c";
$helion-icon-Cut: "\e94e";
$helion-icon-Cycle: "\e94f";
$helion-icon-D_interaction: "\e900";
$helion-icon-Dashboard: "\e950";
$helion-icon-Database: "\e951";
$helion-icon-Deliver_transit: "\e952";
$helion-icon-Deployment: "\e953";
$helion-icon-Descend: "\e954";
$helion-icon-Desktop: "\e955";
$helion-icon-Detach: "\e956";
$helion-icon-Directions: "\e957";
$helion-icon-Disabled_L: "\e958";
$helion-icon-Disabled_M: "\e959";
$helion-icon-Disabled_S: "\e95a";
$helion-icon-Dislike: "\e95c";
$helion-icon-Dislike_pressed: "\e95b";
$helion-icon-Divide_in_center: "\e95d";
$helion-icon-Divide_to_four: "\e95e";
$helion-icon-Divide_to_right: "\e95f";
$helion-icon-Divide_to_three: "\e960";
$helion-icon-Document_CSV: "\e963";
$helion-icon-Document_Microsoft_Excel: "\e969";
$helion-icon-Document_Microsoft_Notes: "\e96a";
$helion-icon-Document_Microsoft_Outlook: "\e96b";
$helion-icon-Document_Microsoft_PowerPoint: "\e96c";
$helion-icon-Document_Microsoft_Word: "\e96d";
$helion-icon-Document_PDF: "\e96e";
$helion-icon-Document_cloud: "\e961";
$helion-icon-Document_configuration: "\e962";
$helion-icon-Document_datafile: "\e964";
$helion-icon-Document_download: "\e965";
$helion-icon-Document_general: "\e966";
$helion-icon-Document_image: "\e967";
$helion-icon-Document_locked: "\e968";
$helion-icon-Document_performance: "\e96f";
$helion-icon-Document_rich_text: "\e970";
$helion-icon-Document_sound: "\e971";
$helion-icon-Document_test: "\e972";
$helion-icon-Document_text: "\e973";
$helion-icon-Document_threats: "\e974";
$helion-icon-Document_transfer: "\e975";
$helion-icon-Document_upload: "\e976";
$helion-icon-Document_user: "\e977";
$helion-icon-Document_video: "\e978";
$helion-icon-Document_zip: "\e979";
$helion-icon-Domain: "\e97a";
$helion-icon-Down: "\e97c";
$helion-icon-Down_link: "\e97b";
$helion-icon-Download: "\e97d";
$helion-icon-Drag: "\e97e";
$helion-icon-Drive_cage: "\e97f";
$helion-icon-Drop-down_Arrow: "\e981";
$helion-icon-Drop_caret: "\e980";
$helion-icon-Dropbox: "\e982";
$helion-icon-Duplicate: "\e983";
$helion-icon-Edit: "\e985";
$helion-icon-Edit_pressed: "\e984";
$helion-icon-Eject: "\e987";
$helion-icon-Eject_pressed: "\e986";
$helion-icon-Email: "\e988";
$helion-icon-Empty_Check: "\e989";
$helion-icon-Environment: "\e98a";
$helion-icon-Expand: "\e98b";
$helion-icon-Facebook: "\e98c";
$helion-icon-Fast_forward-Next_chapter: "\e98e";
$helion-icon-Fast_forward-Next_chapter_pressed: "\e98d";
$helion-icon-Fast_rewind-Previous_chapter: "\e990";
$helion-icon-Fast_rewind-Previous_chapter_pressed: "\e98f";
$helion-icon-Favorite: "\e992";
$helion-icon-Favorite_pressed: "\e991";
$helion-icon-Female_user: "\e994";
$helion-icon-Female_user_pressed: "\e993";
$helion-icon-Filter: "\e996";
$helion-icon-Filter_pressed: "\e995";
$helion-icon-Firefox: "\e997";
$helion-icon-First_aid_treatment: "\e998";
$helion-icon-Flag: "\e99a";
$helion-icon-Flag_pressed: "\e999";
$helion-icon-Folder_open: "\e99b";
$helion-icon-Gallery: "\e99d";
$helion-icon-Gallery_pressed: "\e99c";
$helion-icon-Gear: "\e99e";
$helion-icon-Globe: "\e99f";
$helion-icon-Google-Plus: "\e9a1";
$helion-icon-Google_Wallet: "\e9a0";
$helion-icon-Grid: "\e9a2";
$helion-icon-Group: "\e9a3";
$helion-icon-Grow: "\e9a4";
$helion-icon-Half_star: "\e9a5";
$helion-icon-Halt-stop: "\e9a6";
$helion-icon-Help: "\e9a7";
$helion-icon-History: "\e9a8";
$helion-icon-Home: "\e9aa";
$helion-icon-Home_pressed: "\e9a9";
$helion-icon-Host: "\e9ac";
$helion-icon-Host_maintenance: "\e9ab";
$helion-icon-Image: "\e9ae";
$helion-icon-Image_pressed: "\e9ad";
$helion-icon-Impact: "\e9af";
$helion-icon-In_progress: "\e9b0";
$helion-icon-Inbox: "\e9b1";
$helion-icon-Indicator: "\e9b3";
$helion-icon-Indicator_pressed: "\e9b2";
$helion-icon-Information: "\e9b5";
$helion-icon-Information_pressed: "\e9b4";
$helion-icon-Inherit: "\e9b7";
$helion-icon-Inherit_pressed: "\e9b6";
$helion-icon-Instagram: "\e9b8";
$helion-icon-Install: "\e9b9";
$helion-icon-Integration: "\e9ba";
$helion-icon-Iteration: "\e9bc";
$helion-icon-Iteration_pressed: "\e9bb";
$helion-icon-Java: "\e9be";
$helion-icon-Java_pressed: "\e9bd";
$helion-icon-Language: "\e9bf";
$helion-icon-Launch: "\e9c0";
$helion-icon-Left_Arrow: "\e9c1";
$helion-icon-License: "\e9c3";
$helion-icon-License_pressed: "\e9c2";
$helion-icon-Like: "\e9c5";
$helion-icon-Like_pressed: "\e9c4";
$helion-icon-Line_chart: "\e9c6";
$helion-icon-Link: "\e9c7";
$helion-icon-Linkedin: "\e9c8";
$helion-icon-List_Sort: "\e9c9";
$helion-icon-Location: "\e9cb";
$helion-icon-Location_pressed: "\e9ca";
$helion-icon-Lock: "\e9cc";
$helion-icon-Login: "\e9cd";
$helion-icon-Logout: "\e9ce";
$helion-icon-Mail: "\e9cf";
$helion-icon-Management: "\e9d0";
$helion-icon-Map: "\e9d2";
$helion-icon-Map-2: "\e9d1";
$helion-icon-MasterCard: "\e9d3";
$helion-icon-Medium: "\e9d4";
$helion-icon-Menu: "\e9d5";
$helion-icon-Microphone: "\e9d7";
$helion-icon-Microphone_pressed: "\e9d6";
$helion-icon-Minus: "\e9d8";
$helion-icon-Missing_document: "\e9d9";
$helion-icon-Monitor: "\e9da";
$helion-icon-More: "\ea6a";
$helion-icon-Multiple: "\e9db";
$helion-icon-Navigate: "\e9dc";
$helion-icon-Networking: "\ea6d";
$helion-icon-New_window: "\e9dd";
$helion-icon-Next: "\e9e0";
$helion-icon-Next_caret: "\e9de";
$helion-icon-Next_link: "\e9df";
$helion-icon-Notification: "\e9e2";
$helion-icon-Notification_pressed: "\e9e1";
$helion-icon-Optimization: "\e9e3";
$helion-icon-Overview: "\e9e4";
$helion-icon-Pan: "\e9e5";
$helion-icon-Paper: "\e9e6";
$helion-icon-Pause: "\e9e8";
$helion-icon-Pause_pressed: "\e9e7";
$helion-icon-PayPal: "\e9e9";
$helion-icon-Personal_computer: "\e9ea";
$helion-icon-Pin: "\e9ec";
$helion-icon-Pin_pressed: "\e9eb";
$helion-icon-Pinterest: "\e9ed";
$helion-icon-Play: "\e9ef";
$helion-icon-Play_pressed: "\e9ee";
$helion-icon-Plus: "\e9f0";
$helion-icon-Police: "\e9f1";
$helion-icon-Power: "\e9f2";
$helion-icon-Previous: "\e9f6";
$helion-icon-Previous_caret: "\e9f3";
$helion-icon-Previous_link: "\e9f4";
$helion-icon-Previous_tab: "\e9f5";
$helion-icon-Print: "\e9f7";
$helion-icon-Quick_view: "\e9f8";
$helion-icon-RSS: "\ea00";
$helion-icon-Radial_button: "\e9f9";
$helion-icon-Reddit: "\e9fa";
$helion-icon-Refresh: "\e9fb";
$helion-icon-Resources: "\e9fc";
$helion-icon-Right_Arrow: "\e9fd";
$helion-icon-Risk: "\e9fe";
$helion-icon-Robot_assistant: "\e9ff";
$helion-icon-SOA: "\ea17";
$helion-icon-Schedule: "\ea04";
$helion-icon-Schedule_clone: "\ea01";
$helion-icon-Schedule_new: "\ea02";
$helion-icon-Schedule_play: "\ea03";
$helion-icon-Scorecard: "\ea05";
$helion-icon-Search: "\ea06";
$helion-icon-Secure: "\ea07";
$helion-icon-Select: "\ea09";
$helion-icon-Select_left: "\ea08";
$helion-icon-Server: "\ea0b";
$helion-icon-Server_cluster: "\ea0a";
$helion-icon-Servers: "\ea0c";
$helion-icon-Service_business: "\ea0d";
$helion-icon-Service_start: "\ea0e";
$helion-icon-Share: "\ea0f";
$helion-icon-Shield: "\ea12";
$helion-icon-Shield_cog: "\ea10";
$helion-icon-Shield_pressed: "\ea11";
$helion-icon-Shift_sprint: "\ea13";
$helion-icon-Shopping_basket: "\ea14";
$helion-icon-Shopping_cart: "\ea15";
$helion-icon-Skype: "\ea16";
$helion-icon-Sort: "\ea18";
$helion-icon-Square: "\ea19";
$helion-icon-Stakeholder: "\ea1a";
$helion-icon-Star: "\ea1c";
$helion-icon-Star_pressed: "\ea1b";
$helion-icon-Steps: "\ea1e";
$helion-icon-Steps_pressed: "\ea1d";
$helion-icon-Storage: "\ea6b";
$helion-icon-Street_view: "\ea21";
$helion-icon-Street_view-2: "\ea20";
$helion-icon-Street_view_pressed: "\ea1f";
$helion-icon-Support: "\ea22";
$helion-icon-System: "\ea23";
$helion-icon-Tab: "\ea24";
$helion-icon-Table_add: "\ea25";
$helion-icon-Tag: "\ea27";
$helion-icon-Tag_pressed: "\ea26";
$helion-icon-Target: "\ea28";
$helion-icon-Task: "\ea29";
$helion-icon-Template: "\ea2a";
$helion-icon-Test: "\ea2c";
$helion-icon-Test_desktop: "\ea2b";
$helion-icon-Text_wrap: "\ea2d";
$helion-icon-Threats: "\ea2e";
$helion-icon-Tool_tips: "\ea2f";
$helion-icon-Tools: "\ea30";
$helion-icon-Top_corner: "\ea31";
$helion-icon-Top_link: "\ea32";
$helion-icon-Transaction: "\ea34";
$helion-icon-Transaction_pressed: "\ea33";
$helion-icon-Trash: "\ea36";
$helion-icon-Trash_pressed: "\ea35";
$helion-icon-Tree: "\ea37";
$helion-icon-Trigger: "\ea38";
$helion-icon-Trophy: "\ea3a";
$helion-icon-Trophy_pressed: "\ea39";
$helion-icon-Troubleshooting: "\ea3b";
$helion-icon-Tumblr: "\ea3c";
$helion-icon-Twitter: "\ea3d";
$helion-icon-Unknown_L: "\ea3e";
$helion-icon-Unknown_M: "\ea3f";
$helion-icon-Unknown_S: "\ea40";
$helion-icon-Unlock: "\ea41";
$helion-icon-Up: "\ea45";
$helion-icon-Up_caret: "\ea42";
$helion-icon-Up_link: "\ea43";
$helion-icon-Up_tab: "\ea44";
$helion-icon-Update: "\ea46";
$helion-icon-Upgrade: "\ea48";
$helion-icon-Upgrade_pressed: "\ea47";
$helion-icon-Upload: "\ea49";
$helion-icon-User: "\ea4e";
$helion-icon-User_expert: "\ea4a";
$helion-icon-User_new: "\ea4b";
$helion-icon-User_pressed: "\ea4c";
$helion-icon-User_settings: "\ea4d";
$helion-icon-VISA: "\ea58";
$helion-icon-VM_maintenance: "\ea59";
$helion-icon-Validation: "\ea50";
$helion-icon-Validation_pressed: "\ea4f";
$helion-icon-Verified_document: "\ea51";
$helion-icon-Video: "\ea53";
$helion-icon-Video_pressed: "\ea52";
$helion-icon-View: "\ea55";
$helion-icon-View_pressed: "\ea54";
$helion-icon-Vimeo: "\ea56";
$helion-icon-Virtual_machine: "\ea57";
$helion-icon-Volume_low: "\ea5b";
$helion-icon-Volume_low_pressed: "\ea5a";
$helion-icon-Volume_mute: "\ea5d";
$helion-icon-Volume_mute_pressed: "\ea5c";
$helion-icon-Volume_pressed: "\ea5e";
$helion-icon-Vulnerability: "\ea5f";
$helion-icon-Warning_L: "\ea60";
$helion-icon-Warning_M: "\ea61";
$helion-icon-Warning_S: "\ea62";
$helion-icon-Waypoint: "\ea64";
$helion-icon-Waypoint_pressed: "\ea63";
$helion-icon-Windows_application: "\ea65";
$helion-icon-Worker: "\ea66";
$helion-icon-Workshop: "\ea67";
$helion-icon-YouTube: "\ea68";
$helion-icon-Zoom_in: "\ea69";
