$login-panel-width: 420px;
$login-padding: 24px;
$login-logo-size: 128px;


login-form {
  margin: 0;
  width: $login-panel-width;

  .login-form {
    max-width: $login-panel-width;

    padding: 0 $login-padding;

    > h1 {
      //margin: 12px 0;
      margin-bottom: 36px;
      margin-top: 0;
      color: $brand-primary;
      font-weight: 300;
    }

    .form-group {
      width: auto;
      //background-color: $suse-secondary;
      // We override the border color in all cases, so we also need to ensure the focus z-index overrides the
      // error z-index (see focus below)
      //border-color: lighten($suse-secondary, 10%);
      //color: $suse-text;
      &.focus {
        z-index: 2;
      }

      .control-label {
        font-size: 14px;
        margin-top: 3px;
      }

      &.focus {
        //border-color: $suse-primary;
      }

      input {
        //color: $suse-text;
        //text-shadow: 0 0 0 $suse-text;
        //-webkit-text-fill-color: $suse-text;
      }
    }

    > button {
      float: none;
      margin-top: 40px;
      width: 200px;
    }

    .login-form-spinner.ng-hide {
      display: block !important;

      > * {
        visibility: hidden;
      }
    }
  }

  .login-form-spinner {
    text-align: center;
    color: $white;
    margin-top: 24px;

    .spinner-notification {
      text-transform: none;
      font-size: 16px;
    }

    .bounce-spinner > div {
      background-color: $white;
    }
  }
}
