<form name="loginForm" role="form" class="form-stacked login-form center-block"
  ng-class="applicationCtrl.failedLogin ? 'failed-login' : ''"
  method="post">
  <img class="login-form-logo-image" translate-img="login.logo"></img>
  <h1 class="login-form-title" translate>login.title</h1>
  <div class="form-group" focusable-input ng-class="applicationCtrl.failedLogin ? 'has-error' : ''">
    <label class="control-label required" for="login-form-username" translate>login.username</label>
    <input type="text" class="form-control"
      id="login-form-username" name="consoleUsername"
      ng-model="loginFormCtrl.username" required autofocus/>
  </div>
  <div class="form-group has-feedback" focusable-input ng-class="applicationCtrl.failedLogin ? 'has-error' : ''">
    <label class="control-label required" for="login-form-password" translate>login.password</label>
    <input type="password" class="form-control" id="login-form-password" name="consolePassword"
      ng-model="loginFormCtrl.password" required
      password-reveal/>
  </div>

  <button type="submit" class="btn btn-commit center-block login-button"
    ng-disabled="loginForm.$invalid || loginFormCtrl.loggingIn"
    ng-click="loginFormCtrl.login() && applicationCtrl.login(loginFormCtrl.username,loginFormCtrl.password)" translate>login.login</button>

  <div class="login-clear-both"></div>

  <div class="login-form-spinner" ng-show="loginFormCtrl.loggingIn">
    <span class="spinner-notification" translate>login.authenticating</span>
    <bounce-spinner classes="bounce-spinner-sm"></bounce-spinner>
  </div>

  <div ng-if="applicationCtrl.failedLogin" class="alert alert-danger login-error">
    <p translate>login.error.credentials</p>
  </div>
  <div ng-if="applicationCtrl.serverErrorOnLogin" class="alert alert-danger login-error">
    <p translate>login.error.server</p>
  </div>
  <div ng-if="applicationCtrl.serverFailedToRespond" class="alert alert-danger login-error">
    <p translate>login.error.no-response</p>
  </div>
</form>
