$login-panel-width: 420px;
$login-padding: $console-unit-space;
$login-logo-size: 128px;


login-form {
  margin: 0;
  width: $login-panel-width;

  .login-form {
    max-width: $login-panel-width;

    padding: 0 $login-padding;

    > h1 {
      margin-bottom: $console-unit-space * 1.5;
      margin-top: 0;
      color: $brand-primary;
      font-weight: $console-font-weight-light;
    }

    .form-group {
      width: auto;
      // We override the border color in all cases, so we also need to ensure the focus z-index overrides the
      // error z-index (see focus below)
      &.focus {
        z-index: 2;
      }

      .control-label {
        font-size: $font-size-medium;
        margin-top: 3px;
      }

    }

    > button {
      float: none;
      margin-top: 40px;
      width: 200px;
    }

    .login-form-spinner.ng-hide {
      display: block !important;

      > * {
        visibility: hidden;
      }
    }
  }

  .login-form-spinner {
    text-align: center;
    color: $white;
    margin-top: $console-unit-space;

    .spinner-notification {
      text-transform: none;
      font-size: $font-size-large;
    }

    .bounce-spinner > div {
      background-color: $white;
    }
  }
}
