<h1>Example content for a detail view</h1>

<p>Use a template to render view in the deatil view.</p>

<p>
	Click to test showing a modal from a detail view.
</p>
<button type="button" class="btn btn-primary" ng-click="detailViewCtrl.context.showConfirmModal()">Show Confirmation Modal</button>

<br />
<p>
	Close the detail view or show another stacked modal view.
</p>

<br />

<button type="button" class="btn btn-primary" ng-click="detailViewCtrl.context.open()">Open Another Detail View</button>

<br />

<button type="button" class="btn btn-primary" ng-click="$dismiss()">Close</button>

<br />



