.modal.detail-view.detail-view-dialog>.modal-dialog>.modal-content .detail-view-content.deploy-app wizard .wizard-step {
  padding-bottom: 24px;
  padding-left: 24px;
}
.deploy-app {
  deploy-location {
    .control-title {
      margin-top: 0;
    }
  }

  #deploy-app-choose-bits {
    display: none;
  }

  .deploy-app-github {
    display: flex;

    .deploy-app-github-form {
      .deploy-app-github-branch {
        margin-bottom: 100px;
        .dropdown-menu {
          max-height: 120px;
        }
      }
    }

    .deploy-app-github-info {
      display: flex;
      padding-left: $console-unit-space;
      > img {
        height: 75px;
        width: 75px;
      }
      > div {
        display: flex;
        padding-left: $console-unit-space / 2;
        flex-direction: column;
      }

      .lastCommit {
        padding-top: $console-unit-space / 4;
        .lastCommitter {
          display: flex;
          flex-direction: row;
          div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              height: 45px;
              width: 45px;
            }
          }
        }
      }


    }
  }



  .rm-background{
    background-color: transparent;
  }

  .deploy-app-log-status {
    display: flex;
    align-items: center;
    padding-bottom: $console-unit-space;
    & > span {
      font-size: $font-size-large;
      padding-right: $console-unit-space;
    }
    bounce-spinner {
      margin-top: 6px;
    }
  }

  cf-log-viewer {
    .panel-heading.action-header {
      background-color: $console-primary-bg;
    }
  }
}
