<div class="form-group " focusable-input ng-class="{'has-error': form['deploy-manifest-form'].appName.$invalid}">
  <label class="control-label" translate>Application Name</label>
  <span class="control-message">
      <span translate ng-if="form['deploy-manifest-form'].appName.$error.required">Name is required</span>
    </span>
  <input type="text" name="appName" class="form-control" ng-model="step.userInput.manifest.name" required/>
</div>

<div class="form-group" focusable-input ng-class="{'has-error': form['deploy-manifest-form'].appMemory.$invalid}">
  <label class="control-label" translate>Memory Usage</label>
  <span class="control-message">
      <span translate ng-if="form['deploy-manifest-form'].appMemory.$error.required">Memory is required</span>
      <span translate ng-if="form['deploy-manifest-form'].appMemory.$error.min">Memory must be higher than 0</span>
    </span>
  <div class="input-group">
    <input type="number" min="1" name="appMemory" class="form-control" ng-model="step.userInput.manifest.memory"
           required/>
    <label class="input-group-addon rm-background" translate>MB</label>
  </div>
</div>

<div class="form-group" focusable-input ng-class="{'has-error': form['deploy-manifest-form'].diskQuota.$invalid}">
  <label class="control-label" translate>Disk Quota</label>
  <span class="control-message">
      <span translate ng-if="form['deploy-manifest-form'].diskQuota.$error.required">Disk Quota is required</span>
      <span translate ng-if="form['deploy-manifest-form'].diskQuota.$error.min">Disk Quota must be higher than 0</span>
    </span>
  <div class="input-group">
    <input type="number" min="1" name="diskQuota" class="form-control" ng-model="step.userInput.manifest.diskQuota"
           required/>
    <label class="input-group-addon rm-background" translate>MB</label>
  </div>
</div>

<div class="form-group">
  TODO: Convert this to github url
  <label class="control-label" required translate>Build Pack</label>
  <search-box
    ng-model="step.userInput.manifest.buildPack"
    input-options="step.data.buildPacks"
    placeholder="{{'Select build pack' | translate}}"
    required>
  </search-box>
</div>
