<deploy-location
  service-instances="step.data.serviceInstances"
  service-instance="step.userInput.serviceInstance"
  organization="step.userInput.organization"
  space="step.userInput.space"
></deploy-location>

<!--<div class="" file-drop="step.userInput.file">-->
  <!--<p class="control-title" translate>Application Bits</p>-->
  <!--<p translate>-->
    <!--You can upload a zip file containing your application by either selecting the file below or by dragging and dropping-->
    <!--it onto this area. Alternatively provide a github URL in the box below.-->
  <!--</p>-->
  <!--<div>-->
    <!--<input id="deploy-app-choose-bits" fileread="step.userInput.file" type="file"/>-->
    <!--<label for="deploy-app-choose-bits" class="btn btn-default btn-sm">Select Deploy Bits</label>-->
  <!--</div>-->
  <!--<br>-->
  <!--<div class="form-group form-group-large">-->
    <!--<label class="control-label" translate>Application File</label>-->
    <!--<input type="text" class="form-control" ng-value="step.userInput.file.name" readonly/>-->
  <!--</div>-->
  <!--<div class="form-group form-group-large" focusable-input>-->
    <!--<label class="control-label" translate>Github url</label>-->
    <!--<input type="text" class="form-control" ng-model="step.userInput.github" ng-change="step.userInput.file = null"/>-->
  <!--</div>-->
<!--</div>-->
<p class="control-title" translate>deploy-app-dialog.step-info.github.label</p>
<div class="form-group form-group-large" focusable-input>
  <label class="control-label" translate>deploy-app-dialog.step-info.github.project-label</label>
  <input type="text" class="form-control" ng-model="step.userInput.github.project" required
         placeholder="{{'deploy-app-dialog.step-info.github.project-placeholder' | translate}}"/>
</div>
<div class="form-group form-group-large" focusable-input>
  <label class="control-label" translate>deploy-app-dialog.step-info.github.branch-label</label>
  <input type="text" class="form-control" ng-model="step.userInput.githubBranch"/>
</div>

<p class="control-title" translate>deploy-app-dialog.step-info.manifest.label</p>
<p class="" translate>deploy-app-dialog.step-info.manifest.description</p>
<div class="form-group form-group-large" focusable-input>
  <label class="control-label" translate>deploy-app-dialog.step-info.manifest.path-label</label>
  <input type="text" class="form-control" ng-model="step.userInput.manifest.location"
         placeholder="{{'deploy-app-dialog.step-info.manifest.path-placeholder' | translate}}"
         required/>
</div>
