.deploy-app {
  deploy-location {
    .control-title {
      margin-top: 0;
    }
  }

  #deploy-app-choose-bits {
    display: none;
  }

  .wizard-step {
    padding-bottom: 24px;
  }

  .rm-background{
    background-color: transparent;
  }

  .deploy-app-log-status {
    display: flex;
    align-items: center;
    padding-bottom: $console-unit-space;
    & > span {
      font-size: $font-size-medium;
      padding-right: $console-unit-space;
    }
    bounce-spinner {
      margin-top: 6px;
    }
  }

  cf-log-viewer {
    .panel-heading.action-header {
      background-color: $console-primary-bg;
    }
  }
}
