.card-endpoint {
  &__meta {
    display: flex;
    justify-content: space-between;
  }
}

.mat-card {
  &-title {
    padding-bottom: 10px;
    margin-left: -16px; //Remove margin of original .mat-card-title
    display: flex;
    align-items: center;
    app-table-cell-endpoint-status {
      padding-left: 10px;
    }
  }
  &-header-text {
    margin: 0;
  }
}
