<mat-card [ngClass]="'card-endpoint__status-' + row.registered">
  <mat-card-header>
    <div class="mat-card-title">{{ row.name }}
      <app-table-cell-endpoint-status #statusIcon></app-table-cell-endpoint-status>
    </div>

  </mat-card-header>
  <mat-card-content>
    <div class="card-endpoint__meta">
      <b>Type: </b> {{ getEndpointTypeString(row) }}</div>
    <div class="card-endpoint__meta">
      <b>Address: </b>{{ row.api_endpoint.Scheme }}://{{row.api_endpoint.Host}}</div>
  </mat-card-content>
</mat-card>
