<app-page-header>
  {{ title$ | async }}
</app-page-header>
<div class="add-service-instance">
  <app-steppers [cancel]="serviceInstancesUrl">
    <app-step *ngIf="displaySelectCfStep" title="Cloud Foundry" [valid]="selectCF.validate | async" [onNext]="onNext" [blocked]="cfOrgSpaceService.isLoading$ | async">
      <app-create-application-step1 [isServiceInstanceMode]="marketPlaceMode" #selectCF></app-create-application-step1>
    </app-step>
    <app-step title="Select Service" *ngIf="displaySelectServiceStep" [valid]="selectService.validate | async" [onNext]="selectService.onNext">
      <app-select-service #selectService></app-select-service>
    </app-step>
    <app-step title="Select Plan" [onNext]="selectPlan.onNext" [onEnter]="selectPlan.onEnter" [valid]="selectPlan.validate | async" cancelButtonText="Cancel">
      <app-select-plan-step #selectPlan></app-select-plan-step>
    </app-step>
    <app-step [title]="bindAppStepperText" [onNext]="bindApp.submit " [valid]="bindApp.validate | async" cancelButtonText="Close" finishButtonText="Bind">
      <app-bind-apps-step #bindApp [boundAppId]="appId"></app-bind-apps-step>
    </app-step>
    <app-step title="Specify Details" [onNext]="specifyDetails.onNext" [onEnter]="specifyDetails.onEnter" [valid]="specifyDetails.validate | async" cancelButtonText="Cancel" nextButtonText="Create">
      <app-specify-details-step #specifyDetails showModeSelection="!!appId"></app-specify-details-step>
    </app-step>
  </app-steppers>
</div>
