<div class="add-service-instance">
  <app-page-header>
    Create Space
  </app-page-header>
  <app-steppers [cancel]="serviceInstancesUrl">
    <app-step title="Select Service Plan" [onNext]="step1.onNext" [valid]="step1.validate()" cancelButtonText="Cancel">
      <app-select-plan-step #step1></app-select-plan-step>
    </app-step>
    <app-step title="Specify Details" [onNext]="step2.onNext" [valid]="step2.validate()" cancelButtonText="Cancel" finishButtonText="Create" s>
      <app-specify-details-step #step2></app-specify-details-step>
    </app-step>
  </app-steppers>
</div>
