<!-- TODO: Error cases for both-->
<div class="listComponent">
  <div class="listComponent__header" [ngClass]="{'selected': (dataSource.isSelecting$ | async) }">
    <md-card>
      <!-- [hidden]="(dataSource.listPagination$ | async)?.totalResults === 0" -->
      <md-card-header>
        <div class="listComponent__header__top">
          <div class="spacer listComponent__header__left">
            <div [hidden]="(dataSource.isSelecting$ | async) || (dataSource.isAdding$ | async)">{{ text?.title }}</div>
            <div [hidden]="!(dataSource.isSelecting$ | async)">{{dataSource.selectedRows.size}} Selected</div>
          </div>
          <!-- [disabled]="(dataSource.isLoadingPage$ | async)" -->
          <div class="listComponent__header__right">
            <div [hidden]="(dataSource.isAdding$ | async) || (dataSource.isSelecting$ | async)">
              <!-- No way to disable an md-paginator yet -->
              <md-paginator #paginator [hidden]="(dataSource.listPagination$ | async)?.totalResults === 0">
              </md-paginator>
            </div>

            <div [hidden]="!(dataSource.isSelecting$ | async)">
              <button md-icon-button (click)="dataSource.selectedDelete()">
                  <md-icon>delete</md-icon>
                </button>
            </div>
            <div [hidden]="!(dataSource.isAdding$ | async)" class="add-container">
              <div class="spacer"></div>
              <ng-content select="[app-table-add]"></ng-content>
              <button md-icon-button (click)="dataSource.saveAdd()" [disabled]="!safeAddForm().valid"><md-icon>done</md-icon></button>
              <button md-icon-button (click)="dataSource.cancelAdd()"><md-icon>clear</md-icon></button>
            </div>
            <!-- {{(dataSource.isLoadingPage$ | async)}} {{(dataSource.listPagination$ | async)?.totalResults === 0}} -->
            <div [hidden]="(dataSource.isSelecting$ | async) || (!(dataSource.isLoadingPage$ | async) && (dataSource.listPagination$ | async)?.totalResults === 0)">
              <button md-icon-button [disabled]="(dataSource.isLoadingPage$ | async)" *ngIf="addForm && !(dataSource.isAdding$ | async)"
                (click)="safeAddForm().reset();dataSource.startAdd();"><md-icon>add</md-icon></button>
              <button md-icon-button [disabled]="(dataSource.isLoadingPage$ | async)" (click)="updateListView('cards');" *ngIf="(dataSource.listView$ | async)==='table'"><md-icon>grid_on</md-icon></button>
              <button md-icon-button [disabled]="(dataSource.isLoadingPage$ | async)" (click)="updateListView('table');" *ngIf="(dataSource.listView$ | async)==='cards'"><md-icon>list</md-icon></button>
            </div>
          </div>
        </div>
        <div class="listComponent__header__bottom" [hidden]="(dataSource.isSelecting$ | async) || (!(dataSource.isLoadingPage$ | async) && (dataSource.listPagination$ | async)?.totalResults === 0)">
          <div class="listComponent__header__right">
            <div [hidden]="(dataSource.isSelecting$ | async) || (dataSource.isAdding$ | async)" class="sort">
              <!-- <md-form-field floatPlaceholder="never"> -->
              <button md-icon-button (click)="updateListSort(headerSortField.value, 'desc')" [disabled]="(dataSource.isLoadingPage$ | async)"
                *ngIf="headerSortDirection==='asc'"><md-icon>sort</md-icon></button>
              <button md-icon-button (click)="updateListSort(headerSortField.value, 'asc')" [disabled]="(dataSource.isLoadingPage$ | async)"
                *ngIf="headerSortDirection==='desc'"><md-icon style="transform: rotate(180deg);">sort</md-icon></button>
              <md-select mdInput name="headerSortField" #headerSortField shouldPlaceholderFloat="false" [disabled]="(dataSource.isLoadingPage$ | async)"
                (change)="updateListSort($event.value, headerSortDirection)">
                <md-option *ngFor="let column of sortColumns" [value]="column.columnId">
                  {{column.headerCell()}}
                </md-option>
              </md-select>
            </div>
            <div [hidden]="(dataSource.isSelecting$ | async) || (dataSource.isAdding$ | async)" class="filter">
              <div [hidden]="!enableFilter || ((dataSource.listPagination$ | async)?.totalResults === 0 && !filter) ">
                <md-form-field floatPlaceholder="never">
                  <input mdInput ngModel #filter="ngModel" [disabled]="(dataSource.isLoadingPage$ | async)" name="filter" placeholder="{{text?.filter || 'Filter Rows'}}">
                </md-form-field>
              </div>
            </div>
          </div>
        </div>
      </md-card-header>
    </md-card>
  </div>
  <div class="listComponent__body">
    <app-cards *ngIf="(dataSource.listView$ | async) === 'cards'" #cards [dataSource]="dataSource" [component]="cardComponent"></app-cards>
    <app-table *ngIf="(dataSource.listView$ | async) === 'table'" #table [dataSource]="dataSource" [columns]="columns" [text]="text"
      [enableFilter]="true" [fixedRowHeight]="tableFixedRowHeight">
    </app-table>
    <md-card [hidden]="(dataSource.isLoadingPage$ | async) || (dataSource.listPagination$ | async)?.totalResults > 0">
      <md-card-content>
        <div class="amat-card-header-text no-rows">
          <div class="amat-card-header-text">
            <div class="amat-card-header-text-wa">There are no entries.</div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
