@import "view/applications/applications";
@import "view/dashboard/dashboard";
@import "view/util/util";

.action-target-state {
  display: inline-block;
  height: 24px;
  font-size: $hpe-unit-space;
  line-height: 0;
}

.action-header {

  &.panel-heading {
    line-height: 1;
    padding-top: $hpe-unit-space * 1.1;
    padding-bottom: $hpe-unit-space * .5;
  }

  .btn {
    line-height: 1;
    text-transform: capitalize;

    * {
      line-height: 0;
    }

    .helion-icon {
      margin-right: $hpe-unit-space / 3
    }
  }
}

