<ng-container *ngIf="(kubeService$ | async) as kubeService; else noPorts">
  <table *ngIf="!!kubeService.spec?.ports.length; else noPorts">
    <tr>
      <th>Name</th>
      <th>Protocol</th>
      <th>Port</th>
      <th>Target Port</th>
    </tr>
    <tr *ngFor="let port of kubeService.spec?.ports">
      <td>
        <a *ngIf="endpointId; else noLink" [routerLink]="getServiceLink(kubeService, port)">
          {{ port.name}}
        </a>
        <ng-template #noLink>{{port.name}}</ng-template>
      </td>
      <td>{{port.protocol}}</td>
      <td>{{port.port}}</td>
      <td>{{port.targetPort}}</td>
    </tr>
  </table>
</ng-container>
<ng-template #noPorts>-</ng-template>