<app-page-header>
  Create
</app-page-header>
<app-steppers cancel="/applications">
  <app-step title="Cloud Foundary">
    <b>Select a Cloud Foundry instance, organization and space for the app.</b>
    <app-stepper-form>
      <md-select placeholder="Cloud Foundary" name="cf">
        <md-option *ngFor="let cf of cfList" [value]="cf.guid">
          <span>{{ cf.name }}</span>
        </md-option>
      </md-select>
      <md-form-field>
        <input mdInput placeholder="Organization">
      </md-form-field>
      <md-form-field>
        <input mdInput placeholder="Space">
      </md-form-field>
    </app-stepper-form>
  </app-step>
  <app-step title="Name">
    <b>Please select a unique name for your application</b>
    <app-stepper-form>
      <md-form-field>
        <input mdInput placeholder="Application Name">
      </md-form-field>
    </app-stepper-form>
  </app-step>
  <app-step title="Create Route">
    <b>Create a route</b>
    <app-stepper-form>
      <md-form-field>
        <input mdInput placeholder="Domain">
      </md-form-field>
      <md-form-field>
        <input mdInput placeholder="Host">
      </md-form-field>
    </app-stepper-form>
  </app-step>
</app-steppers>
