<app-page-header>
  Create
</app-page-header>
<app-steppers cancel="/applications">
  <app-create-application-step1></app-create-application-step1>
  <app-step title="Name" [validate]="nameValid$">
    <b>Please select a unique name for your application</b>
    <app-stepper-form>
      <md-form-field>
        <input ngModel #appName="ngModel" required mdInput placeholder="Application Name">
      </md-form-field>
    </app-stepper-form>
  </app-step>
  <app-step [title]="'Create Route'">
    <b>Create a route</b>
    <app-stepper-form>
      <md-form-field>
        <input mdInput placeholder="Domain">
      </md-form-field>
      <md-form-field>
        <input mdInput placeholder="Host">
      </md-form-field>
    </app-stepper-form>
  </app-step>
</app-steppers>
