<p class="control-title" translate>app.deploy-location.title</p>

<div class="form-group form-group-large">
  <label class="control-label" required translate>app.deploy-location.cf-label</label>
  <search-box
    ng-model="deployLocation.serviceInstance"
    input-options="deployLocation.serviceInstances"
    placeholder="{{'app.deploy-location.cf-placeholder' | translate}}"
    tabindex="0" required>
  </search-box>
</div>

<div class="form-group form-group-large" ng-class="{'form-group-busy': deployLocation.loadingOrganizations}">
  <label class="control-label" required translate>app.deploy-location.org-label</label>
  <search-box
    ng-model="deployLocation.organization"
    input-options="deployLocation.organizations"
    placeholder="{{'app.deploy-location.org-placeholder' | translate}}"
    busy="deployLocation.loadingOrganizations"
    tabindex="0" required>
  </search-box>
</div>

<div class="form-group form-group-large"  ng-class="{'form-group-busy': deployLocation.loadingSpaces}">
  <label class="control-label" required translate>app.deploy-location.space-label</label>
  <search-box
    ng-model="deployLocation.space"
    input-options="deployLocation.spaces"
    placeholder="{{'app.deploy-location.space-placeholder' | translate}}"
    busy="deployLocation.loadingSpaces"
    tabindex="0" required>
  </search-box>
</div>
