.release-card {
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.release-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &--icon {
    align-self: flex-end;
    display: flex;
    &__padding {
      padding-right: 24px;
    }
    img,
    mat-icon {
      font-size: 48px;
      height: 48px;
      object-fit: contain;      
      width: 48px;
    }
  }
}


