<img class="helion-logo" src="/lib/helion-ui-theme/dist/images/hpe_helion_grn_pos_rgb.png"/>
<img class="hpe-logo" src="/lib/helion-ui-theme/dist/images/hpe_pri_grn_rev_rgb.png"/>

<div class="copyright">
  <span class="font-semi-bold"translate>HPE Helion Stratos</span>
  <span class="secondary" translate> | &copy; 2016 Hewlett Packard Enterprise Company, L.P.</span>
</div>

<ul class="links">
  <li><a href="#/info/term-of-use" translate>Term of use</a></li>
  <li><a href="#/info/privacy" translate>Privacy</a></li>
  <li><a href="#/info/report-bug" translate>Report Bug</a></li>
</ul>
