page-footer {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
  height: $page-footer-height;
  color: $page-footer-color-fg;
  background: $page-footer-color-bg;
  font-size: 16pt;

  .copyright {
    position: absolute;
    left: 15px + 40px;
    bottom: 40px;

    .secondary {
      color: #ccc;
    }
  }

  .helion-logo {
    position: absolute;
    top: 34px;
    left: 15px + 40px;
  }

  .hpe-logo {
    position: absolute;
    top: 34px;
    right: 15px + 40px;
  }

  .links {
    position: absolute;
    right: 15px + 40px;
    bottom: 40px;
    margin: 0;
    line-height: 1;

    li {
      display: inline-block;
      margin-left: 12px;

    a {
        cursor: pointer;
        color: #ccc;
      }
    }
  }
}
