<app-meta-card class="space-card">
  <app-meta-card-title class="space-card__title">
    <div class="space-card__title-link" (click)="goToSummary()">{{ row.entity.name }}</div>
    <button mat-icon-button class="space-card__title__button" color="basic" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
  </app-meta-card-title>
  <app-meta-card-item>
    <app-meta-card-key>Role</app-meta-card-key>
    <app-meta-card-value>{{ userRole$ | async }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Applications</app-meta-card-key>
    <app-meta-card-value>{{ appCount }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>App Instances</app-meta-card-key>
    <app-meta-card-value>{{appInstancesCount }} / {{ appIntancesLimit | infinityPipe }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Service Instances</app-meta-card-key>
    <app-meta-card-value>{{serviceInstancesCount }} / {{ serviceInstancesLimit | infinityPipe }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Memory Info</app-meta-card-key>
    <app-meta-card-value>{{ this.memoryTotal | MbToHumanSize }} / {{ this.memoryLimit | MbToHumanSize }}
    </app-meta-card-value>
    <mat-progress-bar mode="determinate" [value]="normalisedMemoryUsage"></mat-progress-bar>
  </app-meta-card-item>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="edit()">
      <mat-icon>mode_edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="delete()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
</app-meta-card>
