.space-card {
  width: 100%;
  &__title {
    &-link {
      cursor: pointer;
    }
  }
  &__button {
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    button {
      min-width: 5px;
    }
  }
}
