<app-meta-card class="space-card" [clickAction]="goToSummary" [actionMenu]="cardMenu">
  <app-meta-card-title class="space-card__title">
    <div class="space-card__title-link">{{ row.entity.name }}</div>
  </app-meta-card-title>
  <app-meta-card-item>
    <app-meta-card-key>Role</app-meta-card-key>
    <app-meta-card-value>{{ userRole$ | async }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Applications</app-meta-card-key>
    <app-meta-card-value>{{ appCount }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>App Instances</app-meta-card-key>
    <app-meta-card-value>{{appInstancesCount }} / {{ appIntancesLimit | infinityPipe }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Service Instances</app-meta-card-key>
    <app-meta-card-value>{{serviceInstancesCount }} / {{ serviceInstancesLimit | infinityPipe }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Memory Info</app-meta-card-key>
    <app-meta-card-value>{{ memoryTotal | MbToHumanSize }} / {{ memoryLimit | MbToHumanSize }}
    </app-meta-card-value>
    <mat-progress-bar mode="determinate" [value]="normalisedMemoryUsage"></mat-progress-bar>
  </app-meta-card-item>
</app-meta-card>
