<app-meta-card class="space-card" [clickAction]="goToSummary" [entityConfig]="entityConfig" [actionMenu]="cardMenu">
  <app-meta-card-title class="space-card__title">
    <app-multiline-title class="space-card__title-link">{{ row.entity.name }}</app-multiline-title>
  </app-meta-card-title>
  <app-meta-card-item>
    <app-meta-card-key>Role</app-meta-card-key>
    <app-meta-card-value>{{ userRolesInSpace }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Applications</app-meta-card-key>
    <app-meta-card-value>{{ appCount }}</app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>App Instances</app-meta-card-key>
    <app-meta-card-value customStyle="flexed">
      <div class="space-card__quota-chart">{{appInstancesCount }} / {{ appInstancesLimit | infinityPipe }}
        <mat-progress-bar mode="determinate" [value]="normalisedInstanceUsage"></mat-progress-bar>
      </div>
    </app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Service Instances</app-meta-card-key>
    <app-meta-card-value customStyle="flexed">
      <div class="space-card__quota-chart">{{serviceInstancesCount }} / {{ serviceInstancesLimit | infinityPipe }}
        <mat-progress-bar mode="determinate" [value]="normalisedServiceInstanceUsage"></mat-progress-bar>
      </div>
    </app-meta-card-value>
  </app-meta-card-item>
  <app-meta-card-item>
    <app-meta-card-key>Memory</app-meta-card-key>
    <app-meta-card-value customStyle="flexed">
      <div class="space-card__quota-chart">{{ memoryTotal | MbToHumanSize }} / {{ memoryLimit | MbToHumanSize }}
        <mat-progress-bar mode="determinate" [value]="normalisedMemoryUsage"></mat-progress-bar>
      </div>
    </app-meta-card-value>

  </app-meta-card-item>
</app-meta-card>
