app-no-content-message {
  display: flex;
  width: 100%;
  position: relative;
  overflow: visible;
  &[hidden] {
    display: none;
  }
}

:host {
  display: block;
  position: relative;
  overflow: visible;
}
