.details-card {
  display: flex;
  $summary-card-spacing: 20px;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  mat-card {
    padding: $summary-card-spacing * 2
  }
  mat-expansion-panel {
    padding: $summary-card-spacing;
  }
  .mat-expansion-panel-body {
    padding-bottom: 0;
  }
  mat-card,
  mat-expansion-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    .mat-expansion-panel-content {
      width: 100%;
    }
    .mat-expansion-panel-body {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: row;
      mat-list {
        flex: 1;
        padding-right: $summary-card-spacing * 2;
        &:last-of-type {
          padding-right: 0;
        }
        mat-slider {
          padding-bottom: 5px;
        }
      }
    }
  }
  mat-chip-list {
    mat-chip {
      margin-right: 7px;
      margin-bottom: 5px;
      margin-left: 0;
    }
  }
  &__loading {
    &.show {
      opacity: 1
    }
    opacity: 0;
    transition: .2s ease-in-out opacity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
