<gallery-card class="cluster-gallery-card organization-summary-tile"
              card-data="orgSummaryTileCtrl.cardData"
              card-actions="orgSummaryTileCtrl.actions"
              card-actions-icon="helion-icon helion-icon-More"
              card-actions-position="actions-menu-right">
  <div class="col-md-5" ng-if="orgSummaryTileCtrl.orgModel.organizations[orgSummaryTileCtrl.clusterGuid][orgSummaryTileCtrl.organizationGuid]">
    <dl class="dl-horizontal">
      <dt translate>APPLICATIONS</dt>
      <dd>{{ orgSummaryTileCtrl.orgModel.organizations[orgSummaryTileCtrl.clusterGuid][orgSummaryTileCtrl.organizationGuid].totalApps}}</dd>
      <dt translate>SERVICES</dt>
      <dd>{{ orgSummaryTileCtrl.orgModel.organizations[orgSummaryTileCtrl.clusterGuid][orgSummaryTileCtrl.organizationGuid].services.length}}</dd>
      <dt translate>ROUTES</dt>
      <dd>{{ orgSummaryTileCtrl.orgModel.organizations[orgSummaryTileCtrl.clusterGuid][orgSummaryTileCtrl.organizationGuid].totalRoutes}}</dd>
      <dt translate>MEMORY UTILIZATION</dt>
      <dd>{{ orgSummaryTileCtrl.memory }}</dd>
    </dl>
  </div>
  <div class="col-md-7">
    <dl class="dl-horizontal" ng-if="orgSummaryTileCtrl.roles">
      <dt translate>CF ORG ROLE</dt>
      <dd>{{ orgSummaryTileCtrl.roles }}</dd>
      <dt translate>CF ENDPOINT URL</dt>
      <dd>
        {{ orgSummaryTileCtrl.userServiceInstance.serviceInstances[orgSummaryTileCtrl.clusterGuid].api_endpoint.Scheme }}://{{ orgSummaryTileCtrl.userServiceInstance.serviceInstances[orgSummaryTileCtrl.clusterGuid].api_endpoint.Host }}
      </dd>
      <dt translate>CR INTERACTIONS</dt>
      <dd>
        <a class="btn btn-link"><span translate>CLI Commands</span></a>
      </dd>
    </dl>
  </div>
</gallery-card>

