<gallery-card class="cluster-gallery-card organization-summary-tile"
              card-data="organizationSummaryTileCtrl.cardData"
              card-actions="organizationSummaryTileCtrl.actions"
              card-actions-icon="helion-icon helion-icon-More"
              card-actions-position="actions-menu-right">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt translate>APPLICATIONS</dt>
      <dd>{{'1'}}</dd>
      <dt ng-if="true" translate>SERVICES</dt>
      <dd ng-if="true">{{'1'}}</dd>
      <dt ng-if="true" translate>ROUTES</dt>
      <dd ng-if="true" >{{'1'}}</dd>
      <dt ng-if="true" translate>DISK</dt>
      <dd ng-if="true" >{{'1'}}</dd>
      <dt ng-if="true" translate>MEMORY UTILIZATION</dt>
      <dd ng-if="true" >{{'1'}}</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt ng-if="true" translate>CF ORG ROLE</dt>
      <dd ng-if="true" >{{'1'}}</dd>
      <dt ng-if="true" translate>CF ENDPOINT URL</dt>
      <dd ng-if="true" >{{'1'}}</dd>
      <dt ng-if="true" translate>CR INTERACTIONS</dt>
      <dd ng-if="true" >{{'1'}}</dd>
    </dl>
  </div>
</gallery-card>

