<gallery-card class="cluster-gallery-card"
              card-data="orgSummaryTileCtrl.cardData"
              card-actions="orgSummaryTileCtrl.actions"
              card-actions-icon="helion-icon helion-icon-More"
              card-actions-position="actions-menu-right">
  <div class="col-md-5" ng-if="orgSummaryTileCtrl.organization.details">
    <dl class="dl-horizontal">
      <dt translate>APPLICATIONS</dt>
      <dd>{{ orgSummaryTileCtrl.organization.details.totalApps}}</dd>
      <dt translate>SERVICES</dt>
      <dd>{{ orgSummaryTileCtrl.keys(orgSummaryTileCtrl.organization.services).length}} / {{ orgSummaryTileCtrl.organization.details.servicesQuota === -1 ? '∞' : orgSummaryTileCtrl.organization.details.servicesQuota}}</dd>
      <dt translate>ROUTES</dt>
      <dd>{{ orgSummaryTileCtrl.organization.details.totalRoutes}} / {{ orgSummaryTileCtrl.organization.details.routesQuota === -1 ? '∞' : orgSummaryTileCtrl.organization.details.routesQuota}}</dd>
      <dt translate>MEMORY UTILIZATION</dt>
      <dd>{{ orgSummaryTileCtrl.memory }}</dd>
    </dl>
  </div>
  <div class="col-md-7">
    <dl class="dl-horizontal" ng-if="orgSummaryTileCtrl.roles">
      <dt translate>CF ORG ROLE</dt>
      <dd>{{ orgSummaryTileCtrl.roles.join(', ') }}</dd>
      <dt translate>INSTANCE ADDRESS</dt>
      <dd>{{ orgSummaryTileCtrl.getEndpoint() }}</dd>
      <dt translate>CF Interactions</dt>
      <dd>
        <a ng-click="orgSummaryTileCtrl.cliCommands.show(orgSummaryTileCtrl.getEndpoint(), orgSummaryTileCtrl.userName, orgSummaryTileCtrl.clusterGuid, orgSummaryTileCtrl.organization)"
           class="btn btn-link" translate>CLI Commands</a>
      </dd>
      <dt translate>Account Username</dt>
      <dd>{{ orgSummaryTileCtrl.userName }}</dd>
      <dt translate>Account Status</dt>
      <dd translate>{{ orgSummaryTileCtrl.isAdmin ? 'administrator' : 'user' }}</dd>
    </dl>
  </div>
</gallery-card>

