.meta-card {
  &__title {
    flex: 1;
    font-weight: 500;
    margin-bottom: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    &.meta-card__title-nomargin {
      margin-bottom: 0;
    }
    width: 100%;
  }
}
