.link {
  &__short {
    display: flex;

    &__icon {
      font-size: 17px;

      mat-icon {
        font-size: 16px;
        height: 16px;
        margin-right: 2px;
        width: 16px;
      }
    }

  }
}
