search-box {
  display: block;
  position: relative;
  bottom: $console-form-label-spacing;

  &:hover, label:hover, input:not([disabled]):hover {
    cursor: pointer;
  }

  .open input:hover {
    cursor: auto;
  }

  .search-box {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: $font-size-base;

    &.disabled {
      cursor: not-allowed;
    }
  }

  input {
    flex: 1 1 0px;
    margin-top: $console-form-margin-top;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .search-box.disabled > i {
    cursor: not-allowed;
  }  

  .search-icon-icon:before {
    content: 'search'
  }

  .search-icon {
    margin-right: -4px;
    margin-top: 2px;
  }

  .dropdown-menu {
    display: block;
    left: -20px;
    right: -22px;
    top: $console-unit-space - 4px;
    min-height: $console-unit-space * 2 - 4px;
    max-height: ($console-unit-space * 2 - 4px) * 5;
    overflow-y: auto;

    .select-option {
      white-space: nowrap;

      &.pre-selected {
        background: $brand-primary;
        color: $white;
      }
    }
  }

  .search-box-busy {
    padding: 0;
    margin-bottom: $padding-base-vertical;
    height: $line-height-computed;
    line-height: $line-height-computed;
    margin-top: $console-form-margin-top;    
  }
}

.form-group-large {
  search-box input {
    width: $console-unit-space * 15;
  }
}

.app-icon-search-plus:before {
  content: 'add';
}

