:host {
  display: flex;
  margin: 12px 0;
}

.metadata-item {
  display: flex;
  flex-direction: row;
  &__icon {
    flex: 0 0 24px;
    margin-right: 8px;
  }
  &__icon_spacer {
    visibility: hidden;
  }
  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;

    &-label-only {
      align-self: center;
    }
  }
  &__label {
    display: flex;
    flex: 1;
    color: rgb(107 114 128); // gray-500
    padding-bottom: 3px;

    :host-context(.dark) & {
      color: rgb(156 163 175); // gray-400
    }

    &-only {
      padding-bottom: 0;
    }
  }
  &__value {
    flex: 1;
    color: rgb(17 24 39); // gray-900

    :host-context(.dark) & {
      color: rgb(243 244 246); // gray-100
    }
  }

  &__label-copy {
    flex: none;
    margin-right: 24px;
  }
}
