search-box {
  display: block;
  position: relative;

  &:hover, label:hover {
    cursor: pointer;
  }

  .search-box {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  input {
    flex: 1 1 0px;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  .search-icon {
    margin-right: -4px;
    margin-top: 2px;
  }

  .dropdown-menu {
    display: block;
    left: -20px;
    right: -22px;
    top: $hpe-unit-space - 4px;
    min-height: $hpe-unit-space * 2 - 4px;
    max-height: ($hpe-unit-space * 2 - 4px) * 5;
    overflow-y: auto;

    .select-option {
      white-space: nowrap;

      &.pre-selected {
        background: $brand-primary;
        color: $white;
      }
    }
  }
}

.form-group-large {
  search-box input {
    width: $hpe-unit-space * 15;
  }
}
