<app-page-header [breadcrumbs]="breadcrumbs$ | async">{{ (metricsEndpoint$ | async)?.entity.provider.name }}</app-page-header>

<div *ngIf="(metricsEndpoint$ | async) as ep">
  <mat-card>
    <mat-card-content>
      <div class="metrics-info">
        <mat-icon>equalizer</mat-icon>
        <div>
          <div>{{ ep.entity.provider.name }}</div>
          <h2 class="metrics-url">
            <a target="metrics" href="{{ ep.entity.provider.token_endpoint }}">{{ ep.entity.provider.token_endpoint }}</a>
          </h2>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="metrics-detail" *ngIf="ep.entity.endpoints && ep.entity.endpoints.length >0">
    <P>Provides metrics for the following endpoints:</P>
  </div>

  <div class="metrics-detail" *ngIf="!ep.entity.endpoints || ep.entity.endpoints.length === 0">
    <P>Does not provide metrics for any endpoints</P>
  </div>

  <div>
    <div *ngFor="let svc of ep.entity.endpoints" class="metric-endpoint">
      <mat-card class="metrics-provision">
        <mat-card-content>
          <div class="metrics-info">
            <mat-icon fontSet="{{ ep.metadata[svc.guid].icon.font }}">{{ ep.metadata[svc.guid].icon.name }}</mat-icon>
            <div class="metrics-metadata">
              <div>{{ svc.name }}</div>
              <div>{{ ep.metadata[svc.guid].type }}</div>
              <app-metadata-item icon="link" label="Address">{{ svc.url }}</app-metadata-item>
              <app-metadata-item icon="history" label="Prometheus Job">{{ svc.metadata.metrics_job || 'N/A' }}</app-metadata-item>
              <div class="metrics-extra" *ngIf="svc.metadata && svc.metadata.metrics_job && (jobDetails$ | async) as jobDetails">
                <div *ngIf="jobDetails[svc.metadata.metrics_job]">
                  <app-metadata-item icon="help_outline" label="Exporter Health">{{
                    jobDetails[svc.metadata.metrics_job].health | uppercase }}</app-metadata-item>
                  <app-metadata-item icon="schedule" label="Exporter Last Scrape">{{
                    jobDetails[svc.metadata.metrics_job].lastScrape | date:'medium' }}</app-metadata-item>
                  <app-metadata-item icon="error_outline" label="Exporter Last Error">{{
                    jobDetails[svc.metadata.metrics_job].lastError || 'None' }}</app-metadata-item>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
