.metrics-url {
  font-size: 14px;
}

.metrics-info {
	align-items: center;
	display: flex;
  mat-icon {
		font-size: 48px;
		height: 48px;
    margin-right: 8px;
		width: 48px;
  }
}
 
.metrics-detail {
	margin-left: 56px;
}
