<app-loading-page [isLoading]="deleting$" [text]="'Gathering application information'">
  <app-page-header>
    <h1>Delete application</h1>
  </app-page-header>
  <app-steppers *ngIf="!(fetchingRelated$ | async)" cancel="/applications">
    <app-step *ngIf="routes && routes.length" title="Routes">
      <app-delete-app-routes (selected)="setSelectedRoutes($event)"></app-delete-app-routes>
    </app-step>
    <app-step title="Service Instances" *ngIf="instances && instances.length">
      <app-delete-app-instances (selected)="setSelectedRoutes($event)"></app-delete-app-instances>
    </app-step>
    <app-step title="Confirm">
      Confirm
    </app-step>
  </app-steppers>
</app-loading-page>
