$about-top-margin: 48px;

.brand {

  page-footer.about-branding {
    background: none;
    margin-top: $about-top-margin;

    img.company-logo {
      width: 128px;
      position: relative;
      top: auto;
      right: auto;
    }

    .copyright {
      font-size: 16px;
      left: auto;

      .product-name, .secondary {
        color: #333;
      }

    }

  }

}
