<div class="deploy-app-example">
  <div class="form-group deploy-app-file-controls" focusable-input>
    <label class="control-label" translate>deploy-app-dialog.step-source.example.input.title</label>
    <input type="text" class="form-control file-chooser" name="exampleSelector" id="exampleSelector"/>
    <label class="form-control">
      <span ng-if="dplyExampleCtrl.userInput.example" translate>{{dplyExampleCtrl.userInput.example.name}}</span>
      <span ng-if="!dplyExampleCtrl.userInput.example" class="file-placeholder" translate>
            deploy-app-dialog.step-source.example.input.placeholder
      </span>
      <label class="deploy-app-form-btn" for="exampleSelector" ng-click="dplyExampleCtrl.showModal()">
        <i class="material-icons">insert_drive_file</i>
      </label>
    </label>
  </div>
</div>