:host {
  height: 100%;
  width: 100%;
}

mat-checkbox {
  padding-top: 40px;
}

.create-endpoint {
  &__section {
    margin-top: 40px;

    &-title {
      font-size: 16px;
    }
  }
  &__sso {
    margin-top: 40px;
  }
}
