<div class="action-bar app-actions-bar col-md-12 panel-less">
  <div ng-if="!applicationsListCtrl.needAdminSetup" class="applications-header font-semi-bold pull-left" translate>Settings</div>
</div>

<div class="container registration-content col-sm-12">
  <div class="cluster-settings user-summary">
    <div class="cluster row">
      <div class="col-md-12">Stackato Summary</div>
    </div>
    <div class="cluster row">
      <div class="col-md-6">
        <div class="cluster-info">
          <div class="cluster-properties">
            <div class="cluster-property">
              <div translate>Console Version</div>
              <div>{{settingsCtrl.stackatoInfo.info.version.proxy_version}}</div>
            </div>
            <div class="cluster-property">
              <div translate>User</div>
              <div>{{settingsCtrl.stackatoInfo.info.user.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<cluster_settings></cluster_settings>
