<div class="container-fluid">
  <div class="content clearfix">
    <div class="container-fluid">
      <div ng-if="errPageCtrl.error === 'notSetup'" class="panel panel-default console-welcome-message">
        <div class="action-header">
          <span translate>Welcome to {{ PRODUCT_STRINGS.HELION_STACKATO }}</span>
        </div>
        <div class="panel-body">
          <span translate>
            Rapidly develop, deploy, and scale cloud applications across clouds. Connect to registered system services
            that you need to create and deploy a pipeline, view and access clusters where your cloud native workloads
            exist, and connect to your preferred version control system. Registered systems service are provided by your
            systems administrator
          </span>
        </div>
      </div>
      <div class="console-error-block console-error">
        <div ng-if="errPageCtrl.error === 'notSetup'">
          <!-- It would be grand to fold this state into the endpoints dashboard, however hiding the nav bar content
          becomes a real PITA -->
          <div class="helion-icon helion-icon-3x helion-icon-Configuration"></div>
          <div class="applications-msg" translate>{{ PRODUCT_STRINGS.HELION_STACKATO }} has not yet been configured for you.</div>
          <div class="applications-cta" translate>Please contact your administrator.</div>
        </div>
        <div ng-if="errPageCtrl.error === 'unknown'">
          <div class="helion-icon helion-icon-3x helion-icon-Critical_L"></div>
          <div class="applications-msg" translate>{{ PRODUCT_STRINGS.HELION_STACKATO }} encountered an unexpected error.</div>
          <div class="applications-cta" translate>Please contact your administrator.</div>
        </div>
        <div ng-if="errPageCtrl.error === 'upgrading'">
          <div class="helion-icon helion-icon-3x helion-icon-Install"></div>
          <div class="applications-msg" translate>The {{ PRODUCT_STRINGS.HELION_STACKATO_WEB_CONSOLE }} is being upgraded.</div>
          <div class="applications-cta" translate>Please wait for the upgrade to complete and then refresh or contact your administrator for further information.</div>
        </div>
      </div>
    </div>
  </div>
</div>
