<div class="container-fluid">
  <div class="content clearfix">
    <div class="container-fluid">
      <div class="console-error-block console-error">
        <div ng-if="errPageCtrl.error === 'notSetup'">
          <div class="helion-icon helion-icon-3x helion-icon-Configuration"></div>
          <div class="applications-msg" translate>Helion Stackato has not yet been configured for you.</div>
          <div class="applications-cta" translate>Please contact your administrator.</div>
        </div>
        <div ng-if="errPageCtrl.error === 'unknown'">
          <div class="helion-icon helion-icon-3x helion-icon-Critical_L"></div>
          <div class="applications-msg" translate>Helion Stackato encountered an unexpected error.</div>
          <div class="applications-cta" translate>Please contact your administrator.</div>
        </div>
        <div ng-if="errPageCtrl.error === 'upgrading'">
          <div class="helion-icon helion-icon-3x helion-icon-Install"></div>
          <div class="applications-msg" translate>The Helion Stackato Console is being upgraded.</div>
          <div class="applications-cta" translate>Please wait for the upgrade to complete and then refresh or contact your administrator for further information.</div>
        </div>
      </div>
    </div>
  </div>
</div>
