<div class="container-fluid">
  <div class="content clearfix">
    <div class="container-fluid">


      <!--<div ng-if="endpointsDashboardCtrl.showWelcomeMessage"-->
           <!--class="endpoint-notification panel panel-default alert">-->
        <!--<span class="helion-icon-lg helion-icon helion-icon-Information"></span>-->
        <!--<div class="" ng-show="endpointsDashboardCtrl.isUserAdmin()">-->
          <!--<span translate>-->
            <!--To enable developers to use this Web console to interact with Helion Stackato, please register-->
          <!--</span>-->
          <!--<span class="btn-link tile-btn" ng-click="endpointsDashboardCtrl.register()" translate>-->
            <!--Helion Cloud Foundry-->
          <!--</span>-->
          <!--<span translate> and </span>-->
          <!--<span class="btn-link tile-btn" ng-click="endpointsDashboardCtrl.register('hce')" translate>-->
            <!--Helion Code Engine-->
          <!--</span>-->
          <!--<span translate>-->
            <!--endpoints here. The process of registering these endpoints will make them discoverable for anyone who logs-->
            <!--into this console. Once you register an endpoint, we recommend connecting it to your account so you can-->
            <!--manage it.-->
          <!--</span>-->
        <!--</div>-->
        <!--<div class="" ng-show="!endpointsDashboardCtrl.isUserAdmin()">-->
          <!--<span translate>-->
            <!--To access your cloud native workloads and other related third party services, connect with your personal-->
            <!--credentials to the corresponding registered services. Registered services are provided by your systems administrator.-->
          <!--</span>-->
        <!--</div>-->
      <!--</div>-->


      <div ng-if="errPageCtrl.error === 'notSetup'"
           class="endpoint-notification endpoint-notification-slim endpoint-notification-error panel panel-default alert">
        <span class="helion-icon-lg helion-icon helion-icon-Information"></span>
          <span translate>
            In order to use the Stackato console you must connect to a registered service endpoint. Registered service
            endpoints are provided by your system administrator. Please contact your administrator about registering
            endpoints.
          </span>
      </div>
      <div class="console-error-block console-error">
        <div ng-if="errPageCtrl.error === 'notSetup'">
          <!-- It would be grand to fold this state into the endpoints dashboard, however hiding the nav bar content
          becomes a real PITA -->
          <div class="helion-icon helion-icon-3x helion-icon-Inherit helion-icon-r270"></div>
          <div class="applications-msg" translate>There are no registered endpoints.</div>
          <div class="applications-cta" translate>Please contact your administrator.</div>
        </div>
        <div ng-if="errPageCtrl.error === 'unknown'">
          <div class="helion-icon helion-icon-3x helion-icon-Critical_L"></div>
          <div class="applications-msg" translate>Helion Stackato encountered an unexpected error.</div>
          <div class="applications-cta" translate>Please contact your administrator.</div>
        </div>
        <div ng-if="errPageCtrl.error === 'upgrading'">
          <div class="helion-icon helion-icon-3x helion-icon-Install"></div>
          <div class="applications-msg" translate>The Helion Stackato Console is being upgraded.</div>
          <div class="applications-cta" translate>Please wait for the upgrade to complete and then refresh or contact your administrator for further information.</div>
        </div>
      </div>
    </div>
  </div>
</div>
