
.app-metadata {
  display: flex;
  flex-direction: row;
  &__two-cols {
    flex: 1;
    app-metadata-item {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
.chart-details {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: 0 10px 10px;
  &__item {
    margin-right: 40px;
  }
}
.chart-description {
  font-size: 15px;
  max-width: 800px;
  opacity: .6;
}
