<app-page-sub-nav *ngIf="!(isFetching$ | async)">
  <button mat-icon-button name="delete" (click)="deleteRelease()" matTooltip="Delete">
    <mat-icon>delete</mat-icon>
  </button>
</app-page-sub-nav>

<app-loading-page [isLoading]="isFetching$" [text]="'Retrieving Release details'">
  <div class="summary" *ngIf="release$ | async as release">
    <app-tile-grid>
      <app-tile-group>
        <app-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Release Info</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <app-metadata-item icon="title" label="Name">{{ release.name }}</app-metadata-item>
              <app-metadata-item icon="title" label="Namespace">{{ release.namespace }}</app-metadata-item>
              <app-metadata-item icon="title" label="Version">{{ release.version }}</app-metadata-item>
              <app-metadata-item icon="title" label="Status">{{ release.status }}</app-metadata-item>
              <app-metadata-item icon="date_range" label="First Deployed">{{ release.firstDeployed | date:'medium' }}</app-metadata-item>
              <app-metadata-item icon="date_range" label="Last Deployed">{{ release.lastDeployed | date:'medium' }}</app-metadata-item>
            </mat-card-content>
          </mat-card>
        </app-tile>
        <app-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Chart Info</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <app-metadata-item icon="title" label="Name">{{ release.chart.metadata.name }}</app-metadata-item>
              <app-metadata-item icon="title" label="Description">{{ release.chart.metadata.description }}</app-metadata-item>
              <app-metadata-item icon="title" label="Version">{{ release.chart.metadata.version }}</app-metadata-item>
              <app-metadata-item icon="title" label="App Version">{{ release.chart.metadata.appVersion }}</app-metadata-item>
            </mat-card-content>
          </mat-card>
        </app-tile>
      </app-tile-group>
    </app-tile-grid>
  </div>
</app-loading-page>

