//** Horizontal line color.
$page-header-border-color:    #cccccc !default;
$hr-border:                   #cccccc !default;

$divider-border-width:        1px !default;
$divider-margin-top:          12px !default;
$divider-margin-bottom:       24px !default;
