$message-box-bg: $white !default;
$message-box-content-margin: $hpe-unit-space !default;
$message-box-margin-vertical: $hpe-unit-space * 3 !default;
$message-box-padding: $hpe-unit-space !default;

$message-box-width: 50% !default;
$message-box-max-width: $hpe-unit-space * 40 !default;
$message-box-min-width: $hpe-unit-space * 16 !default;
