.fav-meta-card {
  min-height: 160px;
  outline: none;
  &__header-text {
    margin-top: 0;
  }
  &__type {
    $type-height: 20px;
    font-size: 13px;
    line-height: $type-height;
    margin-top: -($type-height - 2px);
    opacity: .6;
  }
  &__missing {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding: 10px;
    padding-top: 20px;
    &-text {
      font-size: 20px;
      font-weight: bold;
    }
    &-small-text {
      margin-bottom: 20px;
    }
  }
  &__clickable {
    cursor: pointer;
  }
  &__header-text-panel {
    width: 100%;
  }
  &__header {
    display: flex;
  }
  &__logo-panel {
    display: flex;
    justify-content: left;
    width: 56px;
  }
  &__logo {
    height: 48px;
    margin-right: 8px;
    width: auto;
  }
  &__icon {
    margin-right: 4px;
    opacity: .7;
  }
  &__icon-panel {
    display: flex;
    justify-content: left;
    width: 32px;
  }
  &__panel {
    display: flex;
    :first-child {
      flex: 1;
    }
  }
  &__disconnected {
    align-self: center;
    border-radius: 2px;
    display: flex;
    font-size: 14px;
    font-weight: normal;
    margin-right: 8px;
    margin-top: -2px;
    padding: 2px 4px;
  }
}

.error-details {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  &__value {
    padding-bottom: 5px;
  }
  &__label {
    font-size: 10px;
    opacity: .6;
  }
}

.subtle-text {
  opacity: .6;
}


