$progress-size: 140px;
$progress-transition-speed: 1s;
.upload-progress {
  height: $progress-size;
  position: relative;
  vertical-align: center;
  width: $progress-size;
  &__icon,
  &__done {
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    font-size: 96px;
    height: $progress-size;
    padding-top: 16px;
    position: absolute;
    text-align: center;
    transition: opacity $progress-transition-speed linear;
    width: $progress-size;
  }
  &__done {
    opacity: 0;
  }
  &__spinner {
    height: $progress-size;
    opacity: 1;
    position: absolute;
    transition: opacity $progress-transition-speed linear;
    width: $progress-size;
  }
}
.upload-progress-done {
  .upload-progress {
    &__done {
      opacity: 1;
    }
    &__icon {
      opacity: 0;
    }
    &__spinner {
      opacity: 0;
    }
  }
}
