@mixin app-upload-progress-indicator-component-theme($theme, $app-theme) {
  $status-colors: map-get($app-theme, status);
  .upload-progress__done {
    border-color: map-get($status-colors, tentative);
  }
  .upload-progress-done {
    .upload-progress__done {
      background-color: map-get($status-colors, success);
      color: map-get($status-colors, text);
    }
  }
}
